Repository Strob0t/CodeForge: changes, and which pre-commit hooks are due for each by the changed paths.
All: go-imports-repo, go-vet-repo-mod, golangci-lint-repo-mod, eslint, prettier

.pre-commit-config.yaml:

repos:
  # -- General ----------------------------------------------
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: end-of-file-fixer
      - id: trailing-whitespace
      - id: check-yaml
      - id: check-json
      - id: check-merge-conflict
      - id: detect-private-key

  # -- Python (Ruff) -----------------------------------------
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.15.1
    hooks:
      # 1) Sort imports
      - id: ruff-check
        name: ruff (sort imports)
        args: ["--select", "I", "--fix"]

      # 2) Lint/fix
      - id: ruff-check
        args: ["--fix", "--exit-non-zero-on-fix"]

      # 3) Format
      - id: ruff-format

  # -- Go -----------------------------------------------------
  - repo: https://github.com/TekWizely/pre-commit-golang
    rev: v1.0.0-rc.1
    hooks:
      # Format
      - id: go-fmt

  # Go hooks that need GOROOT set for Go 1.25 toolchain
  - repo: local
    hooks:
      - id: go-imports-repo
        name: go-imports-repo
        entry: bash -c 'export GOROOT=/go/pkg/mod/golang.org/toolchain@v0.0.1-go1.25.0.linux-amd64 && goimports -l -d $(find . -name "*.go" -not -path "./data/*" -not -path "./vendor/*")'
        language: system
        pass_filenames: false
        types: [go]

      - id: go-vet-repo-mod
        name: go-vet-repo-mod
        entry: bash -c 'export GOROOT=/go/pkg/mod/golang.org/toolchain@v0.0.1-go1.25.0.linux-amd64 && go vet ./...'
        language: system
        pass_filenames: false
        types: [go]

      - id: golangci-lint-repo-mod
        name: golangci-lint-repo-mod
        entry: bash -c 'export GOROOT=/go/pkg/mod/golang.org/toolchain@v0.0.1-go1.25.0.linux-amd64 && golangci-lint run ./...'
        language: system
        pass_filenames: false
        types: [go]

  # -- TypeScript / JavaScript (ESLint + Prettier) ------------
  - repo: local
    hooks:
      - id: eslint
        name: eslint
        entry: frontend/node_modules/.bin/eslint --config frontend/eslint.config.js --fix
        language: system
        files: ^frontend/src/.*\.(ts|tsx|js|jsx)$
        types: [file]

      - id: prettier
        name: prettier
        entry: frontend/node_modules/.bin/prettier --write --ignore-unknown
        language: system
        files: \.(ts|tsx|js|jsx|json|css|scss|html)$
        types: [file]

fix: active-work SQL COALESCE UUID type mismatch
  internal/adapter/postgres/store_active_work.go
Due: go-imports-repo, go-vet-repo-mod, golangci-lint-repo-mod

fix: standardize error handling across 47 HTTP handlers
  docs/todo.md
  internal/adapter/http/handlers.go
  internal/adapter/http/handlers_agent_features.go
  internal/adapter/http/handlers_auth.go
  internal/adapter/http/handlers_goals.go
  internal/adapter/http/handlers_llm.go
  internal/adapter/http/handlers_orchestration.go
  internal/adapter/http/handlers_orchestration_test.go
  internal/adapter/http/handlers_session.go
  internal/adapter/http/handlers_settings.go
  internal/service/auth.go
  internal/service/goal_discovery.go
  internal/service/policy.go
Due: go-imports-repo, go-vet-repo-mod, golangci-lint-repo-mod

fix: VCS provider dropdown default mismatch and scope form client-side validation
  frontend/src/features/scopes/ScopesPage.tsx
  frontend/src/features/settings/SettingsPage.tsx
  frontend/src/i18n/en.ts
  frontend/src/i18n/locales/de.ts
Due: eslint, prettier

fix: add __main__.py so `python -m codeforge.consumer` works
  workers/codeforge/consumer/__main__.py
Due: none

fix: enable automatic .venv activation in VS Code terminals
  .vscode/settings.json
  docker-compose.yml
Due: prettier

fix: use absolute path for python.defaultInterpreterPath
  .vscode/settings.json
Due: prettier

fix: auto-activate .venv in new VS Code terminals
  .devcontainer/setup.sh
Due: none

chore: upgrade Python and Go dependencies to latest compatible versions
  .vscode/settings.json
  frontend/src/features/project/FilePanel.tsx
  go.mod
  go.sum
  poetry.lock
  pyproject.toml
Due: eslint, prettier

fix: adapt tracing to agentneo 1.1.1 API changes
  workers/codeforge/tracing/metrics.py
  workers/codeforge/tracing/setup.py
  workers/tests/test_tracing_setup.py
Due: none

fix: wrap agentneo Tracer with SafeTracer to prevent tracing crashes
  workers/codeforge/tracing/setup.py
Due: none

feat: eliminate hardcoded model defaults — auto-discover from LiteLLM
  cmd/codeforge/main.go
  internal/config/config.go
  internal/service/context_optimizer.go
  internal/service/meta_agent.go
  internal/service/retrieval.go
  workers/codeforge/agent_loop.py
  workers/codeforge/llm.py
  workers/codeforge/model_resolver.py
  workers/codeforge/routing/meta_router.py
  workers/tests/test_agent_loop.py
  workers/tests/test_llm.py
  workers/tests/test_llm_tools.py
  workers/tests/test_model_resolver.py
Due: go-imports-repo, go-vet-repo-mod, golangci-lint-repo-mod

fix: NATS policy timeout and model resolution priority
  codeforge.example.yaml
  internal/service/conversation.go
  workers/codeforge/runtime.py
Due: go-imports-repo, go-vet-repo-mod, golangci-lint-repo-mod

fix: improve complexity analyzer tier classification accuracy
  workers/codeforge/routing/complexity.py
  workers/tests/test_routing_complexity.py
Due: none

docs: document complexity analyzer improvements and model auto-discovery
  docs/features/03-multi-llm-provider.md
  docs/project-status.md
  docs/todo.md
Due: none

fix: filter tool messages from non-agentic chat history
  internal/service/conversation.go
Due: go-imports-repo, go-vet-repo-mod, golangci-lint-repo-mod

fix: add rate limit retry with exponential backoff in agent loop
  workers/codeforge/agent_loop.py
Due: none

docs: document chat path bug fixes in project-status
  docs/project-status.md
Due: none

feat: add collapsible sidebar, configurable shortcuts, AI goal discovery, and fix tab switching
  frontend/src/App.tsx
  frontend/src/api/client.ts
  frontend/src/components/CommandPalette.tsx
  frontend/src/components/SidebarProvider.tsx
  frontend/src/config/constants.ts
  frontend/src/features/project/ChatPanel.tsx
  frontend/src/features/project/GoalsPanel.tsx
  frontend/src/features/project/ProjectDetailPage.tsx
  frontend/src/features/settings/SettingsPage.tsx
  frontend/src/features/settings/ShortcutRecorder.tsx
  frontend/src/features/settings/ShortcutsSection.tsx
  frontend/src/i18n/en.ts
  frontend/src/i18n/locales/de.ts
  frontend/src/shortcuts/ShortcutProvider.tsx
  frontend/src/shortcuts/defaults.ts
  frontend/src/shortcuts/index.ts
  frontend/src/shortcuts/types.ts
  frontend/src/ui/layout/NavIcons.tsx
  frontend/src/ui/layout/NavLink.tsx
  frontend/src/ui/layout/Sidebar.tsx
  internal/adapter/http/handlers_goals.go
  internal/adapter/http/routes.go
  internal/domain/mode/presets.go
  internal/domain/policy/presets.go
  internal/service/conversation_agent.go
  workers/codeforge/consumer/_conversation.py
  workers/codeforge/tools/manage_goals.py
Due: go-imports-repo, go-vet-repo-mod, golangci-lint-repo-mod, eslint, prettier

feat: add LLM client resilience config and per-provider rate-limit tracker
  litellm/config.yaml
  workers/codeforge/agent_loop.py
  workers/codeforge/consumer/_conversation.py
  workers/codeforge/llm.py
  workers/codeforge/routing/rate_tracker.py
  workers/codeforge/routing/router.py
  workers/tests/test_llm.py
  workers/tests/test_rate_tracker.py
  workers/tests/test_routing_router.py
Due: none

docs: document Phase 30 adaptive LLM retry & rate-limit-aware routing
  docs/dev-setup.md
  docs/features/03-multi-llm-provider.md
  docs/project-status.md
  docs/todo.md
Due: none

feat: add comprehensive LLM E2E test suite with real multi-provider calls
  frontend/e2e/llm/00-prerequisites.spec.ts
  frontend/e2e/llm/01-model-management.spec.ts
  frontend/e2e/llm/02-simple-conversation.spec.ts
  frontend/e2e/llm/03-agentic-conversation.spec.ts
  frontend/e2e/llm/04-streaming-agui.spec.ts
  frontend/e2e/llm/05-multi-provider.spec.ts
  frontend/e2e/llm/06-routing.spec.ts
  frontend/e2e/llm/07-cost-tracking.spec.ts
  frontend/e2e/llm/08-mcp-tools.spec.ts
  frontend/e2e/llm/09-benchmarks.spec.ts
  frontend/e2e/llm/99-cleanup.spec.ts
  frontend/e2e/llm/llm-helpers.ts
  frontend/playwright.llm.config.ts
Due: prettier

docs: document LLM E2E test suite in project status, todo, dev-setup, CLAUDE.md
  CLAUDE.md
  docs/dev-setup.md
  docs/project-status.md
  docs/todo.md
Due: none

fix: eliminate all test skips and fix 5 E2E failures for 88/88 pass rate
  frontend/e2e/llm/01-model-management.spec.ts
  frontend/e2e/llm/02-simple-conversation.spec.ts
  frontend/e2e/llm/03-agentic-conversation.spec.ts
  frontend/e2e/llm/04-streaming-agui.spec.ts
  frontend/e2e/llm/05-multi-provider.spec.ts
  frontend/e2e/llm/07-cost-tracking.spec.ts
  frontend/e2e/llm/09-benchmarks.spec.ts
  internal/adapter/copilot/register.go
  internal/adapter/litellm/client.go
  internal/adapter/litellm/client_test.go
  internal/service/runtime.go
Due: go-imports-repo, go-vet-repo-mod, golangci-lint-repo-mod, prettier

docs: add cross-language integration checklist and fix error handler bug
  CLAUDE.md
  workers/codeforge/consumer/_benchmark.py
Due: none

fix: resolve all integration audit findings across Go/Python boundary
  internal/adapter/nats/nats.go
  internal/port/messagequeue/queue.go
  internal/service/handoff.go
  internal/service/memory.go
  workers/codeforge/evaluation/runners/tool_use.py
  workers/codeforge/models.py
  workers/codeforge/routing/meta_router.py
  workers/codeforge/routing/router.py
  workers/tests/fake_llm.py
  workers/tests/test_benchmark_runners.py
Due: go-imports-repo, go-vet-repo-mod, golangci-lint-repo-mod

fix: resolve all remaining integration audit findings
  workers/codeforge/agent_loop.py
  workers/codeforge/backends/openhands.py
  workers/codeforge/consumer/__init__.py
  workers/codeforge/consumer/_base.py
  workers/codeforge/consumer/_benchmark.py
  workers/codeforge/consumer/_conversation.py
  workers/codeforge/consumer/_graph.py
  workers/codeforge/consumer/_handoff.py
  workers/codeforge/consumer/_memory.py
  workers/codeforge/consumer/_quality_gate.py
  workers/codeforge/consumer/_repomap.py
  workers/codeforge/consumer/_retrieval.py
  workers/codeforge/consumer/_runs.py
  workers/codeforge/consumer/_tasks.py
  workers/codeforge/evaluation/collaboration.py
  workers/codeforge/evaluation/evaluators/functional_test.py
  workers/codeforge/evaluation/evaluators/llm_judge.py
  workers/codeforge/evaluation/evaluators/trajectory_verifier.py
  workers/codeforge/evaluation/pipeline.py
  workers/codeforge/evaluation/runner.py
  workers/codeforge/graphrag.py
  workers/codeforge/mcp_workbench.py
  workers/codeforge/memory/experience.py
  workers/codeforge/memory/storage.py
  workers/codeforge/model_resolver.py
  workers/codeforge/models.py
  workers/codeforge/nats_utils.py
  workers/codeforge/repomap.py
  workers/codeforge/retrieval.py
  workers/codeforge/routing/meta_router.py
  workers/codeforge/runtime.py
  workers/codeforge/tracing/dashboard.py
  workers/codeforge/tracing/metrics.py
  workers/codeforge/tracing/setup.py
  workers/tests/fake_llm.py
Due: none

fix: resolve all lint/type errors and improve collapsed sidebar footer
  .gitignore
  frontend/e2e-results-llm/.last-run.json
  frontend/e2e/benchmark-cost-analysis.spec.ts
  frontend/e2e/benchmark-leaderboard.spec.ts
  frontend/e2e/llm/04-streaming-agui.spec.ts
  frontend/e2e/llm/07-cost-tracking.spec.ts
  frontend/package-lock.json
  frontend/package.json
  frontend/src/App.tsx
  frontend/src/components/ThemeProvider.tsx
  frontend/src/features/benchmarks/BenchmarkPage.tsx
  internal/adapter/gitlocal/provider.go
  internal/service/project.go
  workers/codeforge/consumer/_benchmark.py
  workers/tests/test_benchmark_health_check.py
Due: go-imports-repo, go-vet-repo-mod, golangci-lint-repo-mod, eslint, prettier

feat: add portal-based Tooltip component for collapsed sidebar
  frontend/src/App.tsx
  frontend/src/components/ThemeProvider.tsx
  frontend/src/i18n/LocaleSwitcher.tsx
  frontend/src/ui/index.ts
  frontend/src/ui/layout/NavLink.tsx
  frontend/src/ui/primitives/Tooltip.tsx
  frontend/src/ui/primitives/index.ts
  workers/codeforge/agent_loop.py
  workers/codeforge/executor.py
  workers/codeforge/mcp_workbench.py
  workers/codeforge/tracing/__init__.py
Due: eslint, prettier

fix: GSD discuss-first behavior, NATS dedup, goals auth
  internal/adapter/aider/backend_test.go
  internal/adapter/http/handlers_test.go
  internal/adapter/nats/nats.go
  internal/middleware/auth.go
  internal/port/messagequeue/queue.go
  internal/service/conversation_agent.go
  internal/service/handoff_a2a_test.go
  internal/service/handoff_test.go
  internal/service/retrieval_test.go
  internal/service/runtime_test.go
  internal/service/task_test.go
  internal/service/templates/conversation_system.tmpl
  workers/codeforge/consumer/_conversation.py
  workers/codeforge/tools/manage_goals.py
Due: go-imports-repo, go-vet-repo-mod, golangci-lint-repo-mod

fix: sanitize tool-call/result pairing for Mistral API compatibility
  workers/codeforge/agent_loop.py
  workers/codeforge/history.py
  workers/tests/test_agent_loop.py
  workers/tests/test_history.py
Due: none

fix: resolve all lint/type errors and improve collapsed sidebar footer
  internal/config/loader.go
  internal/domain/mode/mode_test.go
  internal/service/mode_test.go
  workers/codeforge/config.py
  workers/codeforge/evaluation/evaluators/llm_judge.py
  workers/codeforge/evaluation/evaluators/sparc.py
  workers/tests/test_evaluation_pipeline.py
Due: go-imports-repo, go-vet-repo-mod, golangci-lint-repo-mod

fix: harden tool-call sanitizer with dedup, reordering, and DB-level uniqueness
  .vscode/launch.json
  internal/adapter/postgres/migrations/057_dedup_tool_messages.sql
  internal/adapter/postgres/store_conversation.go
  workers/codeforge/history.py
  workers/tests/test_history.py
Due: go-imports-repo, go-vet-repo-mod, golangci-lint-repo-mod, prettier

fix: resolve SolidJS insertBefore crash on sidebar collapse
  frontend/src/ui/layout/NavLink.tsx
Due: eslint, prettier

fix: eliminate NATS duplicate message delivery (4x responses)
  internal/adapter/nats/nats.go
  internal/service/autoagent.go
  internal/service/conversation.go
  internal/service/conversation_agent.go
  workers/codeforge/consumer/__init__.py
  workers/codeforge/consumer/_base.py
  workers/codeforge/consumer/_benchmark.py
  workers/codeforge/consumer/_graph.py
  workers/codeforge/consumer/_handoff.py
  workers/codeforge/consumer/_memory.py
  workers/codeforge/consumer/_quality_gate.py
  workers/codeforge/consumer/_repomap.py
  workers/codeforge/consumer/_retrieval.py
  workers/codeforge/consumer/_runs.py
  workers/codeforge/consumer/_subjects.py
  workers/codeforge/consumer/_tasks.py
Due: go-imports-repo, go-vet-repo-mod, golangci-lint-repo-mod

refactor: fix SolidJS anti-patterns, unify buttons, harden XSS/timer/DOM bugs
  frontend/src/App.tsx
  frontend/src/components/AuthProvider.tsx
  frontend/src/components/DiffPreview.tsx
  frontend/src/components/Toast.tsx
  frontend/src/features/activity/ActivityPage.tsx
  frontend/src/features/auth/ChangePasswordPage.tsx
  frontend/src/features/benchmarks/BenchmarkCompare.tsx
  frontend/src/features/benchmarks/BenchmarkPage.tsx
  frontend/src/features/benchmarks/SuiteManagement.tsx
  frontend/src/features/costs/CostDashboardPage.tsx
  frontend/src/features/dashboard/DashboardPage.tsx
  frontend/src/features/knowledgebases/KnowledgeBasesPage.tsx
  frontend/src/features/mcp/MCPServersPage.tsx
  frontend/src/features/modes/ModesPage.tsx
  frontend/src/features/project/ActiveWorkPanel.tsx
  frontend/src/features/project/ChatPanel.tsx
  frontend/src/features/project/FilePanel.tsx
  frontend/src/features/project/FileTree.tsx
  frontend/src/features/project/GoalsPanel.tsx
  frontend/src/features/project/Markdown.tsx
  frontend/src/features/project/PlanPanel.tsx
  frontend/src/features/project/PolicyPanel.tsx
  frontend/src/features/project/ProjectDetailPage.tsx
  frontend/src/features/project/RetrievalPanel.tsx
  frontend/src/features/project/RoadmapPanel.tsx
  frontend/src/features/project/RunPanel.tsx
  frontend/src/features/project/SearchSimulator.tsx
  frontend/src/features/project/SharedContextPanel.tsx
  frontend/src/features/project/StepDetailPanel.tsx
  frontend/src/features/project/ToolCallCard.tsx
  frontend/src/features/prompts/PromptEditorPage.tsx
  frontend/src/features/scopes/ScopesPage.tsx
  frontend/src/features/settings/SettingsPage.tsx
  frontend/src/features/settings/ShortcutsSection.tsx
  frontend/src/ui/composites/Modal.tsx
  frontend/src/ui/composites/TagInput.tsx
  frontend/src/ui/primitives/Alert.tsx
  frontend/src/ui/primitives/Button.tsx
  frontend/src/ui/primitives/Checkbox.tsx
Due: eslint, prettier

refactor: inline Playwright MCP config, migrate NATS to pull consumers, fix 404 routing
  docker-compose.yml
  frontend/e2e-browser-test.py
  frontend/e2e-full-test.py
  frontend/e2e-mcp-full-test.py
  frontend/e2e-mcp-test.py
  frontend/e2e-mcp-test.sh
  frontend/e2e-test-driver.py
  frontend/playwright.e2e-manual.config.ts
  frontend/src/App.tsx
  frontend/src/features/NotFoundPage.tsx
  frontend/src/features/project/FileTree.tsx
  pyproject.toml
  workers/codeforge/consumer/__init__.py
Due: eslint, prettier

feat: add FileTree panel with search, expand/collapse, resizable sidebar, and fix Monaco theme sync
  frontend/.gitignore
  frontend/package-lock.json
  frontend/package.json
  frontend/scripts/copy-vscode-icons.mjs
  frontend/src/App.tsx
  frontend/src/api/client.ts
  frontend/src/api/websocket.ts
  frontend/src/components/WebSocketProvider.tsx
  frontend/src/features/activity/ActivityPage.tsx
  frontend/src/features/benchmarks/BenchmarkPage.tsx
  frontend/src/features/project/ActiveWorkPanel.tsx
  frontend/src/features/project/AgentLane.tsx
  frontend/src/features/project/AgentNetwork.tsx
  frontend/src/features/project/ChatPanel.tsx
  frontend/src/features/project/CodeEditor.tsx
  frontend/src/features/project/FilePanel.tsx
  frontend/src/features/project/FileTree.tsx
  frontend/src/features/project/FileTreeContext.tsx
  frontend/src/features/project/MessageFlow.tsx
  frontend/src/features/project/ProjectDetailPage.tsx
  frontend/src/features/project/SharedContextPanel.tsx
  frontend/src/features/project/WarRoom.tsx
  frontend/src/lib/file-icon.ts
  internal/adapter/http/handlers_files.go
  internal/adapter/http/routes.go
  internal/service/files.go
  workers/codeforge/tracing/setup.py
Due: go-imports-repo, go-vet-repo-mod, golangci-lint-repo-mod, eslint, prettier

feat: automatic model fallback on billing/auth/quota LLM errors
  workers/codeforge/agent_loop.py
  workers/codeforge/consumer/_conversation.py
  workers/codeforge/llm.py
  workers/codeforge/routing/__init__.py
  workers/codeforge/routing/models.py
  workers/codeforge/routing/router.py
Due: none
