Repository Strob0t/CodeForge: changes, and which pre-commit hooks are due for each by the changed paths.
All: go-imports-repo, go-vet-repo-mod, golangci-lint-repo-mod, eslint, prettier

go-imports-repo:
  name: go-imports-repo
  entry: bash -c 'export GOROOT=/go/pkg/mod/golang.org/toolchain@v0.0.1-go1.25.0.linux-amd64 && goimports -l -d $(find . -name "*.go" -not -path "./data/*" -not -path "./vendor/*")'
  language: system
  pass_filenames: false

go-vet-repo-mod:
  name: go-vet-repo-mod
  entry: bash -c 'export GOROOT=/go/pkg/mod/golang.org/toolchain@v0.0.1-go1.25.0.linux-amd64 && go vet ./...'
  language: system
  pass_filenames: false

golangci-lint-repo-mod:
  name: golangci-lint-repo-mod
  entry: bash -c 'export GOROOT=/go/pkg/mod/golang.org/toolchain@v0.0.1-go1.25.0.linux-amd64 && golangci-lint run ./...'
  language: system
  pass_filenames: false

eslint:
  name: eslint
  entry: frontend/node_modules/.bin/eslint --config frontend/eslint.config.js --fix
  language: system

prettier:
  name: prettier
  entry: frontend/node_modules/.bin/prettier --write --ignore-unknown
  language: system

docs(plans): agent-work read model and the 2026-10-06 owner decisions
  docs/known-issues-fix-plan.md
  docs/plans/2026-10-06-agent-work-read-model.md
  docs/todo.md
Due: none

docs(audit): full code review of 2026-10-06 (KI-171..KI-223)
  README.md
  docs/audits/2026-10-06-code-review/R1.md
  docs/audits/2026-10-06-code-review/R10a.md
  docs/audits/2026-10-06-code-review/R10b.md
  docs/audits/2026-10-06-code-review/R11.md
  docs/audits/2026-10-06-code-review/R2.md
  docs/audits/2026-10-06-code-review/R3.md
  docs/audits/2026-10-06-code-review/R4.md
  docs/audits/2026-10-06-code-review/R5.md
  docs/audits/2026-10-06-code-review/R6.md
  docs/audits/2026-10-06-code-review/R7.md
  docs/audits/2026-10-06-code-review/R8.md
  docs/audits/2026-10-06-code-review/R9.md
  docs/audits/2026-10-06-code-review/README.md
  docs/known-issues-fix-plan.md
  docs/todo.md
Due: none

feat(frontend): open the Webhooks panel from the project page (KI-109)
  frontend/src/features/project/CompactSettingsPopover.test.tsx
  frontend/src/features/project/CompactSettingsPopover.tsx
  frontend/src/features/project/PanelSelector.tsx
  frontend/src/features/project/ProjectDetailPage.tsx
  frontend/src/i18n/en.ts
  frontend/src/i18n/locales/de.ts
Due: eslint, prettier

fix(frontend): webhook panel state across project switches (S9-D review)
  frontend/src/features/project/WebhooksPanel.test.tsx
  frontend/src/features/project/WebhooksPanel.tsx
  frontend/src/i18n/en.ts
  frontend/src/i18n/locales/de.ts
Due: eslint, prettier

feat(frontend): busy state for ConfirmDialog
  frontend/src/ui/composites/ConfirmDialog.test.tsx
  frontend/src/ui/composites/ConfirmDialog.tsx
Due: eslint, prettier

fix(frontend): never evict a persistent toast
  frontend/src/components/Toast.test.tsx
  frontend/src/components/Toast.tsx
Due: eslint, prettier

feat(frontend): API client for per-project webhooks (KI-109)
  frontend/src/api/client.ts
  frontend/src/api/resources/index.ts
  frontend/src/api/resources/routes.test.ts
  frontend/src/api/resources/webhooks.ts
  frontend/src/api/types.ts
Due: eslint, prettier

feat(frontend): Webhooks panel for a project's inbound webhooks (KI-109)
  frontend/src/config/domain-constants.ts
  frontend/src/features/project/WebhooksPanel.test.tsx
  frontend/src/features/project/WebhooksPanel.tsx
  frontend/src/i18n/en.ts
  frontend/src/i18n/locales/de.ts
Due: eslint, prettier

fix(frontend): show a project's webhook answer after switching back
  frontend/src/features/project/WebhooksPanel.test.tsx
  frontend/src/features/project/WebhooksPanel.tsx
Due: eslint, prettier

docs: webhooks panel (KI-109) and follow-ups KI-224, KI-225
  docs/dev-setup.md
  docs/features/01-project-dashboard.md
  docs/todo.md
Due: none

fix(worker): never run a call nested in a broken text protocol object
  workers/codeforge/tools/text_protocol.py
  workers/tests/test_text_protocol_parse.py
Due: none

fix(worker): fit text protocol max_tokens to the model's context window
  workers/codeforge/agent_loop.py
  workers/codeforge/consumer/_conversation.py
  workers/codeforge/executor.py
  workers/codeforge/loop_config.py
  workers/codeforge/tools/text_protocol.py
  workers/tests/test_agent_loop_text_protocol.py
  workers/tests/test_model_capability.py
  workers/tests/test_text_protocol_render.py
Due: none

fix(worker): the protocol stream never shows raw call JSON
  workers/codeforge/agent_loop.py
  workers/codeforge/tools/text_protocol_stream.py
  workers/tests/test_text_protocol_stream.py
Due: none

fix(worker): deep nesting in a text protocol reply is a repair, not a crash
  workers/codeforge/tools/text_protocol.py
  workers/tests/test_agent_loop_text_protocol.py
  workers/tests/test_text_protocol_parse.py
  workers/tests/test_text_protocol_render.py
Due: none

fix(worker): make the text protocol's call check linear
  workers/codeforge/tools/text_protocol.py
  workers/tests/test_text_protocol_parse.py
Due: none

fix(worker): strip only leading reasoning from text protocol replies
  workers/codeforge/agent_loop.py
  workers/codeforge/llm.py
  workers/codeforge/tools/text_protocol.py
  workers/tests/test_agent_loop_text_protocol.py
  workers/tests/test_llm_stream_edge_cases.py
  workers/tests/test_llm_tools.py
  workers/tests/test_text_protocol_parse.py
Due: none

fix(worker): an unusable protocol reply is a failed routing outcome
  workers/codeforge/agent_loop.py
  workers/tests/test_agent_loop_text_protocol.py
Due: none

fix(worker): drop interleaved think blocks from a prose answer
  workers/codeforge/llm.py
  workers/codeforge/tools/text_protocol.py
  workers/tests/test_llm_stream_edge_cases.py
  workers/tests/test_text_protocol_parse.py
Due: none

fix(worker): a broken draft in reasoning does not hide the closing tag
  workers/codeforge/tools/text_protocol.py
  workers/tests/test_text_protocol_parse.py
Due: none

fix(worker): a brace without a key after it stays prose in the stream
  workers/codeforge/tools/text_protocol_stream.py
  workers/tests/test_text_protocol_stream.py
Due: none

fix(worker): reasoning ends at the first closing tag outside every object
  workers/codeforge/tools/text_protocol.py
  workers/tests/test_text_protocol_parse.py
Due: none

fix(worker): tell broken objects from braces in prose by their keys
  workers/codeforge/tools/text_protocol.py
  workers/tests/test_text_protocol_parse.py
Due: none

refactor(worker): write the replacement character as an escape
  workers/codeforge/tools/text_protocol.py
  workers/codeforge/tools/text_protocol_stream.py
Due: none

docs: S9-C text tool protocol review fixes
  docs/features/04-agent-orchestration.md
  docs/todo.md
Due: none

docs(dev-setup): how to run a single Go, Python, vitest or Playwright test
  docs/dev-setup.md
Due: none

fix(review): reload user edits an approval request could not list (KI-94 F2)
  frontend/src/api/types.ts
  frontend/src/features/project/RefactorApproval.test.tsx
  frontend/src/features/project/RefactorApproval.tsx
  frontend/src/i18n/en.ts
  frontend/src/i18n/locales/de.ts
  internal/domain/event/broadcast_payloads.go
  internal/domain/event/event_test.go
  internal/service/review_pipeline.go
  internal/service/review_pipeline_user_edits_test.go
Due: go-imports-repo, go-vet-repo-mod, golangci-lint-repo-mod, eslint, prettier

feat(review): record user edits during a review refactoring (KI-94)
  cmd/codeforge/main.go
  docs/api/openapi.yaml
  internal/adapter/http/handlers_files.go
  internal/adapter/http/handlers_files_review_edits_test.go
  internal/adapter/http/handlers_review_test.go
  internal/adapter/postgres/migrations/127_review_user_edits.sql
  internal/adapter/postgres/store_review_user_edits.go
  internal/adapter/postgres/store_review_user_edits_test.go
  internal/domain/event/broadcast_payloads.go
  internal/domain/event/event_test.go
  internal/domain/review/pipeline.go
  internal/service/files.go
  internal/service/files_perm_unix_test.go
  internal/service/files_r2_test.go
  internal/service/files_review_edits_test.go
  internal/service/files_source_test.go
  internal/service/review_pipeline.go
  internal/service/review_pipeline_test.go
  internal/service/review_pipeline_user_edits_test.go
  internal/service/workspace_symlink_test.go
Due: go-imports-repo, go-vet-repo-mod, golangci-lint-repo-mod

refactor(review): user-edit review nits (KI-94)
  docs/api/openapi.yaml
  internal/adapter/postgres/migrations/127_review_user_edits.sql
  internal/adapter/postgres/store_review_user_edits.go
  internal/service/files.go
  internal/service/files_review_edits_test.go
Due: go-imports-repo, go-vet-repo-mod, golangci-lint-repo-mod

refactor(review): remove POST /runs/{id}/approve-partial (KI-94)
  docs/api/openapi.yaml
  internal/adapter/http/handlers_review.go
  internal/adapter/http/handlers_review_test.go
  internal/adapter/http/routes.go
Due: go-imports-repo, go-vet-repo-mod, golangci-lint-repo-mod

feat(frontend): warn about user edits in the refactor approval dialog (KI-94)
  frontend/src/api/types.ts
  frontend/src/features/project/RefactorApproval.test.tsx
  frontend/src/features/project/RefactorApproval.tsx
  frontend/src/i18n/en.ts
  frontend/src/i18n/locales/de.ts
Due: eslint, prettier

fix(review): enter refactoring before the baseline snapshot (KI-94 F1)
  internal/adapter/http/handlers_review_test.go
  internal/adapter/postgres/store_review_pipeline.go
  internal/adapter/postgres/store_review_pipeline_test.go
  internal/service/review_pipeline.go
  internal/service/review_pipeline_test.go
  internal/service/review_pipeline_user_edits_test.go
Due: go-imports-repo, go-vet-repo-mod, golangci-lint-repo-mod

docs: KI-94 user edits during a refactoring, approve-partial removed
  docs/features/04-agent-orchestration.md
  docs/todo.md
Due: none

feat(worker): Claude Code is a build option, not in the published images
  Dockerfile.worker
  workers/codeforge/claude_code_executor.py
  workers/tests/docker_isolation_checks.py
  workers/tests/test_backend_clis.py
  workers/tests/test_claude_code_executor.py
  workers/tests/test_release_images.py
Due: none

fix(ci): the image build jobs may write their provenance attestations
  .github/workflows/docker-build.yml
  workers/tests/test_release_images.py
Due: none

fix(deploy): the egress firewall example keeps DNS and the hosts opened on purpose
  docker-compose.egress.yml
  workers/tests/test_backend_clis.py
Due: none

fix(github): GitHub Enterprise on a private network through pm.allowed_private_hosts (KI-166)
  cmd/codeforge/pm_outbound.go
  cmd/codeforge/pm_outbound_test.go
  internal/adapter/github/provider.go
  internal/adapter/github/provider_test.go
  internal/adapter/githubapi/client.go
  internal/adapter/githubapi/client_test.go
  internal/adapter/githubpm/provider.go
  internal/adapter/githubpm/provider_test.go
  internal/adapter/githubpm/register.go
Due: go-imports-repo, go-vet-repo-mod, golangci-lint-repo-mod

fix(release): only releases on main count, and <major>.<minor> only moves forward
  .github/workflows/docker-build.yml
  workers/tests/test_release_images.py
Due: none

fix(release): a release is a first-parent commit of main; latest only moves forward
  .github/workflows/docker-build.yml
  workers/tests/test_release_images.py
Due: none

fix(deploy): the egress override says what tool processes can reach, and how to block it
  docker-compose.egress.yml
  workers/tests/test_backend_clis.py
Due: none

fix(pm): a GitHub Enterprise issues webhook syncs with its server and its own token (KI-166)
  internal/service/pm_webhook.go
  internal/service/pm_webhook_test.go
Due: go-imports-repo, go-vet-repo-mod, golangci-lint-repo-mod

Path conditions:
  go-imports-repo: any of: \.go$
  go-vet-repo-mod: any of: \.go$
  golangci-lint-repo-mod: any of: \.go$
  eslint: any of: ^frontend/src/.*\.(ts|tsx|js|jsx)$
  prettier: any of: \.(ts|tsx|js|jsx|json|css|scss|html)$
