Repository Strob0t/CodeForge: changes, and which pre-commit hooks are due for each by the changed paths.
All: go-imports-repo, go-vet-repo-mod, golangci-lint-repo-mod, eslint, prettier

.pre-commit-config.yaml:

repos:
  # -- General ----------------------------------------------
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: end-of-file-fixer
      - id: trailing-whitespace
      - id: check-yaml
      - id: check-json
      - id: check-merge-conflict
      - id: detect-private-key

  # -- Python (Ruff) -----------------------------------------
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.15.1
    hooks:
      # 1) Sort imports
      - id: ruff-check
        name: ruff (sort imports)
        args: ["--select", "I", "--fix"]

      # 2) Lint/fix
      - id: ruff-check
        args: ["--fix", "--exit-non-zero-on-fix"]

      # 3) Format
      - id: ruff-format

  # -- Go -----------------------------------------------------
  - repo: https://github.com/TekWizely/pre-commit-golang
    rev: v1.0.0-rc.1
    hooks:
      # Format
      - id: go-fmt

  # Go hooks that need GOROOT set for Go 1.25 toolchain
  - repo: local
    hooks:
      - id: go-imports-repo
        name: go-imports-repo
        entry: bash -c 'export GOROOT=/go/pkg/mod/golang.org/toolchain@v0.0.1-go1.25.0.linux-amd64 && goimports -l -d $(find . -name "*.go" -not -path "./data/*" -not -path "./vendor/*")'
        language: system
        pass_filenames: false
        types: [go]

      - id: go-vet-repo-mod
        name: go-vet-repo-mod
        entry: bash -c 'export GOROOT=/go/pkg/mod/golang.org/toolchain@v0.0.1-go1.25.0.linux-amd64 && go vet ./...'
        language: system
        pass_filenames: false
        types: [go]

      - id: golangci-lint-repo-mod
        name: golangci-lint-repo-mod
        entry: bash -c 'export GOROOT=/go/pkg/mod/golang.org/toolchain@v0.0.1-go1.25.0.linux-amd64 && golangci-lint run ./...'
        language: system
        pass_filenames: false
        types: [go]

  # -- TypeScript / JavaScript (ESLint + Prettier) ------------
  - repo: local
    hooks:
      - id: eslint
        name: eslint
        entry: frontend/node_modules/.bin/eslint --config frontend/eslint.config.js --fix
        language: system
        files: ^frontend/src/.*\.(ts|tsx|js|jsx)$
        types: [file]

      - id: prettier
        name: prettier
        entry: frontend/node_modules/.bin/prettier --write --ignore-unknown
        language: system
        files: \.(ts|tsx|js|jsx|json|css|scss|html)$
        types: [file]

test: Go test coverage for benchmark handlers, contract tests, queue interface (FIX-069,086,066)
  internal/adapter/http/handlers_benchmark_analyze.go
  internal/adapter/http/handlers_benchmark_test.go
  internal/port/messagequeue/contract_test.go
  internal/port/messagequeue/queue_test.go
  internal/port/messagequeue/testdata/contracts/context_rerank_request.json
  internal/port/messagequeue/testdata/contracts/context_rerank_result.json
  internal/port/messagequeue/testdata/contracts/prompt_evolution_mutate_complete.json
  internal/port/messagequeue/testdata/contracts/prompt_evolution_reflect.json
  internal/port/messagequeue/testdata/contracts/prompt_evolution_reflect_complete.json
  internal/port/messagequeue/testdata/contracts/review_approval_required.json
  internal/port/messagequeue/testdata/contracts/review_approval_response.json
  internal/port/messagequeue/testdata/contracts/review_boundary_analyzed.json
  internal/port/messagequeue/testdata/contracts/review_trigger_request.json
Due: go-imports-repo, go-vet-repo-mod, golangci-lint-repo-mod, prettier

test: frontend unit tests for notification and command stores (FIX-034,067)
  frontend/src/features/chat/commandStore.test.ts
  frontend/src/features/notifications/notificationStore.test.ts
Due: eslint, prettier

docs: documentation, concurrency notes, and style fixes (Tasks 15-24)
  frontend/src/ui/icons/README.md
  internal/adapter/http/middleware.go
  internal/adapter/lsp/doc.go
  workers/codeforge/LOG_MIGRATION.md
  workers/codeforge/consumer/_base.py
  workers/codeforge/routing/blocklist.py
  workers/tests/conftest.py
Due: go-imports-repo, go-vet-repo-mod, golangci-lint-repo-mod

docs(testing): add Run 7/7b results — first correct program, full-auto gate bug
  docs/testing/2026-03-19-autonomous-goal-to-program-report.md
Due: none

audit: update all reports — remaining 31 findings addressed, scores recalculated
  docs/audits/2026-03-20-api-contract-audit.md
  docs/audits/2026-03-20-audit-overview.md
  docs/audits/2026-03-20-frontend-architecture-audit.md
  docs/audits/2026-03-20-go-core-service-audit.md
  docs/audits/2026-03-20-hybrid-routing-audit.md
  docs/audits/2026-03-20-nats-integration-audit.md
  docs/audits/2026-03-20-protocol-compliance-audit.md
  docs/audits/2026-03-20-python-workers-audit.md
  docs/audits/2026-03-20-security-code-level-audit.md
  docs/audits/2026-03-20-test-coverage-audit.md
Due: none

docs: frontend unit tests implementation plan (8 tasks, FIX-067/074)
  docs/plans/2026-03-21-frontend-unit-tests-plan.md
Due: none

docs(testing): comprehensive S1-S4 scenarios with CodingChallengesFYI projects
  docs/testing/2026-03-19-autonomous-goal-to-program-testplan.md
Due: none

test: project feature unit tests -- actionRules, contextFilesStore (FIX-067)
  frontend/src/features/project/actionRules.test.ts
  frontend/src/features/project/contextFilesStore.test.ts
Due: eslint, prettier

test: unit tests for all untested frontend features (FIX-067, FIX-074)
  frontend/src/api/client.test.ts
  frontend/src/features/activity/activity.test.ts
  frontend/src/features/audit/audit.test.ts
  frontend/src/features/auth/auth.test.ts
  frontend/src/features/channels/channels.test.ts
  frontend/src/features/costs/costs.test.ts
  frontend/src/features/dashboard/DashboardPage.test.ts
  frontend/src/features/dev/dev.test.ts
  frontend/src/features/knowledge/knowledge.test.ts
  frontend/src/features/knowledgebases/knowledgebases.test.ts
  frontend/src/features/llm/llm.test.ts
  frontend/src/features/mcp/mcp.test.ts
  frontend/src/features/modes/modes.test.ts
  frontend/src/features/onboarding/onboarding.test.ts
  frontend/src/features/prompts/prompts.test.ts
  frontend/src/features/scopes/scopes.test.ts
  frontend/src/features/search/search.test.ts
  frontend/src/features/settings/settings.test.ts
  frontend/vite.config.ts
Due: eslint, prettier

audit: all 114 findings fixed — 100% fix rate, frontend tests complete
  docs/audits/2026-03-20-audit-overview.md
  docs/audits/2026-03-20-frontend-architecture-audit.md
  docs/audits/2026-03-20-test-coverage-audit.md
Due: none

docs(testing): Run 8 — S1 wc tool, first git commit ever, LiteLLM routing fix
  docs/testing/2026-03-19-autonomous-goal-to-program-report.md
Due: none

docs: 3 refactoring plans — ChatPanel, SettingsPage, API Client decomposition
  docs/plans/2026-03-21-refactor-api-client-plan.md
  docs/plans/2026-03-21-refactor-chatpanel-plan.md
  docs/plans/2026-03-21-refactor-settingspage-plan.md
Due: none

security: clarify conversation search SQL parameter building (F5-D3)
  internal/adapter/postgres/store_conversation.go
Due: go-imports-repo, go-vet-repo-mod, golangci-lint-repo-mod

security: fix ReDoS in microagent trigger matching (F18-D3)
  internal/adapter/mcp/server.go
  internal/adapter/mcp/server_test.go
  internal/adapter/mcp/tools.go
  internal/domain/microagent/microagent.go
  internal/service/microagent.go
  internal/service/microagent_test.go
Due: go-imports-repo, go-vet-repo-mod, golangci-lint-repo-mod

security: refactor eventstore dynamic SQL to safe query builder (F20-D3)
  internal/adapter/postgres/eventstore.go
  internal/adapter/postgres/eventstore_test.go
Due: go-imports-repo, go-vet-repo-mod, golangci-lint-repo-mod

test: add eventstore query builder edge case tests (F20-D2)
  internal/adapter/postgres/eventstore_test.go
Due: go-imports-repo, go-vet-repo-mod, golangci-lint-repo-mod

test: add SkillService tests (F18-D2)
  internal/service/microagent_test.go
Due: go-imports-repo, go-vet-repo-mod, golangci-lint-repo-mod

test: expand HandoffService test coverage (F19-D2)
  internal/service/handoff_test.go
Due: go-imports-repo, go-vet-repo-mod, golangci-lint-repo-mod

docs: clarify Markdown URL whitelist blocks data: and javascript: (F5-D3, F22-D3)
  frontend/src/features/project/Markdown.tsx
Due: eslint, prettier

security: use EvalSymlinks in project deletion path check (F1-D3)
  internal/service/project.go
  internal/service/project_test.go
Due: go-imports-repo, go-vet-repo-mod, golangci-lint-repo-mod

security: validate regex on microagent update (F18-D2)
  internal/service/microagent.go
  internal/service/microagent_test.go
Due: go-imports-repo, go-vet-repo-mod, golangci-lint-repo-mod

security: add A2A prompt length validation and cancel check (F9-D3, F9-D2)
  internal/adapter/a2a/executor.go
  internal/adapter/a2a/executor_test.go
  workers/codeforge/tools/handoff.py
Due: go-imports-repo, go-vet-repo-mod, golangci-lint-repo-mod

security: add server-side image size and base64 validation (F6-D1, F7-D3)
  internal/domain/conversation/conversation.go
  workers/codeforge/history.py
Due: go-imports-repo, go-vet-repo-mod, golangci-lint-repo-mod

security: add tenant isolation to review trigger (F13-D3)
  internal/service/review_trigger.go
  internal/service/review_trigger_test.go
Due: go-imports-repo, go-vet-repo-mod, golangci-lint-repo-mod

security: add UTF-8 validation to quarantine scorer (F11-D3)
  internal/domain/quarantine/scorer.go
  internal/service/quarantine.go
Due: go-imports-repo, go-vet-repo-mod, golangci-lint-repo-mod

fix: use full args in stall detector hash (F4-D2)
  workers/codeforge/agent_loop.py
Due: none

fix: handle image-only messages in prompt extraction (F7-D2)
  workers/codeforge/agent_loop.py
Due: none

fix: validate model name format in fallback selection (F7-D3)
  workers/codeforge/agent_loop.py
Due: none

fix: add weight validation and fix division by zero (F17-D2, F17-D3)
  internal/service/roadmap.go
Due: go-imports-repo, go-vet-repo-mod, golangci-lint-repo-mod

Revert "fix: add weight validation and fix division by zero (F17-D2, F17-D3)"
  internal/service/roadmap.go
Due: go-imports-repo, go-vet-repo-mod, golangci-lint-repo-mod

perf: fix N+1 query in roadmap GetByProject (F2-D2)
  internal/service/roadmap.go
Due: go-imports-repo, go-vet-repo-mod, golangci-lint-repo-mod

fix: add weight validation and fix division by zero (F17-D2, F17-D3)
  workers/codeforge/memory/experience.py
  workers/codeforge/memory/scorer.py
Due: none

fix: add MaxSteps upper bound validation (F15-D2)
  internal/domain/policy/policy_test.go
  internal/domain/policy/validate.go
  workers/codeforge/agent_loop.py
Due: go-imports-repo, go-vet-repo-mod, golangci-lint-repo-mod

fix: expose async logger dropped count in health check (F21-D2)
  cmd/codeforge/main.go
  internal/logger/async.go
  internal/logger/logger.go
Due: go-imports-repo, go-vet-repo-mod, golangci-lint-repo-mod

refactor: convert routing singletons to dependency injection (F3-D2, F14-D2, F14-D3)
  workers/codeforge/routing/blocklist.py
  workers/codeforge/routing/key_filter.py
  workers/codeforge/routing/router.py
Due: none

safety: add absolute timeout when stall detection disabled (F15-D3)
  internal/logger/logger_test.go
  internal/service/runtime_internal_test.go
  internal/service/runtime_lifecycle.go
Due: go-imports-repo, go-vet-repo-mod, golangci-lint-repo-mod

fix: add timeout and max retries to route_with_fallbacks (F3-D2)
  workers/codeforge/routing/router.py
Due: none

fix: add jitter to token refresh timing (F22-D2)
  frontend/src/components/AuthProvider.tsx
Due: eslint, prettier

docs: add supervised-ask-all preset to ADR 007 (F16-D2)
  docs/architecture/adr/007-policy-layer.md
Due: none
