Repository Strob0t/CodeForge: changes, and which pre-commit hooks are due for each by the changed paths.
All: go-imports-repo, go-vet-repo-mod, golangci-lint-repo-mod, eslint, prettier

go-imports-repo:
  name: go-imports-repo
  entry: bash -c 'export GOROOT=/go/pkg/mod/golang.org/toolchain@v0.0.1-go1.25.0.linux-amd64 && goimports -l -d $(find . -name "*.go" -not -path "./data/*" -not -path "./vendor/*")'
  language: system
  pass_filenames: false

go-vet-repo-mod:
  name: go-vet-repo-mod
  entry: bash -c 'export GOROOT=/go/pkg/mod/golang.org/toolchain@v0.0.1-go1.25.0.linux-amd64 && go vet ./...'
  language: system
  pass_filenames: false

golangci-lint-repo-mod:
  name: golangci-lint-repo-mod
  entry: bash -c 'export GOROOT=/go/pkg/mod/golang.org/toolchain@v0.0.1-go1.25.0.linux-amd64 && golangci-lint run ./...'
  language: system
  pass_filenames: false

eslint:
  name: eslint
  entry: frontend/node_modules/.bin/eslint --config frontend/eslint.config.js --fix
  language: system

prettier:
  name: prettier
  entry: frontend/node_modules/.bin/prettier --write --ignore-unknown
  language: system

fix(config): SIGHUP reloads the secrets vault and names settings that need a restart (KI-61)
  cmd/codeforge/main.go
  cmd/codeforge/reload.go
  cmd/codeforge/reload_test.go
  internal/config/config.go
  internal/config/loader.go
  internal/config/loader_integration_test.go
  internal/config/reload_log_test.go
  internal/config/restart.go
  internal/config/restart_test.go
Due: go-imports-repo, go-vet-repo-mod, golangci-lint-repo-mod

fix(config): remove configuration drift between code, examples and compose (KI-51)
  .env.example
  codeforge.example.yaml
  docker-compose.prod.yml
  docker-compose.yml
  internal/config/config.go
  internal/config/drift_test.go
  internal/config/loader.go
  litellm/config.yaml
  scripts/logs.sh
  scripts/resolve-docker-ips.sh
  workers/codeforge/history.py
  workers/tests/test_history.py
Due: go-imports-repo, go-vet-repo-mod, golangci-lint-repo-mod

fix(worker): serve /health and /health/ready; healthchecks use readiness (KI-34)
  Dockerfile.worker
  docker-compose.prod.yml
  scripts/worker-healthcheck.py
  workers/codeforge/consumer/__init__.py
  workers/codeforge/health.py
  workers/tests/consumer/test_delivery.py
  workers/tests/consumer/test_delivery_handlers.py
  workers/tests/test_health.py
Due: none

fix(otel): honor CODEFORGE_OTEL_INSECURE, export worker metrics, propagate trace context (KI-36)
  go.mod
  internal/adapter/otel/insecure_test.go
  internal/adapter/otel/setup.go
  internal/config/config.go
  workers/codeforge/config.py
  workers/codeforge/consumer/__init__.py
  workers/codeforge/tracing/propagation.py
  workers/codeforge/tracing/setup.py
  workers/tests/consumer/test_delivery.py
  workers/tests/consumer/test_delivery_handlers.py
  workers/tests/test_runtime_tracing.py
  workers/tests/test_tracing_setup.py
Due: go-imports-repo, go-vet-repo-mod, golangci-lint-repo-mod

fix(worker): log in the Go slog schema, one JSON object per line (KI-35)
  workers/codeforge/config.py
  workers/codeforge/consumer/__init__.py
  workers/codeforge/logger.py
  workers/codeforge/tracing/setup.py
  workers/tests/test_log_redaction.py
  workers/tests/test_logger.py
  workers/tests/test_tracing_setup.py
Due: none

fix(qualitygate): project gate commands, fail closed on missing results (KI-29)
  codeforge.example.yaml
  internal/config/config.go
  internal/domain/project/gatecommands.go
  internal/domain/project/gatecommands_test.go
  internal/service/runtime_completion.go
  internal/service/runtime_gate.go
  internal/service/runtime_gate_commands_test.go
  internal/service/runtime_run_state_test.go
  workers/codeforge/qualitygate.py
  workers/tests/test_qualitygate.py
Due: go-imports-repo, go-vet-repo-mod, golangci-lint-repo-mod

fix(checkpoint): keep checkpoints out of the workspace history (KI-27)
  internal/service/checkpoint.go
  internal/service/checkpoint_delivery_test.go
  internal/service/checkpoint_test.go
  internal/service/deliver.go
  internal/service/git_worktree.go
Due: go-imports-repo, go-vet-repo-mod, golangci-lint-repo-mod

fix(runtime): deliver completed runs, fail runs on a failed gate (KI-26)
  internal/domain/policy/policy.go
  internal/service/checkpoint.go
  internal/service/runtime_completion.go
  internal/service/runtime_coverage_test.go
  internal/service/runtime_execution_test.go
  internal/service/runtime_gate.go
  internal/service/runtime_gate_delivery_test.go
  internal/service/runtime_lifecycle.go
Due: go-imports-repo, go-vet-repo-mod, golangci-lint-repo-mod

fix(qualitygate): gate timeout reaches the worker, watchdog for stuck gates (KI-28, KI-65 part)
  cmd/codeforge/main.go
  codeforge.example.yaml
  internal/adapter/http/handlers_test.go
  internal/adapter/postgres/store_run.go
  internal/adapter/postgres/store_run_stale_test.go
  internal/config/loader.go
  internal/config/loader_test.go
  internal/middleware/teststore_test.go
  internal/port/database/store_run.go
  internal/port/messagequeue/contract_test.go
  internal/port/messagequeue/schemas_run.go
  internal/port/messagequeue/testdata/contracts/runs_qualitygate_request.json
  internal/port/messagequeue/testdata/contracts/runs_qualitygate_result.json
  internal/port/messagequeue/validator_test.go
  internal/service/gdpr_test.go
  internal/service/project_test.go
  internal/service/runtime.go
  internal/service/runtime_completion.go
  internal/service/runtime_gate.go
  internal/service/runtime_gate_watchdog_test.go
  internal/service/runtime_lifecycle.go
  internal/service/runtime_test.go
  internal/service/stuck_work_watchdog.go
  workers/codeforge/models.py
  workers/codeforge/qualitygate.py
  workers/tests/test_nats_contracts.py
  workers/tests/test_qualitygate.py
Due: go-imports-repo, go-vet-repo-mod, golangci-lint-repo-mod, prettier

fix(claudecode): every Claude Code tool call is decided by the Go policy (KI-72)
  internal/domain/policy/evaluation_test.go
  internal/domain/policy/toolnames.go
  internal/domain/policy/toolnames_test.go
  workers/codeforge/claude_code_executor.py
  workers/codeforge/claude_code_policy_hook.py
  workers/tests/test_claude_code_cli_integration.py
  workers/tests/test_claude_code_executor.py
  workers/tests/test_claude_code_policy_hook.py
  workers/tests/test_subprocess_env.py
Due: go-imports-repo, go-vet-repo-mod, golangci-lint-repo-mod

fix(worker): a stop request is sticky; no signal is lost (KI-34 review)
  workers/codeforge/consumer/__init__.py
  workers/tests/consumer/test_delivery.py
  workers/tests/consumer/test_delivery_handlers.py
  workers/tests/consumer/test_shutdown.py
  workers/tests/test_health.py
  workers/tests/test_logger.py
Due: none

fix(tracing): a metric exporter error cannot break startup; shutdown off the event loop (KI-36 review)
  workers/codeforge/consumer/__init__.py
  workers/codeforge/tracing/setup.py
  workers/tests/consumer/test_shutdown.py
  workers/tests/test_tracing_setup.py
Due: none

fix(logging): redact URL userinfo in the whole rendered line (KI-35 review)
  workers/codeforge/logger.py
  workers/tests/test_log_redaction.py
Due: none

docs: KI-34, KI-35, KI-36, KI-51, KI-61 fixed (S4 operations); KI-77
  CLAUDE.md
  docs/architecture.md
  docs/architecture/adr/003-config-hierarchy.md
  docs/architecture/adr/004-async-logging.md
  docs/dev-setup.md
  docs/known-issues-fix-plan.md
  docs/project-status.md
  docs/todo.md
Due: none

fix(retention): run the GDPR retention job with valid SQL (KI-52)
  cmd/codeforge/main.go
  codeforge.example.yaml
  internal/adapter/postgres/store_audit_log.go
  internal/adapter/postgres/store_retention.go
  internal/adapter/postgres/store_retention_test.go
  internal/config/config.go
  internal/config/loader.go
  internal/config/retention_test.go
  internal/port/database/store_conversation.go
  internal/port/database/store_run.go
  internal/service/retention.go
  internal/service/retention_test.go
Due: go-imports-repo, go-vet-repo-mod, golangci-lint-repo-mod

fix(audit): list audit entries of erased users (KI-53)
  internal/adapter/http/handlers_audit_test.go
  internal/adapter/postgres/store_audit_log.go
  internal/adapter/postgres/store_audit_log_test.go
  internal/middleware/audit.go
  internal/port/database/types.go
Due: go-imports-repo, go-vet-repo-mod, golangci-lint-repo-mod

fix(worker): stop deepeval from phoning home (KI-54)
  Dockerfile.worker
  workers/codeforge/evaluation/__init__.py
  workers/codeforge/evaluation/_deepeval_env.py
  workers/tests/evaluation/test_deepeval_privacy.py
Due: none

docs: KI-52, KI-53, KI-54 fixed (S6 compliance)
  docs/architecture/adr/009-gdpr-compliance-architecture.md
  docs/data-retention.md
  docs/dev-setup.md
  docs/known-issues-fix-plan.md
  docs/privacy-policy.md
  docs/project-status.md
  docs/security/data-classification.md
  docs/tech-stack.md
  docs/todo.md
Due: none

docs(CLAUDE.md): cross-tenant system jobs are a documented tenant-rule exception
  CLAUDE.md
Due: none

test(worker): a process that exits while its /proc stat is read counts as gone
  workers/tests/test_cli_backend_process_group.py
Due: none

fix(runtime): runs and backend tasks only start in a consistent project with a workspace
  internal/service/agent.go
  internal/service/agent_dispatch_test.go
  internal/service/meta_agent_test.go
  internal/service/orchestrator_test.go
  internal/service/runtime.go
  internal/service/runtime_start_validation_test.go
  internal/service/workspace_scope.go
Due: go-imports-repo, go-vet-repo-mod, golangci-lint-repo-mod

refactor(worker): one cancel listener for runs and tasks, one process-group termination helper
  workers/codeforge/consumer/_tasks.py
  workers/codeforge/runtime.py
  workers/codeforge/subprocess_utils.py
  workers/tests/test_cancel_listener.py
  workers/tests/test_subprocess_utils.py
Due: none

fix(worker): runs share the conversation loop setup, have no skill tools and send heartbeats
  workers/codeforge/consumer/__init__.py
  workers/codeforge/consumer/_conversation.py
  workers/codeforge/consumer/_conversation_routing.py
  workers/codeforge/consumer/_runs.py
  workers/codeforge/executor.py
  workers/codeforge/loop_config.py
  workers/codeforge/tools/__init__.py
  workers/tests/consumer/test_conversation_handler.py
  workers/tests/consumer/test_delivery_handlers.py
  workers/tests/test_run_agent_loop.py
  workers/tests/test_tasks_cancel_wiring.py
Due: none

fix(worker): handoff runs carry the source run's workspace and approval timeout
  workers/codeforge/consumer/_conversation.py
  workers/codeforge/consumer/_conversation_skill_integration.py
  workers/codeforge/consumer/_handoff.py
  workers/codeforge/tools/handoff.py
  workers/tests/test_consumer_handoff.py
  workers/tests/test_handoff_enrichment.py
Due: none

fix(agent): task results follow the reported status; StopTask only stops the caller's task
  internal/service/agent.go
  internal/service/agent_dispatch_test.go
  internal/service/agent_result_status_test.go
  internal/service/agent_test.go
  internal/service/event_persistence_test.go
Due: go-imports-repo, go-vet-repo-mod, golangci-lint-repo-mod

docs: KI-21, KI-22, KI-23 fixed (S2 run path)
  CLAUDE.md
  docs/api/openapi.yaml
  docs/architecture.md
  docs/audits/stub-tracker.md
  docs/features/04-agent-orchestration.md
  docs/known-issues-fix-plan.md
  docs/project-status.md
  docs/specs/2026-03-15-contract-first-review-refactor-design.md
  docs/todo.md
Due: none

fix(claudecode): capability check caches only success, single-flight; system prompt via file; routing uses the check (KI-72 review)
  workers/codeforge/claude_code_availability.py
  workers/codeforge/claude_code_executor.py
  workers/tests/test_claude_code_availability.py
  workers/tests/test_claude_code_cli_integration.py
  workers/tests/test_claude_code_executor.py
  workers/tests/test_subprocess_env.py
Due: none

fix(policy-args): one path mapping for loop and Claude Code, relative to the real workspace (KI-72 review)
  workers/codeforge/claude_code_executor.py
  workers/codeforge/policy_args.py
  workers/codeforge/tool_executor.py
  workers/tests/test_claude_code_executor.py
  workers/tests/test_policy_args.py
  workers/tests/test_tool_executor_policy.py
Due: none

fix(claudecode): only tools the Go policy maps are offered and decided (KI-72 review)
  workers/codeforge/claude_code_executor.py
  workers/tests/test_claude_code_cli_integration.py
  workers/tests/test_claude_code_executor.py
Due: none

fix(claudecode): supervise the CLI run: process group, streamed output, cancel, safe fallback (KI-72 review)
  workers/codeforge/claude_code_executor.py
  workers/codeforge/consumer/_conversation.py
  workers/tests/test_claude_code_cli_integration.py
  workers/tests/test_claude_code_executor.py
  workers/tests/test_claude_code_fallback.py
  workers/tests/test_subprocess_env.py
Due: none

docs: KI-72 fixed (Claude Code runs decided by the Go policy)
  CLAUDE.md
  docs/architecture/adr/015-policy-deny-lists-and-tool-names.md
  docs/dev-setup.md
  docs/features/04-agent-orchestration.md
  docs/known-issues-fix-plan.md
  docs/project-status.md
  docs/todo.md
Due: none

fix(policy-args): an unresolvable path is reported as outside, not raised
  workers/codeforge/policy_args.py
  workers/tests/test_policy_args.py
Due: none

fix(gdpr): erase users with consent records and channel messages
  internal/adapter/http/handlers_test.go
  internal/adapter/postgres/migrations/093_user_consents_erasure.sql
  internal/adapter/postgres/store_channel.go
  internal/adapter/postgres/store_consent.go
  internal/adapter/postgres/store_gdpr_erasure_test.go
  internal/domain/channel/channel.go
  internal/middleware/teststore_test.go
  internal/port/database/consent_store.go
  internal/port/database/store_channel.go
  internal/service/gdpr.go
  internal/service/gdpr_test.go
  internal/service/project_test.go
  internal/service/runtime_test.go
Due: go-imports-repo, go-vet-repo-mod, golangci-lint-repo-mod

fix(sessions): create conversation sessions, delete them with the conversation
  internal/adapter/postgres/migrations/092_conversation_sessions_on_delete.sql
  internal/adapter/postgres/store_retention.go
  internal/adapter/postgres/store_session.go
  internal/adapter/postgres/store_session_conversation_test.go
Due: go-imports-repo, go-vet-repo-mod, golangci-lint-repo-mod

refactor(retention): share the ticker lifecycle, read the interval from config (review R12, R13)
  cmd/codeforge/main.go
  internal/service/periodic.go
  internal/service/periodic_test.go
  internal/service/retention.go
  internal/service/retention_test.go
  internal/service/stuck_work_watchdog.go
Due: go-imports-repo, go-vet-repo-mod, golangci-lint-repo-mod

fix(retention): purging runs keeps their plan steps (review R3)
  internal/adapter/postgres/migrations/095_plan_steps_keep_on_run_delete.sql
  internal/adapter/postgres/store_retention.go
  internal/adapter/postgres/store_retention_test.go
Due: go-imports-repo, go-vet-repo-mod, golangci-lint-repo-mod

fix(retention): one replica sweeps at a time (review R8)
  internal/adapter/http/handlers_test.go
  internal/adapter/postgres/store_retention.go
  internal/adapter/postgres/store_retention_test.go
  internal/middleware/teststore_test.go
  internal/port/database/consent_store.go
  internal/port/database/store.go
  internal/port/database/store_audit.go
  internal/port/database/store_conversation.go
  internal/port/database/store_retention.go
  internal/port/database/store_run.go
  internal/service/project_test.go
  internal/service/retention.go
  internal/service/retention_test.go
  internal/service/runtime_test.go
Due: go-imports-repo, go-vet-repo-mod, golangci-lint-repo-mod

fix(retention): year periods keep data for full calendar years (review R9)
  codeforge.example.yaml
  internal/config/config.go
  internal/config/retention_test.go
Due: go-imports-repo, go-vet-repo-mod, golangci-lint-repo-mod

fix(retention): age sessions by their last use (review R1, R4, R11)
  internal/adapter/http/handlers_test.go
  internal/adapter/postgres/migrations/094_sessions_last_activity.sql
  internal/adapter/postgres/store_retention.go
  internal/adapter/postgres/store_retention_test.go
  internal/adapter/postgres/store_session.go
  internal/middleware/teststore_test.go
  internal/port/database/store_run.go
  internal/service/project_test.go
  internal/service/runtime_test.go
  internal/service/session.go
Due: go-imports-repo, go-vet-repo-mod, golangci-lint-repo-mod

perf(retention): index the retention age predicates (review R7)
  internal/adapter/postgres/migrations/096_retention_indexes.sql
  internal/adapter/postgres/store_retention_test.go
Due: go-imports-repo, go-vet-repo-mod, golangci-lint-repo-mod

Path conditions:
  go-imports-repo: any of: \.go$
  go-vet-repo-mod: any of: \.go$
  golangci-lint-repo-mod: any of: \.go$
  eslint: any of: ^frontend/src/.*\.(ts|tsx|js|jsx)$
  prettier: any of: \.(ts|tsx|js|jsx|json|css|scss|html)$
