Repository Strob0t/CodeForge: changes, and which pre-commit hooks are due for each by the changed paths.
All: go-imports-repo, go-vet-repo-mod, golangci-lint-repo-mod, eslint, prettier

go-imports-repo:
  name: go-imports-repo
  entry: bash -c 'export GOROOT=/go/pkg/mod/golang.org/toolchain@v0.0.1-go1.25.0.linux-amd64 && goimports -l -d $(find . -name "*.go" -not -path "./data/*" -not -path "./vendor/*")'
  language: system
  pass_filenames: false

go-vet-repo-mod:
  name: go-vet-repo-mod
  entry: bash -c 'export GOROOT=/go/pkg/mod/golang.org/toolchain@v0.0.1-go1.25.0.linux-amd64 && go vet ./...'
  language: system
  pass_filenames: false

golangci-lint-repo-mod:
  name: golangci-lint-repo-mod
  entry: bash -c 'export GOROOT=/go/pkg/mod/golang.org/toolchain@v0.0.1-go1.25.0.linux-amd64 && golangci-lint run ./...'
  language: system
  pass_filenames: false

eslint:
  name: eslint
  entry: frontend/node_modules/.bin/eslint --config frontend/eslint.config.js --fix
  language: system

prettier:
  name: prettier
  entry: frontend/node_modules/.bin/prettier --write --ignore-unknown
  language: system

test(retention): clean up test users in their tenant, no any in tests (review R10, R14)
  internal/adapter/postgres/store_audit_log_test.go
  internal/service/retention_test.go
Due: go-imports-repo, go-vet-repo-mod, golangci-lint-repo-mod

feat(retention): anonymize consent IP addresses and user agents after 180 days
  cmd/codeforge/main.go
  codeforge.example.yaml
  internal/adapter/http/handlers_test.go
  internal/adapter/postgres/store_consent.go
  internal/adapter/postgres/store_retention_test.go
  internal/config/config.go
  internal/config/loader.go
  internal/config/retention_test.go
  internal/middleware/teststore_test.go
  internal/port/database/consent_store.go
  internal/service/project_test.go
  internal/service/retention.go
  internal/service/retention_test.go
  internal/service/runtime_test.go
Due: go-imports-repo, go-vet-repo-mod, golangci-lint-repo-mod

fix(retention): re-check the age on write, delete messages in bounded batches (review R5, R6)
  internal/adapter/http/handlers_test.go
  internal/adapter/postgres/store_audit_log.go
  internal/adapter/postgres/store_consent.go
  internal/adapter/postgres/store_retention.go
  internal/adapter/postgres/store_retention_test.go
  internal/middleware/teststore_test.go
  internal/port/database/store_conversation.go
  internal/service/project_test.go
  internal/service/retention.go
  internal/service/retention_test.go
  internal/service/runtime_test.go
Due: go-imports-repo, go-vet-repo-mod, golangci-lint-repo-mod

fix(privacy): state the retention periods the retention job applies
  frontend/src/features/legal/PrivacyPolicy.tsx
Due: eslint, prettier

fix(qualitygate): watchdog tells queued gates from lost ones, stop never aborts an end (S3 review 4, 11, 14)
  cmd/codeforge/main.go
  internal/adapter/http/handlers_test.go
  internal/adapter/nats/backlog_test.go
  internal/adapter/nats/nats.go
  internal/adapter/postgres/migrations/097_runs_quality_gate_stale_index.sql
  internal/adapter/postgres/store_run.go
  internal/adapter/postgres/store_run_stale_test.go
  internal/middleware/teststore_test.go
  internal/port/database/store_run.go
  internal/port/messagequeue/contract_test.go
  internal/port/messagequeue/schemas_run.go
  internal/port/messagequeue/testdata/contracts/runs_qualitygate_request.json
  internal/service/gdpr_test.go
  internal/service/project_test.go
  internal/service/runtime.go
  internal/service/runtime_deps.go
  internal/service/runtime_gate.go
  internal/service/runtime_gate_liveness_test.go
  internal/service/runtime_gate_watchdog_test.go
  internal/service/runtime_subscribers.go
  internal/service/runtime_test.go
  workers/codeforge/consumer/_quality_gate.py
  workers/codeforge/models.py
  workers/tests/test_qualitygate.py
Due: go-imports-repo, go-vet-repo-mod, golangci-lint-repo-mod, prettier

fix(git): harden every git invocation in agent-writable workspaces (KI-77)
  internal/adapter/github/provider.go
  internal/adapter/gitlocal/provider.go
  internal/adapter/gitlocal/provider_test.go
  internal/domain/policy/presets.go
  internal/domain/policy/presets_test.go
  internal/git/config_keys.go
  internal/git/workspace.go
  internal/git/workspace_test.go
  internal/service/checkpoint.go
  internal/service/checkpoint_hardening_test.go
  internal/service/deliver.go
  internal/service/git_worktree.go
  internal/service/project_git.go
  internal/service/project_workspace.go
  workers/codeforge/tools/_base.py
  workers/tests/test_workspace_path_resolution.py
Due: go-imports-repo, go-vet-repo-mod, golangci-lint-repo-mod

fix(checkpoint): the ref chain is the durable record of a run's start (S3 review 1, 2, 3, 8, 10, 13)
  internal/service/checkpoint.go
  internal/service/checkpoint_chain.go
  internal/service/checkpoint_delivery_test.go
  internal/service/checkpoint_durable_test.go
  internal/service/deliver.go
  internal/service/deliver_test.go
  internal/service/git_worktree.go
  internal/service/runtime_gate_delivery_test.go
  internal/service/runtime_lifecycle.go
Due: go-imports-repo, go-vet-repo-mod, golangci-lint-repo-mod

fix(qualitygate): only a failed check rolls back, gate outcome announced by the winner (S3 review 5, 7, 9)
  internal/service/runtime_gate.go
  internal/service/runtime_gate_delivery_test.go
  internal/service/runtime_gate_outcome_test.go
  internal/service/runtime_gate_watchdog_test.go
  internal/service/runtime_lifecycle.go
  workers/codeforge/qualitygate.py
  workers/tests/test_qualitygate.py
Due: go-imports-repo, go-vet-repo-mod, golangci-lint-repo-mod

test(delivery): a symlink at the patch path is replaced, not written through (S3 review 10)
  internal/service/checkpoint_durable_test.go
Due: go-imports-repo, go-vet-repo-mod, golangci-lint-repo-mod

fix(project): gate commands checked when set, defaults from the set-up test runner (S3 review 6, 12)
  internal/adapter/http/handlers_project_update_test.go
  internal/domain/project/gatecommand_validation_test.go
  internal/domain/project/gatecommands.go
  internal/domain/project/gatecommands_test.go
  internal/domain/project/shellwords.go
  internal/domain/project/validation.go
  internal/service/runtime_gate.go
Due: go-imports-repo, go-vet-repo-mod, golangci-lint-repo-mod

docs: KI-26 to KI-29 and KI-77 fixed (S3 quality gates, delivery, git hardening)
  CLAUDE.md
  docs/api/openapi.yaml
  docs/architecture.md
  docs/architecture/adr/015-policy-deny-lists-and-tool-names.md
  docs/architecture/adr/016-nats-delivery-semantics.md
  docs/dev-setup.md
  docs/features/04-agent-orchestration.md
  docs/known-issues-fix-plan.md
  docs/project-status.md
  docs/todo.md
Due: none

fix(policy): custom policy profiles are tenant-scoped (KI-68)
  cmd/codeforge/main.go
  internal/adapter/http/handlers_policy_crud.go
  internal/adapter/http/handlers_policy_test.go
  internal/service/conversation_deps.go
  internal/service/conversation_dispatch.go
  internal/service/policy.go
  internal/service/policy_allow_always_test.go
  internal/service/policy_concurrency_test.go
  internal/service/policy_dir_test.go
  internal/service/policy_tenant_test.go
  internal/service/policy_test.go
  internal/service/runtime.go
  internal/service/runtime_completion.go
  internal/service/runtime_deps.go
  internal/service/runtime_execution.go
  internal/service/runtime_gate.go
  internal/service/runtime_tenant_scope_test.go
Due: go-imports-repo, go-vet-repo-mod, golangci-lint-repo-mod

fix(llm): only platform admins change the shared LiteLLM model list (KI-75)
  internal/adapter/http/handlers_llm_platform_test.go
  internal/adapter/http/handlers_test.go
  internal/adapter/http/routes.go
  internal/middleware/platform_admin_test.go
  internal/middleware/rbac.go
Due: go-imports-repo, go-vet-repo-mod, golangci-lint-repo-mod

fix(worker): experience pool is opt-in, tenant-scoped and never replaces agent work (KI-16)
  workers/codeforge/agent_loop.py
  workers/codeforge/config.py
  workers/codeforge/consumer/__init__.py
  workers/codeforge/consumer/_conversation.py
  workers/codeforge/consumer/_conversation_experience.py
  workers/codeforge/memory/experience.py
  workers/tests/pg_schema.py
  workers/tests/test_agent_loop_edge_cases.py
  workers/tests/test_experience_tenancy.py
  workers/tests/test_memory_system.py
Due: none

fix(policy): runs use the project's profile; Slack/email approvals show profile and arguments (KI-69 b, c)
  internal/adapter/email/feedback.go
  internal/adapter/email/feedback_test.go
  internal/adapter/slack/feedback.go
  internal/adapter/slack/feedback_test.go
  internal/domain/feedback/feedback.go
  internal/service/runtime.go
  internal/service/runtime_approval.go
  internal/service/runtime_feedback_request_test.go
  internal/service/runtime_run_profile_test.go
Due: go-imports-repo, go-vet-repo-mod, golangci-lint-repo-mod

fix(policy): check Bash redirection targets against path_deny (KI-69 d)
  internal/domain/policy/command.go
  internal/domain/policy/command_redirect_test.go
  internal/domain/policy/evaluation.go
Due: go-imports-repo, go-vet-repo-mod, golangci-lint-repo-mod

fix(worker): create_skill saves drafts in the conversation's tenant (KI-58)
  workers/codeforge/consumer/_conversation.py
  workers/codeforge/consumer/_conversation_skill_integration.py
  workers/codeforge/tools/create_skill.py
  workers/tests/test_create_skill_tenant.py
Due: none

fix(worker): offer the LLM only the tools its agent mode may use (KI-69 a)
  workers/codeforge/consumer/_conversation.py
  workers/codeforge/executor.py
  workers/codeforge/policy_args.py
  workers/codeforge/tools/__init__.py
  workers/tests/test_mode_tool_lists.py
Due: none

docs: KI-16, KI-58, KI-68, KI-69, KI-75 fixed (S6 tenancy); KI-80
  CLAUDE.md
  docs/api/openapi.yaml
  docs/architecture/adr/015-policy-deny-lists-and-tool-names.md
  docs/dev-setup.md
  docs/known-issues-fix-plan.md
  docs/project-status.md
  docs/todo.md
Due: none

docs: KI-81 (auto-agent pytest in the Go Core) and KI-82 (git allowlist too strict)
  docs/known-issues-fix-plan.md
  docs/todo.md
Due: none

fix(approval): only the owning tenant can resolve or bypass tool-call approvals (KI-63)
  internal/adapter/http/handlers_agent_features.go
  internal/adapter/http/handlers_conversation.go
  internal/adapter/http/handlers_conversation_test.go
  internal/service/runtime_approval.go
  internal/service/runtime_approval_tenant_test.go
  internal/service/runtime_coverage_test.go
  internal/service/runtime_execution_extended_test.go
  internal/service/runtime_hitl_race_test.go
  internal/service/runtime_hitl_test.go
  internal/service/runtime_internal_test.go
  internal/service/runtime_run_state_test.go
Due: go-imports-repo, go-vet-repo-mod, golangci-lint-repo-mod

fix(orchestrator): plan steps keep their mode (KI-76)
  internal/adapter/postgres/store_plan.go
  internal/adapter/postgres/store_plan_step_test.go
  internal/service/orchestrator.go
  internal/service/orchestrator_debate_flow_test.go
Due: go-imports-repo, go-vet-repo-mod, golangci-lint-repo-mod

fix(runtime): a stop that cannot record the run's end uses the worker's completion (KI-76)
  internal/service/run_state.go
  internal/service/runtime_completion.go
  internal/service/runtime_lifecycle.go
  internal/service/runtime_stopping_test.go
Due: go-imports-repo, go-vet-repo-mod, golangci-lint-repo-mod

fix(worker): a task cancelled while it waits in NATS is not started later (KI-65)
  workers/codeforge/consumer/__init__.py
  workers/codeforge/consumer/_cancel_registry.py
  workers/codeforge/consumer/_delivery.py
  workers/codeforge/consumer/_tasks.py
  workers/codeforge/runtime.py
  workers/tests/consumer/test_cancel_registry.py
  workers/tests/consumer/test_task_cancel.py
  workers/tests/jetstream_fakes.py
Due: none

fix(worker): wait for the Go Core's stream, exit without waiting for indexing threads (KI-67)
  workers/codeforge/consumer/__init__.py
  workers/codeforge/consumer/__main__.py
  workers/tests/consumer/test_worker_lifecycle.py
Due: none

fix(autoagent): wait for a run from before its dispatch, stop a run it gives up on (KI-76)
  internal/adapter/http/handlers_conversation.go
  internal/service/autoagent.go
  internal/service/autoagent_wait_test.go
  internal/service/conversation_agent.go
  internal/service/conversation_completion_waiter_test.go
  internal/service/conversation_deps.go
Due: go-imports-repo, go-vet-repo-mod, golangci-lint-repo-mod

fix(worker): SIGTERM fails unfinished accepted work before NATS is drained (KI-65)
  docker-compose.prod.yml
  workers/codeforge/consumer/__init__.py
  workers/tests/consumer/test_delivery_handlers.py
Due: none

fix(orchestrator): the review router's LLM call runs outside the plan scheduling lock (KI-76)
  internal/service/orchestrator.go
  internal/service/orchestrator_consensus.go
  internal/service/orchestrator_debate_flow_test.go
Due: go-imports-repo, go-vet-repo-mod, golangci-lint-repo-mod

fix(worker): deduplicate at-least-once requests per message, not per project (KI-66)
  workers/codeforge/consumer/_base.py
  workers/codeforge/consumer/_delivery.py
  workers/codeforge/consumer/_handoff.py
  workers/tests/consumer/test_delivery.py
  workers/tests/consumer/test_delivery_handlers.py
Due: none

test(worker): backend task tests expect the task heartbeat (KI-65)
  workers/tests/test_consumer.py
  workers/tests/test_tenant_echo.py
Due: none

fix(runtime): end runs whose start was dead-lettered (KI-76)
  cmd/codeforge/main.go
  internal/service/conversation_deps.go
  internal/service/dead_lettered_start.go
  internal/service/dead_lettered_start_test.go
  internal/service/run_state.go
  internal/service/runtime.go
  internal/service/runtime_test.go
Due: go-imports-repo, go-vet-repo-mod, golangci-lint-repo-mod

fix(policy): resolve Bash redirection targets against the workspace (KI-69 d review)
  internal/domain/policy/command_redirect_test.go
  internal/domain/policy/evaluation.go
Due: go-imports-repo, go-vet-repo-mod, golangci-lint-repo-mod

fix(copilot): never return the platform's Copilot token to clients (KI-80)
  internal/adapter/http/handlers_copilot_test.go
  internal/adapter/http/handlers_llm.go
  internal/adapter/http/handlers_test.go
  internal/adapter/http/routes.go
Due: go-imports-repo, go-vet-repo-mod, golangci-lint-repo-mod

fix(auth): only platform admins connect or disconnect subscription providers (KI-75 follow-up)
  internal/adapter/http/handlers_subscription_platform_test.go
  internal/adapter/http/routes.go
Due: go-imports-repo, go-vet-repo-mod, golangci-lint-repo-mod

fix(nats): carry the tenant as a message header end to end; no silent default on outgoing payloads (KI-64)
  internal/adapter/nats/nats.go
  internal/adapter/nats/tenant_header_test.go
  internal/service/agent.go
  internal/service/benchmark_run.go
  internal/service/conversation.go
  internal/service/conversation_dispatch.go
  internal/service/graph.go
  internal/service/repomap.go
  internal/service/retrieval.go
  internal/service/runtime.go
  internal/service/runtime_gate.go
  internal/service/tenant_scope.go
  internal/service/tenant_scope_internal_test.go
  internal/tenantctx/message_tenant_test.go
  internal/tenantctx/tenantctx.go
  workers/codeforge/consumer/__init__.py
  workers/codeforge/nats_subjects.py
  workers/codeforge/tenant_context.py
  workers/codeforge/tracing/propagation.py
  workers/tests/test_tenant_header.py
Due: go-imports-repo, go-vet-repo-mod, golangci-lint-repo-mod

fix(evaluation): verifiers call the proxy through LiteLLMClient; failures are evaluation errors (KI-37)
  workers/codeforge/consumer/_benchmark.py
  workers/codeforge/evaluation/evaluators/base.py
  workers/codeforge/evaluation/evaluators/logprob_verifier.py
  workers/codeforge/evaluation/evaluators/trajectory_verifier.py
  workers/codeforge/evaluation/hybrid_pipeline.py
  workers/codeforge/evaluation/pipeline.py
  workers/codeforge/evaluation/providers/base.py
  workers/codeforge/llm.py
  workers/tests/test_logprob_verifier.py
  workers/tests/test_prompt_compressor.py
  workers/tests/test_trajectory_verifier.py
  workers/tests/test_verifiers_litellm_client.py
Due: none

fix(agent): capability allowlist names handoff_to; wire tool_output_max_chars, drop builtin_tools (KI-38)
  internal/config/agent_tools_test.go
  internal/config/config.go
  internal/port/messagequeue/contract_test.go
  internal/port/messagequeue/schemas_conversation.go
  internal/port/messagequeue/testdata/contracts/conversation_run_start.json
  internal/service/conversation.go
  internal/service/conversation_agent.go
  internal/service/conversation_dispatch.go
  internal/service/conversation_tool_output_test.go
  workers/codeforge/consumer/_conversation.py
  workers/codeforge/models.py
  workers/codeforge/tools/capability.py
  workers/tests/test_capability.py
  workers/tests/test_tool_config_drift.py
Due: go-imports-repo, go-vet-repo-mod, golangci-lint-repo-mod, prettier

fix(worker): compare mode tools canonically in the capability filter; plan phase stays read-only
  workers/codeforge/agent_loop.py
  workers/codeforge/loop_config.py
  workers/codeforge/policy_args.py
  workers/tests/test_mode_tools_capability.py
Due: none

feat(auth): expose is_platform_admin; show shared LLM actions only to platform admins (KI-75 follow-up)
  frontend/src/api/types.ts
  frontend/src/components/AuthProvider.tsx
  frontend/src/features/llm/ModelsPage.tsx
  frontend/src/features/llm/PlatformAdminActions.test.tsx
  frontend/src/features/onboarding/steps/ConfigureAIStep.tsx
  frontend/src/features/settings/SubscriptionsSection.tsx
  frontend/src/i18n/en.ts
  frontend/src/i18n/locales/de.ts
  internal/adapter/http/handlers_auth_test.go
  internal/domain/user/platform_admin_test.go
  internal/domain/user/user.go
  internal/middleware/rbac.go
Due: go-imports-repo, go-vet-repo-mod, golangci-lint-repo-mod, eslint, prettier

Path conditions:
  go-imports-repo: any of: \.go$
  go-vet-repo-mod: any of: \.go$
  golangci-lint-repo-mod: any of: \.go$
  eslint: any of: ^frontend/src/.*\.(ts|tsx|js|jsx)$
  prettier: any of: \.(ts|tsx|js|jsx|json|css|scss|html)$
