Repository Strob0t/CodeForge: changes, and which pre-commit hooks are due for each by the changed paths.
All: go-imports-repo, go-vet-repo-mod, golangci-lint-repo-mod, eslint, prettier

.pre-commit-config.yaml:

repos:
  # -- General ----------------------------------------------
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: end-of-file-fixer
      - id: trailing-whitespace
      - id: check-yaml
      - id: check-json
      - id: check-merge-conflict
      - id: detect-private-key

  # -- Python (Ruff) -----------------------------------------
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.15.1
    hooks:
      # 1) Sort imports
      - id: ruff-check
        name: ruff (sort imports)
        args: ["--select", "I", "--fix"]

      # 2) Lint/fix
      - id: ruff-check
        args: ["--fix", "--exit-non-zero-on-fix"]

      # 3) Format
      - id: ruff-format

  # -- Go -----------------------------------------------------
  - repo: https://github.com/TekWizely/pre-commit-golang
    rev: v1.0.0-rc.1
    hooks:
      # Format
      - id: go-fmt

  # Go hooks that need GOROOT set for Go 1.25 toolchain
  - repo: local
    hooks:
      - id: go-imports-repo
        name: go-imports-repo
        entry: bash -c 'export GOROOT=/go/pkg/mod/golang.org/toolchain@v0.0.1-go1.25.0.linux-amd64 && goimports -l -d $(find . -name "*.go" -not -path "./data/*" -not -path "./vendor/*")'
        language: system
        pass_filenames: false
        types: [go]

      - id: go-vet-repo-mod
        name: go-vet-repo-mod
        entry: bash -c 'export GOROOT=/go/pkg/mod/golang.org/toolchain@v0.0.1-go1.25.0.linux-amd64 && go vet ./...'
        language: system
        pass_filenames: false
        types: [go]

      - id: golangci-lint-repo-mod
        name: golangci-lint-repo-mod
        entry: bash -c 'export GOROOT=/go/pkg/mod/golang.org/toolchain@v0.0.1-go1.25.0.linux-amd64 && golangci-lint run ./...'
        language: system
        pass_filenames: false
        types: [go]

  # -- TypeScript / JavaScript (ESLint + Prettier) ------------
  - repo: local
    hooks:
      - id: eslint
        name: eslint
        entry: frontend/node_modules/.bin/eslint --config frontend/eslint.config.js --fix
        language: system
        files: ^frontend/src/.*\.(ts|tsx|js|jsx)$
        types: [file]

      - id: prettier
        name: prettier
        entry: frontend/node_modules/.bin/prettier --write --ignore-unknown
        language: system
        files: \.(ts|tsx|js|jsx|json|css|scss|html)$
        types: [file]

ci: add status badges, verification artifact, and required check gates
  .github/workflows/ci.yml
  README.md
  docs/dev-setup.md
  docs/plans/2026-03-09-feature-roadmap-todos.md
  docs/todo.md
Due: none

fix(F5): add healthcheck to Playwright MCP container and document session limitation
  docker-compose.yml
  docs/dev-setup.md
Due: none

feat(gitea): add Forgejo/Codeberg compatibility with provider aliases
  docs/todo.md
  frontend/src/api/types.ts
  frontend/src/features/settings/SettingsPage.tsx
  frontend/src/i18n/en.ts
  frontend/src/i18n/locales/de.ts
  internal/adapter/gitea/provider.go
  internal/adapter/gitea/provider_test.go
  internal/adapter/gitea/register.go
  internal/service/vcsaccount.go
Due: go-imports-repo, go-vet-repo-mod, golangci-lint-repo-mod, eslint, prettier

feat(domain): add OAuthState and OAuthToken types for GitHub OAuth flow
  internal/domain/vcsaccount/oauth.go
  internal/domain/vcsaccount/oauth_test.go
Due: go-imports-repo, go-vet-repo-mod, golangci-lint-repo-mod

docs: add auto-agent skills system design document
  docs/plans/2026-03-09-auto-agent-skills-design.md
  internal/adapter/http/handlers_test.go
  internal/adapter/postgres/migrations/066_oauth_state.sql
  internal/adapter/postgres/store_oauth_state.go
  internal/adapter/postgres/store_oauth_test.go
  internal/middleware/teststore_test.go
  internal/port/database/store.go
  internal/service/project_test.go
  internal/service/runtime_test.go
Due: go-imports-repo, go-vet-repo-mod, golangci-lint-repo-mod

docs: add auto-agent skills implementation plan and todo tasks
  docs/plans/2026-03-09-auto-agent-skills-plan.md
  docs/plans/2026-03-09-e2e-findings-fix.md
  docs/plans/2026-03-09-e2e-playwright-test-report.md
  docs/project-status.md
  docs/todo.md
  frontend/src/features/project/FilePanel.tsx
  frontend/src/features/project/featuremap/FeatureCardForm.tsx
  internal/service/project.go
  internal/service/project_workspace_test.go
  workers/codeforge/llm.py
  workers/codeforge/routing/rate_tracker.py
  workers/tests/test_routing_error_classification.py
  workers/tests/test_workspace_path_resolution.py
Due: go-imports-repo, go-vet-repo-mod, golangci-lint-repo-mod, eslint, prettier

fix(F1): add loading guard and autofocus to Create File modal
  frontend/src/features/project/FilePanel.tsx
Due: eslint, prettier

chore: add .worktrees/ to .gitignore
  .gitignore
  internal/service/github_oauth.go
  internal/service/github_oauth_test.go
Due: go-imports-repo, go-vet-repo-mod, golangci-lint-repo-mod

fix(F3): wire _AUTH_KEYWORDS, simplify classify_error_type, add tests
  workers/codeforge/llm.py
  workers/tests/test_routing_error_classification.py
Due: none

feat(db): add migration 067 to extend skills table for auto-agent skills
  internal/adapter/postgres/migrations/067_extend_skills.sql
Due: none

fix(skills): sync enabled→status in migration 067 data migration
  internal/adapter/postgres/migrations/067_extend_skills.sql
Due: none

feat(skills): extend Skill domain model with type, status, source, and content fields
  internal/adapter/http/handlers_agent_features_test.go
  internal/domain/skill/skill.go
  internal/domain/skill/skill_test.go
  internal/service/skill.go
Due: go-imports-repo, go-vet-repo-mod, golangci-lint-repo-mod

feat(http): add GitHub OAuth start and callback endpoints
  internal/adapter/http/handlers.go
  internal/adapter/http/handlers_github_oauth.go
  internal/adapter/http/handlers_github_oauth_test.go
  internal/adapter/http/routes.go
  internal/middleware/auth.go
Due: go-imports-repo, go-vet-repo-mod, golangci-lint-repo-mod

feat(skills): update SQL queries for extended skill columns and add new store methods
  internal/adapter/http/handlers_test.go
  internal/adapter/postgres/store_skill.go
  internal/middleware/teststore_test.go
  internal/port/database/store.go
  internal/service/project_test.go
  internal/service/runtime_test.go
Due: go-imports-repo, go-vet-repo-mod, golangci-lint-repo-mod

feat(skills): update service layer with defaults, ListActive, IncrementUsage
  internal/service/skill.go
Due: go-imports-repo, go-vet-repo-mod, golangci-lint-repo-mod

feat(http): add batch project endpoints (delete, pull, status)
  internal/adapter/http/handlers_batch.go
  internal/adapter/http/handlers_batch_test.go
  internal/adapter/http/routes.go
Due: go-imports-repo, go-vet-repo-mod, golangci-lint-repo-mod

feat(skills): add prompt injection, role hijack, exfiltration patterns to quarantine scorer
  workers/codeforge/skills/models.py
  workers/tests/test_skill_models.py
Due: none

feat(quarantine): add prompt injection, role hijack, exfiltration patterns to scorer
  internal/domain/quarantine/scorer.go
  internal/domain/quarantine/scorer_test.go
Due: go-imports-repo, go-vet-repo-mod, golangci-lint-repo-mod

feat(skills): add multi-format skill parsers (CodeForge/Claude/Cursor/Markdown)
  workers/codeforge/skills/__init__.py
  workers/codeforge/skills/parsers.py
  workers/codeforge/skills/selector.py
  workers/tests/test_skill_parsers.py
  workers/tests/test_skill_selector.py
Due: none

feat(skills): add LLM-based skill safety check for imports
  workers/codeforge/skills/safety.py
  workers/tests/test_skill_safety.py
Due: none

feat(skills): add search_skills agent tool with BM25 search
  workers/codeforge/tools/__init__.py
  workers/codeforge/tools/search_skills.py
  workers/tests/test_tool_registry.py
  workers/tests/test_tool_search_skills.py
Due: none

feat(http): add global cross-project search endpoint
  internal/adapter/http/handlers_search.go
  internal/adapter/http/handlers_search_test.go
  internal/adapter/http/routes.go
Due: go-imports-repo, go-vet-repo-mod, golangci-lint-repo-mod

feat(skills): add create_skill agent tool with draft workflow
  workers/codeforge/tools/create_skill.py
  workers/tests/test_tool_create_skill.py
Due: none

feat(F3+F1): retry-with-fallback, routing default on, file upload
  frontend/src/features/project/ChatPanel.tsx
  frontend/src/features/project/FilePanel.tsx
  frontend/src/i18n/en.ts
  frontend/src/i18n/locales/de.ts
  workers/codeforge/agent_loop.py
  workers/codeforge/llm.py
  workers/codeforge/routing/rate_tracker.py
  workers/tests/test_routing_error_classification.py
  workers/tests/test_routing_integration.py
Due: eslint, prettier

feat(skills): add POST /api/v1/skills/import with URL fetch and safety check
  internal/adapter/http/handlers_skill_import.go
  internal/adapter/http/routes.go
Due: go-imports-repo, go-vet-repo-mod, golangci-lint-repo-mod

feat(skills): replace BM25-only injection with LLM selection + sandboxed skill tags
  workers/codeforge/consumer/_conversation.py
Due: none

feat(trajectory): add tool-level event recording to agent loop
  workers/codeforge/agent_loop.py
  workers/codeforge/consumer/_subjects.py
  workers/codeforge/runtime.py
  workers/tests/test_agent_loop.py
  workers/tests/test_agent_loop_events.py
Due: none

feat(skills): add WebSocket notification for agent-created skill drafts
  internal/adapter/ws/events.go
Due: go-imports-repo, go-vet-repo-mod, golangci-lint-repo-mod

feat(trajectory): add tool-level event recording to agent loop
  internal/port/messagequeue/queue.go
  workers/codeforge/agent_loop.py
  workers/tests/test_agent_loop_events.py
Due: go-imports-repo, go-vet-repo-mod, golangci-lint-repo-mod

docs: update todo, feature docs, and skill exports for auto-agent skills system
  docs/features/04-agent-orchestration.md
  docs/todo.md
  workers/codeforge/skills/__init__.py
  workers/codeforge/skills/builtins/__init__.py
  workers/codeforge/skills/builtins/codeforge-skill-creator.yaml
  workers/codeforge/skills/registry.py
  workers/tests/test_builtin_skills.py
Due: none

fix(skills): address code review findings — tenant isolation, tool wiring, auth
  internal/adapter/http/handlers_skill_import.go
  internal/adapter/http/handlers_skill_import_test.go
  internal/adapter/http/routes.go
  workers/codeforge/consumer/_conversation.py
  workers/codeforge/skills/registry.py
Due: go-imports-repo, go-vet-repo-mod, golangci-lint-repo-mod

feat: batch store methods, trajectory NATS ingestion, streaming subprocess
  internal/adapter/http/handlers_test.go
  internal/adapter/postgres/store_batch.go
  internal/adapter/ws/events.go
  internal/middleware/teststore_test.go
  internal/port/database/store.go
  internal/service/project_test.go
  internal/service/runtime.go
  internal/service/runtime_test.go
  workers/codeforge/backends/_streaming.py
  workers/tests/test_backends_streaming.py
Due: go-imports-repo, go-vet-repo-mod, golangci-lint-repo-mod

fix(tests): update expected counts after auto-agent-skills merge
  internal/service/runtime_test.go
  workers/tests/test_tools.py
Due: go-imports-repo, go-vet-repo-mod, golangci-lint-repo-mod

docs(benchmark): add design for external providers, auto-routing & prompt optimization
  docs/plans/2026-03-09-benchmark-external-providers-design.md
Due: none

feat(benchmark): add routing tracking columns to benchmark_results (migration 068)
  internal/adapter/postgres/migrations/068_benchmark_routing_fields.sql
Due: none

feat(benchmark): add routing fields to Result and ProviderConfig to CreateRunRequest
  internal/domain/benchmark/benchmark.go
Due: go-imports-repo, go-vet-repo-mod, golangci-lint-repo-mod

feat(benchmark): universal task filter function with tests
  workers/codeforge/evaluation/task_filter.py
  workers/tests/evaluation/__init__.py
  workers/tests/evaluation/test_task_filter.py
Due: none

feat(benchmark): add config parameter to all 8 external provider constructors
  internal/adapter/postgres/store_benchmark.go
  workers/codeforge/evaluation/providers/aider_polyglot.py
  workers/codeforge/evaluation/providers/bigcodebench.py
  workers/codeforge/evaluation/providers/cruxeval.py
  workers/codeforge/evaluation/providers/humaneval.py
  workers/codeforge/evaluation/providers/livecodebench.py
  workers/codeforge/evaluation/providers/mbpp.py
  workers/codeforge/evaluation/providers/sparcbench.py
  workers/codeforge/evaluation/providers/swebench.py
Due: go-imports-repo, go-vet-repo-mod, golangci-lint-repo-mod

feat(benchmark): auto-register all external providers on import
  workers/codeforge/evaluation/providers/__init__.py
Due: none

feat(benchmark): add provider_name/config and routing fields to NATS payloads
  internal/port/messagequeue/schemas.go
Due: go-imports-repo, go-vet-repo-mod, golangci-lint-repo-mod
