Repository Strob0t/CodeForge: changes, and which pre-commit hooks are due for each by the changed paths.
All: go-imports-repo, go-vet-repo-mod, golangci-lint-repo-mod, eslint, prettier

go-imports-repo:
  name: go-imports-repo
  entry: bash -c 'export GOROOT=/go/pkg/mod/golang.org/toolchain@v0.0.1-go1.25.0.linux-amd64 && goimports -l -d $(find . -name "*.go" -not -path "./data/*" -not -path "./vendor/*")'
  language: system
  pass_filenames: false

go-vet-repo-mod:
  name: go-vet-repo-mod
  entry: bash -c 'export GOROOT=/go/pkg/mod/golang.org/toolchain@v0.0.1-go1.25.0.linux-amd64 && go vet ./...'
  language: system
  pass_filenames: false

golangci-lint-repo-mod:
  name: golangci-lint-repo-mod
  entry: bash -c 'export GOROOT=/go/pkg/mod/golang.org/toolchain@v0.0.1-go1.25.0.linux-amd64 && golangci-lint run ./...'
  language: system
  pass_filenames: false

eslint:
  name: eslint
  entry: frontend/node_modules/.bin/eslint --config frontend/eslint.config.js --fix
  language: system

prettier:
  name: prettier
  entry: frontend/node_modules/.bin/prettier --write --ignore-unknown
  language: system

docs: S8-B failed command output and shell assignments (KI-126, KI-128)
  docs/SECURITY.md
  docs/architecture/adr/015-policy-deny-lists-and-tool-names.md
  docs/todo.md
Due: none

fix(config): bound agent.tool_output_max_chars, clamp it in the worker (KI-126 review)
  internal/config/agent_tools_test.go
  internal/config/config.go
  internal/config/loader.go
  workers/codeforge/_validators.py
  workers/codeforge/constants.py
  workers/codeforge/models.py
  workers/tests/test_tool_output_max_chars_loop.py
Due: go-imports-repo, go-vet-repo-mod, golangci-lint-repo-mod

fix(policy): fail closed for xargs into wrappers, allow list of variables, assignments before make (KI-128 review)
  internal/domain/policy/command_classify.go
  internal/domain/policy/command_env.go
  internal/domain/policy/command_env_test.go
  internal/domain/policy/command_redirect_test.go
  internal/domain/policy/command_test.go
  internal/service/policy_bypass_test.go
  internal/service/policy_concurrency_test.go
Due: go-imports-repo, go-vet-repo-mod, golangci-lint-repo-mod

fix(worker): truncate_tool_result keeps exactly max_chars characters (KI-126 review)
  workers/codeforge/history.py
  workers/tests/test_history.py
Due: none

docs: S8-B review fixes (allow list of variables, xargs, output bound)
  docs/SECURITY.md
  docs/architecture/adr/015-policy-deny-lists-and-tool-names.md
  docs/dev-setup.md
  docs/todo.md
Due: none

fix(conversation): dispatch without a model when the Core knows none, the worker resolves it (KI-125 review)
  internal/service/conversation.go
  internal/service/conversation_dispatch.go
  internal/service/conversation_test.go
  workers/codeforge/consumer/_conversation.py
  workers/codeforge/model_resolver.py
  workers/tests/consumer/test_delivery_handlers.py
  workers/tests/consumer/test_start_cancel.py
  workers/tests/test_conversation_model_resolution.py
  workers/tests/test_mode_tool_lists.py
  workers/tests/test_tool_config_drift.py
Due: go-imports-repo, go-vet-repo-mod, golangci-lint-repo-mod

fix(retrieval): fall back to BM25-only only when the embedding model is unusable (KI-130 review)
  internal/domain/event/broadcast_payloads.go
  internal/port/messagequeue/contract_test.go
  internal/port/messagequeue/schemas_context.go
  internal/port/messagequeue/testdata/contracts/retrieval_index_result.json
  internal/service/retrieval.go
  internal/service/retrieval_test.go
  workers/codeforge/consumer/_retrieval.py
  workers/codeforge/models.py
  workers/codeforge/retrieval.py
  workers/tests/test_consumer_retrieval.py
  workers/tests/test_retrieval_bm25_fallback.py
Due: go-imports-repo, go-vet-repo-mod, golangci-lint-repo-mod, prettier

fix(llm): list the models of providers with a key, share the key rule with the worker (KI-125 review)
  .env.example
  cmd/codeforge/main.go
  codeforge.example.yaml
  docker-compose.prod.yml
  internal/adapter/http/handlers_copilot_test.go
  internal/adapter/litellm/client.go
  internal/adapter/litellm/wildcard_test.go
  internal/config/config.go
  internal/config/keyed_providers_test.go
  internal/config/loader.go
  internal/port/llm/provider_keys.go
  internal/port/llm/provider_keys_test.go
  internal/service/routing.go
  internal/service/routing_test.go
  litellm/config.yaml
  workers/codeforge/config.py
  workers/codeforge/provider_keys.py
  workers/codeforge/routing/key_filter.py
  workers/tests/test_provider_keys.py
Due: go-imports-repo, go-vet-repo-mod, golangci-lint-repo-mod

fix(worker): refuse a litellm.model_capabilities that is not a mapping (KI-125 review)
  workers/codeforge/config.py
  workers/tests/test_model_capability.py
Due: none

docs: S8-A review fixes (keyed providers, BM25 fallback, capabilities)
  docs/architecture.md
  docs/dev-setup.md
  docs/features/03-multi-llm-provider.md
  docs/todo.md
Due: none

fix(svn): pass the password on stdin, never in argv (KI-87)
  internal/adapter/svn/hardening_test.go
  internal/adapter/svn/password_test.go
  internal/adapter/svn/provider.go
  internal/adapter/svn/provider_test.go
Due: go-imports-repo, go-vet-repo-mod, golangci-lint-repo-mod

fix(review): read the refactoring's changed paths unquoted (KI-94)
  internal/service/review_workspace.go
  internal/service/review_workspace_test.go
Due: go-imports-repo, go-vet-repo-mod, golangci-lint-repo-mod

fix(orchestrator): tell a re-planned run why the earlier one stalled (KI-94)
  internal/domain/run/run.go
  internal/service/orchestrator_consensus.go
  internal/service/orchestrator_stall_replan_test.go
  internal/service/runtime.go
Due: go-imports-repo, go-vet-repo-mod, golangci-lint-repo-mod

fix(orchestrator): a plan does not start with an agent of a running plan (KI-94)
  internal/service/orchestrator.go
  internal/service/orchestrator_agent_reservation_test.go
  internal/service/orchestrator_debate_flow_test.go
Due: go-imports-repo, go-vet-repo-mod, golangci-lint-repo-mod

fix(core): relay results and decisions to the waiting replica (KI-86)
  configs/nats/nats-server.conf
  internal/adapter/nats/relay.go
  internal/adapter/nats/relay_test.go
  internal/port/messagequeue/relay.go
  internal/service/autoagent.go
  internal/service/autoagent_workspace_test_test.go
  internal/service/backend_health.go
  internal/service/context_rerank.go
  internal/service/conversation_agent.go
  internal/service/graph.go
  internal/service/memory.go
  internal/service/relay_waiters_test.go
  internal/service/retrieval.go
  internal/service/runtime_approval.go
  internal/service/syncwaiter.go
Due: go-imports-repo, go-vet-repo-mod, golangci-lint-repo-mod

fix(orchestrator): cancelling a plan cancels its debates (KI-94)
  internal/service/orchestrator.go
  internal/service/orchestrator_consensus.go
  internal/service/orchestrator_debate_flow_test.go
Due: go-imports-repo, go-vet-repo-mod, golangci-lint-repo-mod

fix(orchestrator): count stall re-plans per plan step (KI-94)
  internal/adapter/http/handlers_test.go
  internal/adapter/postgres/migrations/130_plan_step_stall_replans.sql
  internal/adapter/postgres/store_plan.go
  internal/adapter/postgres/store_plan_step_test.go
  internal/middleware/teststore_test.go
  internal/port/database/store_plan.go
  internal/service/orchestrator_consensus.go
  internal/service/orchestrator_stall_replan_test.go
  internal/service/orchestrator_test.go
  internal/service/project_test.go
  internal/service/runtime_test.go
Due: go-imports-repo, go-vet-repo-mod, golangci-lint-repo-mod

docs: S7-F (KI-86 relay, KI-87 svn password, KI-94); migration 130 -> 122
  docs/SECURITY.md
  docs/architecture/adr/016-nats-delivery-semantics.md
  docs/dev-setup.md
  docs/features/01-project-dashboard.md
  docs/features/04-agent-orchestration.md
  docs/plans/ki25-subagents-plan.md
  docs/plans/ki88-opaque-submodules-plan.md
  docs/todo.md
  internal/adapter/postgres/migrations/122_plan_step_stall_replans.sql
Due: none

fix(core): act only on relay requests that reply to a Go Core inbox (KI-86 review)
  configs/nats/nats-server.conf
  internal/adapter/nats/auth_test.go
  internal/adapter/nats/relay.go
Due: go-imports-repo, go-vet-repo-mod, golangci-lint-repo-mod

fix(http): retrieval and graph routes load the project in the request's tenant
  internal/adapter/http/handlers_retrieval.go
  internal/adapter/http/handlers_retrieval_tenant_test.go
  internal/adapter/http/handlers_search.go
  internal/service/retrieval.go
  internal/service/retrieval_test.go
Due: go-imports-repo, go-vet-repo-mod, golangci-lint-repo-mod

fix(worker): never send a user's own provider key to another provider on fallback
  workers/codeforge/agent_loop.py
  workers/codeforge/consumer/_conversation.py
  workers/codeforge/provider_keys.py
  workers/tests/test_provider_key_fallback.py
Due: none

fix(policy): no allow rule matches a command that sets PYTHONPATH or NODE_PATH (KI-128 review)
  internal/domain/policy/command.go
  internal/domain/policy/command_classify.go
  internal/domain/policy/command_env.go
  internal/domain/policy/command_env_test.go
  internal/domain/policy/evaluation.go
  internal/service/policy.go
  internal/service/policy_concurrency_test.go
Due: go-imports-repo, go-vet-repo-mod, golangci-lint-repo-mod

fix(orchestrator): a re-plan race between replicas no longer fails the step (KI-94 review)
  internal/adapter/http/handlers_test.go
  internal/adapter/postgres/store_plan.go
  internal/adapter/postgres/store_plan_step_test.go
  internal/domain/plan/plan.go
  internal/middleware/teststore_test.go
  internal/port/database/store_plan.go
  internal/service/orchestrator_consensus.go
  internal/service/orchestrator_replan_race_test.go
  internal/service/orchestrator_test.go
  internal/service/project_test.go
  internal/service/runtime_test.go
Due: go-imports-repo, go-vet-repo-mod, golangci-lint-repo-mod

fix(policy): parse make's options like getopt, fail closed on unknown ones (S7-F review)
  internal/domain/policy/command_args.go
  internal/domain/policy/command_test.go
Due: go-imports-repo, go-vet-repo-mod, golangci-lint-repo-mod

fix(core): relay the worker's message as it came, never HTML-escaped (KI-86 review)
  internal/service/autoagent.go
  internal/service/backend_health.go
  internal/service/context_rerank.go
  internal/service/graph.go
  internal/service/memory.go
  internal/service/relay_waiters_test.go
  internal/service/retrieval.go
  internal/service/syncwaiter.go
Due: go-imports-repo, go-vet-repo-mod, golangci-lint-repo-mod

fix(policy): make behind pipenv run fails closed like make with assignments
  internal/domain/policy/command_classify.go
  internal/domain/policy/command_test.go
Due: go-imports-repo, go-vet-repo-mod, golangci-lint-repo-mod

fix(store): a retrieval scope holds and changes only its own tenant's projects
  internal/adapter/postgres/store_scope.go
  internal/adapter/postgres/store_scope_tenant_test.go
Due: go-imports-repo, go-vet-repo-mod, golangci-lint-repo-mod

fix(orchestrator): plan names starting with "debate:" are reserved (KI-94 review)
  internal/adapter/http/handlers_orchestration_test.go
  internal/service/orchestrator.go
  internal/service/orchestrator_consensus.go
  internal/service/orchestrator_debate_flow_test.go
Due: go-imports-repo, go-vet-repo-mod, golangci-lint-repo-mod

fix(policy): check the command that poetry/uv/pipenv/pdm run and bundle exec run (S7-F review)
  internal/domain/policy/command.go
  internal/domain/policy/command_classify.go
  internal/domain/policy/command_test.go
  internal/service/policy_concurrency_test.go
Due: go-imports-repo, go-vet-repo-mod, golangci-lint-repo-mod

docs: S7-F/S8 review fixes (relay inbox check, make getopt, module paths)
  docs/SECURITY.md
  docs/architecture/adr/015-policy-deny-lists-and-tool-names.md
  docs/architecture/adr/016-nats-delivery-semantics.md
  docs/features/03-multi-llm-provider.md
  docs/features/04-agent-orchestration.md
  docs/todo.md
Due: none

fix(quarantine): expire held messages past their deadline (KI-91)
  cmd/codeforge/main.go
  internal/adapter/http/handlers_test.go
  internal/adapter/postgres/store_quarantine.go
  internal/adapter/postgres/store_quarantine_expiry_test.go
  internal/domain/event/broadcast_payloads.go
  internal/middleware/teststore_test.go
  internal/port/database/store_quarantine.go
  internal/service/project_test.go
  internal/service/quarantine.go
  internal/service/quarantine_expiry_test.go
  internal/service/runtime_test.go
Due: go-imports-repo, go-vet-repo-mod, golangci-lint-repo-mod

fix(retention): purge done handoff claims and expired webhook delivery claims (KI-90)
  cmd/codeforge/main.go
  codeforge.example.yaml
  internal/adapter/postgres/migrations/123_retention_claim_indexes.sql
  internal/adapter/postgres/store_retention.go
  internal/adapter/postgres/store_retention_claims_test.go
  internal/config/config.go
  internal/config/loader.go
  internal/config/retention_test.go
  internal/port/database/store_retention.go
  internal/service/retention.go
  internal/service/retention_test.go
Due: go-imports-repo, go-vet-repo-mod, golangci-lint-repo-mod

fix(channels): post and create channels as a caller without an account (KI-89)
  internal/adapter/http/handlers_channel.go
  internal/adapter/http/handlers_channel_test.go
  internal/adapter/postgres/store_channel.go
  internal/adapter/postgres/store_channel_accountless_test.go
  internal/domain/channel/channel.go
Due: go-imports-repo, go-vet-repo-mod, golangci-lint-repo-mod

test(channels): channelRequest always builds a POST request
  internal/adapter/http/handlers_channel_test.go
Due: go-imports-repo, go-vet-repo-mod, golangci-lint-repo-mod

docs: S7-E (KI-89 channels, KI-90 claim retention, KI-91 quarantine expiry)
  docs/architecture/adr/011-trust-quarantine-system.md
  docs/data-retention.md
  docs/dev-setup.md
  docs/todo.md
Due: none

fix(quarantine): approving or rejecting a resolved message answers 409 (KI-91 review)
  internal/adapter/http/handlers_quarantine_review_test.go
  internal/service/quarantine.go
Due: go-imports-repo, go-vet-repo-mod, golangci-lint-repo-mod

fix(retention): handoff claims are kept at least the queue's message max age (KI-90 review)
  codeforge.example.yaml
  internal/adapter/nats/nats.go
  internal/adapter/nats/stream_config_test.go
  internal/config/config.go
  internal/config/loader.go
  internal/config/retention_test.go
  internal/port/messagequeue/queue.go
Due: go-imports-repo, go-vet-repo-mod, golangci-lint-repo-mod

fix(quarantine): bound expiry_hours and close the A2A record gap (KI-91 review)
  internal/adapter/postgres/store_quarantine.go
  internal/adapter/postgres/store_quarantine_expiry_test.go
  internal/config/config.go
  internal/config/loader.go
  internal/config/quarantine_test.go
  internal/port/database/store_quarantine.go
  internal/service/quarantine.go
  internal/service/quarantine_expiry_test.go
Due: go-imports-repo, go-vet-repo-mod, golangci-lint-repo-mod

fix(migrations): build the claim retention indexes concurrently (KI-90 review)
  internal/adapter/postgres/migrations/123_retention_claim_indexes.sql
  internal/adapter/postgres/store_retention_claims_test.go
Due: go-imports-repo, go-vet-repo-mod, golangci-lint-repo-mod

fix(gdpr): a user whose account is gone cannot post, create channels or review (KI-89 review)
  internal/adapter/http/helpers.go
  internal/adapter/postgres/helpers.go
  internal/adapter/postgres/store_channel.go
  internal/adapter/postgres/store_channel_accountless_test.go
  internal/adapter/postgres/store_quarantine.go
  internal/adapter/postgres/store_quarantine_review_test.go
  internal/domain/user/user.go
  internal/domain/user/user_test.go
  internal/middleware/auth.go
Due: go-imports-repo, go-vet-repo-mod, golangci-lint-repo-mod

Path conditions:
  go-imports-repo: any of: \.go$
  go-vet-repo-mod: any of: \.go$
  golangci-lint-repo-mod: any of: \.go$
  eslint: any of: ^frontend/src/.*\.(ts|tsx|js|jsx)$
  prettier: any of: \.(ts|tsx|js|jsx|json|css|scss|html)$
