Repository Strob0t/CodeForge: changes, and which pre-commit hooks are due for each by the changed paths.
All: go-imports-repo, go-vet-repo-mod, golangci-lint-repo-mod, eslint, prettier

go-imports-repo:
  name: go-imports-repo
  entry: bash -c 'export GOROOT=/go/pkg/mod/golang.org/toolchain@v0.0.1-go1.25.0.linux-amd64 && goimports -l -d $(find . -name "*.go" -not -path "./data/*" -not -path "./vendor/*")'
  language: system
  pass_filenames: false

go-vet-repo-mod:
  name: go-vet-repo-mod
  entry: bash -c 'export GOROOT=/go/pkg/mod/golang.org/toolchain@v0.0.1-go1.25.0.linux-amd64 && go vet ./...'
  language: system
  pass_filenames: false

golangci-lint-repo-mod:
  name: golangci-lint-repo-mod
  entry: bash -c 'export GOROOT=/go/pkg/mod/golang.org/toolchain@v0.0.1-go1.25.0.linux-amd64 && golangci-lint run ./...'
  language: system
  pass_filenames: false

eslint:
  name: eslint
  entry: frontend/node_modules/.bin/eslint --config frontend/eslint.config.js --fix
  language: system

prettier:
  name: prettier
  entry: frontend/node_modules/.bin/prettier --write --ignore-unknown
  language: system

fix(deploy): WAL archiving off by default in production (KI-210)
  docker-compose.prod.yml
  scripts/cleanup-wal-archives.sh
  workers/tests/test_operations.py
Due: none

fix(ops): drop the alert rules on metrics nothing exports (KI-214)
  configs/prometheus/alerts.yml
  workers/tests/test_build_hygiene.py
Due: none

fix(core): long git operations and the A2A stream outlive the 30 s API timeout (KI-213)
  cmd/codeforge/main.go
  codeforge.example.yaml
  frontend/nginx.conf
  internal/adapter/http/middleware.go
  internal/adapter/http/middleware_test.go
  internal/adapter/http/route_timeouts.go
  internal/adapter/http/route_timeouts_test.go
  internal/config/config.go
  internal/config/loader.go
  internal/config/server_test.go
  internal/middleware/route_timeout.go
  internal/middleware/route_timeout_test.go
  internal/service/project_clone_cleanup_test.go
  internal/service/project_workspace.go
  workers/tests/test_deployment_isolation.py
Due: go-imports-repo, go-vet-repo-mod, golangci-lint-repo-mod

fix(llm,nats): completion timeout, breakers trip on outages only, cheap health check (KI-213)
  cmd/codeforge/main.go
  codeforge.example.yaml
  internal/adapter/litellm/client.go
  internal/adapter/litellm/client_test.go
  internal/adapter/litellm/resilience_test.go
  internal/adapter/nats/nats.go
  internal/adapter/nats/publish_error_test.go
  internal/config/config.go
  internal/config/loader.go
  internal/config/server_test.go
  internal/resilience/breaker.go
  internal/resilience/neutral_test.go
Due: go-imports-repo, go-vet-repo-mod, golangci-lint-repo-mod

fix(nats): Core and worker reconnect until they stop (KI-213)
  internal/adapter/nats/auth_test.go
  internal/adapter/nats/nats.go
  internal/adapter/nats/nats_reconnect_test.go
  internal/adapter/nats/nats_test.go
  workers/codeforge/consumer/__init__.py
  workers/tests/consumer/test_worker_lifecycle.py
Due: go-imports-repo, go-vet-repo-mod, golangci-lint-repo-mod

fix(ci): checks that can fail, pinned actions and the production NATS (KI-214)
  .github/workflows/ci.yml
  .pre-commit-config.yaml
  scripts/verify-features.sh
  workers/tests/test_build_hygiene.py
Due: none

fix(build): .dockerignore patterns apply in every directory (KI-214)
  .dockerignore
  workers/tests/test_build_hygiene.py
Due: none

fix(deploy): core shutdown time, no host IPC for the dev browser, one LiteLLM release (KI-214)
  docker-compose.prod.yml
  docker-compose.yml
  scripts/live-e2e/env.example.sh
  workers/tests/test_build_hygiene.py
Due: none

fix(scripts): run-agent-eval.sh sends valid JSON (KI-214)
  scripts/run-agent-eval.sh
  workers/tests/test_build_hygiene.py
Due: none

fix(deploy): nginx proxies A2A and the agent card to the Core (KI-213)
  frontend/nginx.conf
  workers/tests/test_deployment_isolation.py
Due: none

test(nats): restore TestSanitizeConsumerName (KI-213)
  internal/adapter/nats/nats_reconnect_test.go
Due: go-imports-repo, go-vet-repo-mod, golangci-lint-repo-mod

fix(llm,nats): the caller's deadline never opens a breaker (KI-213)
  internal/adapter/litellm/client.go
  internal/adapter/litellm/resilience_test.go
  internal/adapter/nats/nats.go
  internal/resilience/breaker.go
  internal/resilience/neutral_test.go
Due: go-imports-repo, go-vet-repo-mod, golangci-lint-repo-mod

refactor(routing): read the synced model through one pointer (KI-210)
  internal/service/routing.go
Due: go-imports-repo, go-vet-repo-mod, golangci-lint-repo-mod

fix(deploy): Traefik routes from files and has no Docker access (KI-214)
  .gitignore
  docker-compose.blue-green.yml
  scripts/deploy-blue-green.sh
  workers/tests/test_deployment_isolation.py
Due: none

fix(deploy): Traefik reads Docker through a read-only socket proxy (KI-214)
  docker-compose.blue-green.yml
  scripts/deploy-blue-green.sh
  workers/tests/test_deployment_isolation.py
Due: none

fix(deploy): the public network's default subnet lies outside Docker's pools (KI-211)
  docker-compose.prod.yml
  workers/tests/test_deployment_isolation.py
Due: none

fix(core): concurrent clones of one project never remove each other's workspace (KI-213)
  internal/service/project.go
  internal/service/project_clone_cleanup_test.go
  internal/service/project_workspace.go
Due: go-imports-repo, go-vet-repo-mod, golangci-lint-repo-mod

fix(scripts): restore reads the whole backup before dropping the database (KI-212)
  scripts/restore-postgres.sh
  workers/tests/test_operations.py
Due: none

fix(dev): pinned goimports and checksum-verified golangci-lint (KI-214)
  .claude/hooks/session-start.sh
  .devcontainer/setup.sh
  workers/tests/test_build_hygiene.py
Due: none

docs: S10-I operations fixes (config keys, 0.9.0 upgrade notes, DR runbook)
  docs/dev-setup.md
  docs/disaster-recovery.md
  docs/todo.md
Due: none

fix(ci): pin actions/attest-build-provenance to its v2.4.0 commit (KI-214)
  .github/workflows/docker-build.yml
  docs/todo.md
Due: none

fix(git): never block the Go Core on agent-writable workspace state (KI-187)
  cmd/codeforge/main.go
  codeforge.example.yaml
  internal/config/config.go
  internal/config/git_timeouts_test.go
  internal/config/loader.go
  internal/git/config_keys.go
  internal/git/config_keys_test.go
  internal/git/deadline.go
  internal/git/deadline_test.go
  internal/git/export_test.go
  internal/git/nested.go
  internal/git/procgroup_other.go
  internal/git/procgroup_unix.go
  internal/git/resource_overrides_test.go
  internal/git/special.go
  internal/git/special_files_test.go
  internal/git/workspace.go
Due: go-imports-repo, go-vet-repo-mod, golangci-lint-repo-mod

fix(delivery): push to the project's repository and report failed pushes (KI-188)
  internal/domain/event/broadcast_payloads.go
  internal/domain/event/event.go
  internal/git/push_submodule_test.go
  internal/git/push_target_test.go
  internal/git/remote.go
  internal/git/workspace.go
  internal/service/deliver.go
  internal/service/deliver_pr_test.go
  internal/service/deliver_push_test.go
  internal/service/export_test.go
  internal/service/runtime_delivery_status_test.go
  internal/service/runtime_lifecycle.go
Due: go-imports-repo, go-vet-repo-mod, golangci-lint-repo-mod

fix(git): only branch names reach git checkout (KI-189)
  internal/adapter/github/checkout_test.go
  internal/adapter/github/provider.go
  internal/adapter/gitlocal/checkout_branch_test.go
  internal/adapter/gitlocal/provider.go
Due: go-imports-repo, go-vet-repo-mod, golangci-lint-repo-mod

refactor(delivery): keep the push URL hook out of the constructor (KI-188)
  internal/service/deliver.go
Due: go-imports-repo, go-vet-repo-mod, golangci-lint-repo-mod

fix(project): validate repository URLs per provider (KI-189)
  internal/domain/project/gatecommand_validation_test.go
  internal/domain/project/repo_url_provider_test.go
  internal/domain/project/validation.go
  internal/domain/project/validation_test.go
  internal/service/project.go
  internal/service/project_adopt_roots_test.go
  internal/service/project_workspace.go
Due: go-imports-repo, go-vet-repo-mod, golangci-lint-repo-mod

fix(git): push the delivery branch from a private repository
  internal/git/config_keys.go
  internal/git/push_private_test.go
  internal/git/remote.go
Due: go-imports-repo, go-vet-repo-mod, golangci-lint-repo-mod

fix(git): keep a git pool slot for other tenants
  internal/git/pool.go
  internal/git/pool_test.go
Due: go-imports-repo, go-vet-repo-mod, golangci-lint-repo-mod

fix(svn): make allow_file_urls an operator setting (KI-189)
  cmd/codeforge/main.go
  codeforge.example.yaml
  internal/adapter/svn/allow_file_urls_test.go
  internal/adapter/svn/provider.go
  internal/adapter/svn/register.go
  internal/config/config.go
  internal/config/loader.go
  internal/config/svn_test.go
Due: go-imports-repo, go-vet-repo-mod, golangci-lint-repo-mod

fix(workspace): a re-clone removes the replaced workspace through the worker (KI-189)
  internal/adapter/gitlocal/provider.go
  internal/adapter/gitlocal/reclone_remove_test.go
  internal/adapter/postgres/store_workspace_deletion.go
  internal/adapter/svn/provider.go
  internal/adapter/svn/reclone_remove_test.go
  internal/port/database/store_workspace_deletion.go
  internal/port/gitprovider/provider.go
  internal/service/project.go
  internal/service/project_delete_test.go
  internal/service/project_workspace.go
  internal/service/workspace_deletion.go
  internal/service/workspace_deletion_test.go
  internal/service/workspace_discard_test.go
  tests/integration/workspace_deletion_test.go
Due: go-imports-repo, go-vet-repo-mod, golangci-lint-repo-mod

fix(git): pre-scan ignore files and bound OpenRepo's checks
  internal/git/deadline.go
  internal/git/deadline_test.go
  internal/git/export_test.go
  internal/git/prescan_test.go
  internal/git/special.go
  internal/git/workspace.go
Due: go-imports-repo, go-vet-repo-mod, golangci-lint-repo-mod

fix(workspace): a re-clone discards only what is no checkout
  internal/adapter/gitlocal/provider.go
  internal/adapter/gitlocal/reclone_remove_test.go
  internal/adapter/svn/provider.go
  internal/adapter/svn/reclone_remove_test.go
  internal/git/workspace.go
Due: go-imports-repo, go-vet-repo-mod, golangci-lint-repo-mod

refactor(git): drop Repo.Command from the Go Core's API
  internal/git/export_test.go
  internal/git/workspace.go
Due: go-imports-repo, go-vet-repo-mod, golangci-lint-repo-mod

fix(svn): contact SVN hosts only under the outbound policy
  cmd/codeforge/main.go
  codeforge.example.yaml
  internal/adapter/svn/outbound_test.go
  internal/adapter/svn/password_test.go
  internal/adapter/svn/provider.go
  internal/adapter/svn/register.go
  internal/config/config.go
  internal/config/loader.go
  internal/config/svn_test.go
Due: go-imports-repo, go-vet-repo-mod, golangci-lint-repo-mod

fix(frontend): show a partial delivery as a warning
  frontend/src/api/types.ts
  frontend/src/features/activity/ActivityPage.tsx
  frontend/src/features/activity/activity.test.ts
  frontend/src/features/dashboard/ActivityTimeline.tsx
Due: eslint, prettier

refactor(git): do not shadow the path package in special.go
  internal/git/special.go
Due: go-imports-repo, go-vet-repo-mod, golangci-lint-repo-mod

docs: S10-D git and SVN fixes (KI-187, KI-188, KI-189, KI-227)
  docs/architecture.md
  docs/dev-setup.md
  docs/features/01-project-dashboard.md
  docs/features/04-agent-orchestration.md
  docs/todo.md
Due: none

feat(worker): qwen3.5:4b as the local default and reasoning_effort for local models
  README.md
  codeforge.example.yaml
  docs/dev-setup.md
  docs/testing/autonomous-goal-benchmark.md
  docs/testing/model-smoke-test.md
  docs/todo.md
  scripts/live-e2e/README.md
  scripts/live-e2e/env.example.sh
  workers/codeforge/config.py
  workers/codeforge/loop_config.py
  workers/tests/test_run_agent_loop.py
Due: none

docs(agents): new rules, corrected facts, subagent rules, details moved to dev-setup
  AGENTS.md
  docs/todo.md
Due: none

docs(todo): handover of the 2026-10-06 session
  docs/todo.md
Due: none

Path conditions:
  go-imports-repo: any of: \.go$
  go-vet-repo-mod: any of: \.go$
  golangci-lint-repo-mod: any of: \.go$
  eslint: any of: ^frontend/src/.*\.(ts|tsx|js|jsx)$
  prettier: any of: \.(ts|tsx|js|jsx|json|css|scss|html)$
