Repository Strob0t/CodeForge: changes, and which pre-commit hooks are due for each by the changed paths.
All: eslint, prettier

.pre-commit-config.yaml:

repos:
  # ── Allgemein ──────────────────────────────────────────────
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: end-of-file-fixer
      - id: trailing-whitespace
      - id: check-yaml
      - id: check-json
      - id: check-merge-conflict
      - id: detect-private-key

  # ── Python (Ruff) ─────────────────────────────────────────
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.11.12
    hooks:
      # 1) Imports sortieren
      - id: ruff-check
        name: ruff (sort imports)
        args: ["--select", "I", "--fix"]

      # 2) Lint/fix
      - id: ruff-check
        args: ["--fix", "--exit-non-zero-on-fix"]

      # 3) Format
      - id: ruff-format

  # ── Go ─────────────────────────────────────────────────────
  - repo: https://github.com/TekWizely/pre-commit-golang
    rev: v1.0.0-rc.1
    hooks:
      # Format
      - id: go-fmt
      # Imports sortieren
      - id: go-imports-repo
      # Vet (statische Analyse)
      - id: go-vet-repo-mod
      # golangci-lint (muss installiert sein)
      - id: golangci-lint-repo-mod

  # ── TypeScript / JavaScript (ESLint + Prettier) ────────────
  - repo: local
    hooks:
      - id: eslint
        name: eslint
        entry: npx eslint --fix
        language: system
        files: \.(ts|tsx|js|jsx)$
        types: [file]

      - id: prettier
        name: prettier
        entry: npx prettier --write --ignore-unknown
        language: system
        files: \.(ts|tsx|js|jsx|json|css|scss|html|svelte|vue)$
        types: [file]

Add unit tests for service layer, HTTP handlers, WS hub, and validator
  internal/adapter/http/handlers_test.go
  internal/adapter/ws/hub_test.go
  internal/port/messagequeue/validator_test.go
  internal/service/agent_test.go
  internal/service/project_test.go
  internal/service/task_test.go
Due: none

Phase 4A: Policy layer — permission rules, quality gates, presets, REST API
  cmd/codeforge/main.go
  codeforge.yaml.example
  docs/project-status.md
  docs/todo.md
  internal/adapter/http/handlers.go
  internal/adapter/http/handlers_test.go
  internal/adapter/http/routes.go
  internal/config/config.go
  internal/config/loader.go
  internal/config/loader_test.go
  internal/domain/policy/loader.go
  internal/domain/policy/loader_test.go
  internal/domain/policy/policy.go
  internal/domain/policy/policy_test.go
  internal/domain/policy/presets.go
  internal/domain/policy/presets_test.go
  internal/domain/policy/validate.go
  internal/service/policy.go
  internal/service/policy_test.go
Due: none

Phase 4B: Runtime API — step-by-step execution protocol
  .github/workflows/ci.yml
  cmd/codeforge/main.go
  docs/dev-setup.md
  docs/project-status.md
  docs/todo.md
  internal/adapter/http/handlers.go
  internal/adapter/http/handlers_test.go
  internal/adapter/http/routes.go
  internal/adapter/postgres/migrations/005_create_runs.sql
  internal/adapter/postgres/store.go
  internal/adapter/ws/events.go
  internal/domain/event/event.go
  internal/domain/run/run.go
  internal/domain/run/run_test.go
  internal/domain/run/toolcall.go
  internal/domain/run/validate.go
  internal/port/database/store.go
  internal/port/messagequeue/queue.go
  internal/port/messagequeue/schemas.go
  internal/service/project_test.go
  internal/service/runtime.go
  internal/service/runtime_test.go
  workers/codeforge/consumer.py
  workers/codeforge/executor.py
  workers/codeforge/models.py
  workers/codeforge/runtime.py
  workers/tests/test_runtime.py
Due: none

Phase 4C: Headless autonomy — stall detection, quality gates, delivery modes
  .golangci.yml
  cmd/codeforge/main.go
  codeforge.yaml.example
  docs/project-status.md
  docs/todo.md
  frontend/src/api/client.ts
  frontend/src/api/types.ts
  frontend/src/features/project/ProjectDetailPage.tsx
  frontend/src/features/project/RunPanel.tsx
  internal/adapter/http/handlers_test.go
  internal/adapter/postgres/migrations/006_add_deliver_mode.sql
  internal/adapter/postgres/store.go
  internal/adapter/ws/events.go
  internal/config/config.go
  internal/config/loader.go
  internal/domain/event/event.go
  internal/domain/policy/policy.go
  internal/domain/policy/presets.go
  internal/domain/run/run.go
  internal/domain/run/stall.go
  internal/domain/run/stall_test.go
  internal/domain/run/validate.go
  internal/port/messagequeue/queue.go
  internal/port/messagequeue/schemas.go
  internal/service/deliver.go
  internal/service/deliver_test.go
  internal/service/runtime.go
  internal/service/runtime_test.go
  workers/codeforge/consumer.py
  workers/codeforge/models.py
  workers/codeforge/qualitygate.py
  workers/codeforge/runtime.py
  workers/tests/test_qualitygate.py
  workers/tests/test_runtime.py
Due: eslint, prettier

Phase 5A: Execution plans — DAG scheduling with 4 protocols
  cmd/codeforge/main.go
  codeforge.yaml.example
  docs/dev-setup.md
  docs/project-status.md
  docs/todo.md
  frontend/src/api/client.ts
  frontend/src/api/types.ts
  frontend/src/features/project/PlanPanel.tsx
  frontend/src/features/project/ProjectDetailPage.tsx
  internal/adapter/http/handlers.go
  internal/adapter/http/handlers_test.go
  internal/adapter/http/routes.go
  internal/adapter/postgres/migrations/007_create_execution_plans.sql
  internal/adapter/postgres/store.go
  internal/adapter/ws/events.go
  internal/config/config.go
  internal/config/loader.go
  internal/domain/event/event.go
  internal/domain/plan/dag.go
  internal/domain/plan/dag_test.go
  internal/domain/plan/plan.go
  internal/domain/plan/validate.go
  internal/domain/plan/validate_test.go
  internal/port/database/store.go
  internal/service/orchestrator.go
  internal/service/orchestrator_test.go
  internal/service/project_test.go
  internal/service/runtime.go
  internal/service/runtime_test.go
Due: eslint, prettier

Phase 5B: Meta-agent — LLM-based feature decomposition into execution plans
  cmd/codeforge/main.go
  codeforge.yaml.example
  docs/dev-setup.md
  docs/project-status.md
  docs/todo.md
  frontend/src/api/client.ts
  frontend/src/api/types.ts
  frontend/src/features/project/PlanPanel.tsx
  internal/adapter/http/handlers.go
  internal/adapter/http/routes.go
  internal/adapter/litellm/client.go
  internal/adapter/litellm/client_test.go
  internal/config/config.go
  internal/config/loader.go
  internal/domain/plan/decompose.go
  internal/domain/plan/decompose_test.go
  internal/service/meta_agent.go
  internal/service/meta_agent_test.go
Due: eslint, prettier

Phase 5C: Agent teams and context-optimized planning
  cmd/codeforge/main.go
  codeforge.yaml.example
  docs/dev-setup.md
  docs/project-status.md
  docs/todo.md
  frontend/src/api/client.ts
  frontend/src/api/types.ts
  internal/adapter/http/handlers.go
  internal/adapter/http/handlers_test.go
  internal/adapter/http/routes.go
  internal/adapter/postgres/migrations/008_create_agent_teams.sql
  internal/adapter/postgres/store.go
  internal/config/config.go
  internal/config/loader.go
  internal/domain/agent/team.go
  internal/domain/agent/team_test.go
  internal/domain/plan/decompose.go
  internal/port/database/store.go
  internal/service/pool_manager.go
  internal/service/pool_manager_test.go
  internal/service/project_test.go
  internal/service/runtime_test.go
  internal/service/task_planner.go
  internal/service/task_planner_test.go
Due: eslint, prettier

Phase 5D: Context optimizer — ContextPack, SharedContext, token budget
  cmd/codeforge/main.go
  docs/project-status.md
  docs/todo.md
  frontend/src/api/client.ts
  frontend/src/api/types.ts
  internal/adapter/http/handlers.go
  internal/adapter/http/handlers_test.go
  internal/adapter/http/routes.go
  internal/adapter/postgres/migrations/009_create_context_packs.sql
  internal/adapter/postgres/store.go
  internal/config/config.go
  internal/config/loader.go
  internal/domain/context/pack.go
  internal/domain/context/pack_test.go
  internal/domain/context/shared.go
  internal/domain/context/shared_test.go
  internal/port/database/store.go
  internal/port/messagequeue/queue.go
  internal/port/messagequeue/schemas.go
  internal/service/context_optimizer.go
  internal/service/context_optimizer_test.go
  internal/service/project_test.go
  internal/service/runtime.go
  internal/service/runtime_test.go
  internal/service/shared_context.go
  internal/service/shared_context_test.go
  workers/codeforge/consumer.py
  workers/codeforge/models.py
  workers/tests/test_consumer.py
Due: eslint, prettier

Phase 5E: Integration fixes, WS events, modes system
  cmd/codeforge/main.go
  docs/project-status.md
  docs/todo.md
  frontend/src/api/client.ts
  frontend/src/api/types.ts
  internal/adapter/http/handlers.go
  internal/adapter/http/handlers_test.go
  internal/adapter/http/routes.go
  internal/adapter/postgres/migrations/010_add_team_id_fields.sql
  internal/adapter/postgres/store.go
  internal/adapter/ws/events.go
  internal/domain/mode/mode.go
  internal/domain/mode/mode_test.go
  internal/domain/mode/presets.go
  internal/domain/plan/plan.go
  internal/domain/run/run.go
  internal/port/database/store.go
  internal/service/mode.go
  internal/service/mode_test.go
  internal/service/orchestrator.go
  internal/service/pool_manager.go
  internal/service/project_test.go
  internal/service/runtime.go
  internal/service/runtime_test.go
  internal/service/shared_context.go
Due: eslint, prettier

Phase 6A: Repo Map — tree-sitter code parsing
  cmd/codeforge/main.go
  docs/project-status.md
  docs/tech-stack.md
  docs/todo.md
  frontend/src/api/client.ts
  frontend/src/api/types.ts
  frontend/src/features/project/ProjectDetailPage.tsx
  frontend/src/features/project/RepoMapPanel.tsx
  internal/adapter/http/handlers.go
  internal/adapter/http/handlers_test.go
  internal/adapter/http/routes.go
  internal/adapter/nats/nats.go
  internal/adapter/postgres/migrations/011_create_repo_maps.sql
  internal/adapter/postgres/store.go
  internal/adapter/ws/events.go
  internal/config/config.go
  internal/domain/context/pack.go
  internal/domain/context/repomap.go
  internal/domain/context/repomap_test.go
  internal/port/database/store.go
  internal/port/messagequeue/queue.go
  internal/port/messagequeue/schemas.go
  internal/service/context_optimizer.go
  internal/service/project_test.go
  internal/service/repomap.go
  internal/service/runtime_test.go
  poetry.lock
  pyproject.toml
  workers/codeforge/consumer.py
  workers/codeforge/models.py
  workers/codeforge/repomap.py
  workers/tests/test_repomap.py
Due: eslint, prettier

Phase 6B: Hybrid Retrieval — BM25 + semantic search with RRF fusion
  cmd/codeforge/main.go
  docs/project-status.md
  docs/tech-stack.md
  docs/todo.md
  frontend/src/api/client.ts
  frontend/src/api/types.ts
  frontend/src/features/project/ProjectDetailPage.tsx
  frontend/src/features/project/RetrievalPanel.tsx
  internal/adapter/http/handlers.go
  internal/adapter/http/handlers_test.go
  internal/adapter/http/routes.go
  internal/adapter/nats/nats.go
  internal/adapter/ws/events.go
  internal/config/config.go
  internal/domain/context/pack.go
  internal/port/messagequeue/queue.go
  internal/port/messagequeue/schemas.go
  internal/port/messagequeue/validator.go
  internal/service/context_optimizer.go
  internal/service/retrieval.go
  internal/service/retrieval_test.go
  poetry.lock
  pyproject.toml
  workers/codeforge/_tree_sitter_common.py
  workers/codeforge/consumer.py
  workers/codeforge/models.py
  workers/codeforge/repomap.py
  workers/codeforge/retrieval.py
  workers/tests/test_retrieval.py
Due: eslint, prettier

docs: clean up todo.md — mark Python asyncio done, clarify timeout/mount status
  docs/todo.md
Due: none

Phase 4A-UI: Policy management UI + CRUD endpoints
  docs/features/04-agent-orchestration.md
  docs/project-status.md
  docs/todo.md
  frontend/src/api/client.ts
  frontend/src/api/types.ts
  frontend/src/features/project/PolicyPanel.tsx
  frontend/src/features/project/ProjectDetailPage.tsx
  internal/adapter/http/handlers.go
  internal/adapter/http/handlers_test.go
  internal/adapter/http/routes.go
  internal/domain/policy/loader.go
  internal/domain/policy/presets.go
  internal/service/policy.go
  internal/service/policy_test.go
Due: eslint, prettier

docs: ADRs 003-007 + architecture/dev-setup/CLAUDE.md updates
  CLAUDE.md
  docs/architecture.md
  docs/architecture/adr/003-config-hierarchy.md
  docs/architecture/adr/004-async-logging.md
  docs/architecture/adr/005-docker-native-logging.md
  docs/architecture/adr/006-agent-execution-approach-c.md
  docs/architecture/adr/007-policy-layer.md
  docs/dev-setup.md
  docs/project-status.md
  docs/todo.md
Due: none

Phase 6C: Retrieval Sub-Agent + code review refinements
  docs/dev-setup.md
  docs/features/04-agent-orchestration.md
  docs/project-status.md
  docs/todo.md
  frontend/src/api/client.ts
  frontend/src/api/types.ts
  frontend/src/features/project/RetrievalPanel.tsx
  internal/adapter/http/handlers.go
  internal/adapter/http/handlers_test.go
  internal/adapter/http/routes.go
  internal/config/config.go
  internal/config/loader.go
  internal/port/messagequeue/queue.go
  internal/port/messagequeue/schemas.go
  internal/port/messagequeue/validator.go
  internal/service/context_optimizer.go
  internal/service/context_optimizer_test.go
  internal/service/retrieval.go
  internal/service/retrieval_test.go
  workers/codeforge/consumer.py
  workers/codeforge/models.py
  workers/codeforge/retrieval.py
  workers/tests/test_retrieval_subagent.py
Due: eslint, prettier

Phase 3/4B completion: six missing features (3G, 3F, 3C, 3D, 3H, 4B)
  cmd/codeforge/main.go
  docs/project-status.md
  docs/todo.md
  internal/adapter/http/handlers.go
  internal/adapter/http/handlers_test.go
  internal/adapter/http/routes.go
  internal/adapter/litellm/client.go
  internal/adapter/postgres/eventstore.go
  internal/adapter/postgres/migrations/013_add_run_id_to_events.sql
  internal/adapter/postgres/migrations/014_add_tenant_id.sql
  internal/config/config.go
  internal/config/loader.go
  internal/domain/agent/agent.go
  internal/domain/event/event.go
  internal/domain/project/project.go
  internal/domain/run/run.go
  internal/domain/task/task.go
  internal/middleware/deprecation.go
  internal/middleware/deprecation_test.go
  internal/middleware/tenant.go
  internal/middleware/tenant_test.go
  internal/port/eventstore/store.go
  internal/port/messagequeue/queue.go
  internal/port/messagequeue/schemas.go
  internal/secrets/env_loader.go
  internal/secrets/vault.go
  internal/secrets/vault_test.go
  internal/service/agent_test.go
  internal/service/runtime.go
  internal/service/runtime_compliance_test.go
  internal/service/runtime_test.go
  workers/codeforge/runtime.py
  workers/tests/test_runtime.py
Due: none

Phase 7: Cost & Token Transparency — full implementation
  cmd/codeforge/main.go
  configs/model_pricing.yaml
  docs/project-status.md
  docs/todo.md
  frontend/src/App.tsx
  frontend/src/api/client.ts
  frontend/src/api/types.ts
  frontend/src/features/costs/CostDashboardPage.tsx
  frontend/src/features/project/ProjectDetailPage.tsx
  frontend/src/features/project/RunPanel.tsx
  frontend/src/index.tsx
  internal/adapter/http/handlers.go
  internal/adapter/http/handlers_test.go
  internal/adapter/http/routes.go
  internal/adapter/postgres/migrations/015_add_run_tokens.sql
  internal/adapter/postgres/store.go
  internal/adapter/ws/events.go
  internal/domain/cost/cost.go
  internal/domain/run/run.go
  internal/port/database/store.go
  internal/port/messagequeue/schemas.go
  internal/service/cost.go
  internal/service/project_test.go
  internal/service/runtime.go
  internal/service/runtime_test.go
  poetry.lock
  pyproject.toml
  workers/codeforge/executor.py
  workers/codeforge/llm.py
  workers/codeforge/models.py
  workers/codeforge/pricing.py
  workers/codeforge/runtime.py
  workers/tests/test_llm.py
  workers/tests/test_pricing.py
  workers/tests/test_runtime.py
Due: eslint, prettier

chore: pre-commit & linting hardening — security analysis, anti-pattern detection, import sorting
  .golangci.yml
  .pre-commit-config.yaml
  frontend/eslint.config.js
  frontend/package-lock.json
  frontend/package.json
  frontend/src/App.tsx
  frontend/src/api/client.ts
  frontend/src/features/costs/CostDashboardPage.tsx
  frontend/src/features/dashboard/DashboardPage.tsx
  frontend/src/features/dashboard/ProjectCard.tsx
  frontend/src/features/llm/ModelsPage.tsx
  frontend/src/features/project/AgentPanel.tsx
  frontend/src/features/project/LiveOutput.tsx
  frontend/src/features/project/PlanPanel.tsx
  frontend/src/features/project/PolicyPanel.tsx
  frontend/src/features/project/ProjectDetailPage.tsx
  frontend/src/features/project/RepoMapPanel.tsx
  frontend/src/features/project/RetrievalPanel.tsx
  frontend/src/features/project/RunPanel.tsx
  frontend/src/features/project/TaskPanel.tsx
  frontend/src/index.tsx
  internal/adapter/http/handlers.go
  internal/domain/policy/loader.go
  internal/service/context_optimizer.go
  internal/service/sandbox.go
  pyproject.toml
  workers/codeforge/consumer.py
  workers/codeforge/repomap.py
  workers/codeforge/retrieval.py
  workers/tests/test_repomap.py
  workers/tests/test_retrieval.py
Due: eslint, prettier

docs: update todo, project-status, dev-setup, tech-stack for linting hardening
  docs/dev-setup.md
  docs/project-status.md
  docs/tech-stack.md
  docs/todo.md
Due: none

feat: production readiness — git worker pool, migration rollback, rate limiter hardening, backup/DR
  .gitignore
  cmd/codeforge/main.go
  codeforge.yaml.example
  docker-compose.yml
  docs/features/01-project-dashboard.md
  docs/features/02-roadmap-feature-map.md
  internal/adapter/gitlocal/provider.go
  internal/adapter/postgres/postgres.go
  internal/config/config.go
  internal/config/loader.go
  internal/git/pool.go
  internal/git/pool_test.go
  internal/middleware/ratelimit.go
  internal/middleware/ratelimit_test.go
  internal/service/checkpoint.go
  internal/service/checkpoint_test.go
  internal/service/context_optimizer_test.go
  internal/service/deliver.go
  internal/service/deliver_test.go
  internal/service/retrieval_test.go
  scripts/backup-postgres.sh
  scripts/restore-postgres.sh
  scripts/test.sh
  tests/integration/migration_test.go
Due: none

feat: Phase 6D — GraphRAG structural code graph intelligence
  cmd/codeforge/main.go
  codeforge.yaml.example
  docs/project-status.md
  docs/todo.md
  frontend/src/api/client.ts
  frontend/src/api/types.ts
  frontend/src/features/project/RetrievalPanel.tsx
  internal/adapter/http/handlers.go
  internal/adapter/http/routes.go
  internal/adapter/postgres/migrations/016_graph_nodes_edges.sql
  internal/adapter/ws/events.go
  internal/config/config.go
  internal/config/loader.go
  internal/domain/context/pack.go
  internal/port/messagequeue/queue.go
  internal/port/messagequeue/schemas.go
  internal/service/context_optimizer.go
  internal/service/graph.go
  pyproject.toml
  workers/codeforge/consumer.py
  workers/codeforge/graphrag.py
  workers/codeforge/models.py
  workers/codeforge/test_graphrag.py
Due: eslint, prettier

docs: update dev-setup, tech-stack, architecture for Phase 6D GraphRAG
  docs/architecture.md
  docs/dev-setup.md
  docs/project-status.md
  docs/tech-stack.md
Due: none

feat: Phase 8 — Roadmap Foundation, Event Trajectory, Docker Production
  .dockerignore
  .github/workflows/docker-build.yml
  Dockerfile
  Dockerfile.frontend
  Dockerfile.worker
  cmd/codeforge/main.go
  docker-compose.prod.yml
  docs/dev-setup.md
  docs/features/02-roadmap-feature-map.md
  docs/project-status.md
  docs/todo.md
  frontend/nginx.conf
  frontend/src/api/client.ts
  frontend/src/api/types.ts
  frontend/src/features/project/ProjectDetailPage.tsx
  frontend/src/features/project/RoadmapPanel.tsx
  frontend/src/features/project/RunPanel.tsx
  frontend/src/features/project/TrajectoryPanel.tsx
  internal/adapter/http/handlers.go
  internal/adapter/http/handlers_test.go
  internal/adapter/http/routes.go
  internal/adapter/postgres/eventstore.go
  internal/adapter/postgres/migrations/017_create_roadmaps.sql
  internal/adapter/postgres/store.go
  internal/adapter/ws/events.go
  internal/domain/roadmap/roadmap.go
  internal/domain/roadmap/roadmap_test.go
  internal/domain/roadmap/validate.go
  internal/port/database/store.go
  internal/port/eventstore/store.go
  internal/port/pmprovider/provider.go
  internal/port/pmprovider/registry.go
  internal/port/specprovider/provider.go
  internal/port/specprovider/registry.go
  internal/service/agent_test.go
  internal/service/project_test.go
  internal/service/roadmap.go
  internal/service/roadmap_test.go
  internal/service/runtime_test.go
Due: eslint, prettier

docs: comprehensive documentation update — reflect Phases 0-8 completion
  docs/architecture.md
  docs/dev-setup.md
  docs/features/01-project-dashboard.md
  docs/features/03-multi-llm-provider.md
  docs/features/04-agent-orchestration.md
  docs/project-status.md
  docs/tech-stack.md
  docs/todo.md
Due: none

feat: Phase 9A — Spec Provider Adapters, Enhanced AutoDetect, Spec/PM Import
  cmd/codeforge/main.go
  cmd/codeforge/providers.go
  docs/dev-setup.md
  docs/features/02-roadmap-feature-map.md
  docs/project-status.md
  docs/tech-stack.md
  docs/todo.md
  frontend/src/api/client.ts
  frontend/src/api/types.ts
  frontend/src/features/project/RoadmapPanel.tsx
  internal/adapter/githubpm/provider.go
  internal/adapter/githubpm/provider_test.go
  internal/adapter/githubpm/register.go
  internal/adapter/http/handlers.go
  internal/adapter/http/routes.go
  internal/adapter/markdownspec/provider.go
  internal/adapter/markdownspec/provider_test.go
  internal/adapter/markdownspec/register.go
  internal/adapter/openspec/provider.go
  internal/adapter/openspec/provider_test.go
  internal/adapter/openspec/register.go
  internal/domain/roadmap/roadmap.go
  internal/service/roadmap.go
Due: eslint, prettier

chore: add VS Code launch/tasks config for F5 full-stack debugging
  .devcontainer/devcontainer.json
  .vscode/launch.json
  .vscode/tasks.json
Due: prettier

fix: devcontainer setup.sh and devcontainer.json corrections
  .devcontainer/devcontainer.json
  .devcontainer/setup.sh
Due: prettier

chore: docker-compose named volumes, launch.json venv path, add psycopg
  .vscode/launch.json
  docker-compose.yml
  poetry.lock
Due: prettier

fix: async logger panic on closed channel, missing pgx stdlib driver
  cmd/codeforge/main.go
  internal/adapter/postgres/postgres.go
  internal/logger/async.go
Due: none

feat: E2E test infrastructure — Playwright with 17 tests
  .gitignore
  docs/dev-setup.md
  docs/project-status.md
  docs/todo.md
  frontend/e2e/costs.spec.ts
  frontend/e2e/fixtures.ts
  frontend/e2e/health.spec.ts
  frontend/e2e/models.spec.ts
  frontend/e2e/navigation.spec.ts
  frontend/e2e/projects.spec.ts
  frontend/eslint.config.js
  frontend/package-lock.json
  frontend/package.json
  frontend/playwright.config.ts
  frontend/tsconfig.json
  frontend/vite.config.ts
  scripts/test.sh
Due: eslint, prettier

fix: connect devcontainer to codeforge Docker network
  .devcontainer/devcontainer.json
  .devcontainer/setup.sh
  docs/dev-setup.md
Due: prettier

fix: MCP server URLs for devcontainer networking, bind mounts for volumes
  .mcp.json
  docker-compose.yml
  package-lock.json
Due: prettier

fix: postgres bind mount permissions, NATS stream bootstrap in worker
  docker-compose.yml
  internal/adapter/nats/nats.go
  workers/codeforge/consumer.py
Due: none

fix: upgrade golangci-lint v1 -> v2, fix all lint issues
  .golangci.yml
  internal/service/roadmap.go
Due: none

fix: use native installer for Claude Code, golangci-lint v2
  .devcontainer/setup.sh
Due: none

fix: bind Vite dev server to 0.0.0.0 for devcontainer access
  frontend/vite.config.ts
Due: eslint, prettier

fix: MCP server URLs for devcontainer networking
  .mcp.json
Due: prettier

docs: add Phase 10 frontend foundations + Phase 11 future GUI TODOs
  docs/todo.md
Due: none

feat: add Toast notification system, ErrorBoundary, OfflineBanner, API retry
  docs/project-status.md
  docs/todo.md
  frontend/src/App.tsx
  frontend/src/api/client.ts
  frontend/src/components/OfflineBanner.tsx
  frontend/src/components/Toast.tsx
Due: eslint, prettier
