Repository Strob0t/CodeForge: changes, and which pre-commit hooks are due for each by the changed paths.
All: go-imports-repo, go-vet-repo-mod, golangci-lint-repo-mod, eslint, prettier

.pre-commit-config.yaml:

repos:
  # -- General ----------------------------------------------
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: end-of-file-fixer
      - id: trailing-whitespace
      - id: check-yaml
      - id: check-json
      - id: check-merge-conflict
      - id: detect-private-key

  # -- Python (Ruff) -----------------------------------------
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.15.1
    hooks:
      # 1) Sort imports
      - id: ruff-check
        name: ruff (sort imports)
        args: ["--select", "I", "--fix"]

      # 2) Lint/fix
      - id: ruff-check
        args: ["--fix", "--exit-non-zero-on-fix"]

      # 3) Format
      - id: ruff-format

  # -- Go -----------------------------------------------------
  - repo: https://github.com/TekWizely/pre-commit-golang
    rev: v1.0.0-rc.1
    hooks:
      # Format
      - id: go-fmt

  # Go hooks that need GOROOT set for Go 1.25 toolchain
  - repo: local
    hooks:
      - id: go-imports-repo
        name: go-imports-repo
        entry: bash -c 'export GOROOT=/go/pkg/mod/golang.org/toolchain@v0.0.1-go1.25.0.linux-amd64 && goimports -l -d $(find . -name "*.go" -not -path "./data/*" -not -path "./vendor/*")'
        language: system
        pass_filenames: false
        types: [go]

      - id: go-vet-repo-mod
        name: go-vet-repo-mod
        entry: bash -c 'export GOROOT=/go/pkg/mod/golang.org/toolchain@v0.0.1-go1.25.0.linux-amd64 && go vet ./...'
        language: system
        pass_filenames: false
        types: [go]

      - id: golangci-lint-repo-mod
        name: golangci-lint-repo-mod
        entry: bash -c 'export GOROOT=/go/pkg/mod/golang.org/toolchain@v0.0.1-go1.25.0.linux-amd64 && golangci-lint run ./...'
        language: system
        pass_filenames: false
        types: [go]

  # -- TypeScript / JavaScript (ESLint + Prettier) ------------
  - repo: local
    hooks:
      - id: eslint
        name: eslint
        entry: frontend/node_modules/.bin/eslint --config frontend/eslint.config.js --fix
        language: system
        files: ^frontend/src/.*\.(ts|tsx|js|jsx)$
        types: [file]

      - id: prettier
        name: prettier
        entry: frontend/node_modules/.bin/prettier --write --ignore-unknown
        language: system
        files: \.(ts|tsx|js|jsx|json|css|scss|html)$
        types: [file]

fix(tests): make golden files compatible with end-of-file-fixer hook
  internal/service/prompt_system_test.go
Due: go-imports-repo, go-vet-repo-mod, golangci-lint-repo-mod

test(backends): add failing tests for SWE-agent executor (STUB-010)
  workers/tests/test_sweagent_backend.py
Due: none

fix(a2a): delete legacy internal/port/a2a/ stub package (STUB-001, STUB-006)
  docs/stub-tracker.md
  internal/port/a2a/agentcard.go
  internal/port/a2a/handler.go
  internal/port/a2a/handler_test.go
  internal/port/a2a/types.go
Due: go-imports-repo, go-vet-repo-mod, golangci-lint-repo-mod

feat(backends): implement SWE-agent executor (STUB-010)
  workers/codeforge/backends/sweagent.py
  workers/tests/test_sweagent_backend.py
Due: none

feat(backends): register SweagentExecutor in default router
  workers/codeforge/backends/__init__.py
Due: none

test(a2a): add failing tests for execute_a2a_task (TDD RED phase)
  workers/tests/test_a2a_executor.py
  workers/tests/test_a2a_mixin_executor.py
Due: none

docs: mark STUB-010 (SWE-agent) as fixed in tracker and todos
  docs/features/04-agent-orchestration.md
  docs/stub-tracker.md
  docs/todo.md
Due: none

feat(a2a): implement dedicated execute_a2a_task executor path (TDD GREEN)
  workers/codeforge/consumer/_a2a.py
  workers/codeforge/executor.py
  workers/tests/test_consumer_a2a.py
Due: none

docs(a2a): update stub-tracker, todo, and feature docs for A2A cleanup
  docs/features/04-agent-orchestration.md
  docs/stub-tracker.md
  docs/todo.md
Due: none

docs: update todo.md with lint cleanup and stub completion status
  docs/todo.md
Due: none

fix(stubs): implement STUB-003, STUB-009 medium-effort fixes
  docs/todo.md
  frontend/src/api/client.ts
  frontend/src/api/types.ts
  frontend/src/features/benchmarks/BenchmarkPage.tsx
  frontend/src/features/benchmarks/liveFeedState.test.ts
  frontend/src/features/benchmarks/liveFeedState.ts
  internal/adapter/http/handlers_roadmap.go
  internal/adapter/postgres/eventstore.go
  internal/adapter/postgres/migrations/077_add_agent_events_sequence_number.sql
  internal/adapter/ws/events.go
  internal/domain/event/event.go
  internal/domain/event/event_test.go
  internal/port/eventstore/store.go
  internal/port/messagequeue/testdata/contracts/benchmark_run_request.json
  internal/port/messagequeue/testdata/contracts/benchmark_run_result.json
  internal/port/messagequeue/testdata/contracts/conversation_run_start.json
  internal/port/messagequeue/testdata/contracts/graph_build_result.json
  internal/port/messagequeue/testdata/contracts/graph_search_request.json
  internal/port/messagequeue/testdata/contracts/graph_search_result.json
  internal/port/messagequeue/testdata/contracts/repomap_generate_request.json
  internal/port/messagequeue/testdata/contracts/repomap_generate_result.json
  internal/port/messagequeue/testdata/contracts/retrieval_index_request.json
  internal/service/runtime.go
  workers/codeforge/consumer/_review.py
  workers/tests/consumer/__init__.py
  workers/tests/consumer/test_review.py
Due: go-imports-repo, go-vet-repo-mod, golangci-lint-repo-mod, eslint, prettier

docs(stubs): reconcile stub-tracker after STUB-001/003/004/006/009/012 fixes
  docs/stub-tracker.md
  docs/todo.md
  internal/domain/pipeline/pipeline_test.go
  internal/service/conversation_agent.go
Due: go-imports-repo, go-vet-repo-mod, golangci-lint-repo-mod

fix(a2a): restore execute_a2a_task from worktree merge loss
  workers/codeforge/consumer/_a2a.py
  workers/codeforge/executor.py
  workers/tests/test_a2a_executor.py
  workers/tests/test_a2a_mixin_executor.py
  workers/tests/test_consumer_a2a.py
Due: none

docs(a2a): add Python-side A2A file references to feature doc
  docs/features/04-agent-orchestration.md
Due: none

fix(stubs): implement STUB-004/024/025 + delete dead a2a code
  cmd/codeforge/main.go
  docs/todo.md
  frontend/src/features/benchmarks/PromptOptimizationPanel.tsx
  frontend/src/features/canvas/CanvasModal.tsx
  internal/port/a2a/agentcard.go
  internal/port/a2a/handler.go
  internal/port/a2a/handler_test.go
  internal/port/a2a/types.go
  internal/service/conversation.go
  internal/service/conversation_agent.go
Due: go-imports-repo, go-vet-repo-mod, golangci-lint-repo-mod, eslint, prettier

docs: add quality & performance improvements spec (12 measures, 90+ atomic TODOs)
  docs/superpowers/specs/2026-03-18-quality-performance-improvements-design.md
Due: none

docs: add quality & performance improvement tasks to todo.md
  docs/todo.md
Due: none

docs(stubs): mark all medium + small effort stubs as fixed in tracker
  docs/stub-tracker.md
Due: none

docs(stubs): resolve STUB-016 through STUB-022, clean stale plan TODOs
  docs/plans/2026-03-09-benchmark-external-providers-plan.md
  docs/plans/2026-03-09-chat-enhancements-plan.md
  docs/stub-tracker.md
  docs/todo.md
Due: none

feat: implement Phase 1 quality & performance improvements (A1, B3, C2)
  internal/service/complexity.go
  internal/service/complexity_test.go
  internal/service/context_budget.go
  internal/service/context_budget_test.go
  poetry.lock
  workers/codeforge/agent_loop.py
  workers/codeforge/evaluation/runners/__init__.py
  workers/codeforge/evaluation/runners/_similarity.py
  workers/codeforge/evaluation/runners/early_stopping.py
  workers/codeforge/evaluation/runners/multi_rollout.py
  workers/tests/test_early_stopping.py
  workers/tests/test_stall_detection.py
Due: go-imports-repo, go-vet-repo-mod, golangci-lint-repo-mod

docs: mark Phase 1 tasks complete in todo.md (A1, B3, C2)
  docs/todo.md
Due: none

feat(A3): implement Plan/Act mode toggle for agentic conversations
  docs/todo.md
  internal/port/messagequeue/schemas.go
  internal/service/conversation_agent.go
  internal/service/conversation_test.go
  workers/codeforge/agent_loop.py
  workers/codeforge/consumer/_conversation.py
  workers/codeforge/models.py
  workers/codeforge/plan_act.py
  workers/tests/test_plan_act.py
Due: go-imports-repo, go-vet-repo-mod, golangci-lint-repo-mod

feat(benchmark): add Phase 5 Ecosystem — DPAI Arena, Terminal-Bench providers + RLVR export pipeline
  docs/todo.md
  internal/adapter/http/handlers_benchmark.go
  internal/adapter/http/handlers_benchmark_rlvr_test.go
  internal/adapter/http/handlers_test.go
  internal/adapter/http/routes.go
  internal/domain/benchmark/benchmark.go
  internal/service/benchmark.go
  internal/service/benchmark_rlvr_test.go
  workers/codeforge/evaluation/evaluators/__init__.py
  workers/codeforge/evaluation/evaluators/filesystem_state.py
  workers/codeforge/evaluation/export/__init__.py
  workers/codeforge/evaluation/export/rlvr_exporter.py
  workers/codeforge/evaluation/providers/__init__.py
  workers/codeforge/evaluation/providers/dpai_arena.py
  workers/codeforge/evaluation/providers/terminal_bench.py
  workers/tests/test_dpai_arena_provider.py
  workers/tests/test_filesystem_state_evaluator.py
  workers/tests/test_rlvr_exporter.py
  workers/tests/test_terminal_bench_provider.py
Due: go-imports-repo, go-vet-repo-mod, golangci-lint-repo-mod

feat(B2): add SimHash-based semantic deduplication for context candidates
  docs/todo.md
  internal/service/context_optimizer.go
  internal/service/dedup.go
  internal/service/dedup_test.go
Due: go-imports-repo, go-vet-repo-mod, golangci-lint-repo-mod

docs: update project-status, architecture, CLAUDE.md, spec for Phase 5 Ecosystem completion
  CLAUDE.md
  docs/architecture.md
  docs/project-status.md
  docs/superpowers/specs/2026-03-18-quality-performance-improvements-design.md
Due: none

docs: add Phase 2 Core Quality to project status, orchestration spec, and CLAUDE.md
  CLAUDE.md
  docs/features/04-agent-orchestration.md
Due: none

feat(context): add ContextReranker with LLM-based re-ranking + tests (B1.1-B1.6)
  workers/codeforge/context_reranker.py
  workers/tests/test_context_reranker.py
Due: none

feat(agent): implement Phase 4 Advanced Features (C1, A4)
  internal/config/config.go
  internal/config/loader.go
  internal/port/messagequeue/schemas.go
  internal/service/conversation_agent.go
  workers/codeforge/agent_loop.py
  workers/codeforge/routing/__init__.py
  workers/codeforge/routing/mab.py
  workers/codeforge/routing/models.py
  workers/codeforge/routing/router.py
  workers/tests/test_conversation_rollout.py
  workers/tests/test_routing_transparency.py
Due: go-imports-repo, go-vet-repo-mod, golangci-lint-repo-mod

feat(nats): add context.rerank.request/result subjects and payload models (B1.5)
  internal/port/messagequeue/queue.go
  internal/port/messagequeue/schemas.go
  workers/codeforge/consumer/_subjects.py
  workers/codeforge/models.py
Due: go-imports-repo, go-vet-repo-mod, golangci-lint-repo-mod

feat(context): add ContextHandlerMixin for NATS rerank requests (B1.7)
  workers/codeforge/consumer/__init__.py
  workers/codeforge/consumer/_context.py
Due: none

feat(config): add CODEFORGE_CONTEXT_RERANK_ENABLED/MODEL env vars (B1.9-B1.11)
  internal/config/config.go
  internal/config/loader.go
Due: go-imports-repo, go-vet-repo-mod, golangci-lint-repo-mod

feat(context): integrate LLM rerank into ContextOptimizerService via NATS syncWaiter (B1.7b, B1.8)
  internal/service/context_optimizer.go
  internal/service/context_optimizer_rerank_test.go
Due: go-imports-repo, go-vet-repo-mod, golangci-lint-repo-mod

test(history): add RED tests for ConversationSummarizer (A2.1-A2.4)
  workers/tests/test_conversation_summarizer.py
Due: none

feat(history): implement ConversationSummarizer with threshold-based auto-summarization (A2.5-A2.6)
  workers/codeforge/history.py
Due: none

feat(history): hook ConversationSummarizer into conversation dispatch + add CODEFORGE_SUMMARIZE_THRESHOLD (A2.7-A2.8)
  internal/config/config.go
  internal/config/loader.go
  internal/port/messagequeue/schemas.go
  internal/service/conversation_agent.go
  workers/codeforge/consumer/_conversation.py
  workers/codeforge/models.py
Due: go-imports-repo, go-vet-repo-mod, golangci-lint-repo-mod

docs: mark Phase 3 — Context Intelligence tasks complete
  docs/todo.md
Due: none

fix(db): add 7 remediation migrations from schema audit
  internal/adapter/postgres/migrations/079_channel_tenant_isolation.sql
  internal/adapter/postgres/migrations/080_add_missing_fk_indexes.sql
  internal/adapter/postgres/migrations/081_add_jsonb_gin_indexes.sql
  internal/adapter/postgres/migrations/082_drop_redundant_indexes.sql
  internal/adapter/postgres/migrations/083_fix_composite_index_order.sql
  internal/adapter/postgres/migrations/084_fix_channel_cascade_deletes.sql
  internal/adapter/postgres/migrations/085_real_to_numeric.sql
Due: none

fix(security): add tenant isolation to 14 store queries
  internal/adapter/postgres/store_a2a.go
  internal/adapter/postgres/store_channel.go
  internal/adapter/postgres/store_conversation.go
  internal/adapter/postgres/store_mcp.go
  internal/adapter/postgres/store_vcsaccount.go
Due: go-imports-repo, go-vet-repo-mod, golangci-lint-repo-mod

feat(ui): add anvil favicon (Q1)
  frontend/index.html
  frontend/public/favicon.svg
Due: prettier
