Repository Strob0t/CodeForge: changes, and which pre-commit hooks are due for each by the changed paths.
All: go-imports-repo, go-vet-repo-mod, golangci-lint-repo-mod, eslint, prettier

go-imports-repo:
  name: go-imports-repo
  entry: bash -c 'export GOROOT=/go/pkg/mod/golang.org/toolchain@v0.0.1-go1.25.0.linux-amd64 && goimports -l -d $(find . -name "*.go" -not -path "./data/*" -not -path "./vendor/*")'
  language: system
  pass_filenames: false

go-vet-repo-mod:
  name: go-vet-repo-mod
  entry: bash -c 'export GOROOT=/go/pkg/mod/golang.org/toolchain@v0.0.1-go1.25.0.linux-amd64 && go vet ./...'
  language: system
  pass_filenames: false

golangci-lint-repo-mod:
  name: golangci-lint-repo-mod
  entry: bash -c 'export GOROOT=/go/pkg/mod/golang.org/toolchain@v0.0.1-go1.25.0.linux-amd64 && golangci-lint run ./...'
  language: system
  pass_filenames: false

eslint:
  name: eslint
  entry: frontend/node_modules/.bin/eslint --config frontend/eslint.config.js --fix
  language: system

prettier:
  name: prettier
  entry: frontend/node_modules/.bin/prettier --write --ignore-unknown
  language: system

chore(scripts): make the runnable scripts executable
  scripts/backup-postgres.sh
  scripts/cleanup-wal-archives.sh
  scripts/deploy-blue-green.sh
  scripts/generate-secrets.sh
  scripts/logs.sh
  scripts/restore-postgres.sh
  scripts/run-agent-eval.sh
  scripts/setup-branch-protection.sh
  scripts/sync-version.sh
  scripts/test.sh
  scripts/validate-env.sh
  scripts/verify-features.sh
Due: none

fix(secrets): validate-env checks the files the compose file mounts
  scripts/validate-env.sh
Due: none

fix(runtime): transition-aware run status writes, usage without status (review 5, 6, 9, 13)
  internal/adapter/http/handlers_test.go
  internal/adapter/postgres/store_run.go
  internal/adapter/postgres/store_run_transitions_test.go
  internal/domain/run/run.go
  internal/domain/run/run_test.go
  internal/middleware/teststore_test.go
  internal/port/database/store_run.go
  internal/service/project_test.go
  internal/service/runtime_completion.go
  internal/service/runtime_execution.go
  internal/service/runtime_run_conflict_test.go
  internal/service/runtime_run_state_test.go
  internal/service/runtime_test.go
Due: go-imports-repo, go-vet-repo-mod, golangci-lint-repo-mod

fix(events): store events without payload as the empty object
  internal/adapter/postgres/eventstore.go
  internal/adapter/postgres/eventstore_optional_ids_test.go
Due: go-imports-repo, go-vet-repo-mod, golangci-lint-repo-mod

fix(runtime): stop the worker first, end the run before waking waiters, no stats for cancels (review 2, 12, 14)
  internal/service/runtime_lifecycle.go
  internal/service/runtime_lifecycle_test.go
  internal/service/runtime_run_conflict_test.go
  internal/service/runtime_stop_order_test.go
  internal/service/runtime_stop_paths_test.go
Due: go-imports-repo, go-vet-repo-mod, golangci-lint-repo-mod

fix(orchestrator): unsuccessful steps end the plan, no step starts after a cancel (review 3, 10)
  internal/domain/plan/dag.go
  internal/domain/plan/dag_unsuccessful_test.go
  internal/service/orchestrator.go
  internal/service/orchestrator_run_stop_test.go
  internal/service/orchestrator_step_outcome_test.go
  internal/service/orchestrator_test.go
Due: go-imports-repo, go-vet-repo-mod, golangci-lint-repo-mod

fix(agent): an error result leaves its task failed (review 8)
  internal/service/agent.go
  internal/service/agent_result_status_test.go
Due: go-imports-repo, go-vet-repo-mod, golangci-lint-repo-mod

fix(orchestrator): ReplanStep starts a new run instead of reopening an ended one (review 4)
  internal/service/orchestrator_consensus.go
  internal/service/orchestrator_consensus_test.go
  internal/service/orchestrator_replan_test.go
Due: go-imports-repo, go-vet-repo-mod, golangci-lint-repo-mod

fix(runtime): a run that cannot be started ends as failed (review 7)
  internal/service/runtime.go
  internal/service/runtime_start_failure_test.go
Due: go-imports-repo, go-vet-repo-mod, golangci-lint-repo-mod

fix(runtime): reject tool calls of a stopped conversation run by its turn (review 11)
  internal/port/messagequeue/contract_test.go
  internal/port/messagequeue/schemas_conversation.go
  internal/port/messagequeue/schemas_run.go
  internal/port/messagequeue/schemas_test.go
  internal/port/messagequeue/testdata/contracts/conversation_run_start.json
  internal/service/conversation.go
  internal/service/conversation_deps.go
  internal/service/conversation_dispatch.go
  internal/service/conversation_run_cancel_test.go
  internal/service/run_state.go
  internal/service/runtime.go
  internal/service/runtime_execution.go
  workers/codeforge/consumer/_conversation.py
  workers/codeforge/models.py
  workers/codeforge/runtime.py
  workers/tests/consumer/test_conversation_handler.py
  workers/tests/test_runtime_client.py
Due: go-imports-repo, go-vet-repo-mod, golangci-lint-repo-mod, prettier

test(worker): the turn test accepts with a confirmed ack
  workers/tests/consumer/test_conversation_handler.py
Due: none

fix(worker): never lose or duplicate the outcome of accepted work
  workers/codeforge/consumer/__init__.py
  workers/codeforge/consumer/_base.py
  workers/codeforge/consumer/_benchmark.py
  workers/codeforge/consumer/_conversation.py
  workers/codeforge/consumer/_delivery.py
  workers/codeforge/consumer/_in_flight.py
  workers/codeforge/consumer/_runs.py
  workers/codeforge/consumer/_tasks.py
  workers/codeforge/nats_publish.py
  workers/codeforge/nats_subjects.py
  workers/codeforge/retrieval.py
  workers/codeforge/runtime.py
  workers/tests/consumer/test_conversation_handler.py
  workers/tests/consumer/test_delivery.py
  workers/tests/consumer/test_delivery_handlers.py
  workers/tests/consumer/test_in_flight.py
  workers/tests/jetstream_fakes.py
  workers/tests/test_nats_publish.py
  workers/tests/test_tasks_cancel_wiring.py
  workers/tests/test_tenant_echo.py
Due: none

fix(nats): keep HITL tool-call handlers in progress past the approval timeout
  cmd/codeforge/main.go
  internal/adapter/nats/delivery_test.go
  internal/adapter/nats/nats.go
Due: go-imports-repo, go-vet-repo-mod, golangci-lint-repo-mod

docs(adr): ADR-016 covers accept retries, completion retries and give-up
  docs/architecture/adr/016-nats-delivery-semantics.md
Due: none

docs: S4 deployment fixes (KI-43..KI-50, KI-59); delivery rules after the S2 reviews; KI-70, KI-71
  CLAUDE.md
  docs/SECURITY.md
  docs/dev-setup.md
  docs/disaster-recovery.md
  docs/known-issues-fix-plan.md
  docs/tech-stack.md
  docs/todo.md
Due: none

fix(gitignore): ignore every secrets/ directory except internal/secrets
  .gitignore
Due: none

fix(scripts): restore refuses to run while clients use the database
  scripts/restore-postgres.sh
Due: none

fix(worker): subprocess environment follow-ups (SDK path, backends, allowlist)
  workers/codeforge/backends/_cli_base.py
  workers/codeforge/backends/aider.py
  workers/codeforge/backends/goose.py
  workers/codeforge/backends/opencode.py
  workers/codeforge/backends/plandex.py
  workers/codeforge/backends/sweagent.py
  workers/codeforge/claude_code_executor.py
  workers/codeforge/evaluation/providers/codeforge_synthetic.py
  workers/codeforge/subprocess_env.py
  workers/codeforge/subprocess_utils.py
  workers/tests/test_subprocess_env.py
Due: none

fix(logging): robust, linear URL redaction; cover stdlib records and error values
  internal/logger/redact.go
  internal/logger/redact_test.go
  internal/secrets/redact_url.go
  internal/secrets/redact_url_test.go
  workers/codeforge/logger.py
  workers/tests/test_log_redaction.py
Due: go-imports-repo, go-vet-repo-mod, golangci-lint-repo-mod

fix(secrets): detect a secrets directory in use by more than database-url
  scripts/generate-secrets.sh
Due: none

docs: S4 review round 2 (tool environment, redaction, restore, secrets in use); KI-72; follow-up KI schedule
  docs/SECURITY.md
  docs/dev-setup.md
  docs/known-issues-fix-plan.md
  docs/todo.md
Due: none

fix(channels): store messages, broadcast channel.message, update views live (KI-42)
  cmd/codeforge/main.go
  frontend/src/api/resources/misc.ts
  frontend/src/api/types.ts
  frontend/src/features/channels/ChannelLive.test.tsx
  frontend/src/features/channels/ChannelView.tsx
  frontend/src/features/channels/ThreadPanel.tsx
  frontend/src/features/channels/channelEvents.test.ts
  frontend/src/features/channels/channelEvents.ts
  internal/adapter/postgres/store_channel.go
  internal/adapter/postgres/store_channel_test.go
  internal/service/channel.go
  internal/service/channel_broadcast_test.go
  internal/service/channel_test.go
Due: go-imports-repo, go-vet-repo-mod, golangci-lint-repo-mod, eslint, prettier

fix(api): delete LLM models with DELETE /api/v1/llm/models/{id} (KI-40)
  frontend/e2e/api/llm-api.spec.ts
  frontend/e2e/llm/01-model-management.spec.ts
  frontend/src/api/resources/routes.test.ts
  internal/adapter/http/handlers_llm.go
  internal/adapter/http/handlers_llm_delete_test.go
  internal/adapter/http/handlers_test.go
  internal/adapter/http/routes.go
Due: go-imports-repo, go-vet-repo-mod, golangci-lint-repo-mod, eslint, prettier

fix(frontend): wire run, plan and agent panels to their live events (KI-39)
  frontend/src/features/project/AgentLane.test.tsx
  frontend/src/features/project/AgentLane.tsx
  frontend/src/features/project/AgentPanel.tsx
  frontend/src/features/project/PlanPanel.test.tsx
  frontend/src/features/project/PlanPanel.tsx
  frontend/src/features/project/RunPanel.test.tsx
  frontend/src/features/project/RunPanel.tsx
  frontend/src/features/project/WarRoom.tsx
  frontend/src/features/project/liveEvents.test.ts
  frontend/src/features/project/liveEvents.ts
  frontend/src/features/project/useProjectDetail.test.tsx
  frontend/src/features/project/useProjectDetail.ts
  internal/domain/event/broadcast_payloads.go
  internal/service/runtime_lifecycle.go
  internal/service/runtime_run_status_event_test.go
Due: go-imports-repo, go-vet-repo-mod, golangci-lint-repo-mod, eslint, prettier

fix(project): merge config keys on update; drop the dead autonomy control (KI-41)
  frontend/e2e/project-detail.spec.ts
  frontend/src/api/types.ts
  frontend/src/config/domain-constants.ts
  frontend/src/features/project/CompactSettingsPopover.test.tsx
  frontend/src/features/project/CompactSettingsPopover.tsx
  frontend/src/features/project/ProjectDetailPage.tsx
  frontend/src/i18n/en.ts
  frontend/src/i18n/locales/de.ts
  internal/adapter/http/handlers_project_update_test.go
  internal/domain/project/config_patch.go
  internal/domain/project/config_patch_test.go
  internal/domain/project/project.go
  internal/service/project.go
  internal/service/project_update_test.go
Due: go-imports-repo, go-vet-repo-mod, golangci-lint-repo-mod, eslint, prettier

fix(channels,llm,frontend): follow-ups from the S5 review
  frontend/src/features/channels/ChannelLive.test.tsx
  frontend/src/features/channels/ChannelView.tsx
  frontend/src/features/project/useProjectDetail.test.tsx
  frontend/src/features/project/useProjectDetail.ts
  internal/adapter/http/handlers_channel.go
  internal/adapter/http/handlers_channel_test.go
  internal/adapter/http/routes.go
  internal/adapter/litellm/client.go
  internal/adapter/litellm/client_test.go
  internal/adapter/postgres/store_channel.go
  internal/adapter/postgres/store_channel_test.go
  internal/service/channel.go
Due: go-imports-repo, go-vet-repo-mod, golangci-lint-repo-mod, eslint, prettier

docs: S5 done (KI-39..KI-42); follow-ups KI-73..KI-75
  CLAUDE.md
  docs/api/openapi.yaml
  docs/architecture.md
  docs/dev-setup.md
  docs/features/03-multi-llm-provider.md
  docs/features/04-agent-orchestration.md
  docs/features/05-chat-enhancements.md
  docs/known-issues-fix-plan.md
  docs/project-status.md
  docs/todo.md
Due: none

fix(tasks): UpdateTaskResult writes the task status with the result (review 2, finding 13)
  internal/adapter/http/handlers_test.go
  internal/adapter/postgres/store.go
  internal/adapter/postgres/store_task_result_test.go
  internal/middleware/teststore_test.go
  internal/port/database/store_task.go
  internal/service/agent.go
  internal/service/agent_result_status_test.go
  internal/service/project_test.go
  internal/service/runtime_lifecycle.go
  internal/service/runtime_lifecycle_test.go
  internal/service/runtime_test.go
Due: go-imports-repo, go-vet-repo-mod, golangci-lint-repo-mod

fix(orchestrator): guarded ReplanStep, failed starts end the plan, no debate deadlock (review 2, findings 2, 3, 4, 11)
  internal/domain/plan/dag.go
  internal/domain/plan/dag_dependents_test.go
  internal/service/orchestrator.go
  internal/service/orchestrator_consensus.go
  internal/service/orchestrator_debate_flow_test.go
  internal/service/orchestrator_replan_guard_test.go
  internal/service/orchestrator_start_failure_test.go
Due: go-imports-repo, go-vet-repo-mod, golangci-lint-repo-mod

fix(runtime): count a tool call's usage once (review 2, finding 1)
  internal/adapter/postgres/helpers.go
  internal/adapter/postgres/store_run.go
  internal/adapter/postgres/store_run_transitions_test.go
  internal/service/run_state.go
  internal/service/runtime_execution.go
  internal/service/runtime_run_state_test.go
  internal/service/runtime_test.go
  internal/service/runtime_usage_test.go
Due: go-imports-repo, go-vet-repo-mod, golangci-lint-repo-mod

fix(conversation): one run per conversation, turn known before dispatch, bounded run state (review 2, findings 5, 8, 12)
  internal/adapter/http/handlers_conversation.go
  internal/adapter/http/handlers_conversation_run_test.go
  internal/adapter/http/handlers_test.go
  internal/port/messagequeue/contract_test.go
  internal/port/messagequeue/schemas_conversation.go
  internal/port/messagequeue/testdata/contracts/conversation_run_complete.json
  internal/service/conversation.go
  internal/service/conversation_agent.go
  internal/service/conversation_deps.go
  internal/service/conversation_dispatch.go
  internal/service/conversation_run_cancel_test.go
  internal/service/conversation_run_turn_test.go
  internal/service/run_state.go
  internal/service/run_state_conversation_test.go
  internal/service/runtime.go
  internal/service/runtime_execution.go
  workers/codeforge/consumer/_conversation.py
  workers/codeforge/models.py
  workers/tests/consumer/test_conversation_handler.py
Due: go-imports-repo, go-vet-repo-mod, golangci-lint-repo-mod, prettier

fix(runtime): a run that cannot be started always ends, and is no agent failure (review 2, findings 7, 10)
  internal/service/runtime.go
  internal/service/runtime_lifecycle.go
  internal/service/runtime_start_cleanup_test.go
Due: go-imports-repo, go-vet-repo-mod, golangci-lint-repo-mod

fix(runtime): a stop ends the run with its own status and keeps its outcome (review 2, findings 6, 9)
  internal/service/run_state.go
  internal/service/runtime.go
  internal/service/runtime_completion.go
  internal/service/runtime_lifecycle.go
  internal/service/runtime_stopping_test.go
  internal/service/runtime_test.go
Due: go-imports-repo, go-vet-repo-mod, golangci-lint-repo-mod

fix(chat): a refused message is kept and explained (409 while a run is active)
  frontend/src/features/project/ChatPanel.tsx
  frontend/src/features/project/chatSendError.test.ts
  frontend/src/features/project/chatSendError.ts
  frontend/src/i18n/en.ts
  frontend/src/i18n/locales/de.ts
Due: eslint, prettier

docs: KI-24, KI-30, KI-31, KI-32 fixed (runtime state); KI-76
  CLAUDE.md
  docs/api/openapi.yaml
  docs/architecture.md
  docs/features/04-agent-orchestration.md
  docs/known-issues-fix-plan.md
  docs/project-status.md
  docs/todo.md
Due: none

fix(runtime): worker waits for tool call decisions as long as Go waits for approval (KI-21)
  cmd/codeforge/main.go
  internal/config/approval_timeout_test.go
  internal/config/config.go
  internal/port/messagequeue/contract_test.go
  internal/port/messagequeue/schemas_conversation.go
  internal/port/messagequeue/schemas_run.go
  internal/port/messagequeue/testdata/contracts/conversation_run_start.json
  internal/port/messagequeue/testdata/contracts/runs_start.json
  internal/service/conversation.go
  internal/service/conversation_dispatch.go
  internal/service/runtime.go
  internal/service/runtime_approval.go
  internal/service/runtime_run_payload_test.go
  workers/codeforge/constants.py
  workers/codeforge/consumer/_conversation.py
  workers/codeforge/consumer/_runs.py
  workers/codeforge/models.py
  workers/codeforge/runtime.py
  workers/tests/consumer/test_conversation_handler.py
  workers/tests/test_runtime_approval_wait.py
  workers/tests/test_tenant_echo.py
Due: go-imports-repo, go-vet-repo-mod, golangci-lint-repo-mod, prettier

fix(runtime): send workspace and backend with runs and backend tasks (KI-23)
  internal/adapter/aider/backend.go
  internal/adapter/aider/backend_test.go
  internal/adapter/goose/backend.go
  internal/adapter/opencode/backend.go
  internal/adapter/openhands/backend.go
  internal/adapter/plandex/backend.go
  internal/port/agentbackend/backend.go
  internal/port/agentbackend/dispatch_test.go
  internal/port/agentbackend/registry_test.go
  internal/port/messagequeue/contract_test.go
  internal/port/messagequeue/schemas_run.go
  internal/port/messagequeue/testdata/contracts/runs_start.json
  internal/port/messagequeue/testdata/contracts/tasks_agent.json
  internal/service/agent.go
  internal/service/agent_dispatch_test.go
  internal/service/broadcast_tenant_test.go
  internal/service/runtime.go
  internal/service/runtime_run_payload_test.go
  workers/codeforge/backends/router.py
  workers/codeforge/consumer/_runs.py
  workers/codeforge/consumer/_tasks.py
  workers/codeforge/models.py
  workers/tests/consumer/test_task_payload.py
  workers/tests/test_backend_router.py
  workers/tests/test_consumer.py
  workers/tests/test_nats_contracts.py
Due: go-imports-repo, go-vet-repo-mod, golangci-lint-repo-mod, prettier

feat(runtime): runs execute in the agent loop with a policy decision per tool call (KI-21)
  workers/codeforge/consumer/__init__.py
  workers/codeforge/consumer/_runs.py
  workers/codeforge/executor.py
  workers/tests/test_consumer.py
  workers/tests/test_run_agent_loop.py
Due: none

fix(nats): remove the dead review.trigger.request consumer and its subjects (KI-22)
  cmd/codeforge/main.go
  internal/port/messagequeue/contract_test.go
  internal/port/messagequeue/queue.go
  internal/port/messagequeue/queue_test.go
  internal/port/messagequeue/schemas_review.go
  internal/port/messagequeue/testdata/contracts/review_trigger_complete.json
  internal/port/messagequeue/testdata/contracts/review_trigger_request.json
  internal/port/messagequeue/validator.go
  internal/service/review_trigger.go
  internal/service/review_trigger_complete_test.go
  workers/codeforge/consumer/__init__.py
  workers/codeforge/consumer/_review.py
  workers/codeforge/models.py
  workers/codeforge/nats_subjects.py
  workers/tests/consumer/test_delivery_handlers.py
  workers/tests/consumer/test_review.py
  workers/tests/test_review_consumer.py
Due: go-imports-repo, go-vet-repo-mod, golangci-lint-repo-mod, prettier

fix(worker): tasks.cancel stops the backend process group and reports cancelled (KI-22)
  internal/service/agent.go
  internal/service/agent_result_status_test.go
  workers/codeforge/backends/_cli_base.py
  workers/codeforge/backends/openhands.py
  workers/codeforge/consumer/_tasks.py
  workers/codeforge/runtime.py
  workers/codeforge/subprocess_utils.py
  workers/tests/consumer/test_task_cancel.py
  workers/tests/test_backend_aider.py
  workers/tests/test_backend_stubs.py
  workers/tests/test_cli_backend_process_group.py
  workers/tests/test_subprocess_utils.py
  workers/tests/test_sweagent_backend.py
Due: go-imports-repo, go-vet-repo-mod, golangci-lint-repo-mod

Path conditions:
  go-imports-repo: any of: \.go$
  go-vet-repo-mod: any of: \.go$
  golangci-lint-repo-mod: any of: \.go$
  eslint: any of: ^frontend/src/.*\.(ts|tsx|js|jsx)$
  prettier: any of: \.(ts|tsx|js|jsx|json|css|scss|html)$
