Repository Strob0t/CodeForge: changes, and which pre-commit hooks are due for each by the changed paths.
All: go-imports-repo, go-vet-repo-mod, golangci-lint-repo-mod, eslint, prettier

go-imports-repo:
  name: go-imports-repo
  entry: bash -c 'export GOROOT=/go/pkg/mod/golang.org/toolchain@v0.0.1-go1.25.0.linux-amd64 && goimports -l -d $(find . -name "*.go" -not -path "./data/*" -not -path "./vendor/*")'
  language: system
  pass_filenames: false

go-vet-repo-mod:
  name: go-vet-repo-mod
  entry: bash -c 'export GOROOT=/go/pkg/mod/golang.org/toolchain@v0.0.1-go1.25.0.linux-amd64 && go vet ./...'
  language: system
  pass_filenames: false

golangci-lint-repo-mod:
  name: golangci-lint-repo-mod
  entry: bash -c 'export GOROOT=/go/pkg/mod/golang.org/toolchain@v0.0.1-go1.25.0.linux-amd64 && golangci-lint run ./...'
  language: system
  pass_filenames: false

eslint:
  name: eslint
  entry: frontend/node_modules/.bin/eslint --config frontend/eslint.config.js --fix
  language: system

prettier:
  name: prettier
  entry: frontend/node_modules/.bin/prettier --write --ignore-unknown
  language: system

feat(goals): add context injection for docs/*.md files
  internal/adapter/http/handlers_goals.go
  internal/adapter/http/handlers_goals_test.go
  internal/adapter/http/handlers_test.go
  internal/service/conversation_agent.go
  internal/service/conversation_test.go
Due: go-imports-repo, go-vet-repo-mod, golangci-lint-repo-mod

docs: add goal system redesign plans and update todo
  docs/features/04-agent-orchestration.md
  docs/plans/2026-03-09-goal-system-redesign-impl.md
  docs/plans/2026-03-09-goal-system-redesign.md
  docs/todo.md
Due: none

feat(ui): add empty states with navigation links to all tab panels
  frontend/src/features/audit/AuditTable.tsx
  frontend/src/features/project/FeatureMapPanel.tsx
  frontend/src/features/project/FilePanel.tsx
  frontend/src/features/project/GoalsPanel.tsx
  frontend/src/features/project/ProjectDetailPage.tsx
  frontend/src/features/project/RoadmapPanel.tsx
  frontend/src/features/project/SessionPanel.tsx
  frontend/src/features/project/WarRoom.tsx
Due: eslint, prettier

feat(ui): add proactive agent greeting on first chat open
  frontend/src/features/project/ChatPanel.tsx
Due: eslint, prettier

docs: update todo and project status for workflow redesign
  docs/project-status.md
  docs/todo.md
Due: none

feat(ui): add OnboardingProgress and ChatSuggestions components
  frontend/src/features/project/ChatPanel.tsx
  frontend/src/features/project/ChatSuggestions.tsx
  frontend/src/features/project/OnboardingProgress.tsx
  frontend/src/features/project/ProjectDetailPage.tsx
Due: eslint, prettier

chore(infra): update dependencies and fix prod compose issues
  .env.example
  docker-compose.prod.yml
  docker-compose.yml
  frontend/package-lock.json
  go.mod
  go.sum
  internal/adapter/a2a/taskstore.go
  internal/adapter/postgres/migrations/058_agent_events_tenant_composite_indexes.sql
  litellm/config.yaml
  poetry.lock
Due: go-imports-repo, go-vet-repo-mod, golangci-lint-repo-mod, prettier

docs: add chat enhancements design document (10 features)
  docs/plans/2026-03-09-chat-enhancements-design.md
Due: none

fix(worker): skill injection crash and missing embedding method
  workers/codeforge/consumer/_conversation.py
  workers/codeforge/llm.py
Due: none

docs: add chat enhancements implementation plan (11 phases, 40+ tasks)
  docs/plans/2026-03-09-chat-enhancements-plan.md
Due: none

feat(policy): add supervised-ask-all preset for autonomy level 1
  internal/domain/policy/presets.go
  internal/domain/policy/presets_test.go
Due: go-imports-repo, go-vet-repo-mod, golangci-lint-repo-mod

feat(policy): add supervised-ask-all preset for autonomy level 1
  internal/domain/policy/presets_test.go
Due: go-imports-repo, go-vet-repo-mod, golangci-lint-repo-mod

feat(policy): auto-map autonomy levels to policy presets
  frontend/src/api/client.ts
  frontend/src/api/websocket.ts
  internal/service/conversation_agent.go
  internal/service/conversation_agent_test.go
Due: go-imports-repo, go-vet-repo-mod, golangci-lint-repo-mod, eslint, prettier

fix(frontend): audit URL query string encoded as path segment
  docs/plans/2026-03-09-playwright-mcp-smoke-test.md
  frontend/src/api/client.ts
Due: eslint, prettier

feat(ui): add PermissionRequestCard component for HITL approval
  frontend/src/features/project/PermissionRequestCard.tsx
Due: eslint, prettier

feat(ui): wire PermissionRequestCard into ChatPanel
  frontend/src/features/project/ChatPanel.tsx
Due: eslint, prettier

feat(tools): edit/write tools return structured diff data
  workers/codeforge/tools/_base.py
  workers/codeforge/tools/edit_file.py
  workers/codeforge/tools/test_diff_output.py
  workers/codeforge/tools/write_file.py
Due: none

feat(ui): add DiffModal component for side-by-side diff view
  frontend/src/features/project/DiffModal.tsx
Due: eslint, prettier

feat(checkpoint): add file snapshot store/revert and HTTP revert endpoint
  cmd/codeforge/main.go
  frontend/src/features/project/DiffView.tsx
  internal/adapter/http/handlers.go
  internal/adapter/http/handlers_conversation.go
  internal/adapter/http/routes.go
  internal/service/checkpoint.go
  internal/service/checkpoint_test.go
Due: go-imports-repo, go-vet-repo-mod, golangci-lint-repo-mod, eslint, prettier

refactor(ui): import DiffHunk from DiffView instead of redefining
  frontend/src/features/project/DiffModal.tsx
Due: eslint, prettier

docs: add benchmark live feed design document
  docs/plans/2026-03-10-benchmark-live-feed-design.md
Due: none

docs: add benchmark live feed implementation plan
  docs/plans/2026-03-10-benchmark-live-feed-plan.md
Due: none

feat(agui): include diff data in tool_result events
  internal/adapter/ws/agui_events.go
  internal/port/messagequeue/schemas.go
  internal/service/runtime_execution.go
  workers/codeforge/agent_loop.py
  workers/codeforge/runtime.py
Due: go-imports-repo, go-vet-repo-mod, golangci-lint-repo-mod

chore(frontend): add @tanstack/solid-virtual for benchmark live feed
  frontend/package-lock.json
  frontend/package.json
Due: prettier

feat(ws): enrich trajectory event broadcast with cost, input, output fields
  internal/adapter/ws/events.go
  internal/service/runtime.go
Due: go-imports-repo, go-vet-repo-mod, golangci-lint-repo-mod

feat(ui): integrate inline diff view with accept/reject into ToolCallCard
  frontend/src/api/client.ts
  frontend/src/api/websocket.ts
  frontend/src/features/project/ChatPanel.tsx
  frontend/src/features/project/ToolCallCard.tsx
Due: eslint, prettier

feat(frontend): add LiveFeedEvent and BenchmarkLiveProgress types
  frontend/src/api/types.ts
Due: eslint, prettier

feat(agui): add action_suggestion event and ActionBar component
  frontend/src/api/websocket.ts
  frontend/src/features/project/ActionBar.tsx
  frontend/src/features/project/actionRules.ts
  internal/adapter/ws/agui_events.go
  internal/service/runtime.go
  workers/codeforge/agent_loop.py
Due: go-imports-repo, go-vet-repo-mod, golangci-lint-repo-mod, eslint, prettier

feat(frontend): add BenchmarkLiveFeed with virtualized auto-scroll and feature tracking
  frontend/src/features/benchmarks/BenchmarkLiveFeed.tsx
Due: eslint, prettier

feat(frontend): integrate BenchmarkLiveFeed into expanded run cards
  frontend/src/features/benchmarks/BenchmarkPage.tsx
Due: eslint, prettier

feat(ui): wire ActionBar into ChatPanel with action suggestions
  frontend/src/features/project/ChatPanel.tsx
Due: eslint, prettier

feat(ui): add model badges, cost tracking, and context gauge
  frontend/src/api/types.ts
  frontend/src/api/websocket.ts
  frontend/src/features/project/ContextGauge.tsx
  frontend/src/features/project/CostBreakdown.tsx
  frontend/src/features/project/MessageBadge.tsx
  frontend/src/features/project/SessionFooter.tsx
  frontend/src/utils/providerMap.ts
  internal/adapter/ws/agui_events.go
  internal/service/conversation_agent.go
  internal/service/runtime_lifecycle.go
Due: go-imports-repo, go-vet-repo-mod, golangci-lint-repo-mod, eslint, prettier

feat(ui): integrate cost tracking and model badges into ChatPanel
  frontend/src/features/project/ChatPanel.tsx
Due: eslint, prettier

fix(frontend): address review findings for benchmark live feed
  frontend/src/api/types.ts
  frontend/src/features/benchmarks/BenchmarkLiveFeed.tsx
  frontend/src/features/benchmarks/BenchmarkPage.tsx
Due: eslint, prettier

feat: add Phase 5 foundations — fuzzy search, frequency tracker, token badge, command registry
  cmd/codeforge/main.go
  frontend/src/features/chat/TokenBadge.tsx
  frontend/src/features/chat/fuzzySearch.ts
  frontend/src/hooks/useFrequencyTracker.ts
  internal/adapter/http/handlers.go
  internal/adapter/http/handlers_commands.go
  internal/adapter/http/routes.go
  internal/domain/command/command.go
  internal/service/commands.go
  internal/service/commands_test.go
Due: go-imports-repo, go-vet-repo-mod, golangci-lint-repo-mod, eslint, prettier

feat(chat): add autocomplete popover, ChatInput with @/#// triggers, wire into ChatPanel
  frontend/src/features/chat/AutocompletePopover.tsx
  frontend/src/features/chat/ChatInput.tsx
  frontend/src/features/chat/commandStore.ts
  frontend/src/features/project/ChatPanel.tsx
Due: eslint, prettier

feat(chat): add slash commands, conversation control endpoints, compact handler, rewind timeline, and diff modal
  frontend/src/features/chat/DiffSummaryModal.tsx
  frontend/src/features/chat/RewindTimeline.tsx
  frontend/src/features/chat/commandExecutor.ts
  internal/adapter/http/handlers_conversation.go
  internal/adapter/http/handlers_test.go
  internal/adapter/http/routes.go
  internal/adapter/postgres/store_conversation.go
  internal/middleware/teststore_test.go
  internal/port/database/store.go
  internal/port/messagequeue/queue.go
  internal/service/conversation.go
  internal/service/project_test.go
  internal/service/runtime_test.go
  workers/codeforge/consumer/__init__.py
  workers/codeforge/consumer/_compact.py
  workers/codeforge/consumer/_subjects.py
Due: go-imports-repo, go-vet-repo-mod, golangci-lint-repo-mod, eslint, prettier

feat(search): add conversation full-text search with FTS index, API, frontend tab, and agent tool
  frontend/src/api/client.ts
  frontend/src/features/search/ConversationResults.tsx
  frontend/src/features/search/SearchPage.tsx
  frontend/src/i18n/en.ts
  frontend/src/i18n/locales/de.ts
  internal/adapter/http/handlers_search.go
  internal/adapter/http/handlers_test.go
  internal/adapter/http/routes.go
  internal/adapter/postgres/migrations/069_add_conversation_fts_index.sql
  internal/adapter/postgres/store_conversation.go
  internal/middleware/teststore_test.go
  internal/port/database/store.go
  internal/service/conversation.go
  internal/service/project_test.go
  internal/service/retrieval.go
  internal/service/runtime_test.go
  workers/codeforge/tools/__init__.py
  workers/codeforge/tools/search_conversations.py
Due: go-imports-repo, go-vet-repo-mod, golangci-lint-repo-mod, eslint, prettier

feat(notifications): add notification center with browser push, sound, tab badge, and AG-UI event wiring
  frontend/src/App.tsx
  frontend/src/features/notifications/NotificationBell.tsx
  frontend/src/features/notifications/NotificationCenter.tsx
  frontend/src/features/notifications/NotificationItem.tsx
  frontend/src/features/notifications/notificationSettings.ts
  frontend/src/features/notifications/notificationStore.ts
  frontend/src/utils/tabBadge.ts
Due: eslint, prettier

feat(channels): add real-time messaging channels with threads, domain model, and sidebar integration
  frontend/src/App.tsx
  frontend/src/api/client.ts
  frontend/src/features/channels/ChannelInput.tsx
  frontend/src/features/channels/ChannelList.tsx
  frontend/src/features/channels/ChannelMessage.tsx
  frontend/src/features/channels/ChannelView.tsx
  frontend/src/features/channels/ThreadPanel.tsx
  frontend/src/index.tsx
  internal/adapter/http/handlers.go
  internal/adapter/http/handlers_channel.go
  internal/adapter/http/handlers_test.go
  internal/adapter/http/routes.go
  internal/adapter/postgres/migrations/070_create_channels.sql
  internal/adapter/postgres/store_channel.go
  internal/adapter/ws/events.go
  internal/domain/channel/channel.go
  internal/middleware/teststore_test.go
  internal/port/database/store.go
  internal/service/channel.go
  internal/service/checkpoint_test.go
  internal/service/project_test.go
  internal/service/runtime_test.go
Due: go-imports-repo, go-vet-repo-mod, golangci-lint-repo-mod, eslint, prettier

Path conditions:
  go-imports-repo: any of: \.go$
  go-vet-repo-mod: any of: \.go$
  golangci-lint-repo-mod: any of: \.go$
  eslint: any of: ^frontend/src/.*\.(ts|tsx|js|jsx)$
  prettier: any of: \.(ts|tsx|js|jsx|json|css|scss|html)$
