Repository Strob0t/CodeForge: changes, and which pre-commit hooks are due for each by the changed paths.
All: go-imports-repo, go-vet-repo-mod, golangci-lint-repo-mod, eslint, prettier

go-imports-repo:
  name: go-imports-repo
  entry: bash -c 'export GOROOT=/go/pkg/mod/golang.org/toolchain@v0.0.1-go1.25.0.linux-amd64 && goimports -l -d $(find . -name "*.go" -not -path "./data/*" -not -path "./vendor/*")'
  language: system
  pass_filenames: false

go-vet-repo-mod:
  name: go-vet-repo-mod
  entry: bash -c 'export GOROOT=/go/pkg/mod/golang.org/toolchain@v0.0.1-go1.25.0.linux-amd64 && go vet ./...'
  language: system
  pass_filenames: false

golangci-lint-repo-mod:
  name: golangci-lint-repo-mod
  entry: bash -c 'export GOROOT=/go/pkg/mod/golang.org/toolchain@v0.0.1-go1.25.0.linux-amd64 && golangci-lint run ./...'
  language: system
  pass_filenames: false

eslint:
  name: eslint
  entry: frontend/node_modules/.bin/eslint --config frontend/eslint.config.js --fix
  language: system

prettier:
  name: prettier
  entry: frontend/node_modules/.bin/prettier --write --ignore-unknown
  language: system

feat(FIX-096): add per-user rate limiting keyed on JWT user ID
  internal/middleware/auth.go
  internal/middleware/ratelimit.go
  internal/middleware/ratelimit_test.go
Due: go-imports-repo, go-vet-repo-mod, golangci-lint-repo-mod

docs: mark FIX-093 and FIX-096 as completed in todo.md
  docs/todo.md
Due: none

docs: add stub-finder worktree plans, test report, and idempotent migration fix
  docs/plans/2026-03-24-wt1-frontend-cleanup.md
  docs/plans/2026-03-24-wt2-security-hardening.md
  docs/plans/2026-03-24-wt3-lsp-stale-comments.md
  docs/plans/2026-03-24-wt4-protocol-enhancements.md
  docs/plans/2026-03-24-wt5-python-cleanup.md
  docs/plans/2026-03-24-wt6-v2-api-design.md
  docs/testing/2026-03-24-autonomous-goal-to-program-report.md
  internal/adapter/postgres/migrations/077_add_agent_events_sequence_number.sql
Due: none

fix: resolve 7 frontend bugs found during Playwright-MCP testing
  frontend/src/App.tsx
  frontend/src/api/client.ts
  frontend/src/api/resources/index.ts
  frontend/src/api/types.ts
  frontend/src/features/project/FilePanel.tsx
  frontend/src/ui/layout/NavIcons.tsx
Due: eslint, prettier

docs: add Playwright-MCP frontend testing results to todo and project-status
  docs/project-status.md
  docs/todo.md
Due: none

docs: add comprehensive Project Detail Page UX testplan
  docs/testing/project-detail-ux-testplan.md
Due: none

docs: add Project Detail Page UX evaluation report
  docs/testing/2026-03-24-project-detail-ux-report.md
Due: none

fix: improve Pull and Auto-Agent error messages for edge cases
  internal/service/autoagent.go
  internal/service/project.go
Due: go-imports-repo, go-vet-repo-mod, golangci-lint-repo-mod

feat: grouped panel selector with descriptions for project detail
  frontend/src/features/project/ProjectDetailPage.tsx
Due: eslint, prettier

feat: grouped panel selector with Portal and inline styles
  frontend/src/features/project/ProjectDetailPage.tsx
Due: eslint, prettier

fix: add confirmation dialog before goal deletion
  frontend/src/features/project/GoalsPanel.tsx
  frontend/src/i18n/en.ts
Due: eslint, prettier

fix: wire goalSvc into runtimeSvc and fix trajectory event UUID errors
  cmd/codeforge/main.go
  internal/service/runtime.go
Due: go-imports-repo, go-vet-repo-mod, golangci-lint-repo-mod

docs: add UX improvements, AI pipeline E2E test, and event-flow fixes
  docs/project-status.md
  docs/todo.md
Due: none

fix: AI Discover model selection, GoalProposalCard wiring, panel dropdown
  frontend/src/features/project/ChatPanel.tsx
  frontend/src/features/project/ProjectDetailPage.tsx
  internal/adapter/http/handlers_goals.go
Due: go-imports-repo, go-vet-repo-mod, golangci-lint-repo-mod, eslint, prettier

fix: use native on:click for Portal dropdown options
  frontend/src/features/project/ProjectDetailPage.tsx
Due: eslint, prettier

docs: mark AI Discover, GoalProposalCard, and panel dropdown as fixed
  docs/todo.md
Due: none

feat: add chat-first orchestration behavior prompt
  internal/service/prompts/behavior/chat_first_orchestration.yaml
Due: none

test: verify chat-first orchestration prompt reaches system prompt
  internal/service/prompt_assembler_test.go
  internal/service/testdata/golden/architect-semiauto-full-prod-agentic.txt
  internal/service/testdata/golden/coder-headless-full-prod-agentic.txt
  internal/service/testdata/golden/coder-supervised-full-dev-agentic.txt
  internal/service/testdata/golden/debugger-fullauto-pure-prod-agentic.txt
  internal/service/testdata/golden/documenter-supervised-pure-dev-passive.txt
  internal/service/testdata/golden/frontend-supervised-full-dev-passive.txt
  internal/service/testdata/golden/orchestrator-fullauto-full-prod-agentic.txt
  internal/service/testdata/golden/reviewer-autoedit-api-dev-agentic.txt
  internal/service/testdata/golden/security-headless-full-prod-agentic.txt
  internal/service/testdata/golden/tester-autoedit-api-dev-agentic.txt
Due: go-imports-repo, go-vet-repo-mod, golangci-lint-repo-mod

feat: add AGUIRoadmapProposal event type and struct
  internal/domain/event/agui.go
Due: go-imports-repo, go-vet-repo-mod, golangci-lint-repo-mod

feat: make propose_goal proactive -- always available, no explicit trigger needed
  workers/codeforge/tools/propose_goal.py
Due: none

feat: add propose_roadmap tool for chat-driven roadmap generation
  workers/codeforge/tools/propose_roadmap.py
  workers/tests/tools/test_propose_roadmap.py
Due: none

feat: add PanelChatLink component for panel-to-chat deep-linking
  frontend/src/features/project/PanelChatLink.tsx
Due: eslint, prettier

feat: register propose_roadmap in conversation handler
  workers/codeforge/consumer/_conversation.py
  workers/codeforge/consumer/_conversation_skill_integration.py
Due: none

feat: route agent.roadmap_proposed trajectory events to agui.roadmap_proposal WS broadcasts
  internal/service/runtime.go
  internal/service/runtime_internal_test.go
Due: go-imports-repo, go-vet-repo-mod, golangci-lint-repo-mod

feat: add Discuss deep-links to GoalsPanel, de-emphasize manual creation
  workers/codeforge/tools/spawn_subagent.py
  workers/tests/tools/test_spawn_subagent.py
Due: none

feat: add Discuss deep-links to GoalsPanel and RoadmapPanel
  frontend/src/api/websocket.ts
  frontend/src/features/project/ChatMessages.tsx
  frontend/src/features/project/ChatPanel.tsx
  frontend/src/features/project/GoalsPanel.tsx
  frontend/src/features/project/RoadmapPanel.tsx
  frontend/src/features/project/RoadmapProposalCard.tsx
  frontend/src/features/project/chatPanelTypes.ts
  frontend/src/features/project/useChatAGUI.ts
Due: eslint, prettier

feat: register spawn_subagent in conversation handler
  workers/codeforge/consumer/_conversation.py
  workers/codeforge/consumer/_conversation_skill_integration.py
Due: none

feat: handle agent.subagent_requested trajectory events (log + broadcast)
  internal/service/runtime.go
Due: go-imports-repo, go-vet-repo-mod, golangci-lint-repo-mod

feat: add Discuss deep-links to FeatureMapPanel
  frontend/src/features/project/featuremap/FeatureCard.tsx
Due: eslint, prettier

fix: remove duplicate RoadmapProposalCard rendering block in ChatMessages
  frontend/src/features/project/ChatMessages.tsx
  frontend/src/features/project/FeatureMapPanel.tsx
  frontend/src/features/project/featuremap/MilestoneColumn.tsx
Due: eslint, prettier

feat: wire deep-link messages from panels to chat input
  frontend/src/features/project/ChatPanel.tsx
  frontend/src/features/project/ProjectDetailPage.tsx
Due: eslint, prettier

feat: add ConsolidatedPlanView combining Goals + Roadmap + FeatureMap
  frontend/src/features/project/ConsolidatedPlanView.tsx
Due: eslint, prettier

docs: add chat-first orchestrator documentation and testplan
  docs/features/07-chat-first-orchestrator.md
  docs/testing/2026-03-25-chat-first-orchestrator-testplan.md
Due: none

fix: add propose_roadmap/spawn_subagent to tool router and refetch goals on run_finished
  frontend/src/features/project/GoalsPanel.tsx
  workers/codeforge/tools/capability.py
  workers/codeforge/tools/tool_router.py
Due: eslint, prettier

fix: remove duplicate goal creation from GoalProposalCard approve
  frontend/src/features/project/GoalProposalCard.tsx
Due: eslint, prettier

docs: add S1 autonomous test report with chat-first orchestrator validation
  docs/testing/2026-03-25-autonomous-goal-to-program-report.md
Due: none

docs: update S1 report with Run 2 results (8/11, clean workspace)
  docs/testing/2026-03-25-autonomous-goal-to-program-report.md
Due: none

docs: add S1+S2 autonomous test report
  docs/testing/2026-03-26-autonomous-s1-s2-report.md
Due: none

docs: add complete S1-S4 autonomous test report
  docs/testing/2026-03-26-autonomous-s1-s4-report.md
Due: none

fix: harden CI/CD with SHA-pinned actions, least-privilege permissions, and Grype scanning
  .github/workflows/ci.yml
  .github/workflows/docker-build.yml
  .grype.yaml
Due: none

Path conditions:
  go-imports-repo: any of: \.go$
  go-vet-repo-mod: any of: \.go$
  golangci-lint-repo-mod: any of: \.go$
  eslint: any of: ^frontend/src/.*\.(ts|tsx|js|jsx)$
  prettier: any of: \.(ts|tsx|js|jsx|json|css|scss|html)$
