Repository Strob0t/CodeForge: changes, and which pre-commit hooks are due for each by the changed paths.
All: eslint, prettier

eslint:
  name: eslint
  entry: npx eslint --fix
  language: system

prettier:
  name: prettier
  entry: npx prettier --write --ignore-unknown
  language: system

docs: clean up todo.md syntax, fix missing status markers
  docs/todo.md
Due: none

docs: convert deferred items to open TODOs, remove [-] convention
  docs/todo.md
Due: none

feat: add PostgreSQL log_line_prefix, Spec Kit and Autospec adapters
  cmd/codeforge/providers.go
  docker-compose.prod.yml
  docker-compose.yml
  docs/todo.md
  internal/adapter/autospec/provider.go
  internal/adapter/autospec/provider_test.go
  internal/adapter/autospec/register.go
  internal/adapter/speckit/provider.go
  internal/adapter/speckit/provider_test.go
  internal/adapter/speckit/register.go
Due: none

feat: add ConfigHolder hot-reload, SIGHUP config reload, config integration tests
  cmd/codeforge/main.go
  docs/todo.md
  internal/config/config.go
  internal/config/loader.go
  internal/config/loader_integration_test.go
Due: none

test: add rate limiting load tests (build tag: load)
  docs/todo.md
  tests/load/ratelimit_test.go
Due: none

feat: add full multi-tenancy with tenant_id WHERE clauses on all queries
  cmd/codeforge/main.go
  docs/project-status.md
  docs/todo.md
  internal/adapter/http/handlers.go
  internal/adapter/http/handlers_test.go
  internal/adapter/http/routes.go
  internal/adapter/postgres/eventstore.go
  internal/adapter/postgres/migrations/018_create_tenants_add_tenant_id.sql
  internal/adapter/postgres/store.go
  internal/adapter/postgres/store_tenant.go
  internal/domain/tenant/tenant.go
  internal/port/database/store.go
  internal/service/project_test.go
  internal/service/runtime_test.go
  internal/service/tenant.go
Due: none

feat: add policy scope levels and evaluation reason tracking
  docs/project-status.md
  docs/todo.md
  internal/adapter/http/handlers.go
  internal/adapter/http/handlers_test.go
  internal/adapter/postgres/migrations/019_policy_profile_on_projects.sql
  internal/adapter/postgres/store.go
  internal/domain/policy/evaluation.go
  internal/domain/policy/policy.go
  internal/domain/project/project.go
  internal/service/policy.go
  internal/service/runtime.go
Due: none

feat: add branch protection rules with glob pattern matching
  cmd/codeforge/main.go
  docs/project-status.md
  docs/todo.md
  internal/adapter/http/handlers.go
  internal/adapter/http/handlers_test.go
  internal/adapter/http/routes.go
  internal/adapter/postgres/migrations/020_branch_protection.sql
  internal/adapter/postgres/store.go
  internal/domain/branchprotection/evaluate.go
  internal/domain/branchprotection/rules.go
  internal/domain/branchprotection/rules_test.go
  internal/port/database/store.go
  internal/service/branchprotection.go
  internal/service/project_test.go
  internal/service/runtime_test.go
Due: none

feat: add replay/audit trail and session events (resume/fork/rewind)
  cmd/codeforge/main.go
  docs/project-status.md
  docs/todo.md
  internal/adapter/http/handlers.go
  internal/adapter/http/handlers_test.go
  internal/adapter/http/routes.go
  internal/adapter/postgres/eventstore.go
  internal/adapter/postgres/migrations/021_create_sessions.sql
  internal/adapter/postgres/store.go
  internal/domain/event/event.go
  internal/domain/event/replay.go
  internal/domain/run/session.go
  internal/port/database/store.go
  internal/port/eventstore/store.go
  internal/service/agent_test.go
  internal/service/project_test.go
  internal/service/replay.go
  internal/service/runtime_test.go
  internal/service/session.go
Due: none

feat: add hybrid execution mode for agent containers
  docs/project-status.md
  docs/todo.md
  internal/config/config.go
  internal/config/loader.go
  internal/port/messagequeue/schemas.go
  internal/service/runtime.go
  internal/service/sandbox.go
Due: none

feat: add SVN, Gitea adapters, VCS webhooks, and bidirectional PM sync
  cmd/codeforge/main.go
  cmd/codeforge/providers.go
  docs/project-status.md
  docs/todo.md
  internal/adapter/gitea/provider.go
  internal/adapter/gitea/provider_test.go
  internal/adapter/gitea/register.go
  internal/adapter/githubpm/provider.go
  internal/adapter/http/handlers.go
  internal/adapter/http/routes.go
  internal/adapter/svn/provider.go
  internal/adapter/svn/provider_test.go
  internal/adapter/svn/register.go
  internal/adapter/ws/events.go
  internal/config/config.go
  internal/config/loader.go
  internal/domain/roadmap/sync.go
  internal/domain/webhook/event.go
  internal/middleware/webhook.go
  internal/port/pmprovider/provider.go
  internal/service/sync.go
  internal/service/vcs_webhook.go
  internal/service/vcs_webhook_test.go
Due: none

feat: add PM webhook sync and Slack/Discord notifications
  cmd/codeforge/main.go
  cmd/codeforge/providers.go
  docs/features/02-roadmap-feature-map.md
  docs/project-status.md
  docs/todo.md
  internal/adapter/discord/notifier.go
  internal/adapter/discord/notifier_test.go
  internal/adapter/discord/register.go
  internal/adapter/http/handlers.go
  internal/adapter/http/routes.go
  internal/adapter/slack/notifier.go
  internal/adapter/slack/notifier_test.go
  internal/adapter/slack/register.go
  internal/config/config.go
  internal/config/loader.go
  internal/domain/webhook/webhook.go
  internal/port/notifier/notifier.go
  internal/port/notifier/registry.go
  internal/service/notification.go
  internal/service/notification_test.go
  internal/service/pm_webhook.go
Due: none

feat: add OpenTelemetry, A2A protocol, AG-UI events, and blue-green deployment
  cmd/codeforge/main.go
  docker-compose.blue-green.yml
  docs/dev-setup.md
  docs/project-status.md
  docs/tech-stack.md
  docs/todo.md
  frontend/src/api/types.ts
  go.mod
  go.sum
  internal/adapter/otel/metrics.go
  internal/adapter/otel/middleware.go
  internal/adapter/otel/setup.go
  internal/adapter/otel/spans.go
  internal/adapter/ws/agui_events.go
  internal/config/config.go
  internal/config/loader.go
  internal/port/a2a/agentcard.go
  internal/port/a2a/handler.go
  internal/port/a2a/handler_test.go
  internal/port/a2a/types.go
  scripts/deploy-blue-green.sh
  traefik/traefik.yaml
Due: eslint, prettier

feat: add dark/light theme system with CSS design tokens
  docs/project-status.md
  docs/todo.md
  frontend/src/App.tsx
  frontend/src/components/ThemeProvider.tsx
  frontend/src/components/Toast.tsx
  frontend/src/features/costs/CostDashboardPage.tsx
  frontend/src/features/dashboard/DashboardPage.tsx
  frontend/src/features/dashboard/ProjectCard.tsx
  frontend/src/features/llm/ModelsPage.tsx
  frontend/src/features/project/AgentPanel.tsx
  frontend/src/features/project/LiveOutput.tsx
  frontend/src/features/project/PlanPanel.tsx
  frontend/src/features/project/PolicyPanel.tsx
  frontend/src/features/project/ProjectDetailPage.tsx
  frontend/src/features/project/RepoMapPanel.tsx
  frontend/src/features/project/RetrievalPanel.tsx
  frontend/src/features/project/RoadmapPanel.tsx
  frontend/src/features/project/RunPanel.tsx
  frontend/src/features/project/TaskPanel.tsx
  frontend/src/features/project/TrajectoryPanel.tsx
  frontend/src/index.css
Due: eslint, prettier

feat: add command palette with keyboard shortcuts
  docs/project-status.md
  docs/todo.md
  frontend/src/App.tsx
  frontend/src/components/CommandPalette.tsx
Due: eslint, prettier

feat: wire toast notifications into all API-calling panels
  docs/project-status.md
  docs/todo.md
  frontend/src/features/dashboard/DashboardPage.tsx
  frontend/src/features/llm/ModelsPage.tsx
  frontend/src/features/project/AgentPanel.tsx
  frontend/src/features/project/ProjectDetailPage.tsx
  frontend/src/features/project/RoadmapPanel.tsx
  frontend/src/features/project/RunPanel.tsx
  frontend/src/features/project/TaskPanel.tsx
Due: eslint, prettier

feat: add WCAG 2.2 AA conformance across all frontend components
  docs/project-status.md
  docs/todo.md
  frontend/src/App.tsx
  frontend/src/components/CommandPalette.tsx
  frontend/src/components/OfflineBanner.tsx
  frontend/src/features/costs/CostDashboardPage.tsx
  frontend/src/features/dashboard/DashboardPage.tsx
  frontend/src/features/dashboard/ProjectCard.tsx
  frontend/src/features/llm/ModelsPage.tsx
  frontend/src/features/project/AgentPanel.tsx
  frontend/src/features/project/LiveOutput.tsx
  frontend/src/features/project/PlanPanel.tsx
  frontend/src/features/project/PolicyPanel.tsx
  frontend/src/features/project/ProjectDetailPage.tsx
  frontend/src/features/project/RepoMapPanel.tsx
  frontend/src/features/project/RetrievalPanel.tsx
  frontend/src/features/project/RoadmapPanel.tsx
  frontend/src/features/project/RunPanel.tsx
  frontend/src/features/project/TaskPanel.tsx
  frontend/src/features/project/TrajectoryPanel.tsx
  frontend/src/index.css
Due: eslint, prettier

feat: add offline graceful degradation with GET cache and mutation queue
  docs/project-status.md
  docs/todo.md
  frontend/src/api/cache.ts
  frontend/src/api/client.ts
Due: eslint, prettier

feat: add i18n internationalization with English and German translations
  docs/project-status.md
  docs/todo.md
  frontend/src/App.tsx
  frontend/src/components/CommandPalette.tsx
  frontend/src/components/OfflineBanner.tsx
  frontend/src/components/ThemeProvider.tsx
  frontend/src/components/Toast.tsx
  frontend/src/features/costs/CostDashboardPage.tsx
  frontend/src/features/dashboard/DashboardPage.tsx
  frontend/src/features/dashboard/ProjectCard.tsx
  frontend/src/features/llm/ModelsPage.tsx
  frontend/src/features/project/AgentPanel.tsx
  frontend/src/features/project/LiveOutput.tsx
  frontend/src/features/project/PlanPanel.tsx
  frontend/src/features/project/PolicyPanel.tsx
  frontend/src/features/project/ProjectDetailPage.tsx
  frontend/src/features/project/RepoMapPanel.tsx
  frontend/src/features/project/RetrievalPanel.tsx
  frontend/src/features/project/RoadmapPanel.tsx
  frontend/src/features/project/RunPanel.tsx
  frontend/src/features/project/TaskPanel.tsx
  frontend/src/features/project/TrajectoryPanel.tsx
  frontend/src/i18n/LocaleSwitcher.tsx
  frontend/src/i18n/context.tsx
  frontend/src/i18n/en.ts
  frontend/src/i18n/index.ts
  frontend/src/i18n/locales/de.ts
Due: eslint, prettier

refactor: make i18n provider data-driven for unlimited locales
  frontend/src/i18n/LocaleSwitcher.tsx
  frontend/src/i18n/context.tsx
Due: eslint, prettier

fix: update playwright-mcp transport from SSE to Streamable HTTP
  .mcp.json
Due: prettier

feat: add Google Gemini models to LiteLLM configuration
  docker-compose.yml
  litellm/config.yaml
Due: none

fix: correct LiteLLM config path in docker-compose
  docker-compose.yml
Due: none

feat: add Groq and Mistral AI providers to LiteLLM configuration
  .env.example
  docker-compose.yml
  docs/dev-setup.md
  litellm/config.yaml
Due: none

feat: add all available models for Groq, Mistral, and Anthropic
  litellm/config.yaml
Due: none

feat: add CLI flag overrides for Go Core config
  CLAUDE.md
  cmd/codeforge/main.go
  docs/dev-setup.md
  docs/project-status.md
  docs/todo.md
  internal/config/config.go
  internal/config/loader.go
  internal/config/loader_test.go
Due: none

feat: add locale-aware date/number formatting with Intl APIs
  docs/todo.md
  frontend/src/features/costs/CostDashboardPage.tsx
  frontend/src/features/dashboard/ProjectCard.tsx
  frontend/src/features/project/ProjectDetailPage.tsx
  frontend/src/features/project/RepoMapPanel.tsx
  frontend/src/features/project/RetrievalPanel.tsx
  frontend/src/features/project/RunPanel.tsx
  frontend/src/features/project/TaskPanel.tsx
  frontend/src/features/project/TrajectoryPanel.tsx
  frontend/src/i18n/context.tsx
  frontend/src/i18n/formatters.ts
  frontend/src/i18n/index.ts
Due: eslint, prettier

feat: add pluralization support with tp() and Intl.PluralRules
  docs/project-status.md
  docs/todo.md
  frontend/src/features/costs/CostDashboardPage.tsx
  frontend/src/features/project/RunPanel.tsx
  frontend/src/features/project/TrajectoryPanel.tsx
  frontend/src/i18n/context.tsx
  frontend/src/i18n/en.ts
  frontend/src/i18n/locales/de.ts
Due: eslint, prettier

feat: add axe-core accessibility audit to E2E tests
  docs/project-status.md
  docs/tech-stack.md
  docs/todo.md
  frontend/e2e/a11y.spec.ts
  frontend/package-lock.json
  frontend/package.json
Due: eslint, prettier

feat: add branch protection setup script for main
  docs/dev-setup.md
  docs/project-status.md
  docs/todo.md
  scripts/setup-branch-protection.sh
Due: none

feat: add tab navigation to ProjectDetailPage
  docs/project-status.md
  docs/todo.md
  frontend/src/features/project/ProjectDetailPage.tsx
  frontend/src/i18n/en.ts
  frontend/src/i18n/locales/de.ts
Due: eslint, prettier

feat: add Settings/Configuration page with providers, API keys, and user management
  docs/project-status.md
  docs/todo.md
  frontend/src/App.tsx
  frontend/src/features/settings/SettingsPage.tsx
  frontend/src/i18n/en.ts
  frontend/src/i18n/locales/de.ts
  frontend/src/index.tsx
Due: eslint, prettier

feat: add Mode selection UI with card grid and custom mode creation
  docs/project-status.md
  docs/todo.md
  frontend/src/App.tsx
  frontend/src/features/modes/ModesPage.tsx
  frontend/src/i18n/en.ts
  frontend/src/i18n/locales/de.ts
  frontend/src/index.tsx
Due: eslint, prettier

feat: add step-progress indicators for runs and execution plans
  docs/project-status.md
  docs/todo.md
  frontend/src/components/StepProgress.tsx
  frontend/src/features/project/PlanPanel.tsx
  frontend/src/features/project/RunPanel.tsx
  frontend/src/i18n/en.ts
  frontend/src/i18n/locales/de.ts
Due: eslint, prettier

feat: add global activity stream page with cross-project event monitoring
  docs/project-status.md
  docs/todo.md
  frontend/src/App.tsx
  frontend/src/features/activity/ActivityPage.tsx
  frontend/src/i18n/en.ts
  frontend/src/i18n/locales/de.ts
  frontend/src/index.tsx
Due: eslint, prettier

feat: add Team/Multi-Agent management UI with project-scoped team creation
  docs/project-status.md
  docs/todo.md
  frontend/src/App.tsx
  frontend/src/features/teams/TeamsPage.tsx
  frontend/src/i18n/en.ts
  frontend/src/i18n/locales/de.ts
  frontend/src/index.tsx
Due: eslint, prettier

feat: add trajectory replay inspector with step-by-step playback
  docs/project-status.md
  docs/todo.md
  frontend/src/features/project/TrajectoryPanel.tsx
  frontend/src/i18n/en.ts
  frontend/src/i18n/locales/de.ts
Due: eslint, prettier

feat: add diff-review code preview with unified diff parser
  docs/project-status.md
  docs/todo.md
  frontend/src/components/DiffPreview.tsx
  frontend/src/features/project/TrajectoryPanel.tsx
  frontend/src/i18n/en.ts
  frontend/src/i18n/locales/de.ts
Due: eslint, prettier

feat: add split-screen decompose view in PlanPanel
  docs/project-status.md
  docs/todo.md
  frontend/src/features/project/PlanPanel.tsx
  frontend/src/i18n/en.ts
  frontend/src/i18n/locales/de.ts
Due: eslint, prettier

Path conditions:
  eslint: any of: \.(ts|tsx|js|jsx)$
  prettier: any of: \.(ts|tsx|js|jsx|json|css|scss|html|svelte|vue)$
