Repository Strob0t/CodeForge: changes, and which pre-commit hooks are due for each by the changed paths.
All: go-imports-repo, go-vet-repo-mod, golangci-lint-repo-mod, eslint, prettier

go-imports-repo:
  name: go-imports-repo
  entry: bash -c 'export GOROOT=/go/pkg/mod/golang.org/toolchain@v0.0.1-go1.25.0.linux-amd64 && goimports -l -d $(find . -name "*.go" -not -path "./data/*" -not -path "./vendor/*")'
  language: system
  pass_filenames: false

go-vet-repo-mod:
  name: go-vet-repo-mod
  entry: bash -c 'export GOROOT=/go/pkg/mod/golang.org/toolchain@v0.0.1-go1.25.0.linux-amd64 && go vet ./...'
  language: system
  pass_filenames: false

golangci-lint-repo-mod:
  name: golangci-lint-repo-mod
  entry: bash -c 'export GOROOT=/go/pkg/mod/golang.org/toolchain@v0.0.1-go1.25.0.linux-amd64 && golangci-lint run ./...'
  language: system
  pass_filenames: false

eslint:
  name: eslint
  entry: frontend/node_modules/.bin/eslint --config frontend/eslint.config.js --fix
  language: system

prettier:
  name: prettier
  entry: frontend/node_modules/.bin/prettier --write --ignore-unknown
  language: system

fix(worker): report entries the owner-run walk cannot examine; check the census (KI-223)
  workers/codeforge/tool_migration.py
  workers/codeforge/tool_walk.py
  workers/tests/test_tool_migration.py
  workers/tests/test_tool_walk.py
Due: none

fix(worker): cost streamed LLM calls and fail on mid-stream errors (KI-196)
  Dockerfile.worker
  workers/codeforge/agent_loop.py
  workers/codeforge/llm.py
  workers/codeforge/model_resolver.py
  workers/codeforge/pricing.py
  workers/codeforge/skills/safety.py
  workers/tests/test_llm_stream_cost.py
  workers/tests/test_llm_stream_failures.py
  workers/tests/test_model_resolution_off_loop.py
  workers/tests/test_model_resolver.py
  workers/tests/test_pricing.py
Due: none

fix(worker): bound the owner-run walk's descriptors; skipped subtrees fail the migration (KI-223)
  workers/codeforge/tool_migration.py
  workers/codeforge/tool_walk.py
  workers/tests/test_tool_migration.py
  workers/tests/test_tool_walk.py
  workers/tests/test_workspace_fs_scan.py
Due: none

fix(worker): stop tool processes on Stop, timeout and abort (KI-194)
  workers/codeforge/backends/_cli_base.py
  workers/codeforge/evaluation/evaluators/functional_test.py
  workers/codeforge/evaluation/runners/agent.py
  workers/codeforge/subprocess_utils.py
  workers/codeforge/tool_executor.py
  workers/codeforge/tools/bash.py
  workers/codeforge/tools/search_files.py
  workers/tests/processes.py
  workers/tests/test_backend_aider.py
  workers/tests/test_backend_stubs.py
  workers/tests/test_benchmark_commands.py
  workers/tests/test_cli_backend_process_group.py
  workers/tests/test_sweagent_backend.py
  workers/tests/test_tool_bash.py
  workers/tests/test_tool_interrupt.py
Due: none

fix(worker): let the worker check what the legacy walks cannot list (KI-223)
  workers/codeforge/tool_migration.py
  workers/codeforge/tool_walk.py
  workers/tests/test_tool_isolation_integration.py
  workers/tests/test_tool_migration.py
  workers/tests/test_tool_walk.py
  workers/tests/test_workspace_fs_scan.py
Due: none

fix(worker): keep the owner-run walk linear in depth and cap it (KI-223)
  workers/codeforge/tool_walk.py
  workers/tests/test_tool_walk.py
  workers/tests/test_workspace_fs_scan.py
Due: none

fix(worker): price streamed calls by cache reads, serving model and failed attempts (KI-196)
  workers/codeforge/llm.py
  workers/tests/test_llm_stream_cost.py
  workers/tests/test_model_capability.py
Due: none

fix(worker): resolve the default model on the loop from a fresh cache; route benchmarks off it (KI-196)
  workers/codeforge/consumer/_benchmark.py
  workers/codeforge/llm.py
  workers/codeforge/model_resolver.py
  workers/tests/test_model_resolution_off_loop.py
Due: none

fix(worker): never signal a reaped command's group; a finished command is no timeout (KI-194)
  workers/codeforge/subprocess_utils.py
  workers/tests/test_subprocess_utils.py
  workers/tests/test_tool_failure_output.py
Due: none

docs: S10-E2 worker fixes (KI-194, KI-196, KI-223, KI-228)
  docs/features/04-agent-orchestration.md
  docs/todo.md
Due: none

test(worker): drop the off-loop test of the removed LLM skill selection (KI-196)
  workers/tests/test_model_resolution_off_loop.py
Due: none

fix(policy): the server names the built-in presets, none is deletable (KI-129)
  frontend/src/api/resources/settings.ts
  frontend/src/api/types.ts
  frontend/src/features/project/PolicyPanel.test.tsx
  frontend/src/features/project/PolicyPanel.tsx
  frontend/src/features/project/RunPanel.test.tsx
  internal/adapter/http/handlers_policy_crud.go
  internal/adapter/http/handlers_test.go
Due: go-imports-repo, go-vet-repo-mod, golangci-lint-repo-mod, eslint, prettier

fix(dashboard): a project without runs is not rated critical (KI-129)
  frontend/src/api/types.ts
  frontend/src/features/dashboard/HealthDot.test.tsx
  frontend/src/features/dashboard/HealthDot.tsx
  frontend/src/i18n/en.ts
  frontend/src/i18n/locales/de.ts
  internal/adapter/postgres/store_dashboard.go
  internal/domain/dashboard/dashboard.go
  internal/domain/dashboard/dashboard_test.go
Due: go-imports-repo, go-vet-repo-mod, golangci-lint-repo-mod, eslint, prettier

fix(knowledge): hide knowledge-base admin actions from non-admins (KI-146)
  frontend/src/features/knowledgebases/KnowledgeBasesPage.test.tsx
  frontend/src/features/knowledgebases/KnowledgeBasesPage.tsx
  frontend/src/i18n/en.ts
  frontend/src/i18n/locales/de.ts
Due: eslint, prettier

fix(chat): live tool cards only for real calls with results, capped diffs (KI-161)
  frontend/src/features/project/ChatMessages.tsx
  frontend/src/features/project/ToolCallCard.test.tsx
  frontend/src/features/project/ToolCallCard.tsx
  frontend/src/features/project/chatPanelTypes.ts
  frontend/src/features/project/useChatAGUI.test.ts
  frontend/src/features/project/useChatAGUI.ts
  frontend/src/i18n/en.ts
  frontend/src/i18n/locales/de.ts
  internal/port/messagequeue/schemas_run.go
  internal/port/messagequeue/schemas_test.go
  internal/service/conversation_tool_cards_test.go
  internal/service/runtime_execution.go
  workers/codeforge/claude_code_executor.py
  workers/codeforge/runtime.py
  workers/tests/test_claude_code_cli_integration.py
  workers/tests/test_claude_code_executor.py
  workers/tests/test_runtime_client.py
Due: go-imports-repo, go-vet-repo-mod, golangci-lint-repo-mod, eslint, prettier

fix(retrieval): the project panel says when semantic search is off (KI-138)
  frontend/src/features/project/RetrievalPanel.test.tsx
  frontend/src/features/project/RetrievalPanel.tsx
  frontend/src/i18n/en.ts
  frontend/src/i18n/locales/de.ts
Due: eslint, prettier

fix(ui): long model IDs and feature titles fit their cards (KI-129)
  frontend/src/features/llm/ModelsPage.test.tsx
  frontend/src/features/llm/ModelsPage.tsx
  frontend/src/features/project/featuremap/FeatureCard.test.tsx
  frontend/src/features/project/featuremap/FeatureCard.tsx
  frontend/src/i18n/en.ts
  frontend/src/i18n/locales/de.ts
Due: eslint, prettier

fix(quarantine): the page follows quarantine events live (KI-142)
  frontend/src/features/quarantine/QuarantinePage.test.tsx
  frontend/src/features/quarantine/QuarantinePage.tsx
Due: eslint, prettier

fix(routing): mark the stats of removed models (KI-129)
  frontend/src/features/routing/RoutingStatsPage.test.tsx
  frontend/src/features/routing/RoutingStatsPage.tsx
  frontend/src/features/routing/configuredModels.test.ts
  frontend/src/features/routing/configuredModels.ts
  frontend/src/i18n/en.ts
  frontend/src/i18n/locales/de.ts
Due: eslint, prettier

test(dashboard): a new project's health level is unknown in the store (KI-129)
  internal/adapter/postgres/store_dashboard_health_test.go
Due: go-imports-repo, go-vet-repo-mod, golangci-lint-repo-mod

fix(chat): live tool cards and branch badge during a turn (KI-129, KI-161)
  frontend/src/features/project/ChatPanel.tsx
  frontend/src/features/project/ProjectDetailPage.tsx
  frontend/src/features/project/useChatAGUI.test.ts
  frontend/src/features/project/useChatAGUI.ts
  frontend/src/features/project/useProjectDetail.test.tsx
  frontend/src/features/project/useProjectDetail.ts
  internal/service/conversation_tool_cards_test.go
  internal/service/runtime_execution.go
Due: go-imports-repo, go-vet-repo-mod, golangci-lint-repo-mod, eslint, prettier

fix(claudecode): the chat's tool cards complete with the CLI's results (KI-161)
  internal/port/messagequeue/schemas_run.go
  internal/service/conversation_tool_cards_test.go
  workers/codeforge/claude_code_executor.py
  workers/codeforge/claude_code_policy_hook.py
  workers/tests/test_claude_code_cli_integration.py
  workers/tests/test_claude_code_executor.py
  workers/tests/test_claude_code_policy_hook.py
Due: go-imports-repo, go-vet-repo-mod, golangci-lint-repo-mod

fix(project): a failed git status refresh keeps the page (KI-129)
  frontend/src/features/project/ProjectDetailPage.test.tsx
  frontend/src/features/project/useProjectDetail.ts
  frontend/src/lib/coalesce.test.ts
  frontend/src/lib/coalesce.ts
Due: eslint, prettier

fix(quarantine): live updates survive a failed list and bursts (KI-142)
  frontend/src/features/quarantine/QuarantinePage.test.tsx
  frontend/src/features/quarantine/QuarantinePage.tsx
Due: eslint, prettier

test(chat): boundary values of the broadcast diff cap (KI-161)
  internal/service/runtime_execution_diff_test.go
Due: go-imports-repo, go-vet-repo-mod, golangci-lint-repo-mod

fix(runs): no live tool card for the agent loop's LLM permission (KI-161)
  internal/service/conversation_tool_cards_test.go
  internal/service/runtime_execution.go
Due: go-imports-repo, go-vet-repo-mod, golangci-lint-repo-mod

fix(routing): accept the registry's available model names (KI-129)
  frontend/src/api/resources/llm.ts
  frontend/src/api/types.ts
  frontend/src/features/routing/RoutingStatsPage.test.tsx
  frontend/src/features/routing/RoutingStatsPage.tsx
Due: eslint, prettier

docs: S9-D UI fixes (KI-129, KI-138, KI-142, KI-146, KI-161)
  docs/features/04-agent-orchestration.md
  docs/todo.md
Due: none

fix(hooks): add GOBIN to PATH once per session (KI-226)
  .claude/hooks/session-start.sh
  docs/todo.md
Due: none

ci(docker): per-image build cache scopes and one run per ref (KI-214)
  .github/workflows/docker-build.yml
  docs/todo.md
Due: none

fix(http): batch project delete is admin-only and audited per project (KI-173)
  internal/adapter/http/handlers_batch.go
  internal/adapter/http/handlers_batch_roles_test.go
  internal/adapter/http/routes.go
Due: go-imports-repo, go-vet-repo-mod, golangci-lint-repo-mod

fix(http): tenant admins reach only their own tenant; disabled tenants are refused (KI-174)
  cmd/codeforge/main.go
  internal/adapter/http/handlers_tenant_test.go
  internal/adapter/http/routes.go
  internal/adapter/postgres/store_tenant.go
  internal/domain/tenant/tooluid.go
  internal/middleware/tenant_gate.go
  internal/middleware/tenant_gate_test.go
  internal/service/tenant.go
  internal/service/tenant_test.go
Due: go-imports-repo, go-vet-repo-mod, golangci-lint-repo-mod

fix(http): wire the audit store in production and audit the auth routes (KI-172)
  cmd/codeforge/main.go
  cmd/codeforge/routes.go
  cmd/codeforge/routes_test.go
  internal/adapter/http/handlers_audit_test.go
  internal/adapter/http/handlers_auth.go
  internal/adapter/http/handlers_auth_audit_test.go
  internal/adapter/http/routes.go
  internal/middleware/audit.go
  internal/middleware/audit_actor_test.go
  internal/service/auth.go
  internal/service/auth_test.go
  internal/service/auth_token_epoch_test.go
Due: go-imports-repo, go-vet-repo-mod, golangci-lint-repo-mod

fix(http): tenant-scoped user admin routes, push-config tokens, body limits, error codes (KI-176)
  internal/adapter/http/handlers_a2a.go
  internal/adapter/http/handlers_agent_features.go
  internal/adapter/http/handlers_goals.go
  internal/adapter/http/handlers_leftovers_test.go
  internal/adapter/http/handlers_project.go
  internal/adapter/http/handlers_prompt_evolution.go
  internal/adapter/http/handlers_review.go
  internal/adapter/http/handlers_review_test.go
  internal/adapter/http/handlers_routing.go
  internal/adapter/http/handlers_settings.go
  internal/adapter/http/handlers_shared_context.go
  internal/adapter/http/handlers_shared_context_test.go
  internal/adapter/http/helpers.go
  internal/service/auth.go
  internal/service/gdpr.go
  internal/service/gdpr_tenant_test.go
  internal/service/gdpr_test.go
  internal/service/routing.go
  internal/service/settings.go
Due: go-imports-repo, go-vet-repo-mod, golangci-lint-repo-mod

fix(http): enforce API key scopes per route group (KI-175)
  internal/adapter/http/routes.go
  internal/adapter/http/scopes.go
  internal/adapter/http/scopes_test.go
  internal/middleware/auth.go
  internal/middleware/scope.go
  internal/service/auth_apikey.go
Due: go-imports-repo, go-vet-repo-mod, golangci-lint-repo-mod

fix(http): every mutating route requires an editor or admin (KI-171)
  internal/adapter/http/export_test.go
  internal/adapter/http/handlers_channel.go
  internal/adapter/http/handlers_test.go
  internal/adapter/http/routes.go
  internal/adapter/http/routes_roles_test.go
Due: go-imports-repo, go-vet-repo-mod, golangci-lint-repo-mod

fix(http): log the tenant gate's answers (KI-174)
  cmd/codeforge/main.go
Due: go-imports-repo, go-vet-repo-mod, golangci-lint-repo-mod

fix(http): API key scopes follow the route chi dispatches to (KI-175)
  internal/adapter/http/routes.go
  internal/adapter/http/scopes.go
  internal/adapter/http/scopes_test.go
Due: go-imports-repo, go-vet-repo-mod, golangci-lint-repo-mod

fix(http): a malformed optional body is refused, not taken as empty (KI-176)
  internal/adapter/http/handlers_optional_body_test.go
  internal/adapter/http/helpers.go
  internal/adapter/http/helpers_optional_json_test.go
Due: go-imports-repo, go-vet-repo-mod, golangci-lint-repo-mod

fix(auth): a disabled tenant's A2A keys, logins and refreshes are refused (KI-174)
  cmd/codeforge/main.go
  internal/adapter/http/handlers_auth.go
  internal/adapter/http/handlers_auth_test.go
  internal/adapter/http/handlers_test.go
  internal/middleware/a2a_auth.go
  internal/middleware/a2a_auth_test.go
  internal/middleware/tenant_gate.go
  internal/middleware/tenant_gate_test.go
  internal/middleware/teststore_test.go
  internal/service/auth.go
  internal/service/auth_test.go
  internal/service/auth_token.go
  internal/service/project_test.go
  internal/service/tenant.go
Due: go-imports-repo, go-vet-repo-mod, golangci-lint-repo-mod

Path conditions:
  go-imports-repo: any of: \.go$
  go-vet-repo-mod: any of: \.go$
  golangci-lint-repo-mod: any of: \.go$
  eslint: any of: ^frontend/src/.*\.(ts|tsx|js|jsx)$
  prettier: any of: \.(ts|tsx|js|jsx|json|css|scss|html)$
