Repository Strob0t/CodeForge: changes, and which pre-commit hooks are due for each by the changed paths.
All: go-imports-repo, go-vet-repo-mod, golangci-lint-repo-mod, eslint, prettier

go-imports-repo:
  name: go-imports-repo
  entry: bash -c 'export GOROOT=/go/pkg/mod/golang.org/toolchain@v0.0.1-go1.25.0.linux-amd64 && goimports -l -d $(find . -name "*.go" -not -path "./data/*" -not -path "./vendor/*")'
  language: system
  pass_filenames: false

go-vet-repo-mod:
  name: go-vet-repo-mod
  entry: bash -c 'export GOROOT=/go/pkg/mod/golang.org/toolchain@v0.0.1-go1.25.0.linux-amd64 && go vet ./...'
  language: system
  pass_filenames: false

golangci-lint-repo-mod:
  name: golangci-lint-repo-mod
  entry: bash -c 'export GOROOT=/go/pkg/mod/golang.org/toolchain@v0.0.1-go1.25.0.linux-amd64 && golangci-lint run ./...'
  language: system
  pass_filenames: false

eslint:
  name: eslint
  entry: frontend/node_modules/.bin/eslint --config frontend/eslint.config.js --fix
  language: system

prettier:
  name: prettier
  entry: frontend/node_modules/.bin/prettier --write --ignore-unknown
  language: system

refactor: decompose store.go into domain-specific store files
  internal/adapter/postgres/store.go
  internal/adapter/postgres/store_branch_protection.go
  internal/adapter/postgres/store_context_pack.go
  internal/adapter/postgres/store_cost.go
  internal/adapter/postgres/store_plan.go
  internal/adapter/postgres/store_project.go
  internal/adapter/postgres/store_roadmap.go
  internal/adapter/postgres/store_run.go
  internal/adapter/postgres/store_session.go
  internal/adapter/postgres/store_team.go
Due: go-imports-repo, go-vet-repo-mod, golangci-lint-repo-mod

feat: add Prometheus alert rules for NATS lag, memory, health
  configs/prometheus/alerts.yml
Due: none

test: add integration tests for top-5 most-called store methods
  internal/adapter/postgres/store_test.go
Due: go-imports-repo, go-vet-repo-mod, golangci-lint-repo-mod

docs: update universal audit report with remediation results
  docs/audits/2026-03-23-universal-audit-v2-report.md
Due: none

docs: add Round 3 implementation plans (WT-10 to WT-13)
  docs/plans/2026-03-24-wt10-go-store-tests-quality.md
  docs/plans/2026-03-24-wt11-frontend-decomp-a11y.md
  docs/plans/2026-03-24-wt12-infra-production.md
  docs/plans/2026-03-24-wt13-tech-debt-cleanup.md
Due: none

test: add store integration tests for message CRUD + search
  internal/adapter/postgres/store_test.go
Due: go-imports-repo, go-vet-repo-mod, golangci-lint-repo-mod

feat: add wall-clock timeout to conversation runs (default 1h)
  .env.example
  workers/codeforge/consumer/_conversation.py
Due: none

test: add store integration tests for roadmap, goals, MCP servers
  internal/adapter/postgres/store_test.go
Due: go-imports-repo, go-vet-repo-mod, golangci-lint-repo-mod

feat: add memory monitoring with configurable threshold in agent loop
  pyproject.toml
  workers/codeforge/agent_loop.py
Due: none

fix: standardize Python logging to structlog in routing/ and evaluation/ (FIX-092)
  workers/codeforge/evaluation/prompt_mutator.py
  workers/codeforge/evaluation/prompt_optimizer.py
  workers/codeforge/routing/blocklist.py
  workers/codeforge/routing/capabilities.py
  workers/codeforge/routing/key_filter.py
  workers/codeforge/routing/meta_router.py
  workers/codeforge/routing/router.py
  workers/tests/test_routing_key_filter.py
Due: none

feat: add SecretsProvider with Docker Secrets + env var fallback
  internal/secrets/provider.go
  internal/secrets/provider_test.go
Due: go-imports-repo, go-vet-repo-mod, golangci-lint-repo-mod

refactor: extract 4 helpers from SendMessageAgentic (254->156 LOC)
  internal/service/conversation_agent.go
Due: go-imports-repo, go-vet-repo-mod, golangci-lint-repo-mod

fix: add missing aria-labels to form controls (WCAG SC 1.3.1, 4.1.2)
  frontend/src/features/canvas/DesignCanvas.tsx
  frontend/src/features/channels/ChannelInput.tsx
  frontend/src/features/chat/ChatInput.tsx
  frontend/src/features/project/GoalsPanel.tsx
  frontend/src/features/project/PolicyPanel.tsx
  frontend/src/features/search/SearchPage.tsx
  frontend/src/i18n/en.ts
  frontend/src/i18n/locales/de.ts
Due: eslint, prettier

feat: add Python secrets provider with Docker Secrets support
  workers/codeforge/consumer/__init__.py
  workers/codeforge/secrets.py
Due: none

feat: add Docker Secrets to prod compose with generation script
  .gitignore
  docker-compose.prod.yml
  scripts/generate-secrets.sh
Due: none

docs: document production secret management (Docker Secrets)
  docs/SECURITY.md
  docs/dev-setup.md
Due: none

fix: replace broad Callable[...] with specific typed signature (FIX-089)
  workers/codeforge/tools/_error_handler.py
Due: none

refactor: extract 3 helpers from StartRun (280->152 LOC)
  internal/service/runtime.go
Due: go-imports-repo, go-vet-repo-mod, golangci-lint-repo-mod

refactor: extract usePolicyPanel hook from PolicyPanel (874 -> 671 + 318 LOC)
  frontend/src/features/project/PolicyPanel.tsx
  frontend/src/features/project/usePolicyPanel.ts
Due: eslint, prettier

fix: handle filepath.Rel error with fallback to basename
  internal/adapter/autospec/provider.go
Due: go-imports-repo, go-vet-repo-mod, golangci-lint-repo-mod

refactor: extract useBenchmarkPage hook from BenchmarkPage (848 -> 399 + 503 LOC)
  frontend/src/features/benchmarks/BenchmarkPage.tsx
  frontend/src/features/benchmarks/useBenchmarkPage.ts
Due: eslint, prettier

refactor: decompose agent_loop.py into 4 focused modules
  workers/codeforge/agent_loop.py
  workers/codeforge/loop_helpers.py
  workers/codeforge/quality_tracking.py
  workers/codeforge/stall_detection.py
Due: none

refactor: extract useMicroagentsPage hooks from MicroagentsPage (851 -> 631 + 277 LOC)
  frontend/src/features/microagents/MicroagentsPage.tsx
  frontend/src/features/microagents/useMicroagentsPage.ts
Due: eslint, prettier

refactor: decompose _conversation.py into 4 focused modules (1216->608 LOC)
  workers/codeforge/consumer/_conversation.py
  workers/codeforge/consumer/conversation_prompt_builder.py
  workers/codeforge/consumer/conversation_routing.py
  workers/codeforge/consumer/conversation_skill_integration.py
  workers/tests/consumer/test_conversation_handler.py
Due: none

refactor: decompose _benchmark.py into 3 focused modules (1040->535 LOC)
  workers/codeforge/consumer/_benchmark.py
  workers/codeforge/consumer/benchmark_gemmas.py
  workers/codeforge/consumer/benchmark_runners.py
Due: none

docs: final audit report update with Round 3 results
  docs/audits/2026-03-23-universal-audit-v2-report.md
Due: none

fix: remove redundant domain_llmkey subdirectory
  internal/domain/llmkey/domain_llmkey/llmkey.go
  internal/domain/llmkey/domain_llmkey/llmkey_test.go
Due: go-imports-repo, go-vet-repo-mod, golangci-lint-repo-mod

fix: rename consumer modules to match _prefix convention
  workers/codeforge/consumer/_benchmark.py
  workers/codeforge/consumer/_benchmark_gemmas.py
  workers/codeforge/consumer/_benchmark_runners.py
  workers/codeforge/consumer/_conversation.py
  workers/codeforge/consumer/_conversation_prompt_builder.py
  workers/codeforge/consumer/_conversation_routing.py
  workers/codeforge/consumer/_conversation_skill_integration.py
  workers/tests/consumer/test_conversation_handler.py
Due: none

fix: move canvas tests from __tests__/ to feature root for consistency
  frontend/src/features/canvas/AnnotateTool.test.ts
  frontend/src/features/canvas/CanvasModal.test.ts
  frontend/src/features/canvas/CanvasToolbar.test.ts
  frontend/src/features/canvas/ImageTool.test.ts
  frontend/src/features/canvas/buildCanvasPrompt.test.ts
  frontend/src/features/canvas/canvasState.test.ts
  frontend/src/features/canvas/exportAscii.test.ts
  frontend/src/features/canvas/exportJson.test.ts
  frontend/src/features/canvas/freehandSmoothing.test.ts
  frontend/src/features/canvas/viewport.test.ts
Due: eslint, prettier

chore(FIX-092): remove stale logging standardization TODO (already done)
  workers/codeforge/consumer/__init__.py
Due: none

docs(FIX-075): update stale LSP comments — adapter is already wired
  internal/adapter/lsp/client.go
  internal/adapter/lsp/doc.go
Due: go-imports-repo, go-vet-repo-mod, golangci-lint-repo-mod

docs: clarify StubBackendExecutor purpose as template for future backends
  workers/codeforge/backends/_base.py
Due: none

fix: replace silent no-op with dev warning in useCRUDForm onDelete fallback
  frontend/src/hooks/useCRUDForm.ts
Due: eslint, prettier

feat: add MCP parameterized resource templates for per-project access
  internal/adapter/mcp/resources.go
  internal/adapter/mcp/resources_test.go
Due: go-imports-repo, go-vet-repo-mod, golangci-lint-repo-mod

docs: v2 API migration design covering FIX-061/063/095/098/100
  docs/specs/v2-api-migration-design.md
  docs/todo.md
Due: none

docs: add LSP configuration section to example config
  codeforge.example.yaml
Due: none

feat(FIX-093): add force_secure_cookies config flag for hardened deployments
  internal/adapter/http/handlers.go
  internal/adapter/http/handlers_auth.go
  internal/adapter/http/secure_cookie_test.go
  internal/config/config.go
Due: go-imports-repo, go-vet-repo-mod, golangci-lint-repo-mod

docs: mark MCP resource templates as completed in todo.md
  docs/todo.md
Due: none

refactor(FIX-106): extract ChatPanel inline SVGs into ChatIcons component library
  frontend/src/features/project/ChatPanel.tsx
  frontend/src/ui/icons/ChatIcons.tsx
Due: eslint, prettier

docs: mark FIX-106 icon extraction as completed
  docs/audits/2026-03-20-audit-overview.md
  docs/audits/full-feature-audit-2026-03-21.md
  docs/todo.md
Due: none

Path conditions:
  go-imports-repo: any of: \.go$
  go-vet-repo-mod: any of: \.go$
  golangci-lint-repo-mod: any of: \.go$
  eslint: any of: ^frontend/src/.*\.(ts|tsx|js|jsx)$
  prettier: any of: \.(ts|tsx|js|jsx|json|css|scss|html)$
