Repository Strob0t/CodeForge: changes, and which pre-commit hooks are due for each by the changed paths.
All: go-imports-repo, go-vet-repo-mod, golangci-lint-repo-mod, eslint, prettier

go-imports-repo:
  name: go-imports-repo
  entry: bash -c 'export GOROOT=/go/pkg/mod/golang.org/toolchain@v0.0.1-go1.25.0.linux-amd64 && goimports -l -d $(find . -name "*.go" -not -path "./data/*" -not -path "./vendor/*")'
  language: system
  pass_filenames: false

go-vet-repo-mod:
  name: go-vet-repo-mod
  entry: bash -c 'export GOROOT=/go/pkg/mod/golang.org/toolchain@v0.0.1-go1.25.0.linux-amd64 && go vet ./...'
  language: system
  pass_filenames: false

golangci-lint-repo-mod:
  name: golangci-lint-repo-mod
  entry: bash -c 'export GOROOT=/go/pkg/mod/golang.org/toolchain@v0.0.1-go1.25.0.linux-amd64 && golangci-lint run ./...'
  language: system
  pass_filenames: false

eslint:
  name: eslint
  entry: frontend/node_modules/.bin/eslint --config frontend/eslint.config.js --fix
  language: system

prettier:
  name: prettier
  entry: frontend/node_modules/.bin/prettier --write --ignore-unknown
  language: system

docs: add chat enhancements feature spec, update todo and project-status
  CLAUDE.md
  docs/features/05-chat-enhancements.md
  docs/project-status.md
  docs/todo.md
Due: none

feat(subscriptions): add OAuth device flow for Claude Max and GitHub Copilot
  cmd/codeforge/main.go
  docs/features/03-multi-llm-provider.md
  docs/project-status.md
  docs/todo.md
  frontend/src/api/client.ts
  frontend/src/api/types.ts
  frontend/src/features/settings/SettingsPage.tsx
  frontend/src/i18n/en.ts
  frontend/src/i18n/locales/de.ts
  internal/adapter/auth/anthropic.go
  internal/adapter/auth/anthropic_test.go
  internal/adapter/auth/github.go
  internal/adapter/auth/github_test.go
  internal/adapter/auth/provider.go
  internal/adapter/http/handlers.go
  internal/adapter/http/handlers_subscription.go
  internal/adapter/http/routes.go
  internal/service/envwriter.go
  internal/service/envwriter_test.go
  internal/service/subscription.go
  internal/service/subscription_test.go
  litellm/config.yaml
  workers/codeforge/routing/key_filter.py
  workers/codeforge/routing/meta_router.py
  workers/codeforge/routing/router.py
  workers/tests/test_routing_key_filter.py
  workers/tests/test_routing_meta_router.py
  workers/tests/test_routing_router.py
Due: go-imports-repo, go-vet-repo-mod, golangci-lint-repo-mod, eslint, prettier

fix(routing): reduce log noise for expected Go Core connection failures
  workers/codeforge/consumer/_conversation.py
Due: none

fix(db): convert users.id from TEXT to UUID, unblocks Go Core startup
  internal/adapter/postgres/migrations/070_convert_users_id_to_uuid.sql
  internal/adapter/postgres/migrations/071_create_channels.sql
Due: none

chore: add E2E tests, verification trend tracking, and docs updates
  docker-compose.yml
  docs/project-status.md
  docs/todo.md
  frontend/e2e/feature-description.spec.ts
  frontend/e2e/file-crud.spec.ts
  scripts/verify-features.sh
  workers/tests/test_routing_fallback_e2e.py
Due: prettier

fix(channels): wire ChannelService in handlers initialization
  cmd/codeforge/main.go
Due: go-imports-repo, go-vet-repo-mod, golangci-lint-repo-mod

fix(routing): prioritize tool-capable models over Groq in COMPLEXITY_DEFAULTS
  workers/codeforge/routing/router.py
  workers/tests/test_routing_router.py
Due: none

fix(benchmarks): replace broken HuggingFace parquet API with rows API for all dataset providers
  workers/codeforge/evaluation/cache.py
  workers/codeforge/evaluation/providers/aider_polyglot.py
  workers/codeforge/evaluation/providers/bigcodebench.py
  workers/codeforge/evaluation/providers/cruxeval.py
  workers/codeforge/evaluation/providers/humaneval.py
  workers/codeforge/evaluation/providers/livecodebench.py
  workers/codeforge/evaluation/providers/mbpp.py
  workers/codeforge/evaluation/providers/sparcbench.py
  workers/codeforge/evaluation/providers/swebench.py
  workers/tests/test_benchmark_external_providers.py
Due: none

fix(benchmarks): correct AgentLoopExecutor constructor call in agent benchmark runner
  workers/codeforge/consumer/_benchmark.py
Due: none

feat(frontend): UI/UX improvements across dashboard, chat, file tree, and settings
  frontend/src/api/client.ts
  frontend/src/features/chat/AutocompletePopover.tsx
  frontend/src/features/chat/ChatInput.tsx
  frontend/src/features/chat/commandStore.ts
  frontend/src/features/dashboard/DashboardPage.tsx
  frontend/src/features/mcp/MCPServersPage.tsx
  frontend/src/features/notifications/NotificationCenter.tsx
  frontend/src/features/project/ChatPanel.tsx
  frontend/src/features/project/FileContextMenu.tsx
  frontend/src/features/project/FilePanel.tsx
  frontend/src/features/project/FileTree.tsx
  frontend/src/features/project/ProjectDetailPage.tsx
  frontend/src/features/settings/SettingsPage.tsx
  frontend/src/ui/composites/ModelCombobox.tsx
Due: eslint, prettier

fix(benchmarks): route model=auto through HybridRouter for agent benchmark streaming
  workers/codeforge/consumer/_benchmark.py
  workers/codeforge/evaluation/evaluators/llm_judge.py
Due: none

fix(agent): sanitize tool messages for cross-provider compat and make 429 trigger immediate model fallback
  docs/todo.md
  workers/codeforge/agent_loop.py
  workers/codeforge/consumer/_benchmark.py
  workers/codeforge/llm.py
  workers/tests/test_llm.py
  workers/tests/test_llm_retry_fallback.py
  workers/tests/test_tool_message_compat.py
Due: none

feat(config): add LM Studio provider and fix local model function calling
  litellm/config.yaml
  workers/codeforge/tools/capability.py
Due: none

fix(litellm): enable check_provider_endpoint and disable blocking github_copilot auth
  litellm/config.yaml
Due: none

fix(llm): retry on httpx transport errors and use separate connect/read timeouts
  docs/dev-setup.md
  docs/features/03-multi-llm-provider.md
  workers/codeforge/llm.py
  workers/tests/test_llm.py
Due: none

fix(llm): retry on LiteLLM 500 upstream timeouts and increase local model timeout
  litellm/config.yaml
  workers/codeforge/llm.py
  workers/tests/test_llm.py
  workers/tests/test_routing_error_classification.py
Due: none

feat(benchmark): add real-time progress events to benchmark live feed
  internal/port/messagequeue/contract_test.go
  internal/port/messagequeue/queue.go
  internal/port/messagequeue/schemas.go
  internal/port/messagequeue/testdata/contracts/benchmark_task_progress.json
  internal/port/messagequeue/testdata/contracts/benchmark_task_started.json
  internal/port/messagequeue/validator.go
  internal/service/benchmark.go
  workers/codeforge/consumer/_benchmark.py
  workers/codeforge/consumer/_subjects.py
  workers/codeforge/evaluation/providers/__init__.py
  workers/codeforge/evaluation/runners/_base.py
Due: go-imports-repo, go-vet-repo-mod, golangci-lint-repo-mod, prettier

docs(spec): add benchmark system validation test plan
  docs/superpowers/specs/2026-03-11-benchmark-validation-design.md
Due: none

feat(e2e): add comprehensive benchmark system validation test suite
  frontend/e2e/benchmark-validation/.gitignore
  frontend/e2e/benchmark-validation/block-0-prerequisites.spec.ts
  frontend/e2e/benchmark-validation/block-1-simple.spec.ts
  frontend/e2e/benchmark-validation/block-2-tool-use.spec.ts
  frontend/e2e/benchmark-validation/block-3-agent.spec.ts
  frontend/e2e/benchmark-validation/block-4-routing.spec.ts
  frontend/e2e/benchmark-validation/block-5-errors.spec.ts
  frontend/e2e/benchmark-validation/helpers.ts
  frontend/e2e/benchmark-validation/matrix.ts
  frontend/e2e/benchmark-validation/playwright.validation.config.ts
  frontend/e2e/benchmark-validation/reporter.ts
  frontend/e2e/benchmark-validation/reports/.gitkeep
  frontend/e2e/benchmark-validation/screenshots/.gitkeep
  frontend/e2e/benchmark-validation/types.ts
Due: prettier

fix(frontend): resolve 6 UI issues across model combobox, notifications, chat, file explorer
  frontend/src/features/chat/ChatInput.tsx
  frontend/src/features/notifications/NotificationCenter.tsx
  frontend/src/features/project/ChatPanel.tsx
  frontend/src/features/project/FileContextMenu.tsx
  frontend/src/features/project/FilePanel.tsx
  frontend/src/features/project/contextFilesStore.ts
  frontend/src/ui/composites/ModelCombobox.tsx
  internal/adapter/http/handlers_files.go
  internal/adapter/http/routes.go
  internal/service/files.go
Due: go-imports-repo, go-vet-repo-mod, golangci-lint-repo-mod, eslint, prettier

fix(e2e): make benchmark validation suite pass 22/22 with local model
  configs/benchmarks/e2e-quick.yaml
  frontend/e2e/benchmark-validation/FINDINGS.md
  frontend/e2e/benchmark-validation/block-0-prerequisites.spec.ts
  frontend/e2e/benchmark-validation/block-1-simple.spec.ts
  frontend/e2e/benchmark-validation/block-2-tool-use.spec.ts
  frontend/e2e/benchmark-validation/block-3-agent.spec.ts
  frontend/e2e/benchmark-validation/block-4-routing.spec.ts
  frontend/e2e/benchmark-validation/block-5-errors.spec.ts
  frontend/e2e/benchmark-validation/helpers.ts
  frontend/e2e/benchmark-validation/matrix.ts
  frontend/e2e/benchmark-validation/reporter.ts
Due: prettier

fix(benchmark): resolve 5 backend bugs discovered by E2E validation suite
  cmd/codeforge/main.go
  docs/superpowers/plans/2026-03-11-benchmark-findings-fixes.md
  frontend/e2e/benchmark-validation/FINDINGS.md
  frontend/e2e/benchmark-validation/block-3-agent.spec.ts
  frontend/e2e/benchmark-validation/block-4-routing.spec.ts
  frontend/e2e/benchmark-validation/block-5-errors.spec.ts
  internal/adapter/postgres/migrations/072_benchmark_run_error_message.sql
  internal/adapter/postgres/store_benchmark.go
  internal/domain/benchmark/benchmark.go
  internal/service/benchmark.go
  internal/service/benchmark_test.go
  workers/codeforge/consumer/_benchmark.py
  workers/codeforge/evaluation/evaluators/llm_judge.py
  workers/codeforge/evaluation/evaluators/prompt_compressor.py
  workers/codeforge/evaluation/evaluators/trajectory_verifier.py
  workers/tests/test_model_validation.py
  workers/tests/test_prompt_compressor.py
  workers/tests/test_score_key_normalization.py
Due: go-imports-repo, go-vet-repo-mod, golangci-lint-repo-mod, prettier

docs: add benchmark validation E2E bug fixes to todo and project status
  docs/project-status.md
  docs/todo.md
Due: none

fix(frontend): sync Monaco theme on toggle, center file panel icons
  frontend/e2e/benchmark-validation/block-4-routing.spec.ts
  frontend/e2e/benchmark-validation/block-5-errors.spec.ts
  frontend/src/features/project/CodeEditor.tsx
  frontend/src/features/project/FilePanel.tsx
Due: eslint, prettier

fix(frontend): resolve 10 UI issues across navigation, dead code, modals, and i18n
  frontend/src/features/knowledgebases/KnowledgeBasesPage.tsx
  frontend/src/features/project/FileContextMenu.tsx
  frontend/src/features/project/FilePanel.tsx
  frontend/src/features/project/GoalProposalCard.tsx
  frontend/src/features/project/ProjectDetailPage.tsx
  frontend/src/features/project/RunPanel.tsx
  frontend/src/i18n/en.ts
  frontend/src/i18n/locales/de.ts
Due: eslint, prettier

docs: add frontend UI bug fixes & i18n to todo and project status
  docs/project-status.md
  docs/todo.md
Due: none

docs(phase-31): add design spec and implementation plan for Contract-First Review/Refactor
  docs/superpowers/plans/2026-03-15-contract-first-review-refactor.md
  docs/superpowers/specs/2026-03-15-contract-first-review-refactor-design.md
Due: none

feat(boundary): add domain model with BoundaryType, BoundaryFile, ProjectBoundaryConfig
  internal/domain/boundary/boundary.go
  internal/domain/boundary/boundary_test.go
Due: go-imports-repo, go-vet-repo-mod, golangci-lint-repo-mod

feat(plan): add StepStatusWaitingApproval for HITL pause
  internal/domain/plan/plan.go
  internal/domain/plan/plan_test.go
Due: go-imports-repo, go-vet-repo-mod, golangci-lint-repo-mod

feat(db): add project_boundaries and review_triggers tables
  internal/adapter/postgres/migrations/073_create_project_boundaries.sql
  internal/adapter/postgres/migrations/074_create_review_triggers.sql
Due: none

feat(nats): add review.* subjects and payload schemas (Go + Python)
  internal/adapter/nats/nats.go
  internal/port/messagequeue/queue.go
  internal/port/messagequeue/schemas.go
  workers/codeforge/consumer/_subjects.py
  workers/codeforge/models.py
Due: go-imports-repo, go-vet-repo-mod, golangci-lint-repo-mod

test: close critical path test gaps across Go services and Python workers
  internal/service/backend_health_test.go
  internal/service/conversation_agent_helpers_test.go
  internal/service/conversation_agent_run_complete_test.go
  internal/service/memory_test.go
  internal/service/review_test.go
  internal/service/runtime_execution_extended_test.go
  workers/tests/test_agent_loop_edge_cases.py
  workers/tests/test_consumer_a2a.py
  workers/tests/test_consumer_backend_health.py
  workers/tests/test_consumer_compact.py
  workers/tests/test_consumer_graph.py
  workers/tests/test_consumer_handoff.py
  workers/tests/test_consumer_memory.py
  workers/tests/test_consumer_repomap.py
  workers/tests/test_consumer_retrieval.py
  workers/tests/test_llm_stream_edge_cases.py
Due: go-imports-repo, go-vet-repo-mod, golangci-lint-repo-mod

test: add LLM tool call normalize tests (14 cases)
  workers/tests/test_llm_normalize.py
Due: none

feat(modes): add boundary-analyzer and contract-reviewer mode presets
  internal/domain/mode/mode_test.go
  internal/domain/mode/presets.go
  internal/domain/mode/presets_test.go
Due: go-imports-repo, go-vet-repo-mod, golangci-lint-repo-mod

feat(pipeline): add review-refactor template (4-step contract-first)
  internal/domain/pipeline/pipeline_test.go
  internal/domain/pipeline/presets.go
  internal/domain/pipeline/presets_test.go
Due: go-imports-repo, go-vet-repo-mod, golangci-lint-repo-mod

feat(service): add DiffImpactScorer with three-tier threshold evaluation
  internal/service/diff_impact.go
  internal/service/diff_impact_test.go
Due: go-imports-repo, go-vet-repo-mod, golangci-lint-repo-mod

feat(service): add PhaseAwareContextBudget for review pipeline phases
  internal/service/context_budget.go
  internal/service/context_budget_test.go
Due: go-imports-repo, go-vet-repo-mod, golangci-lint-repo-mod

docs: add interactive E2E testing guide for benchmark system
  docs/dev-setup.md
  docs/todo.md
Due: none

feat(store): add boundary and review trigger PostgreSQL store implementations
  internal/adapter/http/handlers_test.go
  internal/adapter/postgres/store_boundary.go
  internal/adapter/postgres/store_review_trigger.go
  internal/middleware/teststore_test.go
  internal/port/database/store.go
  internal/service/project_test.go
  internal/service/runtime_test.go
Due: go-imports-repo, go-vet-repo-mod, golangci-lint-repo-mod

fix(tests): update mode count (22→24) and policy profile count (5→6) assertions
  internal/service/mode_test.go
  internal/service/policy_test.go
Due: go-imports-repo, go-vet-repo-mod, golangci-lint-repo-mod

Path conditions:
  go-imports-repo: any of: \.go$
  go-vet-repo-mod: any of: \.go$
  golangci-lint-repo-mod: any of: \.go$
  eslint: any of: ^frontend/src/.*\.(ts|tsx|js|jsx)$
  prettier: any of: \.(ts|tsx|js|jsx|json|css|scss|html)$
