Repository Strob0t/CodeForge: changes, and which pre-commit hooks are due for each by the changed paths.
All: eslint, prettier

.pre-commit-config.yaml:

repos:
  # ── Allgemein ──────────────────────────────────────────────
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: end-of-file-fixer
      - id: trailing-whitespace
      - id: check-yaml
      - id: check-json
      - id: check-merge-conflict
      - id: detect-private-key

  # ── Python (Ruff) ─────────────────────────────────────────
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.11.12
    hooks:
      # 1) Imports sortieren
      - id: ruff-check
        name: ruff (sort imports)
        args: ["--select", "I", "--fix"]

      # 2) Lint/fix
      - id: ruff-check
        args: ["--fix", "--exit-non-zero-on-fix"]

      # 3) Format
      - id: ruff-format

  # ── Go ─────────────────────────────────────────────────────
  - repo: https://github.com/TekWizely/pre-commit-golang
    rev: v1.0.0-rc.1
    hooks:
      # Format
      - id: go-fmt
      # Imports sortieren
      - id: go-imports-repo
      # Vet (statische Analyse)
      - id: go-vet-repo-mod
      # golangci-lint (muss installiert sein)
      - id: golangci-lint-repo-mod

  # ── TypeScript / JavaScript (ESLint + Prettier) ────────────
  - repo: local
    hooks:
      - id: eslint
        name: eslint
        entry: npx eslint --fix
        language: system
        files: \.(ts|tsx|js|jsx)$
        types: [file]

      - id: prettier
        name: prettier
        entry: npx prettier --write --ignore-unknown
        language: system
        files: \.(ts|tsx|js|jsx|json|css|scss|html|svelte|vue)$
        types: [file]

feat: add multi-terminal tiled view for concurrent agent output
  docs/project-status.md
  docs/todo.md
  frontend/src/features/project/MultiTerminal.tsx
  frontend/src/features/project/ProjectDetailPage.tsx
  frontend/src/i18n/en.ts
  frontend/src/i18n/locales/de.ts
Due: eslint, prettier

feat: add vector search simulator debug tool on Context tab
  docs/project-status.md
  docs/todo.md
  frontend/src/features/project/MultiTerminal.tsx
  frontend/src/features/project/ProjectDetailPage.tsx
  frontend/src/features/project/SearchSimulator.tsx
  frontend/src/i18n/en.ts
  frontend/src/i18n/locales/de.ts
Due: eslint, prettier

feat: add architecture graph and agent network visualizations
  docs/project-status.md
  docs/todo.md
  frontend/src/features/project/AgentNetwork.tsx
  frontend/src/features/project/ArchitectureGraph.tsx
  frontend/src/features/project/ProjectDetailPage.tsx
  frontend/src/i18n/en.ts
  frontend/src/i18n/locales/de.ts
Due: eslint, prettier

docs: mark Phase 11 as completed in project-status and todo
  docs/project-status.md
  docs/todo.md
Due: none

fix: apply P0 security hardening from documentation audit
  docs/project-status.md
  docs/todo.md
  internal/secrets/vault.go
  internal/secrets/vault_test.go
  internal/service/meta_agent.go
  internal/service/runtime.go
  internal/service/sanitize_test.go
Due: none

fix: resolve WebSocket TypeError, migration FK mismatch, and Vite host blocking
  codeforge.yaml
  frontend/src/api/websocket.ts
  frontend/vite.config.ts
  internal/adapter/postgres/migrations/022_create_users_api_keys.sql
Due: eslint, prettier

docs: enforce consistent formatting across all 21 documentation files
  docs/README.md
  docs/architecture.md
  docs/architecture/adr/001-nats-jetstream-message-queue.md
  docs/architecture/adr/002-postgresql-database.md
  docs/architecture/adr/003-config-hierarchy.md
  docs/architecture/adr/004-async-logging.md
  docs/architecture/adr/005-docker-native-logging.md
  docs/architecture/adr/006-agent-execution-approach-c.md
  docs/architecture/adr/007-policy-layer.md
  docs/architecture/adr/_template.md
  docs/dev-setup.md
  docs/features/01-project-dashboard.md
  docs/features/02-roadmap-feature-map.md
  docs/features/03-multi-llm-provider.md
  docs/features/04-agent-orchestration.md
  docs/project-status.md
  docs/research/aider-deep-analysis.md
  docs/research/market-analysis.md
  docs/research/protocol-analysis.md
  docs/tech-stack.md
  docs/todo.md
Due: none

docs: add README.md and Phase 12+ architecture evolution TODOs
  README.md
  docs/todo.md
Due: none

changed mcp
  .mcp.json
Due: prettier

feat: implement 12A Mode System Extensions — wire mode end-to-end
  cmd/codeforge/main.go
  docs/project-status.md
  docs/todo.md
  frontend/src/api/types.ts
  frontend/src/features/modes/ModesPage.tsx
  frontend/src/i18n/en.ts
  frontend/src/i18n/locales/de.ts
  internal/adapter/postgres/migrations/024_add_agent_mode_id.sql
  internal/adapter/postgres/store.go
  internal/domain/agent/agent.go
  internal/domain/mode/mode.go
  internal/domain/mode/mode_test.go
  internal/domain/mode/presets.go
  internal/domain/run/run.go
  internal/port/messagequeue/schemas.go
  internal/service/mode.go
  internal/service/runtime.go
  workers/codeforge/consumer.py
  workers/codeforge/executor.py
  workers/codeforge/models.py
  workers/tests/test_models.py
Due: eslint, prettier

feat: add modular mode prompt templates with token counting
  docs/project-status.md
  docs/todo.md
  internal/service/mode_prompt.go
  internal/service/mode_prompt_test.go
  internal/service/runtime.go
  internal/service/templates/mode_actions.tmpl
  internal/service/templates/mode_artifact.tmpl
  internal/service/templates/mode_guardrails.tmpl
  internal/service/templates/mode_role.tmpl
  internal/service/templates/mode_tools.tmpl
Due: none

feat: implement 12B LLM scenario-based routing via LiteLLM tags
  codeforge.yaml.example
  docs/project-status.md
  docs/todo.md
  litellm/config.yaml
  workers/codeforge/executor.py
  workers/codeforge/llm.py
  workers/tests/test_llm.py
Due: none

feat: add 12C role evaluation framework with FakeLLM harness
  docs/project-status.md
  docs/todo.md
  workers/tests/conftest.py
  workers/tests/evaluation.py
  workers/tests/fake_llm.py
  workers/tests/role_matrix.py
  workers/tests/scenarios/architect/generate_plan/expected_output.json
  workers/tests/scenarios/architect/generate_plan/input.json
  workers/tests/scenarios/architect/generate_plan/llm_responses.json
  workers/tests/scenarios/coder/produce_diff/expected_output.json
  workers/tests/scenarios/coder/produce_diff/input.json
  workers/tests/scenarios/coder/produce_diff/llm_responses.json
  workers/tests/scenarios/reviewer/catch_bug/expected_output.json
  workers/tests/scenarios/reviewer/catch_bug/input.json
  workers/tests/scenarios/reviewer/catch_bug/llm_responses.json
  workers/tests/scenarios/security/flag_risk/expected_output.json
  workers/tests/scenarios/security/flag_risk/input.json
  workers/tests/scenarios/security/flag_risk/llm_responses.json
  workers/tests/scenarios/tester/report_pass_fail/expected_output.json
  workers/tests/scenarios/tester/report_pass_fail/input.json
  workers/tests/scenarios/tester/report_pass_fail/llm_responses.json
  workers/tests/test_role_evaluation.py
Due: prettier

feat: implement Phase 12D RAG Shared Scope System
  cmd/codeforge/main.go
  docs/project-status.md
  docs/todo.md
  internal/adapter/http/handlers.go
  internal/adapter/http/handlers_scope.go
  internal/adapter/http/handlers_test.go
  internal/adapter/http/routes.go
  internal/adapter/postgres/migrations/025_retrieval_scopes.sql
  internal/adapter/postgres/store_scope.go
  internal/domain/context/scope.go
  internal/port/database/store.go
  internal/port/messagequeue/schemas.go
  internal/service/project_test.go
  internal/service/runtime_test.go
  internal/service/scope.go
  workers/codeforge/models.py
Due: none

feat: implement Phase 12E Artifact-Gated Pipelines
  docs/project-status.md
  docs/todo.md
  internal/adapter/http/handlers_test.go
  internal/adapter/postgres/migrations/026_artifact_fields.sql
  internal/adapter/postgres/store.go
  internal/adapter/ws/events.go
  internal/domain/artifact/artifact.go
  internal/domain/artifact/artifact_test.go
  internal/domain/event/event.go
  internal/domain/run/run.go
  internal/port/database/store.go
  internal/service/project_test.go
  internal/service/runtime.go
  internal/service/runtime_test.go
  workers/codeforge/artifacts.py
  workers/tests/test_artifacts.py
Due: none

feat: implement Phase 12F Pipeline Templates
  cmd/codeforge/main.go
  docs/project-status.md
  docs/todo.md
  internal/adapter/http/handlers.go
  internal/adapter/http/routes.go
  internal/adapter/postgres/migrations/027_step_mode_id.sql
  internal/adapter/postgres/store.go
  internal/domain/pipeline/loader.go
  internal/domain/pipeline/pipeline.go
  internal/domain/pipeline/pipeline_test.go
  internal/domain/pipeline/presets.go
  internal/domain/plan/plan.go
  internal/service/orchestrator.go
  internal/service/pipeline.go
Due: none

feat: implement Phase 12G Project Workspace Management
  cmd/codeforge/main.go
  docs/project-status.md
  docs/todo.md
  internal/adapter/http/handlers.go
  internal/adapter/http/handlers_test.go
  internal/adapter/http/routes.go
  internal/config/config.go
  internal/config/loader.go
  internal/domain/project/project.go
  internal/service/project.go
  internal/service/project_test.go
Due: none

feat: implement per-tool token tracking (Phase 12H)
  docs/project-status.md
  docs/todo.md
  frontend/src/api/client.ts
  frontend/src/api/types.ts
  frontend/src/features/costs/CostDashboardPage.tsx
  frontend/src/i18n/en.ts
  frontend/src/i18n/locales/de.ts
  internal/adapter/http/handlers.go
  internal/adapter/http/handlers_test.go
  internal/adapter/http/routes.go
  internal/adapter/postgres/eventstore.go
  internal/adapter/postgres/migrations/028_add_event_token_columns.sql
  internal/adapter/postgres/store.go
  internal/domain/cost/cost.go
  internal/domain/event/event.go
  internal/port/database/store.go
  internal/port/eventstore/store.go
  internal/service/cost.go
  internal/service/project_test.go
  internal/service/runtime.go
  internal/service/runtime_test.go
Due: eslint, prettier

feat: implement Phase 12I Periodic Reviews & Audits
  cmd/codeforge/main.go
  docs/project-status.md
  docs/todo.md
  frontend/src/api/client.ts
  frontend/src/api/types.ts
  frontend/src/i18n/en.ts
  internal/adapter/http/handlers.go
  internal/adapter/http/handlers_test.go
  internal/adapter/http/routes.go
  internal/adapter/postgres/migrations/029_review_policies.sql
  internal/adapter/postgres/store.go
  internal/adapter/postgres/store_review.go
  internal/adapter/ws/events.go
  internal/domain/event/event.go
  internal/domain/review/cron.go
  internal/domain/review/cron_test.go
  internal/domain/review/review.go
  internal/port/database/store.go
  internal/service/orchestrator.go
  internal/service/project_test.go
  internal/service/review.go
  internal/service/runtime_test.go
  internal/service/vcs_webhook.go
  internal/service/vcs_webhook_test.go
Due: eslint, prettier

feat: implement Phase 12J Project Creation Wizard (Stack Detection)
  docs/project-status.md
  docs/todo.md
  frontend/src/api/client.ts
  frontend/src/api/types.ts
  frontend/src/features/dashboard/DashboardPage.tsx
  frontend/src/features/dashboard/ProjectCard.tsx
  frontend/src/i18n/en.ts
  internal/adapter/http/handlers.go
  internal/adapter/http/routes.go
  internal/domain/project/detection.go
  internal/domain/project/scan.go
  internal/domain/project/scan_test.go
  internal/domain/project/stackmap.go
  internal/domain/project/stackmap_test.go
  internal/service/project.go
Due: eslint, prettier

feat: implement Phase 12K Knowledge Bases
  cmd/codeforge/main.go
  docs/project-status.md
  docs/todo.md
  frontend/src/App.tsx
  frontend/src/api/client.ts
  frontend/src/api/types.ts
  frontend/src/features/knowledgebases/KnowledgeBasesPage.tsx
  frontend/src/i18n/en.ts
  frontend/src/index.tsx
  internal/adapter/http/handlers.go
  internal/adapter/http/handlers_knowledgebase.go
  internal/adapter/http/handlers_test.go
  internal/adapter/http/routes.go
  internal/adapter/postgres/migrations/030_knowledge_bases.sql
  internal/adapter/postgres/store_knowledgebase.go
  internal/domain/knowledgebase/catalog.go
  internal/domain/knowledgebase/knowledgebase.go
  internal/domain/knowledgebase/knowledgebase_test.go
  internal/port/database/store.go
  internal/service/knowledgebase.go
  internal/service/knowledgebase_test.go
  internal/service/project_test.go
  internal/service/runtime_test.go
  internal/service/scope.go
Due: eslint, prettier

chore: upgrade dependencies across Go, Python, and npm
  frontend/package-lock.json
  frontend/package.json
  go.mod
  go.sum
  poetry.lock
  pyproject.toml
Due: prettier

fix: resolve all frontend TypeScript errors
  frontend/src/features/dashboard/DashboardPage.tsx
  frontend/src/features/project/ArchitectureGraph.tsx
  frontend/src/features/project/ProjectDetailPage.tsx
  frontend/src/features/project/RepoMapPanel.tsx
  frontend/src/features/project/RetrievalPanel.tsx
  frontend/src/features/project/RoadmapPanel.tsx
  frontend/src/i18n/locales/de.ts
Due: eslint, prettier

feat: complete all remaining Phase 12 open items (12A-12D)
  docs/project-status.md
  docs/todo.md
  frontend/src/App.tsx
  frontend/src/api/client.ts
  frontend/src/api/types.ts
  frontend/src/features/scopes/ScopesPage.tsx
  frontend/src/i18n/en.ts
  frontend/src/i18n/locales/de.ts
  frontend/src/index.tsx
  internal/port/messagequeue/schemas.go
  internal/service/graph.go
  internal/service/retrieval.go
  internal/service/scope.go
  workers/codeforge/consumer.py
  workers/codeforge/models.py
  workers/codeforge/retrieval.py
  workers/tests/test_retrieval.py
Due: eslint, prettier

fix: OWASP audit remediation — 12 security fixes across Go, Python, nginx
  .github/workflows/ci.yml
  CLAUDE.md
  CONTRIBUTING.md
  SECURITY.md
  cmd/codeforge/main.go
  docs/project-status.md
  docs/todo.md
  frontend/nginx.conf
  internal/adapter/http/handlers_auth.go
  internal/adapter/http/middleware.go
  internal/adapter/postgres/store.go
  internal/middleware/ratelimit.go
  internal/middleware/webhook.go
  internal/service/auth.go
  internal/service/policy.go
  workers/codeforge/qualitygate.py
Due: none

fix: complete OWASP audit remediation items A-I
  .github/workflows/ci.yml
  CLAUDE.md
  docker-compose.yml
  docs/project-status.md
  docs/todo.md
  frontend/nginx.conf
  frontend/package-lock.json
  frontend/package.json
  frontend/src/api/cache.test.ts
  frontend/src/components/StepProgress.test.tsx
  frontend/src/i18n/formatters.test.ts
  frontend/vite.config.ts
  go.mod
  internal/adapter/http/handlers.go
  internal/adapter/http/handlers_auth.go
  internal/adapter/http/middleware.go
  internal/adapter/nats/nats_test.go
  internal/adapter/postgres/store_test.go
  internal/service/sandbox.go
Due: eslint, prettier

changed docker-compose.yml
  docker-compose.yml
Due: none

fix: comprehensive OWASP Top 10:2025 + WSTG v4.2 remediation (P0-P3)
  .gitignore
  cmd/codeforge/main.go
  codeforge.example.yaml
  docker-compose.prod.yml
  docs/project-status.md
  docs/todo.md
  internal/adapter/http/handlers.go
  internal/adapter/http/handlers_auth.go
  internal/adapter/http/handlers_knowledgebase.go
  internal/adapter/http/handlers_scope.go
  internal/adapter/http/handlers_test.go
  internal/adapter/http/routes.go
  internal/adapter/postgres/migrations/031_add_user_lockout.sql
  internal/adapter/postgres/store_api_key.go
  internal/adapter/postgres/store_refresh_token.go
  internal/adapter/postgres/store_review.go
  internal/adapter/postgres/store_user.go
  internal/adapter/ws/handler.go
  internal/adapter/ws/hub_test.go
  internal/config/loader.go
  internal/domain/user/user.go
  internal/middleware/auth.go
  internal/middleware/ratelimit.go
  internal/middleware/webhook.go
  internal/port/database/store.go
  internal/service/auth.go
  internal/service/auth_test.go
  internal/service/project_test.go
  internal/service/runtime_test.go
  internal/service/sandbox.go
  tests/integration/integration_test.go
Due: none

fix: resolve 3 E2E bugs — migration UUID types, LiteLLM JSON parsing, scope KB refresh
  frontend/src/features/scopes/ScopesPage.tsx
  internal/adapter/litellm/client.go
  internal/adapter/postgres/migrations/029_review_policies.sql
Due: eslint, prettier

fix: enable WebSocket connectivity in dev environment
  cmd/codeforge/main.go
  internal/adapter/http/middleware.go
  internal/adapter/http/middleware_test.go
  internal/adapter/ws/handler.go
Due: none

fix: resolve 5 backend bugs found during QA testing (500→4xx)
  internal/adapter/http/handlers.go
  internal/adapter/postgres/store_review.go
  internal/domain/errors.go
  internal/service/scope.go
Due: none

feat: add E2E vision test + fix review policy TenantID bug
  docs/e2e-test-plan.md
  docs/project-status.md
  docs/todo.md
  internal/adapter/http/handlers.go
  internal/service/review.go
Due: none

fix: resolve 3 worker integration bugs for end-to-end agent runs
  internal/domain/policy/presets.go
  workers/codeforge/executor.py
  workers/codeforge/models.py
Due: none

fix: register github/gitlab/gitea as git providers + add launch.json env vars
  .vscode/launch.json
  internal/adapter/gitlocal/register.go
Due: prettier

fix: use absolute path for Python interpreter in devcontainer.json
  .devcontainer/devcontainer.json
Due: prettier

feat: add auto-setup orchestration + AG-UI websocket streaming
  cmd/codeforge/main.go
  frontend/src/api/client.ts
  frontend/src/api/types.ts
  frontend/src/api/websocket.ts
  frontend/src/features/dashboard/DashboardPage.tsx
  frontend/src/features/project/ChatPanel.tsx
  frontend/src/i18n/en.ts
  frontend/src/i18n/locales/de.ts
  internal/adapter/http/handlers.go
  internal/adapter/http/routes.go
  internal/domain/project/project.go
  internal/service/project.go
  internal/service/runtime.go
  internal/service/spec_detector_adapter.go
Due: eslint, prettier

feat: add local project creation tab + Lighthouse CI
  .github/workflows/ci.yml
  docs/todo.md
  frontend/lighthouserc.yaml
  frontend/src/api/client.ts
  frontend/src/features/dashboard/DashboardPage.tsx
  frontend/src/i18n/en.ts
  frontend/src/i18n/locales/de.ts
Due: eslint, prettier
