Repository Strob0t/CodeForge: changes, and which pre-commit hooks are due for each by the changed paths.
All: go-imports-repo, go-vet-repo-mod, golangci-lint-repo-mod, eslint, prettier

.pre-commit-config.yaml:

repos:
  # -- General ----------------------------------------------
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: end-of-file-fixer
      - id: trailing-whitespace
      - id: check-yaml
      - id: check-json
      - id: check-merge-conflict
      - id: detect-private-key

  # -- Python (Ruff) -----------------------------------------
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.15.1
    hooks:
      # 1) Sort imports
      - id: ruff-check
        name: ruff (sort imports)
        args: ["--select", "I", "--fix"]

      # 2) Lint/fix
      - id: ruff-check
        args: ["--fix", "--exit-non-zero-on-fix"]

      # 3) Format
      - id: ruff-format

  # -- Go -----------------------------------------------------
  - repo: https://github.com/TekWizely/pre-commit-golang
    rev: v1.0.0-rc.1
    hooks:
      # Format
      - id: go-fmt

  # Go hooks that need GOROOT set for Go 1.25 toolchain
  - repo: local
    hooks:
      - id: go-imports-repo
        name: go-imports-repo
        entry: bash -c 'export GOROOT=/go/pkg/mod/golang.org/toolchain@v0.0.1-go1.25.0.linux-amd64 && goimports -l -d $(find . -name "*.go" -not -path "./data/*" -not -path "./vendor/*")'
        language: system
        pass_filenames: false
        types: [go]

      - id: go-vet-repo-mod
        name: go-vet-repo-mod
        entry: bash -c 'export GOROOT=/go/pkg/mod/golang.org/toolchain@v0.0.1-go1.25.0.linux-amd64 && go vet ./...'
        language: system
        pass_filenames: false
        types: [go]

      - id: golangci-lint-repo-mod
        name: golangci-lint-repo-mod
        entry: bash -c 'export GOROOT=/go/pkg/mod/golang.org/toolchain@v0.0.1-go1.25.0.linux-amd64 && golangci-lint run ./...'
        language: system
        pass_filenames: false
        types: [go]

  # -- TypeScript / JavaScript (ESLint + Prettier) ------------
  - repo: local
    hooks:
      - id: eslint
        name: eslint
        entry: frontend/node_modules/.bin/eslint --config frontend/eslint.config.js --fix
        language: system
        files: ^frontend/src/.*\.(ts|tsx|js|jsx)$
        types: [file]

      - id: prettier
        name: prettier
        entry: frontend/node_modules/.bin/prettier --write --ignore-unknown
        language: system
        files: \.(ts|tsx|js|jsx|json|css|scss|html)$
        types: [file]

feat: complete Phase 23A — Python trust models and todo tracking
  docs/todo.md
  workers/codeforge/models.py
Due: none

feat: expand modes system to 21 built-in presets with enhanced prompts
  docs/todo.md
  internal/domain/mode/mode_test.go
  internal/domain/mode/presets.go
  internal/service/mode_test.go
Due: go-imports-repo, go-vet-repo-mod, golangci-lint-repo-mod

test: P2 handler tests — cost, settings, session, MCP, KB, LLM (44 new tests)
  internal/adapter/http/handlers_cost_test.go
  internal/adapter/http/handlers_knowledgebase_test.go
  internal/adapter/http/handlers_llm_extra_test.go
  internal/adapter/http/handlers_mcp_test.go
  internal/adapter/http/handlers_session_test.go
  internal/adapter/http/handlers_settings_test.go
  internal/adapter/http/handlers_test.go
Due: go-imports-repo, go-vet-repo-mod, golangci-lint-repo-mod

test: fix E2E Playwright tests — robust selectors, timing, strict mode
  frontend/e2e/api/benchmarks-api.spec.ts
  frontend/e2e/api/teams-api.spec.ts
  frontend/e2e/benchmarks.spec.ts
  frontend/e2e/costs.spec.ts
  frontend/e2e/cross-page-flows.spec.ts
  frontend/e2e/mcp.spec.ts
  frontend/e2e/modes.spec.ts
  frontend/e2e/project-detail.spec.ts
  frontend/e2e/projects.spec.ts
  frontend/e2e/prompts.spec.ts
  frontend/e2e/scopes.spec.ts
  frontend/e2e/security.spec.ts
  frontend/e2e/settings.spec.ts
  frontend/e2e/websocket-ui.spec.ts
  frontend/playwright.config.ts
Due: prettier

test: complete Phase 23A — trust auto-stamping tests + cost test fix
  docs/todo.md
  internal/service/conversation_test.go
  internal/service/cost_test.go
  internal/service/handoff_test.go
  internal/service/pipeline_test.go
  internal/service/runtime_test.go
  internal/service/session_test.go
  internal/service/settings_test.go
Due: go-imports-repo, go-vet-repo-mod, golangci-lint-repo-mod

docs: mark Phase 23A trust auto-stamping tests as complete in todo.md
  docs/todo.md
Due: none

feat: complete Phase 23B — message quarantine system with risk scoring
  CLAUDE.md
  cmd/codeforge/main.go
  docs/project-status.md
  internal/adapter/http/handlers.go
  internal/adapter/http/handlers_quarantine.go
  internal/adapter/http/handlers_test.go
  internal/adapter/http/routes.go
  internal/adapter/postgres/migrations/049_quarantine_messages.sql
  internal/adapter/postgres/store_quarantine.go
  internal/adapter/ws/events.go
  internal/config/config.go
  internal/domain/quarantine/quarantine.go
  internal/domain/quarantine/scorer.go
  internal/domain/quarantine/scorer_test.go
  internal/middleware/teststore_test.go
  internal/port/database/store.go
  internal/service/deliver_test.go
  internal/service/handoff.go
  internal/service/knowledgebase_test.go
  internal/service/orchestrator_test.go
  internal/service/project_test.go
  internal/service/quarantine.go
  internal/service/quarantine_test.go
  internal/service/runtime.go
  internal/service/runtime_test.go
Due: go-imports-repo, go-vet-repo-mod, golangci-lint-repo-mod

test: P3 handler tests — scope, benchmark, prompt sections, git (10 new tests)
  CLAUDE.md
  docs/todo.md
  internal/adapter/http/handlers_test.go
Due: go-imports-repo, go-vet-repo-mod, golangci-lint-repo-mod

test: fix 5 E2E Playwright failures — Teams removed, selectors, rate limit
  frontend/e2e/api/trajectory-api.spec.ts
  frontend/e2e/benchmarks.spec.ts
  frontend/e2e/cross-page-flows.spec.ts
  frontend/e2e/navigation.spec.ts
  frontend/e2e/settings.spec.ts
Due: prettier

docs: add E2E Playwright test fixes to todo.md
  docs/todo.md
Due: none

feat: complete Phase 23C + 24 — persistent agent identity & active work visibility
  cmd/codeforge/main.go
  docs/features/04-agent-orchestration.md
  docs/todo.md
  frontend/src/api/client.ts
  frontend/src/api/types.ts
  frontend/src/features/activity/ActivityPage.tsx
  frontend/src/features/project/ActiveWorkPanel.tsx
  frontend/src/features/project/ProjectDetailPage.tsx
  internal/adapter/http/handlers.go
  internal/adapter/http/handlers_test.go
  internal/adapter/http/routes.go
  internal/adapter/postgres/migrations/050_agent_identity.sql
  internal/adapter/postgres/migrations/051_active_work_index.sql
  internal/adapter/postgres/store_active_work.go
  internal/adapter/postgres/store_agent_identity.go
  internal/adapter/ws/events.go
  internal/domain/agent/agent.go
  internal/domain/agent/inbox.go
  internal/domain/agent/inbox_test.go
  internal/domain/task/active_work.go
  internal/domain/task/active_work_test.go
  internal/middleware/teststore_test.go
  internal/port/database/store.go
  internal/port/messagequeue/queue.go
  internal/service/active_work.go
  internal/service/active_work_test.go
  internal/service/agent.go
  internal/service/agent_test.go
  internal/service/deliver_test.go
  internal/service/knowledgebase_test.go
  internal/service/orchestrator_test.go
  internal/service/project_test.go
  internal/service/runtime_test.go
Due: go-imports-repo, go-vet-repo-mod, golangci-lint-repo-mod, eslint, prettier

feat: replace hardcoded text inputs with dynamic dropdowns across frontend
  docs/todo.md
  frontend/src/api/client.ts
  frontend/src/config/domain-constants.ts
  frontend/src/features/knowledgebases/KnowledgeBasesPage.tsx
  frontend/src/features/llm/ModelsPage.tsx
  frontend/src/features/mcp/MCPServersPage.tsx
  frontend/src/features/modes/ModesPage.tsx
  frontend/src/features/project/CompactSettingsPopover.tsx
  frontend/src/features/scopes/ScopesPage.tsx
  frontend/src/features/settings/SettingsPage.tsx
  frontend/src/ui/composites/TagInput.tsx
  frontend/src/ui/composites/index.ts
  frontend/src/ui/index.ts
  internal/adapter/http/handlers_orchestration.go
  internal/adapter/http/handlers_orchestration_test.go
  internal/adapter/http/routes.go
  internal/domain/artifact/artifact.go
  internal/domain/mode/mode.go
Due: go-imports-repo, go-vet-repo-mod, golangci-lint-repo-mod, eslint, prettier

test: complete P3 test quality — rename 33 duplicates, add duplicate-email test, add auth integration tests
  frontend/src/features/project/FileTree.tsx
  frontend/src/features/project/ProjectDetailPage.tsx
  internal/adapter/aider/backend_test.go
  internal/adapter/autospec/provider_test.go
  internal/adapter/discord/notifier_test.go
  internal/adapter/gitea/provider_test.go
  internal/adapter/githubpm/provider_test.go
  internal/adapter/gitlab/provider_test.go
  internal/adapter/gitlocal/provider_test.go
  internal/adapter/http/handlers_test.go
  internal/adapter/markdownspec/provider_test.go
  internal/adapter/openspec/provider_test.go
  internal/adapter/slack/notifier_test.go
  internal/adapter/speckit/provider_test.go
  internal/adapter/svn/provider_test.go
  internal/domain/knowledgebase/knowledgebase_test.go
  internal/domain/mode/mode_test.go
  internal/domain/pipeline/pipeline_test.go
  internal/domain/plan/validate_test.go
  internal/domain/policy/loader_test.go
  internal/domain/policy/policy_test.go
  internal/domain/user/user_test.go
  internal/port/a2a/handler_test.go
  internal/port/agentbackend/registry_test.go
  internal/port/gitprovider/registry_test.go
  internal/service/auth_test.go
  internal/service/mcp_test.go
  internal/service/policy_test.go
  internal/service/project_test.go
  tests/integration/auth_test.go
  tests/integration/integration_test.go
Due: go-imports-repo, go-vet-repo-mod, golangci-lint-repo-mod, eslint, prettier

fix: prevent project page crash from nil AutoAgent/ActiveWork services
  frontend/src/features/project/ActiveWorkPanel.tsx
  frontend/src/features/project/AutoAgentButton.tsx
  frontend/vite.config.ts
  internal/adapter/http/handlers.go
  internal/adapter/http/handlers_autoagent.go
Due: go-imports-repo, go-vet-repo-mod, golangci-lint-repo-mod, eslint, prettier

feat: wire Phase 23C persistent agent identity — scanAgent, stats, inbox, UI
  docs/todo.md
  frontend/src/features/project/AgentPanel.tsx
  internal/adapter/http/handlers_test.go
  internal/adapter/postgres/store.go
  internal/middleware/teststore_test.go
  internal/service/handoff.go
  internal/service/phase23c_test.go
  internal/service/project_test.go
  internal/service/runtime_lifecycle.go
  internal/service/runtime_test.go
Due: go-imports-repo, go-vet-repo-mod, golangci-lint-repo-mod, eslint, prettier

feat: complete Phase 26A — benchmark provider interface & domain redesign
  internal/adapter/postgres/migrations/052_benchmark_redesign.sql
  internal/adapter/postgres/store_benchmark.go
  internal/adapter/postgres/store_benchmark_suite.go
  internal/domain/benchmark/benchmark.go
  internal/domain/benchmark/benchmark_test.go
  internal/port/benchprovider/provider.go
  internal/port/benchprovider/registry_test.go
  internal/port/database/store.go
  internal/service/benchmark.go
  workers/codeforge/evaluation/providers/__init__.py
  workers/codeforge/evaluation/providers/base.py
  workers/tests/test_benchmark_provider.py
Due: go-imports-repo, go-vet-repo-mod, golangci-lint-repo-mod

feat: complete Phase 26B — evaluation pipeline & evaluator plugins
  workers/codeforge/evaluation/evaluators/__init__.py
  workers/codeforge/evaluation/evaluators/base.py
  workers/codeforge/evaluation/evaluators/functional_test.py
  workers/codeforge/evaluation/evaluators/llm_judge.py
  workers/codeforge/evaluation/evaluators/sparc.py
  workers/codeforge/evaluation/pipeline.py
  workers/tests/test_evaluation_pipeline.py
Due: none

fix: repair GOROOT path in pre-commit hooks
  .pre-commit-config.yaml
Due: none

docs: mark GOROOT pre-commit fix complete in todo.md
  docs/todo.md
Due: none

fix: remove unused types and ineffectual assignment (lint)
  internal/adapter/postgres/store_benchmark.go
  internal/service/phase23c_test.go
Due: go-imports-repo, go-vet-repo-mod, golangci-lint-repo-mod

feat: complete Phase 26C — Simple & Tool-Use benchmark runners
  configs/benchmarks/tool-use-basic.yaml
  frontend/e2e/war-room.spec.ts
  frontend/src/api/client.ts
  frontend/src/api/types.ts
  frontend/src/features/project/AgentLane.tsx
  frontend/src/features/project/MessageFlow.tsx
  frontend/src/features/project/ProjectDetailPage.tsx
  frontend/src/features/project/SharedContextPanel.tsx
  frontend/src/features/project/WarRoom.tsx
  internal/adapter/http/handlers.go
  internal/adapter/http/handlers_benchmark.go
  internal/adapter/http/routes.go
  internal/adapter/ws/events.go
  internal/service/handoff.go
  internal/service/phase23d_test.go
  workers/codeforge/evaluation/providers/codeforge_simple.py
  workers/codeforge/evaluation/providers/codeforge_tool_use.py
  workers/codeforge/evaluation/runners/__init__.py
  workers/codeforge/evaluation/runners/simple.py
  workers/codeforge/evaluation/runners/tool_use.py
  workers/codeforge/models.py
  workers/tests/test_benchmark_runners.py
Due: go-imports-repo, go-vet-repo-mod, golangci-lint-repo-mod, eslint, prettier

feat: Phase 26C consumer routing by benchmark type
  workers/codeforge/consumer/_benchmark.py
Due: none

docs: mark Phase 23C + 23D complete in todo.md and project-status.md
  docs/project-status.md
  docs/todo.md
Due: none

feat: Phase 26D — Agent Benchmark Runner with full agent loop support
  configs/benchmarks/agent-coding.yaml
  workers/codeforge/consumer/_benchmark.py
  workers/codeforge/evaluation/providers/codeforge_agent.py
  workers/codeforge/evaluation/runners/__init__.py
  workers/codeforge/evaluation/runners/agent.py
  workers/tests/test_benchmark_agent_runner.py
Due: none

feat: Phase 26E — external benchmark providers (HumanEval, MBPP, BigCodeBench, CRUXEval, LiveCodeBench)
  workers/codeforge/evaluation/cache.py
  workers/codeforge/evaluation/providers/bigcodebench.py
  workers/codeforge/evaluation/providers/cruxeval.py
  workers/codeforge/evaluation/providers/humaneval.py
  workers/codeforge/evaluation/providers/livecodebench.py
  workers/codeforge/evaluation/providers/mbpp.py
  workers/tests/test_benchmark_external_providers.py
Due: none

feat: Phase 26F — agent & multi-language benchmark providers (SWE-bench, SPARC, Aider Polyglot)
  workers/codeforge/evaluation/providers/aider_polyglot.py
  workers/codeforge/evaluation/providers/sparcbench.py
  workers/codeforge/evaluation/providers/swebench.py
  workers/tests/test_benchmark_agent_providers.py
Due: none

feat: complete Phase 26G — Go API enhancements for benchmark system
  docs/todo.md
  internal/adapter/http/handlers_benchmark.go
  internal/adapter/http/routes.go
  internal/adapter/ws/events.go
  internal/domain/benchmark/benchmark.go
  internal/domain/benchmark/benchmark_phase26g_test.go
  internal/service/benchmark.go
  internal/service/benchmark_test.go
Due: go-imports-repo, go-vet-repo-mod, golangci-lint-repo-mod

feat: Phase 28 — R2E-Gym & EntroPO integration (hybrid verification, multi-rollout, diversity MAB)
  workers/codeforge/consumer/_benchmark.py
  workers/codeforge/evaluation/evaluators/base.py
  workers/codeforge/evaluation/evaluators/functional_test.py
  workers/codeforge/evaluation/evaluators/trajectory_verifier.py
  workers/codeforge/evaluation/export/__init__.py
  workers/codeforge/evaluation/export/trajectory_exporter.py
  workers/codeforge/evaluation/generators/__init__.py
  workers/codeforge/evaluation/generators/swegen.py
  workers/codeforge/evaluation/hybrid_pipeline.py
  workers/codeforge/evaluation/pipeline.py
  workers/codeforge/evaluation/providers/__init__.py
  workers/codeforge/evaluation/providers/base.py
  workers/codeforge/evaluation/providers/codeforge_synthetic.py
  workers/codeforge/evaluation/providers/codeforge_tool_use.py
  workers/codeforge/evaluation/runners/multi_rollout.py
  workers/codeforge/evaluation/runners/tool_use.py
  workers/codeforge/models.py
  workers/codeforge/routing/mab.py
  workers/codeforge/routing/models.py
  workers/tests/test_benchmark_runners.py
  workers/tests/test_hybrid_pipeline.py
  workers/tests/test_multi_rollout_runner.py
  workers/tests/test_routing_entropy.py
  workers/tests/test_synthetic_provider.py
  workers/tests/test_trajectory_exporter.py
  workers/tests/test_trajectory_verifier.py
Due: none

docs: mark Phase 28 tasks complete in todo.md
  docs/todo.md
Due: none

feat: Phase 26 intelligent routing — Python routing cascade + Phase 27K/L A2A client
  cmd/codeforge/main.go
  frontend/src/features/project/ProjectDetailPage.tsx
  internal/adapter/http/handlers.go
  internal/adapter/http/handlers_a2a.go
  internal/adapter/http/handlers_a2a_test.go
  internal/adapter/http/helpers.go
  internal/adapter/http/routes.go
  internal/adapter/ws/events.go
  internal/service/a2a.go
  internal/service/a2a_test.go
  internal/service/handoff.go
  internal/service/handoff_a2a_test.go
Due: go-imports-repo, go-vet-repo-mod, golangci-lint-repo-mod, eslint, prettier

feat: Phase 26E-26K — Python routing modules (complexity, MAB, meta-router, reward, capabilities, hybrid router)
  workers/codeforge/routing/__init__.py
  workers/codeforge/routing/capabilities.py
  workers/codeforge/routing/complexity.py
  workers/codeforge/routing/meta_router.py
  workers/codeforge/routing/reward.py
  workers/codeforge/routing/router.py
  workers/tests/test_routing_capabilities.py
  workers/tests/test_routing_complexity.py
  workers/tests/test_routing_mab.py
  workers/tests/test_routing_meta_router.py
  workers/tests/test_routing_models.py
  workers/tests/test_routing_reward.py
  workers/tests/test_routing_router.py
Due: none

feat: Phase 26 — integrate intelligent routing into conversation consumer
  workers/codeforge/consumer/_conversation.py
  workers/codeforge/executor.py
  workers/codeforge/llm.py
  workers/tests/test_routing_integration.py
Due: none

feat: Phase 26N — wildcard LiteLLM routing config
  litellm/config.yaml
Due: none

docs: Phase 27N — A2A Protocol Integration documentation
  CLAUDE.md
  codeforge.yaml.example
  docs/architecture.md
  docs/dev-setup.md
  docs/features/04-agent-orchestration.md
  docs/project-status.md
  docs/todo.md
Due: none

docs: Phase 29 — intelligent routing documentation
  CLAUDE.md
  codeforge.yaml.example
  docs/dev-setup.md
  docs/features/03-multi-llm-provider.md
  docs/project-status.md
  docs/todo.md
Due: none

feat: auto-workspace — create empty projects without path or repo URL
  docs/features/01-project-dashboard.md
  docs/todo.md
  frontend/src/api/client.ts
  frontend/src/features/dashboard/DashboardPage.tsx
  frontend/src/i18n/en.ts
  frontend/src/i18n/locales/de.ts
  internal/adapter/http/handlers.go
  internal/adapter/http/handlers_routing.go
  internal/adapter/http/routes.go
  internal/service/benchmark.go
  internal/service/model_registry.go
  internal/service/project.go
  internal/service/project_test.go
  internal/service/routing.go
Due: go-imports-repo, go-vet-repo-mod, golangci-lint-repo-mod, eslint, prettier

fix: complete Phase 26 audit — RoutingResult, outcome recording, Go wiring
  cmd/codeforge/main.go
  internal/port/messagequeue/schemas.go
  workers/codeforge/agent_loop.py
  workers/codeforge/consumer/_conversation.py
  workers/codeforge/executor.py
  workers/codeforge/llm.py
  workers/codeforge/routing/meta_router.py
  workers/codeforge/routing/router.py
  workers/tests/test_routing_capabilities.py
  workers/tests/test_routing_integration.py
  workers/tests/test_routing_models.py
Due: go-imports-repo, go-vet-repo-mod, golangci-lint-repo-mod

feat: Phase 27N — A2A protocol stub (discovery + task endpoints)
  internal/port/a2a/agentcard.go
  internal/port/a2a/handler.go
  internal/port/a2a/handler_test.go
  internal/port/a2a/types.go
Due: go-imports-repo, go-vet-repo-mod, golangci-lint-repo-mod

docs: update architecture, status, and todo for Phases 23/26/28/29
  CLAUDE.md
  docs/architecture.md
  docs/project-status.md
  docs/todo.md
Due: none
