Repository Strob0t/CodeForge: changes, and which pre-commit hooks are due for each by the changed paths.
All: go-imports-repo, go-vet-repo-mod, golangci-lint-repo-mod, eslint, prettier

.pre-commit-config.yaml:

repos:
  # -- General ----------------------------------------------
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: end-of-file-fixer
      - id: trailing-whitespace
      - id: check-yaml
      - id: check-json
      - id: check-merge-conflict
      - id: detect-private-key

  # -- Python (Ruff) -----------------------------------------
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.15.1
    hooks:
      # 1) Sort imports
      - id: ruff-check
        name: ruff (sort imports)
        args: ["--select", "I", "--fix"]

      # 2) Lint/fix
      - id: ruff-check
        args: ["--fix", "--exit-non-zero-on-fix"]

      # 3) Format
      - id: ruff-format

  # -- Go -----------------------------------------------------
  - repo: https://github.com/TekWizely/pre-commit-golang
    rev: v1.0.0-rc.1
    hooks:
      # Format
      - id: go-fmt

  # Go hooks that need GOROOT set for Go 1.25 toolchain
  - repo: local
    hooks:
      - id: go-imports-repo
        name: go-imports-repo
        entry: bash -c 'export GOROOT=/go/pkg/mod/golang.org/toolchain@v0.0.1-go1.25.0.linux-amd64 && goimports -l -d $(find . -name "*.go" -not -path "./data/*" -not -path "./vendor/*")'
        language: system
        pass_filenames: false
        types: [go]

      - id: go-vet-repo-mod
        name: go-vet-repo-mod
        entry: bash -c 'export GOROOT=/go/pkg/mod/golang.org/toolchain@v0.0.1-go1.25.0.linux-amd64 && go vet ./...'
        language: system
        pass_filenames: false
        types: [go]

      - id: golangci-lint-repo-mod
        name: golangci-lint-repo-mod
        entry: bash -c 'export GOROOT=/go/pkg/mod/golang.org/toolchain@v0.0.1-go1.25.0.linux-amd64 && golangci-lint run ./...'
        language: system
        pass_filenames: false
        types: [go]

  # -- TypeScript / JavaScript (ESLint + Prettier) ------------
  - repo: local
    hooks:
      - id: eslint
        name: eslint
        entry: frontend/node_modules/.bin/eslint --config frontend/eslint.config.js --fix
        language: system
        files: ^frontend/src/.*\.(ts|tsx|js|jsx)$
        types: [file]

      - id: prettier
        name: prettier
        entry: frontend/node_modules/.bin/prettier --write --ignore-unknown
        language: system
        files: \.(ts|tsx|js|jsx|json|css|scss|html)$
        types: [file]

feat(mcp): trust operator MCP servers and let the operator open loopback (KI-100 review)
  codeforge.example.yaml
  internal/adapter/http/handlers_mcp_ssrf_test.go
  internal/config/config.go
  internal/netutil/outbound.go
  internal/netutil/outbound_test.go
  internal/netutil/testdata/outbound_cases.json
  internal/port/messagequeue/contract_test.go
  internal/port/messagequeue/schemas_conversation.go
  internal/port/messagequeue/testdata/contracts/conversation_run_start.json
  internal/port/messagequeue/testdata/contracts/runs_start.json
  internal/service/mcp.go
  internal/service/mcp_outbound.go
  internal/service/mcp_outbound_test.go
  workers/codeforge/mcp_models.py
  workers/codeforge/mcp_outbound.py
  workers/codeforge/mcp_workbench.py
  workers/tests/test_mcp_outbound.py
Due: go-imports-repo, go-vet-repo-mod, golangci-lint-repo-mod, prettier

fix(worker): try the next checked address when one cannot be connected (KI-100 review)
  workers/codeforge/mcp_outbound.py
  workers/tests/test_mcp_outbound.py
Due: none

fix(worker): bound and cache the MCP DNS lookups (KI-100 review)
  workers/codeforge/mcp_outbound.py
  workers/tests/test_mcp_outbound.py
Due: none

feat(mcp): opt-in proxy for MCP connections (KI-100 review)
  codeforge.example.yaml
  internal/config/config.go
  internal/config/loader.go
  internal/config/mcp_allowed_hosts_test.go
  internal/port/messagequeue/contract_test.go
  internal/port/messagequeue/schemas_conversation.go
  internal/port/messagequeue/testdata/contracts/conversation_run_start.json
  internal/port/messagequeue/testdata/contracts/runs_start.json
  internal/service/mcp.go
  internal/service/mcp_outbound.go
  internal/service/mcp_proxy_internal_test.go
  workers/codeforge/mcp_models.py
  workers/codeforge/mcp_outbound.py
  workers/codeforge/mcp_workbench.py
  workers/tests/test_mcp_outbound.py
Due: go-imports-repo, go-vet-repo-mod, golangci-lint-repo-mod, prettier

fix(frontend): suggest a public https MCP url (KI-100 review)
  frontend/src/features/mcp/MCPServersPage.test.tsx
  frontend/src/i18n/en.ts
  frontend/src/i18n/locales/de.ts
Due: eslint, prettier

fix(mcp): redact the MCP url as one URL value, not as log text (KI-97 security review)
  internal/domain/mcp/redact.go
  internal/domain/mcp/redact_test.go
  internal/secrets/redact_url.go
  internal/secrets/redact_url_field.go
  internal/secrets/redact_url_field_test.go
  internal/secrets/redact_url_test.go
Due: go-imports-repo, go-vet-repo-mod, golangci-lint-repo-mod

fix(mcp): keep url secrets out of MCP connection errors and logs (KI-97 security review)
  internal/adapter/http/handlers_mcp_ssrf_test.go
  internal/service/mcp_error_secrets_test.go
  internal/service/mcp_test_connection.go
  workers/codeforge/mcp_outbound.py
  workers/codeforge/mcp_workbench.py
  workers/tests/test_mcp_outbound.py
Due: go-imports-repo, go-vet-repo-mod, golangci-lint-repo-mod

fix(mcp): open the sse stream before the connection test's handshake
  internal/service/mcp_sse_start_test.go
  internal/service/mcp_test_connection.go
Due: go-imports-repo, go-vet-repo-mod, golangci-lint-repo-mod

docs: S7-A MCP outbound policy and redaction (KI-97, KI-100, KI-101)
  AGENTS.md
  docs/SECURITY.md
  docs/api/openapi.yaml
  docs/architecture/adr/017-tool-isolation-and-nats-authentication.md
  docs/dev-setup.md
  docs/known-issues-fix-plan.md
  docs/todo.md
Due: none

fix(worker): symlink-safe in-process workspace file access (KI-95)
  workers/codeforge/_tree_sitter_common.py
  workers/codeforge/constants.py
  workers/codeforge/consumer/_conversation.py
  workers/codeforge/evaluation/evaluators/filesystem_state.py
  workers/codeforge/evaluation/runners/agent.py
  workers/codeforge/graphrag.py
  workers/codeforge/repomap.py
  workers/codeforge/retrieval.py
  workers/codeforge/tools/_base.py
  workers/codeforge/tools/edit_file.py
  workers/codeforge/tools/glob_files.py
  workers/codeforge/tools/list_directory.py
  workers/codeforge/tools/read_file.py
  workers/codeforge/tools/search_files.py
  workers/codeforge/tools/write_file.py
  workers/codeforge/workspace_fs.py
  workers/tests/test_graphrag_phase6d.py
  workers/tests/test_indexer_symlinks.py
  workers/tests/test_repomap.py
  workers/tests/test_retrieval.py
  workers/tests/test_tool_edit_file.py
  workers/tests/test_tool_read_file.py
  workers/tests/test_tool_search_glob_listdir.py
  workers/tests/test_tool_symlinks.py
  workers/tests/test_tool_write_file.py
  workers/tests/test_tools.py
  workers/tests/test_worker_readers_symlinks.py
  workers/tests/test_workspace_fs.py
  workers/tests/test_workspace_fs_scan.py
  workers/tests/test_workspace_path_resolution.py
Due: none

fix(core): read and write workspace files through os.Root (KI-95)
  cmd/codeforge/main.go
  internal/adapter/autospec/provider.go
  internal/adapter/http/handlers_audit_test.go
  internal/adapter/http/handlers_goals.go
  internal/adapter/http/handlers_goals_symlink_test.go
  internal/adapter/http/handlers_prompt_evolution_test.go
  internal/adapter/http/handlers_test.go
  internal/adapter/markdownspec/provider.go
  internal/adapter/openspec/provider.go
  internal/adapter/speckit/provider.go
  internal/domain/project/scan.go
  internal/domain/project/scan_symlink_test.go
  internal/port/specprovider/provider.go
  internal/port/specprovider/symlink_test.go
  internal/service/autoagent.go
  internal/service/checkpoint.go
  internal/service/checkpoint_test.go
  internal/service/context_scoring.go
  internal/service/conversation_test.go
  internal/service/files.go
  internal/service/files_source_test.go
  internal/service/git_worktree.go
  internal/service/goal_discovery.go
  internal/service/goal_discovery_test.go
  internal/service/project_workspace.go
  internal/service/roadmap_import.go
  internal/service/roadmap_sync.go
  internal/service/runtime_coverage_test.go
  internal/service/runtime_gate.go
  internal/service/task_planner.go
  internal/service/workspace_symlink_test.go
  internal/workspacefs/workspacefs.go
  internal/workspacefs/workspacefs_test.go
Due: go-imports-repo, go-vet-repo-mod, golangci-lint-repo-mod

fix(core): never block on a FIFO in a workspace's place (KI-95)
  internal/workspacefs/workspacefs.go
  internal/workspacefs/workspacefs_test.go
  workers/tests/test_workspace_fs.py
Due: go-imports-repo, go-vet-repo-mod, golangci-lint-repo-mod

fix(core): workspacefs review round (S7-B: S1, S2, S3, C4, C8, C10, C12, C13)
  internal/adapter/autospec/provider.go
  internal/adapter/http/handlers_goals.go
  internal/adapter/http/handlers_goals_symlink_test.go
  internal/adapter/markdownspec/provider.go
  internal/adapter/openspec/provider.go
  internal/adapter/speckit/provider.go
  internal/domain/project/scan_symlink_test.go
  internal/port/specprovider/symlink_test.go
  internal/port/specprovider/workspace.go
  internal/service/deliver.go
  internal/service/files.go
  internal/service/files_r2_test.go
  internal/service/git_worktree.go
  internal/service/workspace_r2_test.go
  internal/service/workspace_symlink_test.go
  internal/workspacefs/flags_other.go
  internal/workspacefs/flags_unix.go
  internal/workspacefs/walk_test.go
  internal/workspacefs/workspacefs.go
  internal/workspacefs/workspacefs_test.go
Due: go-imports-repo, go-vet-repo-mod, golangci-lint-repo-mod

fix(core): detect-stack only inside the caller's tenant area (KI-106)
  internal/adapter/http/handlers_project.go
  internal/service/detect_stack_tenant_test.go
  internal/service/project_workspace.go
  internal/service/workspace_symlink_test.go
Due: go-imports-repo, go-vet-repo-mod, golangci-lint-repo-mod

fix(core,worker): knowledge-base content only below a content root (KI-105)
  cmd/codeforge/main.go
  codeforge.example.yaml
  docker-compose.prod.yml
  frontend/e2e/api/knowledge-bases-api.spec.ts
  frontend/e2e/api/scopes-api.spec.ts
  frontend/e2e/knowledge-bases.spec.ts
  internal/adapter/http/handlers_audit_test.go
  internal/adapter/http/handlers_knowledgebase_test.go
  internal/adapter/http/handlers_prompt_evolution_test.go
  internal/adapter/http/handlers_test.go
  internal/adapter/http/routes.go
  internal/adapter/osfs/provider.go
  internal/config/config.go
  internal/config/loader.go
  internal/port/filesystem/provider.go
  internal/port/messagequeue/contract_test.go
  internal/port/messagequeue/schemas_context.go
  internal/port/messagequeue/testdata/contracts/retrieval_index_request.json
  internal/service/context_optimizer.go
  internal/service/context_optimizer_test.go
  internal/service/context_sources.go
  internal/service/conversation_test.go
  internal/service/knowledge_content.go
  internal/service/knowledge_content_test.go
  internal/service/knowledgebase.go
  internal/service/knowledgebase_test.go
  internal/service/retrieval.go
  internal/service/workspace_symlink_test.go
  internal/workspacefs/workspacefs.go
  internal/workspacefs/workspacefs_test.go
  workers/codeforge/config.py
  workers/codeforge/consumer/__init__.py
  workers/codeforge/consumer/_retrieval.py
  workers/codeforge/models.py
  workers/codeforge/retrieval.py
  workers/codeforge/workspace_fs.py
  workers/tests/test_knowledge_index.py
Due: go-imports-repo, go-vet-repo-mod, golangci-lint-repo-mod, prettier

fix(core,worker): benchmark datasets only inside the datasets directory (KI-107)
  internal/service/benchmark_dataset_test.go
  internal/service/benchmark_run.go
  internal/service/benchmark_suite.go
  internal/service/knowledge_content.go
  internal/service/knowledgebase.go
  internal/service/operator_dir.go
  workers/codeforge/consumer/_benchmark_runners.py
  workers/codeforge/consumer/_retrieval.py
  workers/codeforge/evaluation/datasets.py
  workers/codeforge/evaluation/providers/codeforge_agent.py
  workers/codeforge/evaluation/providers/codeforge_simple.py
  workers/codeforge/evaluation/providers/codeforge_tool_use.py
  workers/codeforge/workspace_fs.py
  workers/tests/conftest.py
  workers/tests/test_benchmark_agent_runner.py
  workers/tests/test_benchmark_dataset_paths.py
  workers/tests/test_benchmark_runners.py
  workers/tests/test_evaluation_datasets.py
  workers/tests/test_workspace_fs_scan.py
Due: go-imports-repo, go-vet-repo-mod, golangci-lint-repo-mod

fix(worker): workspace_fs review round (S7-B: C1-C3, C5-C7, C9, C11, C14)
  workers/codeforge/_tree_sitter_common.py
  workers/codeforge/evaluation/evaluators/filesystem_state.py
  workers/codeforge/evaluation/runners/agent.py
  workers/codeforge/graphrag.py
  workers/codeforge/repomap.py
  workers/codeforge/retrieval.py
  workers/codeforge/tools/edit_file.py
  workers/codeforge/tools/glob_files.py
  workers/codeforge/tools/list_directory.py
  workers/codeforge/tools/read_file.py
  workers/codeforge/workspace_fs.py
  workers/tests/test_graphrag_phase6d.py
  workers/tests/test_indexer_symlinks.py
  workers/tests/test_repomap.py
  workers/tests/test_tool_symlinks.py
  workers/tests/test_workspace_fs.py
  workers/tests/test_workspace_fs_review.py
  workers/tests/test_workspace_fs_scan.py
Due: none

fix(core,worker): knowledge content in per-tenant areas (KI-105 round 3)
  codeforge.example.yaml
  docker-compose.prod.yml
  internal/config/config.go
  internal/service/context_sources.go
  internal/service/knowledge_content.go
  internal/service/knowledge_content_test.go
  internal/service/knowledgebase.go
  workers/codeforge/consumer/_retrieval.py
  workers/codeforge/retrieval.py
  workers/tests/test_knowledge_index.py
Due: go-imports-repo, go-vet-repo-mod, golangci-lint-repo-mod

fix(store): scope knowledge-base links stay in the tenant (KI-105 round 3)
  internal/adapter/postgres/store_knowledgebase.go
  internal/adapter/postgres/store_knowledgebase_scope_test.go
Due: go-imports-repo, go-vet-repo-mod, golangci-lint-repo-mod

fix(core): no stale knowledge-base index in agent context (KI-105 round 3)
  internal/service/context_sources.go
  internal/service/knowledge_content_test.go
  internal/service/knowledgebase.go
Due: go-imports-repo, go-vet-repo-mod, golangci-lint-repo-mod

fix(core): filter-attribute check fails closed when listing fails (S7-B round 3)
  internal/service/git_worktree.go
  internal/service/workspace_r2_test.go
Due: go-imports-repo, go-vet-repo-mod, golangci-lint-repo-mod

fix(worker): refuse a project index without a workspace path (S7-B round 3)
  workers/codeforge/consumer/_retrieval.py
  workers/tests/test_consumer_retrieval.py
Due: none

fix(worker): open the knowledge content root as an operator directory (S7-B round 3)
  workers/codeforge/retrieval.py
  workers/tests/test_knowledge_index.py
Due: none

docs: S7-B symlink-safe workspace access and knowledge areas (KI-95, KI-105, KI-106, KI-107)
  AGENTS.md
  docs/SECURITY.md
  docs/api/openapi.yaml
  docs/architecture.md
  docs/architecture/adr/017-tool-isolation-and-nats-authentication.md
  docs/dev-setup.md
  docs/known-issues-fix-plan.md
  docs/todo.md
Due: none

fix(feedback): Slack approvals link to the approval page, approval_tenants (KI-84)
  cmd/codeforge/approval_providers.go
  cmd/codeforge/approval_providers_test.go
  cmd/codeforge/email_approvals.go
  cmd/codeforge/email_approvals_test.go
  cmd/codeforge/main.go
  internal/adapter/email/feedback.go
  internal/adapter/email/feedback_test.go
  internal/adapter/slack/feedback.go
  internal/adapter/slack/feedback_test.go
  internal/config/approval_tenants_test.go
  internal/config/approvals.go
  internal/config/approvals_test.go
  internal/config/config.go
  internal/config/email_approvals.go
  internal/config/loader.go
  internal/domain/feedback/feedback.go
  internal/domain/feedback/feedback_test.go
Due: go-imports-repo, go-vet-repo-mod, golangci-lint-repo-mod

fix(webhooks): Plane webhooks take the secret Plane generates (KI-85)
  internal/adapter/http/handlers_webhook.go
  internal/adapter/postgres/webhook_tenancy_http_test.go
  internal/domain/webhook/endpoint.go
  internal/domain/webhook/endpoint_test.go
  internal/service/webhook_endpoint.go
  internal/service/webhook_endpoint_test.go
Due: go-imports-repo, go-vet-repo-mod, golangci-lint-repo-mod

fix(webhooks): a signed delivery is handled once whatever its delivery ID (KI-85 review)
  internal/adapter/http/handlers_webhook_test.go
  internal/adapter/postgres/migrations/113_webhook_endpoints.sql
  internal/adapter/postgres/store_webhook.go
  internal/adapter/postgres/store_webhook_test.go
  internal/adapter/postgres/webhook_tenancy_http_test.go
  internal/config/config.go
  internal/config/webhook_test.go
  internal/domain/webhook/endpoint.go
  internal/port/database/store_webhook.go
  internal/service/webhook_endpoint.go
  internal/service/webhook_endpoint_test.go
Due: go-imports-repo, go-vet-repo-mod, golangci-lint-repo-mod

fix(webhooks): deliveries bypass the idempotency cache; test the tenant middleware in the chain (KI-85 review)
  internal/adapter/http/handlers_webhook_test.go
  internal/middleware/idempotency.go
  internal/middleware/idempotency_test.go
Due: go-imports-repo, go-vet-repo-mod, golangci-lint-repo-mod

fix(pm): the operator's PM credentials and Plane URL stay with the default tenant (KI-85 review)
  internal/service/pm_operator_credentials_test.go
  internal/service/pm_webhook.go
  internal/service/roadmap_import.go
  internal/service/sync.go
Due: go-imports-repo, go-vet-repo-mod, golangci-lint-repo-mod

fix(pm): GitLab PM requests go through the outbound policy (KI-85 review)
  cmd/codeforge/main.go
  cmd/codeforge/pm_outbound.go
  cmd/codeforge/pm_outbound_test.go
  codeforge.example.yaml
  internal/adapter/gitlab/outbound_test.go
  internal/adapter/gitlab/provider.go
  internal/adapter/gitlab/provider_test.go
  internal/config/config.go
  internal/config/loader.go
  internal/config/pm_allowed_hosts_test.go
  internal/netutil/redirect.go
  internal/netutil/redirect_test.go
  internal/service/mcp_outbound.go
  internal/service/pm_webhook_test.go
Due: go-imports-repo, go-vet-repo-mod, golangci-lint-repo-mod

docs: S7-C per-project webhooks and Slack approvals (KI-84, KI-85)
  AGENTS.md
  docs/SECURITY.md
  docs/api/openapi.yaml
  docs/architecture.md
  docs/data-retention.md
  docs/dev-setup.md
  docs/features/01-project-dashboard.md
  docs/features/02-roadmap-feature-map.md
  docs/features/04-agent-orchestration.md
  docs/known-issues-fix-plan.md
  docs/todo.md
Due: none

docs(plans): KI-25 sub-agents (Claude Code model) and KI-88 opaque submodules
  docs/plans/ki25-subagents-plan.md
  docs/plans/ki88-opaque-submodules-plan.md
  docs/todo.md
Due: none

test(nats): wait for the stopped subscriber to detach before publishing
  docs/todo.md
  internal/adapter/nats/nats_test.go
Due: go-imports-repo, go-vet-repo-mod, golangci-lint-repo-mod

fix(worker): hand the tool environment over on a memfd, not on argv
  workers/codeforge/tool_exec.py
  workers/codeforge/tool_process.py
  workers/tests/test_tool_exec.py
  workers/tests/test_tool_isolation_integration.py
  workers/tests/test_tool_process.py
Due: none

fix(worker): tool processes can reopen their stdio pipes (/dev/stdout)
  workers/codeforge/tool_process.py
  workers/tests/test_tool_isolation_integration.py
  workers/tests/test_tool_process.py
Due: none

feat(db): lazily allocated tool UID per tenant
  internal/adapter/http/handlers_settings.go
  internal/adapter/http/handlers_tenant_test.go
  internal/adapter/http/handlers_test.go
  internal/adapter/http/routes.go
  internal/adapter/postgres/migrations/120_tenant_tool_uid.sql
  internal/adapter/postgres/store_tenant.go
  internal/domain/tenant/tenant.go
  internal/domain/tenant/tooluid.go
  internal/domain/tenant/tooluid_test.go
  internal/middleware/teststore_test.go
  internal/port/database/store_tenant.go
  internal/service/project_test.go
  internal/service/runtime_test.go
  internal/service/tenant_tooluid.go
  internal/service/tenant_tooluid_test.go
  tests/integration/integration_test.go
  tests/integration/migration_test.go
  tests/integration/tooluid_test.go
Due: go-imports-repo, go-vet-repo-mod, golangci-lint-repo-mod

feat(nats): tool_uid on the payloads that start tool processes
  cmd/codeforge/main.go
  cmd/codeforge/tool_acls.go
  codeforge.example.yaml
  internal/adapter/http/handlers_tenant_test.go
  internal/adapter/http/helpers.go
  internal/config/config.go
  internal/config/loader.go
  internal/config/tool_acls_test.go
  internal/port/agentbackend/backend.go
  internal/port/messagequeue/contract_test.go
  internal/port/messagequeue/schemas_benchmark.go
  internal/port/messagequeue/schemas_conversation.go
  internal/port/messagequeue/schemas_run.go
  internal/port/messagequeue/testdata/contracts/benchmark_run_request.json
  internal/port/messagequeue/testdata/contracts/conversation_run_start.json
  internal/port/messagequeue/testdata/contracts/conversation_test_request.json
  internal/port/messagequeue/testdata/contracts/runs_qualitygate_request.json
  internal/port/messagequeue/testdata/contracts/runs_start.json
  internal/port/messagequeue/testdata/contracts/tasks_agent.json
  internal/service/agent.go
  internal/service/autoagent.go
  internal/service/benchmark_run.go
  internal/service/conversation.go
  internal/service/conversation_dispatch.go
  internal/service/runtime.go
  internal/service/runtime_gate.go
  internal/service/tenant_tooluid.go
  internal/service/tool_uid_contract_test.go
  internal/service/tool_uid_payload_internal_test.go
  internal/service/tool_uid_payload_test.go
  workers/codeforge/models.py
  workers/tests/test_nats_contracts.py
Due: go-imports-repo, go-vet-repo-mod, golangci-lint-repo-mod, prettier

feat(workspace): POSIX ACL codec and tenant directories for tool UIDs
  cmd/codeforge/main.go
  go.mod
  internal/adapter/postgres/store_tenant.go
  internal/domain/project/workspace_perm.go
  internal/service/project.go
  internal/service/project_tool_acls_test.go
  internal/service/project_workspace.go
  internal/service/tenant_tooluid.go
  internal/workspaceacl/acl.go
  internal/workspaceacl/acl_linux.go
  internal/workspaceacl/acl_linux_test.go
  internal/workspaceacl/acl_other.go
  internal/workspaceacl/acl_test.go
  internal/workspaceacl/testdata/acl_vectors.json
  tests/integration/tooluid_test.go
  workers/codeforge/posix_acl.py
  workers/tests/test_posix_acl.py
Due: go-imports-repo, go-vet-repo-mod, golangci-lint-repo-mod, prettier

feat(worker): per-tenant tool identity for every tool process (KI-96)
  scripts/check-tool-isolation.sh
  workers/codeforge/backends/_cli_base.py
  workers/codeforge/claude_code_executor.py
  workers/codeforge/config.py
  workers/codeforge/consumer/__init__.py
  workers/codeforge/consumer/_benchmark.py
  workers/codeforge/consumer/_benchmark_runners.py
  workers/codeforge/consumer/_conversation.py
  workers/codeforge/consumer/_quality_gate.py
  workers/codeforge/consumer/_runs.py
  workers/codeforge/consumer/_tasks.py
  workers/codeforge/consumer/_workspace_test.py
  workers/codeforge/evaluation/runners/agent.py
  workers/codeforge/subprocess_env.py
  workers/codeforge/subprocess_utils.py
  workers/codeforge/tool_identity.py
  workers/codeforge/tool_process.py
  workers/codeforge/tool_state.py
  workers/tests/consumer/test_tool_identity_handlers.py
  workers/tests/test_benchmark_agent_runner.py
  workers/tests/test_cli_working_dir.py
  workers/tests/test_health.py
  workers/tests/test_tool_identity.py
  workers/tests/test_tool_isolation_integration.py
  workers/tests/test_tool_process.py
  workers/tests/test_tool_state.py
  workers/tests/test_workspace_fs_scan.py
  workers/tests/tool_isolation_check.py
Due: none
