Repository Strob0t/CodeForge: changes, and which pre-commit hooks are due for each by the changed paths.
All: go-imports-repo, go-vet-repo-mod, golangci-lint-repo-mod, eslint, prettier

.pre-commit-config.yaml:

repos:
  # -- General ----------------------------------------------
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: end-of-file-fixer
      - id: trailing-whitespace
      - id: check-yaml
      - id: check-json
      - id: check-merge-conflict
      - id: detect-private-key

  # -- Python (Ruff) -----------------------------------------
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.15.1
    hooks:
      # 1) Sort imports
      - id: ruff-check
        name: ruff (sort imports)
        args: ["--select", "I", "--fix"]

      # 2) Lint/fix
      - id: ruff-check
        args: ["--fix", "--exit-non-zero-on-fix"]

      # 3) Format
      - id: ruff-format

  # -- Go -----------------------------------------------------
  - repo: https://github.com/TekWizely/pre-commit-golang
    rev: v1.0.0-rc.1
    hooks:
      # Format
      - id: go-fmt

  # Go hooks that need GOROOT set for Go 1.25 toolchain
  - repo: local
    hooks:
      - id: go-imports-repo
        name: go-imports-repo
        entry: bash -c 'export GOROOT=/go/pkg/mod/golang.org/toolchain@v0.0.1-go1.25.0.linux-amd64 && goimports -l -d $(find . -name "*.go" -not -path "./data/*" -not -path "./vendor/*")'
        language: system
        pass_filenames: false
        types: [go]

      - id: go-vet-repo-mod
        name: go-vet-repo-mod
        entry: bash -c 'export GOROOT=/go/pkg/mod/golang.org/toolchain@v0.0.1-go1.25.0.linux-amd64 && go vet ./...'
        language: system
        pass_filenames: false
        types: [go]

      - id: golangci-lint-repo-mod
        name: golangci-lint-repo-mod
        entry: bash -c 'export GOROOT=/go/pkg/mod/golang.org/toolchain@v0.0.1-go1.25.0.linux-amd64 && golangci-lint run ./...'
        language: system
        pass_filenames: false
        types: [go]

  # -- TypeScript / JavaScript (ESLint + Prettier) ------------
  - repo: local
    hooks:
      - id: eslint
        name: eslint
        entry: frontend/node_modules/.bin/eslint --config frontend/eslint.config.js --fix
        language: system
        files: ^frontend/src/.*\.(ts|tsx|js|jsx)$
        types: [file]

      - id: prettier
        name: prettier
        entry: frontend/node_modules/.bin/prettier --write --ignore-unknown
        language: system
        files: \.(ts|tsx|js|jsx|json|css|scss|html)$
        types: [file]

config: make context budget phase scaling configurable (F15-D2)
  internal/config/config.go
  internal/service/context_budget.go
Due: go-imports-repo, go-vet-repo-mod, golangci-lint-repo-mod

security: reject default JWT secret in production mode (F21-D3)
  internal/config/loader.go
Due: go-imports-repo, go-vet-repo-mod, golangci-lint-repo-mod

fix(litellm): add explicit openai/container entry to prevent wildcard collision
  litellm/config.yaml
Due: none

fix(api): support local_path in CreateProject to set workspace in single call
  internal/adapter/http/handlers.go
  internal/domain/project/project.go
  internal/domain/project/validation.go
  internal/domain/project/validation_test.go
Due: go-imports-repo, go-vet-repo-mod, golangci-lint-repo-mod

fix(agent): forward explicit model through full-auto gate redirect
  internal/service/conversation_agent.go
Due: go-imports-repo, go-vet-repo-mod, golangci-lint-repo-mod

refactor: extract ChatPanel shared types into chatPanelTypes.ts
  frontend/src/features/project/chatPanelTypes.ts
Due: eslint, prettier

fix(nats): log warning when consumer becomes unavailable after deletion
  internal/adapter/nats/nats.go
Due: go-imports-repo, go-vet-repo-mod, golangci-lint-repo-mod

docs: update feature audit report with re-audit results (B- -> B+)
  docs/audits/full-feature-audit-2026-03-21.md
Due: none

refactor: extract useChatAGUI hook from ChatPanel (AG-UI events + state)
  frontend/src/features/project/ChatPanel.tsx
  frontend/src/features/project/useChatAGUI.ts
Due: eslint, prettier

refactor: extract ChatHeader from ChatPanel (session controls, conversation selector)
  frontend/src/features/project/ChatHeader.tsx
  frontend/src/features/project/ChatPanel.tsx
Due: eslint, prettier

refactor: extract ChatMessages from ChatPanel (message list, tool cards, streaming)
  frontend/src/features/project/ChatMessages.tsx
  frontend/src/features/project/ChatPanel.tsx
Due: eslint, prettier

test: unit tests for extracted ChatPanel components
  frontend/src/features/project/ChatHeader.test.ts
  frontend/src/features/project/ChatMessages.test.ts
  frontend/src/features/project/chatPanelTypes.test.ts
  frontend/src/features/project/useChatAGUI.test.ts
Due: eslint, prettier

refactor: extract SettingsPage types and section definitions
  frontend/src/features/settings/settingsTypes.ts
Due: eslint, prettier

refactor: extract GeneralSection from SettingsPage
  frontend/src/features/settings/GeneralSection.tsx
  frontend/src/features/settings/SettingsPage.tsx
Due: eslint, prettier

refactor: extract VCSSection from SettingsPage
  frontend/src/features/settings/SettingsPage.tsx
  frontend/src/features/settings/VCSSection.tsx
Due: eslint, prettier

refactor: extract Providers, Proxy, Subscriptions, APIKeys, Users, DevTools sections
  frontend/src/features/settings/APIKeysSection.tsx
  frontend/src/features/settings/DevToolsSection.tsx
  frontend/src/features/settings/ProvidersSection.tsx
  frontend/src/features/settings/ProxySection.tsx
  frontend/src/features/settings/SettingsPage.tsx
  frontend/src/features/settings/SubscriptionsSection.tsx
  frontend/src/features/settings/UsersSection.tsx
Due: eslint, prettier

test: unit tests for all extracted SettingsPage sections
  frontend/src/features/settings/settings.test.ts
Due: eslint, prettier

docs: update report + testplan to reflect bugs 7-10 as FIXED
  docs/testing/2026-03-19-autonomous-goal-to-program-report.md
  docs/testing/2026-03-19-autonomous-goal-to-program-testplan.md
Due: none

docs: restructure audit report — findings only, no fix recommendations
  docs/audits/full-feature-audit-2026-03-21.md
Due: none

refactor: move docs/superpowers/ content into docs/plans/ and docs/specs/
  docs/audits/full-feature-audit-2026-03-21.md
  docs/plans/2026-03-19-frontend-ui-fixes-plan.md
  docs/plans/2026-03-19-taskforge-evaluation-bugfixes.md
  docs/plans/2026-03-20-s2-recommendations-plan.md
  docs/plans/2026-03-21-feature-audit-fixes.md
  docs/specs/2026-03-19-frontend-ui-fixes-design.md
Due: none

refactor: extract API core (fetch, retry, auth, FetchError) into core.ts
  frontend/src/api/client.ts
  frontend/src/api/core.ts
Due: eslint, prettier

refactor: extract projects + conversations API resources
  frontend/src/api/client.ts
  frontend/src/api/resources/conversations.ts
  frontend/src/api/resources/projects.ts
Due: eslint, prettier

refactor: extract auth, files, agents API resources
  frontend/src/api/client.ts
  frontend/src/api/resources/agents.ts
  frontend/src/api/resources/auth.ts
  frontend/src/api/resources/files.ts
Due: eslint, prettier

docs: final feature audit — B (7.8/10), 11 PASS, 11 NEEDS WORK, 0 CRITICAL
  docs/audits/full-feature-audit-2026-03-21.md
Due: none

refactor: extract llm, benchmarks, roadmap API resources
  frontend/src/api/client.ts
  frontend/src/api/resources/benchmarks.ts
  frontend/src/api/resources/llm.ts
  frontend/src/api/resources/roadmap.ts
Due: eslint, prettier

refactor: extract settings, misc API resources + resource index
  frontend/src/api/client.ts
  frontend/src/api/resources/index.ts
  frontend/src/api/resources/misc.ts
  frontend/src/api/resources/settings.ts
Due: eslint, prettier

refactor: API client decomposition complete -- 1486 LOC to 12 focused modules
  frontend/src/api/client.test.ts
Due: eslint, prettier

docs: atomic work plan for remaining audit findings (10 tasks)
  docs/plans/2026-03-22-audit-remaining-fixes.md
Due: none

docs: mark A2A callback finding as false positive in audit (F9-D1)
  docs/audits/full-feature-audit-2026-03-21.md
Due: none

fix: enforce 15MB image validation in SendMessage (F6-D3)
  frontend/src/features/canvas/tools/ImageTool.ts
  internal/domain/conversation/conversation.go
  internal/service/conversation.go
  internal/service/conversation_test.go
Due: go-imports-repo, go-vet-repo-mod, golangci-lint-repo-mod, eslint, prettier

fix: log warnings for invalid config values instead of silent skip (F21-D2)
  internal/config/loader.go
Due: go-imports-repo, go-vet-repo-mod, golangci-lint-repo-mod

fix: correct quarantine docstring from fail-open to fail-closed (F11-D2)
  internal/service/quarantine.go
Due: go-imports-repo, go-vet-repo-mod, golangci-lint-repo-mod

security: enforce tenant isolation in quarantine evaluation (F11-D3)
  internal/service/quarantine.go
  internal/service/quarantine_test.go
Due: go-imports-repo, go-vet-repo-mod, golangci-lint-repo-mod

docs: document AG-UI event flow path (Python→NATS→WS→Frontend) (F10-D1)
  frontend/src/components/AuthProvider.tsx
Due: eslint, prettier

docs: document AG-UI event flow path (Python->NATS->WS->Frontend) (F10-D1)
  docs/features/05-chat-enhancements.md
Due: none

fix: inject tenant context in MCP AuthMiddleware (F8-D3)
  internal/adapter/mcp/auth.go
  internal/adapter/mcp/server.go
  internal/adapter/mcp/server_test.go
  internal/adapter/mcp/tools.go
Due: go-imports-repo, go-vet-repo-mod, golangci-lint-repo-mod

test: implement FIX-032 test cases in files_source_test.go
  internal/adapter/ws/agui_events_test.go
Due: go-imports-repo, go-vet-repo-mod, golangci-lint-repo-mod

test: implement FIX-032 test cases in files_source_test.go (fix)
  internal/service/files_source_test.go
Due: go-imports-repo, go-vet-repo-mod, golangci-lint-repo-mod

test: implement FIX-032 test cases in lsp_source_test.go
  internal/service/lsp_source_test.go
Due: go-imports-repo, go-vet-repo-mod, golangci-lint-repo-mod

test: implement FIX-032 test cases in orchestrator_consensus_test.go
  internal/service/orchestrator_consensus_test.go
Due: go-imports-repo, go-vet-repo-mod, golangci-lint-repo-mod
