Repository Strob0t/CodeForge: changes, and which pre-commit hooks are due for each by the changed paths.
All: go-imports-repo, go-vet-repo-mod, golangci-lint-repo-mod, eslint, prettier

.pre-commit-config.yaml:

repos:
  # -- General ----------------------------------------------
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: end-of-file-fixer
      - id: trailing-whitespace
      - id: check-yaml
      - id: check-json
      - id: check-merge-conflict
      - id: detect-private-key

  # -- Python (Ruff) -----------------------------------------
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.15.1
    hooks:
      # 1) Sort imports
      - id: ruff-check
        name: ruff (sort imports)
        args: ["--select", "I", "--fix"]

      # 2) Lint/fix
      - id: ruff-check
        args: ["--fix", "--exit-non-zero-on-fix"]

      # 3) Format
      - id: ruff-format

  # -- Go -----------------------------------------------------
  - repo: https://github.com/TekWizely/pre-commit-golang
    rev: v1.0.0-rc.1
    hooks:
      # Format
      - id: go-fmt

  # Go hooks that need GOROOT set for Go 1.25 toolchain
  - repo: local
    hooks:
      - id: go-imports-repo
        name: go-imports-repo
        entry: bash -c 'export GOROOT=/go/pkg/mod/golang.org/toolchain@v0.0.1-go1.25.0.linux-amd64 && goimports -l -d $(find . -name "*.go" -not -path "./data/*" -not -path "./vendor/*")'
        language: system
        pass_filenames: false
        types: [go]

      - id: go-vet-repo-mod
        name: go-vet-repo-mod
        entry: bash -c 'export GOROOT=/go/pkg/mod/golang.org/toolchain@v0.0.1-go1.25.0.linux-amd64 && go vet ./...'
        language: system
        pass_filenames: false
        types: [go]

      - id: golangci-lint-repo-mod
        name: golangci-lint-repo-mod
        entry: bash -c 'export GOROOT=/go/pkg/mod/golang.org/toolchain@v0.0.1-go1.25.0.linux-amd64 && golangci-lint run ./...'
        language: system
        pass_filenames: false
        types: [go]

  # -- TypeScript / JavaScript (ESLint + Prettier) ------------
  - repo: local
    hooks:
      - id: eslint
        name: eslint
        entry: frontend/node_modules/.bin/eslint --config frontend/eslint.config.js --fix
        language: system
        files: ^frontend/src/.*\.(ts|tsx|js|jsx)$
        types: [file]

      - id: prettier
        name: prettier
        entry: frontend/node_modules/.bin/prettier --write --ignore-unknown
        language: system
        files: \.(ts|tsx|js|jsx|json|css|scss|html)$
        types: [file]

fix(review): baseline at the refactoring's start, path-scoped undo (S6-F 2)
  cmd/codeforge/main.go
  internal/adapter/http/handlers_review.go
  internal/adapter/http/handlers_review_test.go
  internal/adapter/postgres/migrations/099_review_pipelines.sql
  internal/adapter/postgres/store_review_pipeline.go
  internal/adapter/postgres/store_review_pipeline_test.go
  internal/domain/review/pipeline.go
  internal/service/delivery_commit.go
  internal/service/orchestrator.go
  internal/service/orchestrator_consensus.go
  internal/service/orchestrator_prepare.go
  internal/service/orchestrator_prepare_test.go
  internal/service/review_pipeline.go
  internal/service/review_pipeline_test.go
  internal/service/review_workspace.go
Due: go-imports-repo, go-vet-repo-mod, golangci-lint-repo-mod

feat(review): pending keep/undo decisions survive a missed event (S6-F 6)
  frontend/src/api/resources/misc.ts
  frontend/src/api/resources/projects.ts
  frontend/src/api/types.ts
  frontend/src/features/project/RefactorApproval.test.tsx
  frontend/src/features/project/RefactorApproval.tsx
  internal/adapter/http/handlers_review.go
  internal/adapter/http/handlers_review_test.go
  internal/adapter/http/routes.go
  internal/adapter/postgres/store_review_pipeline.go
  internal/adapter/postgres/store_review_pipeline_test.go
  internal/service/review_pipeline.go
  internal/service/review_pipeline_test.go
Due: go-imports-repo, go-vet-repo-mod, golangci-lint-repo-mod, eslint, prettier

fix(review): one review pipeline per project, agents not shared (S6-F 7)
  internal/adapter/http/handlers_review.go
  internal/adapter/http/handlers_review_test.go
  internal/adapter/postgres/store_review_pipeline.go
  internal/adapter/postgres/store_review_pipeline_test.go
  internal/domain/review/pipeline.go
  internal/service/review_pipeline.go
  internal/service/review_pipeline_test.go
Due: go-imports-repo, go-vet-repo-mod, golangci-lint-repo-mod

chore(migrations): renumber review_pipelines to 100
  internal/adapter/postgres/migrations/100_review_pipelines.sql
Due: none

ci(security): allowlist synthetic test secrets for gitleaks
  .gitleaks.toml
  docs/dev-setup.md
  docs/todo.md
Due: none

test(routing): complexity analyzer budget reflects its regex cost
  docs/todo.md
  workers/tests/test_routing_complexity.py
Due: none

fix(git): refuse nested repositories in workspaces (KI-77)
  internal/git/nested.go
  internal/git/nested_internal_test.go
  internal/git/nested_test.go
  internal/git/push_submodule_test.go
  internal/git/workspace.go
  internal/service/checkpoint_nested_test.go
  internal/service/git_worktree.go
Due: go-imports-repo, go-vet-repo-mod, golangci-lint-repo-mod

fix(git): detect gitlinks by their type bits, refuse .git index paths
  internal/git/nested.go
  internal/git/nested_internal_test.go
Due: go-imports-repo, go-vet-repo-mod, golangci-lint-repo-mod

style(config): (S2-G fix, 15) validateRetention gets its doc comment back
  internal/config/loader.go
Due: go-imports-repo, go-vet-repo-mod, golangci-lint-repo-mod

fix(a2a): (S2-G fix, V1) the A2A protocol handler shows a caller only the inbound tasks its key created
  internal/adapter/a2a/caller_isolation_test.go
  internal/adapter/a2a/executor.go
  internal/adapter/a2a/taskstore.go
  internal/adapter/postgres/migrations/100_a2a_task_caller.sql
  internal/adapter/postgres/store_a2a.go
  internal/adapter/postgres/store_a2a_caller_test.go
  internal/config/a2a_keys_test.go
  internal/config/config.go
  internal/domain/a2a/task.go
  internal/middleware/a2a_auth.go
  internal/middleware/a2a_auth_test.go
  internal/port/database/types.go
Due: go-imports-repo, go-vet-repo-mod, golangci-lint-repo-mod

fix(tasks): (S2-G fix, 6) a task result names its dispatch; a non-current dispatch's result records only its cost
  internal/adapter/http/handlers_test.go
  internal/adapter/postgres/migrations/101_task_result_dispatch.sql
  internal/adapter/postgres/store.go
  internal/adapter/postgres/store_task_dispatch_test.go
  internal/middleware/teststore_test.go
  internal/port/database/store_task.go
  internal/port/messagequeue/contract_test.go
  internal/port/messagequeue/schemas_run.go
  internal/port/messagequeue/testdata/contracts/tasks_result.json
  internal/service/agent.go
  internal/service/agent_result_dispatch_test.go
  internal/service/agent_result_reset_test.go
  internal/service/agent_result_status_test.go
  internal/service/agent_test.go
  internal/service/event_persistence_test.go
  internal/service/heartbeat_mock_store_test.go
  internal/service/project_test.go
  workers/codeforge/consumer/_tasks.py
  workers/codeforge/models.py
  workers/tests/consumer/test_delivery_handlers.py
  workers/tests/test_nats_contracts.py
Due: go-imports-repo, go-vet-repo-mod, golangci-lint-repo-mod, prettier

fix(runtime): (S2-G fix, 13) keep a quality gate result that arrives during a stop for the stop
  internal/service/run_state.go
  internal/service/runtime_completion.go
  internal/service/runtime_gate.go
  internal/service/runtime_lifecycle.go
  internal/service/runtime_stopping_test.go
Due: go-imports-repo, go-vet-repo-mod, golangci-lint-repo-mod

fix(a2a): (S2-G fix, 11) A2A keys are parsed only for an enabled A2A server
  cmd/codeforge/a2a_keys_test.go
  cmd/codeforge/main.go
Due: go-imports-repo, go-vet-repo-mod, golangci-lint-repo-mod

fix(handoff): (S2-G fix, 10) the handoff subscribers start after the A2A client is wired
  cmd/codeforge/main.go
Due: go-imports-repo, go-vet-repo-mod, golangci-lint-repo-mod

refactor(agents): (S2-G fix, 14) one helper fails the tasks of both task watchdog checks
  internal/service/agent_lost_worker.go
Due: go-imports-repo, go-vet-repo-mod, golangci-lint-repo-mod

fix(tasks): (S2-G fix, 1) an ended dispatch leaves no heartbeat that the watchdog counts for a later run
  internal/adapter/postgres/helpers.go
  internal/adapter/postgres/store.go
  internal/adapter/postgres/store_heartbeat.go
  internal/adapter/postgres/store_heartbeat_test.go
  internal/adapter/postgres/store_task_dispatch_test.go
Due: go-imports-repo, go-vet-repo-mod, golangci-lint-repo-mod

fix(config): (S2-G fix, 12) A2A key tenants are accepted in any case; malformed ones are refused
  internal/config/a2a_keys_test.go
  internal/config/config.go
Due: go-imports-repo, go-vet-repo-mod, golangci-lint-repo-mod

fix(agents): (S2-G fix, 8) the task watchdog publishes tasks.cancel without looking up the agent
  internal/service/agent_lost_worker.go
  internal/service/agent_lost_worker_test.go
  internal/service/agent_unaccepted_task_test.go
Due: go-imports-repo, go-vet-repo-mod, golangci-lint-repo-mod

fix(handoff): (S2-G fix, 3) a handoff is carried out once per handoff_id; transient failures are retried, then dead-lettered and announced
  internal/adapter/http/handlers_test.go
  internal/adapter/postgres/migrations/102_handoff_claims.sql
  internal/adapter/postgres/store_agent_identity.go
  internal/adapter/postgres/store_handoff_claim_test.go
  internal/domain/orchestration/handoff.go
  internal/middleware/teststore_test.go
  internal/port/database/store_agent.go
  internal/port/messagequeue/schemas_run.go
  internal/port/messagequeue/validator_test.go
  internal/service/handoff.go
  internal/service/handoff_flow_test.go
  internal/service/phase23d_test.go
  internal/service/project_test.go
  internal/service/runtime_test.go
  workers/codeforge/tools/handoff.py
  workers/tests/test_handoff_enrichment.py
Due: go-imports-repo, go-vet-repo-mod, golangci-lint-repo-mod

fix(handoff): (S2-G fix, 4) the worker sends handoff metadata as string values
  internal/port/messagequeue/validator_test.go
  workers/codeforge/tools/handoff.py
  workers/tests/test_handoff_enrichment.py
Due: go-imports-repo, go-vet-repo-mod, golangci-lint-repo-mod

fix(handoff): (S2-G fix, 7) the handoff run's mode is the target agent's, or a known requested one
  cmd/codeforge/main.go
  internal/service/handoff.go
  internal/service/handoff_flow_test.go
Due: go-imports-repo, go-vet-repo-mod, golangci-lint-repo-mod

fix(worker): (S2-G fix, 2) a skipped run or conversation start reports a cancelled completion; tasks.cancel no longer skips runs
  workers/codeforge/consumer/_base.py
  workers/codeforge/consumer/_conversation.py
  workers/codeforge/consumer/_runs.py
  workers/tests/consumer/test_start_cancel.py
Due: none

fix(worker): (S2-G fix, f2) run and conversation cancel listeners replay from their start message
  workers/codeforge/consumer/_conversation.py
  workers/codeforge/consumer/_runs.py
  workers/codeforge/runtime.py
  workers/tests/consumer/test_start_cancel.py
  workers/tests/test_tasks_cancel_wiring.py
Due: none

fix(conversation): (S2-G fix, 5) a stopped turn's completion keeps its work and cost
  internal/service/conversation_agent.go
  internal/service/conversation_deps.go
  internal/service/conversation_test.go
  internal/service/conversation_turn_end_test.go
  internal/service/run_state.go
  internal/service/runtime.go
Due: go-imports-repo, go-vet-repo-mod, golangci-lint-repo-mod

fix(frontend): (S2-G fix, f1) the War Room shows quarantined, rejected and failed handoffs
  frontend/src/api/types.ts
  frontend/src/features/project/MessageFlow.test.tsx
  frontend/src/features/project/MessageFlow.tsx
Due: eslint, prettier

fix(benchmark): (S2-G fix, f3) a dead-lettered benchmark run request fails its run
  internal/service/benchmark.go
  internal/service/benchmark_dead_letter_test.go
Due: go-imports-repo, go-vet-repo-mod, golangci-lint-repo-mod

fix(a2a): (S2-G fix, 9) held inbound A2A tasks follow their quarantine message
  internal/adapter/a2a/executor.go
  internal/adapter/a2a/executor_screen_test.go
  internal/adapter/postgres/store_quarantine.go
  internal/adapter/postgres/store_quarantine_resolve_test.go
  internal/port/database/store_quarantine.go
  internal/service/quarantine.go
  internal/service/quarantine_a2a_test.go
  internal/service/quarantine_test.go
Due: go-imports-repo, go-vet-repo-mod, golangci-lint-repo-mod

chore(db): (S2-G fix, V1) renumber the A2A caller migration from 100 to 103
  internal/adapter/postgres/migrations/103_a2a_task_caller.sql
Due: none

fix(a2a): SDK task updates pass the version they read; missing task is not found
  internal/adapter/a2a/taskstore.go
  internal/adapter/a2a/taskstore_version_test.go
Due: go-imports-repo, go-vet-repo-mod, golangci-lint-repo-mod

fix(runtime): (S2-G fix 2, 5) a stop keeps every kind of deferred worker message
  internal/service/run_state.go
  internal/service/run_state_test.go
  internal/service/runtime_completion.go
  internal/service/runtime_gate.go
Due: go-imports-repo, go-vet-repo-mod, golangci-lint-repo-mod

fix(tasks): (S2-G fix 2, 4) a task dispatch's cost counts once, whatever arrives in between
  internal/adapter/postgres/migrations/104_task_result_costs.sql
  internal/adapter/postgres/store.go
  internal/adapter/postgres/store_task_dispatch_test.go
  internal/port/database/store_task.go
Due: go-imports-repo, go-vet-repo-mod, golangci-lint-repo-mod

fix(conversation): (S2-G fix 2, 2) a turn's worker completion is kept once
  internal/adapter/http/handlers_test.go
  internal/adapter/postgres/migrations/105_conversation_turn_completions.sql
  internal/adapter/postgres/store_heartbeat.go
  internal/adapter/postgres/store_turn_completion_test.go
  internal/middleware/teststore_test.go
  internal/port/database/store_conversation.go
  internal/service/conversation_agent.go
  internal/service/conversation_lost_worker.go
  internal/service/conversation_turn_end_test.go
  internal/service/dead_lettered_start.go
  internal/service/heartbeat_mock_store_test.go
  internal/service/project_test.go
  internal/service/runtime_test.go
Due: go-imports-repo, go-vet-repo-mod, golangci-lint-repo-mod

fix(handoff): (S2-G fix 2, 3) a handoff claim left by a dead process is taken over after its lease
  internal/adapter/http/handlers_test.go
  internal/adapter/nats/delivery_test.go
  internal/adapter/nats/nats.go
  internal/adapter/postgres/migrations/106_handoff_claim_done.sql
  internal/adapter/postgres/store_agent_identity.go
  internal/adapter/postgres/store_handoff_claim_test.go
  internal/domain/orchestration/handoff.go
  internal/middleware/teststore_test.go
  internal/port/database/store_agent.go
  internal/port/messagequeue/queue.go
  internal/service/handoff.go
  internal/service/handoff_flow_test.go
  internal/service/project_test.go
  internal/service/runtime_test.go
Due: go-imports-repo, go-vet-repo-mod, golangci-lint-repo-mod

fix(handoff): (S2-G fix 2, 1) a refused run start fails the handoff with its reason; a retry reuses the handoff's task
  internal/adapter/http/handlers_test.go
  internal/adapter/postgres/migrations/107_handoff_claim_task.sql
  internal/adapter/postgres/store_agent_identity.go
  internal/adapter/postgres/store_handoff_claim_test.go
  internal/domain/orchestration/handoff.go
  internal/middleware/teststore_test.go
  internal/port/database/store_agent.go
  internal/service/handoff.go
  internal/service/handoff_flow_test.go
  internal/service/project_test.go
  internal/service/runtime.go
  internal/service/runtime_test.go
Due: go-imports-repo, go-vet-repo-mod, golangci-lint-repo-mod

fix(a2a): (S2-G fix 2, 6) a held prompt its task could not record is withdrawn; Approve needs the task to name the message
  internal/adapter/a2a/executor.go
  internal/adapter/a2a/executor_screen_test.go
  internal/domain/a2a/task.go
  internal/service/quarantine.go
  internal/service/quarantine_a2a_test.go
Due: go-imports-repo, go-vet-repo-mod, golangci-lint-repo-mod

fix(orchestrator): a stalled ping_pong step keeps its round (S6-F review 1)
  internal/service/orchestrator_consensus.go
  internal/service/orchestrator_stall_replan_test.go
Due: go-imports-repo, go-vet-repo-mod, golangci-lint-repo-mod

fix(review): a pending decision stays decidable after its run is purged (S6-F review 7)
  internal/adapter/postgres/store_review_pipeline_test.go
  internal/service/review_pipeline.go
  internal/service/review_pipeline_test.go
Due: go-imports-repo, go-vet-repo-mod, golangci-lint-repo-mod

fix(review): a baseline that loses the record race leaves no ref behind (S6-F review 8)
  internal/service/review_pipeline.go
  internal/service/review_pipeline_test.go
Due: go-imports-repo, go-vet-repo-mod, golangci-lint-repo-mod

fix(review): offer a decision only once the step waits for it (S6-F review 9)
  internal/service/orchestrator.go
  internal/service/orchestrator_step_gate_test.go
  internal/service/review_pipeline.go
  internal/service/review_pipeline_test.go
Due: go-imports-repo, go-vet-repo-mod, golangci-lint-repo-mod

fix(review): measure a stopped refactoring once its worker stopped (S6-F review 4)
  cmd/codeforge/main.go
  internal/adapter/http/handlers_review_test.go
  internal/adapter/postgres/store_review_pipeline.go
  internal/adapter/postgres/store_review_pipeline_test.go
  internal/port/database/store_boundary.go
  internal/service/review_pipeline.go
  internal/service/review_pipeline_test.go
  internal/service/runtime.go
  internal/service/runtime_completion.go
  internal/service/runtime_lifecycle.go
  internal/service/runtime_worker_stop.go
  internal/service/runtime_worker_stop_test.go
Due: go-imports-repo, go-vet-repo-mod, golangci-lint-repo-mod
