Repository Strob0t/CodeForge: changes, and which pre-commit hooks are due for each by the changed paths.
All: go-imports-repo, go-vet-repo-mod, golangci-lint-repo-mod, eslint, prettier

go-imports-repo:
  name: go-imports-repo
  entry: bash -c 'export GOROOT=/go/pkg/mod/golang.org/toolchain@v0.0.1-go1.25.0.linux-amd64 && goimports -l -d $(find . -name "*.go" -not -path "./data/*" -not -path "./vendor/*")'
  language: system
  pass_filenames: false

go-vet-repo-mod:
  name: go-vet-repo-mod
  entry: bash -c 'export GOROOT=/go/pkg/mod/golang.org/toolchain@v0.0.1-go1.25.0.linux-amd64 && go vet ./...'
  language: system
  pass_filenames: false

golangci-lint-repo-mod:
  name: golangci-lint-repo-mod
  entry: bash -c 'export GOROOT=/go/pkg/mod/golang.org/toolchain@v0.0.1-go1.25.0.linux-amd64 && golangci-lint run ./...'
  language: system
  pass_filenames: false

eslint:
  name: eslint
  entry: frontend/node_modules/.bin/eslint --config frontend/eslint.config.js --fix
  language: system

prettier:
  name: prettier
  entry: frontend/node_modules/.bin/prettier --write --ignore-unknown
  language: system

Extract PanelSelector and lazy-load heavy panels
  frontend/src/features/project/PanelSelector.tsx
  frontend/src/features/project/ProjectDetailPage.tsx
Due: eslint, prettier

Add retroactive CHANGELOG and ADRs 010-012
  CHANGELOG.md
  docs/architecture/adr/010-a2a-protocol-adoption.md
  docs/architecture/adr/011-trust-quarantine-system.md
  docs/architecture/adr/012-hybrid-routing-cascade.md
Due: none

Add ISP documentation to Store interface and ADR-014 for decomposition plan
  docs/architecture/adr/014-store-interface-segregation.md
  internal/port/database/store.go
Due: go-imports-repo, go-vet-repo-mod, golangci-lint-repo-mod

Expand OpenAPI spec to cover top 20 endpoints
  docs/api/openapi.yaml
Due: none

fix(security): remove hardcoded dev credentials and harden config defaults
  .devcontainer/devcontainer.json
  README.md
Due: prettier

fix(security): harden autoagent path validation, Markdown URL escaping, SQL docs
  frontend/src/features/project/Markdown.tsx
  internal/adapter/postgres/store_a2a.go
  internal/service/autoagent.go
Due: go-imports-repo, go-vet-repo-mod, golangci-lint-repo-mod, eslint, prettier

fix(security): add RequireRole to roadmap CRUD and audit logging to auth endpoints
  internal/adapter/http/routes.go
Due: go-imports-repo, go-vet-repo-mod, golangci-lint-repo-mod

feat(gdpr): add consent tables, fix audit tenant isolation, consent store
  internal/adapter/http/handlers_test.go
  internal/adapter/postgres/migrations/090_create_consent_tables.sql
  internal/adapter/postgres/store_audit_log.go
  internal/adapter/postgres/store_consent.go
  internal/middleware/teststore_test.go
  internal/port/database/consent_store.go
  internal/port/database/store.go
  internal/service/project_test.go
  internal/service/runtime_test.go
Due: go-imports-repo, go-vet-repo-mod, golangci-lint-repo-mod

docs(gdpr): add data classification schema and complete privacy policy
  docs/security/data-classification.md
  frontend/src/features/legal/PrivacyPolicy.tsx
Due: eslint, prettier

Add unit tests for AgentLoopExecutor core loop and RuntimeClient NATS protocol
  workers/tests/test_agent_loop_core.py
  workers/tests/test_runtime_client.py
Due: none

fix(frontend): improve accessibility, error handling, and AGPL compliance
  frontend/src/App.tsx
  frontend/src/api/core.ts
  frontend/src/api/websocket.ts
  frontend/src/features/settings/VCSSection.tsx
  frontend/src/hooks/useFrequencyTracker.ts
  frontend/src/lib/errorUtils.ts
  frontend/src/ui/composites/Card.tsx
  frontend/src/utils/a11y.ts
Due: eslint, prettier

fix(infra): add Traefik security headers, improve worker healthcheck, document backup
  Dockerfile.worker
  scripts/backup-postgres.sh
  scripts/worker-healthcheck.py
  traefik/dynamic/middleware.yaml
  workers/codeforge/consumer/__init__.py
Due: none

fix(infra): add NATS stream limits, DLQ monitor, and fix CI JetStream
  .github/workflows/ci.yml
  internal/adapter/nats/nats.go
Due: go-imports-repo, go-vet-repo-mod, golangci-lint-repo-mod

fix(infra): add HTTP client timeouts and SQL LIMIT clauses
  internal/adapter/discord/notifier.go
  internal/adapter/gitea/provider.go
  internal/adapter/gitlab/provider.go
  internal/adapter/litellm/client.go
  internal/adapter/plane/provider.go
  internal/adapter/postgres/store_active_work.go
  internal/adapter/postgres/store_agent_identity.go
  internal/adapter/postgres/store_benchmark_suite.go
  internal/adapter/postgres/store_experience.go
  internal/adapter/postgres/store_mcp.go
  internal/adapter/postgres/store_memory.go
  internal/adapter/postgres/store_microagent.go
  internal/adapter/postgres/store_project_goal.go
  internal/adapter/postgres/store_review.go
  internal/adapter/postgres/store_skill.go
  internal/adapter/postgres/store_user.go
  internal/adapter/slack/feedback.go
  internal/adapter/slack/notifier.go
Due: go-imports-repo, go-vet-repo-mod, golangci-lint-repo-mod

docs: expand OpenAPI spec, version CHANGELOG, document deepeval telemetry
  CHANGELOG.md
  docs/api/openapi.yaml
  docs/dev-setup.md
Due: none

refactor(go): unify webhook handlers, fix swallowed errors, simplify SetupProject
  internal/domain/project/project.go
  internal/service/project.go
  internal/service/vcs_webhook.go
Due: go-imports-repo, go-vet-repo-mod, golangci-lint-repo-mod

refactor(arch): extract ContextProvider interface and flatten nested logic
  internal/domain/mode/presets.go
  internal/service/context_optimizer.go
  internal/service/context_provider.go
Due: go-imports-repo, go-vet-repo-mod, golangci-lint-repo-mod

refactor(runtime): extract RunStateManager, deduplicate broadcast and progress patterns
  internal/domain/run/stall.go
  internal/service/conversation_agent.go
  internal/service/run_state.go
  internal/service/runtime.go
  internal/service/runtime_approval.go
  internal/service/runtime_execution.go
  internal/service/runtime_execution_source_test.go
  internal/service/runtime_hitl_test.go
  internal/service/runtime_internal_test.go
  internal/service/runtime_lifecycle.go
  internal/service/runtime_lifecycle_source_test.go
  internal/service/runtime_lifecycle_test.go
  internal/service/runtime_subscribers.go
Due: go-imports-repo, go-vet-repo-mod, golangci-lint-repo-mod

fix(types): replace map[string]any with typed response structs in HTTP handlers
  internal/adapter/http/handlers_agent_features.go
  internal/adapter/http/handlers_auth.go
  internal/adapter/http/handlers_backend_health.go
  internal/adapter/http/handlers_llm.go
  internal/adapter/http/handlers_roadmap.go
  internal/adapter/http/handlers_routing.go
  internal/adapter/http/handlers_scope.go
  internal/adapter/http/handlers_subscription.go
Due: go-imports-repo, go-vet-repo-mod, golangci-lint-repo-mod

refactor(frontend): remove unused types and extract A2A data hook
  frontend/src/api/types.ts
  frontend/src/features/a2a/A2APage.tsx
  frontend/src/features/a2a/useA2APage.ts
Due: eslint, prettier

refactor(handlers): fix cross-adapter imports, move business logic to services
  internal/adapter/copilot/register.go
  internal/adapter/http/handlers.go
  internal/adapter/http/handlers_benchmark.go
  internal/adapter/http/handlers_orchestration.go
  internal/domain/plan/graph.go
  internal/port/wsticket/store.go
  internal/service/benchmark.go
  internal/service/orchestrator.go
Due: go-imports-repo, go-vet-repo-mod, golangci-lint-repo-mod

refactor(python): extract ToolExecutor, fix git exit codes, narrow exception types
  workers/codeforge/agent_loop.py
  workers/codeforge/consumer/_conversation.py
  workers/codeforge/tool_executor.py
Due: none

test(go): add unit tests for auth token, GDPR, and audit handler
  internal/adapter/http/handlers_audit_test.go
Due: go-imports-repo, go-vet-repo-mod, golangci-lint-repo-mod

refactor(isp): convert top 5 services to consumer-defined store interfaces
  internal/service/conversation.go
  internal/service/cost.go
  internal/service/dashboard.go
  internal/service/project.go
  internal/service/settings.go
Due: go-imports-repo, go-vet-repo-mod, golangci-lint-repo-mod

chore: add .remember to gitignore, commit audit report and remediation plans
  .gitignore
  docs/audits/2026-03-27-universal-audit-report.md
  docs/plans/2026-03-26-audit-remediation-plan.md
  docs/plans/2026-03-27-audit-remediation-v2-workplans.md
Due: none

test: add autonomous goal-to-program test report (S1 PASS, S2 PARTIAL)
  docs/testing/2026-03-28-autonomous-goal-to-program-report.md
Due: none

test: complete autonomous goal-to-program report (S1-S4)
  docs/testing/2026-03-28-autonomous-goal-to-program-report.md
Due: none

docs: add agent pipeline improvement TODOs from S1-S4 analysis
  docs/plans/2026-03-28-agent-improvement-todos.md
Due: none

fix(agent): dynamic context limits, pure_completion tool handling, no-tool-call re-prompt
  workers/codeforge/agent_loop.py
  workers/codeforge/consumer/_conversation.py
  workers/codeforge/llm.py
Due: none

fix(agent): add proactive context trimming and automated eval script
  scripts/run-agent-eval.sh
  workers/codeforge/history.py
Due: none

fix(agent): explore-before-write, verify nudge, contextual stall escape, state injection
  workers/codeforge/agent_loop.py
  workers/codeforge/stall_detection.py
  workers/codeforge/tool_executor.py
  workers/tests/test_stall_detection.py
Due: none

fix(agent): request logging, trajectory metrics, complexity gating, compact tool guide
  workers/codeforge/agent_loop.py
  workers/codeforge/consumer/_conversation.py
  workers/codeforge/consumer/_conversation_prompt_builder.py
  workers/codeforge/llm.py
  workers/codeforge/tools/tool_guide.py
Due: none

docs: mark all 14 agent improvement TODOs as complete
  docs/plans/2026-03-28-agent-improvement-todos.md
Due: none

test: add E2E re-run results after 14 agent improvements
  docs/testing/2026-03-28-autonomous-goal-to-program-report.md
Due: none

fix(security): harden auth middleware, config validation, and endpoint access control
  cmd/codeforge/main.go
  internal/config/loader.go
  internal/middleware/auth.go
Due: go-imports-repo, go-vet-repo-mod, golangci-lint-repo-mod

fix(workers): replace broad exception catches with specific types, add lazy client init
  workers/codeforge/_error_utils.py
  workers/codeforge/backends/openhands.py
  workers/codeforge/llm.py
  workers/codeforge/retrieval.py
Due: none

refactor(go): introduce RunCompletionRequest struct, generic config loader, rename params
  internal/adapter/http/handlers_test.go
  internal/adapter/http/routes.go
  internal/adapter/postgres/store_run.go
  internal/config/loader.go
  internal/domain/run/run.go
  internal/middleware/teststore_test.go
  internal/port/database/store_run.go
  internal/service/conversation_agent.go
  internal/service/project_test.go
  internal/service/runtime.go
  internal/service/runtime_execution.go
  internal/service/runtime_lifecycle.go
  internal/service/runtime_lifecycle_source_test.go
  internal/service/runtime_test.go
Due: go-imports-repo, go-vet-repo-mod, golangci-lint-repo-mod

fix(compliance): GDPR IP anonymization, PII redaction, DLQ alerting, secret scanning
  .github/workflows/ci.yml
  .github/workflows/docker-build.yml
  docs/privacy-policy.md
  docs/security/data-classification.md
  internal/adapter/nats/nats.go
  internal/logger/redact.go
  internal/service/retention.go
  traefik/traefik.yaml
Due: go-imports-repo, go-vet-repo-mod, golangci-lint-repo-mod

test(security): add 3 missing auth tests, focus trap, license field, type hints
  frontend/node_modules
  frontend/package.json
  frontend/src/features/canvas/CanvasModal.tsx
  internal/middleware/auth_test.go
  workers/tests/test_benchmark_agent_runner.py
Due: go-imports-repo, go-vet-repo-mod, golangci-lint-repo-mod, eslint, prettier

chore: remove accidentally tracked node_modules symlink
  frontend/node_modules
Due: none

Path conditions:
  go-imports-repo: any of: \.go$
  go-vet-repo-mod: any of: \.go$
  golangci-lint-repo-mod: any of: \.go$
  eslint: any of: ^frontend/src/.*\.(ts|tsx|js|jsx)$
  prettier: any of: \.(ts|tsx|js|jsx|json|css|scss|html)$
