Repository Strob0t/CodeForge: changes, and which pre-commit hooks are due for each by the changed paths.
All: go-imports-repo, go-vet-repo-mod, golangci-lint-repo-mod, eslint, prettier

.pre-commit-config.yaml:

repos:
  # -- General ----------------------------------------------
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: end-of-file-fixer
      - id: trailing-whitespace
      - id: check-yaml
      - id: check-json
      - id: check-merge-conflict
      - id: detect-private-key

  # -- Python (Ruff) -----------------------------------------
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.15.1
    hooks:
      # 1) Sort imports
      - id: ruff-check
        name: ruff (sort imports)
        args: ["--select", "I", "--fix"]

      # 2) Lint/fix
      - id: ruff-check
        args: ["--fix", "--exit-non-zero-on-fix"]

      # 3) Format
      - id: ruff-format

  # -- Go -----------------------------------------------------
  - repo: https://github.com/TekWizely/pre-commit-golang
    rev: v1.0.0-rc.1
    hooks:
      # Format
      - id: go-fmt

  # Go hooks that need GOROOT set for Go 1.25 toolchain
  - repo: local
    hooks:
      - id: go-imports-repo
        name: go-imports-repo
        entry: bash -c 'export GOROOT=/go/pkg/mod/golang.org/toolchain@v0.0.1-go1.25.0.linux-amd64 && goimports -l -d $(find . -name "*.go" -not -path "./data/*" -not -path "./vendor/*")'
        language: system
        pass_filenames: false
        types: [go]

      - id: go-vet-repo-mod
        name: go-vet-repo-mod
        entry: bash -c 'export GOROOT=/go/pkg/mod/golang.org/toolchain@v0.0.1-go1.25.0.linux-amd64 && go vet ./...'
        language: system
        pass_filenames: false
        types: [go]

      - id: golangci-lint-repo-mod
        name: golangci-lint-repo-mod
        entry: bash -c 'export GOROOT=/go/pkg/mod/golang.org/toolchain@v0.0.1-go1.25.0.linux-amd64 && golangci-lint run ./...'
        language: system
        pass_filenames: false
        types: [go]

  # -- TypeScript / JavaScript (ESLint + Prettier) ------------
  - repo: local
    hooks:
      - id: eslint
        name: eslint
        entry: frontend/node_modules/.bin/eslint --config frontend/eslint.config.js --fix
        language: system
        files: ^frontend/src/.*\.(ts|tsx|js|jsx)$
        types: [file]

      - id: prettier
        name: prettier
        entry: frontend/node_modules/.bin/prettier --write --ignore-unknown
        language: system
        files: \.(ts|tsx|js|jsx|json|css|scss|html)$
        types: [file]

fix(channels): a channel's project must belong to the caller's tenant (KI-89 review)
  internal/adapter/postgres/store_channel.go
  internal/adapter/postgres/store_channel_project_test.go
Due: go-imports-repo, go-vet-repo-mod, golangci-lint-repo-mod

docs: S7-E review fixes (accountless writes, config bounds, KI-143)
  docs/SECURITY.md
  docs/data-retention.md
  docs/dev-setup.md
  docs/todo.md
Due: none

feat(frontend): bidirectional roadmap sync with a PM tool (KI-121)
  frontend/src/api/resources/roadmap.ts
  frontend/src/api/resources/routes.test.ts
  frontend/src/api/types.ts
  frontend/src/features/project/RoadmapPanel.test.tsx
  frontend/src/features/project/RoadmapPanel.tsx
  frontend/src/features/project/RoadmapSyncForm.test.tsx
  frontend/src/features/project/RoadmapSyncForm.tsx
  frontend/src/i18n/en.ts
  frontend/src/i18n/locales/de.ts
Due: eslint, prettier

fix(frontend): MCP header editor, *** hints and admin-only actions (KI-98)
  frontend/src/features/mcp/MCPServersPage.test.tsx
  frontend/src/features/mcp/MCPServersPage.tsx
  frontend/src/features/mcp/mcpSecrets.test.ts
  frontend/src/features/mcp/mcpSecrets.ts
  frontend/src/features/project/CompactSettingsPopover.test.tsx
  frontend/src/features/project/CompactSettingsPopover.tsx
  frontend/src/i18n/en.ts
  frontend/src/i18n/locales/de.ts
Due: eslint, prettier

feat(frontend): route the cross-project search page at /search (KI-121)
  frontend/src/App.tsx
  frontend/src/api/resources/conversations.ts
  frontend/src/api/resources/routes.test.ts
  frontend/src/features/project/ProjectDetailPage.tsx
  frontend/src/features/search/ConversationResults.tsx
  frontend/src/features/search/SearchPage.test.tsx
  frontend/src/features/search/SearchPage.tsx
  frontend/src/features/settings/SettingsPage.tsx
  frontend/src/index.tsx
  frontend/src/lib/appRoutes.test.ts
  frontend/src/lib/appRoutes.ts
  frontend/src/lib/searchParams.test.ts
  frontend/src/lib/searchParams.ts
  frontend/src/ui/layout/NavIcons.tsx
Due: eslint, prettier

fix(frontend): render /channels/:id and /design-system in the app shell (KI-121)
  frontend/src/App.tsx
  frontend/src/lib/appRoutes.test.ts
  frontend/src/lib/appRoutes.ts
Due: eslint, prettier

feat(frontend): Settings > Privacy screen for export, erasure and consent (KI-93, KI-121)
  frontend/src/api/client.ts
  frontend/src/api/resources/index.ts
  frontend/src/api/resources/privacy.ts
  frontend/src/api/resources/routes.test.ts
  frontend/src/api/types.ts
  frontend/src/features/legal/PrivacyPolicy.test.tsx
  frontend/src/features/legal/PrivacyPolicy.tsx
  frontend/src/features/settings/PrivacySection.test.tsx
  frontend/src/features/settings/PrivacySection.tsx
  frontend/src/features/settings/SettingsPage.tsx
  frontend/src/features/settings/settings.test.ts
  frontend/src/features/settings/settingsTypes.ts
  frontend/src/i18n/en.ts
  frontend/src/i18n/locales/de.ts
Due: eslint, prettier

fix(frontend): settle War Room arrows of initiated handoffs (KI-92)
  frontend/src/features/project/MessageFlow.test.tsx
  frontend/src/features/project/MessageFlow.tsx
Due: eslint, prettier

fix(frontend): the command palette's models command opens /ai
  frontend/src/components/CommandPalette.test.ts
  frontend/src/components/CommandPalette.tsx
Due: eslint, prettier

docs: S7-G (KI-92, KI-93, KI-98, KI-121); new KI-144..KI-146
  docs/features/01-project-dashboard.md
  docs/features/02-roadmap-feature-map.md
  docs/todo.md
Due: none

fix(frontend): guard every page but the public ones (S7-G review)
  frontend/src/App.tsx
  frontend/src/features/NotFoundPage.tsx
  frontend/src/lib/appRoutes.test.ts
  frontend/src/lib/appRoutes.ts
Due: eslint, prettier

fix(frontend): consent toggles keep each other's results (S7-G review)
  frontend/src/features/settings/PrivacySection.test.tsx
  frontend/src/features/settings/PrivacySection.tsx
Due: eslint, prettier

fix(mcp): keep a stored secret only while env and headers are unchanged too
  frontend/src/features/mcp/MCPServersPage.test.tsx
  frontend/src/features/mcp/MCPServersPage.tsx
  frontend/src/features/mcp/mcpSecrets.test.ts
  frontend/src/features/mcp/mcpSecrets.ts
  internal/adapter/http/handlers_mcp_redact_test.go
  internal/domain/mcp/redact.go
  internal/domain/mcp/redact_test.go
Due: go-imports-repo, go-vet-repo-mod, golangci-lint-repo-mod, eslint, prettier

fix(frontend): a linked conversation opens only in its own project (S7-G review)
  frontend/src/features/project/ProjectDetailPage.tsx
  frontend/src/features/project/linkedConversation.test.ts
  frontend/src/features/project/linkedConversation.ts
  frontend/src/i18n/en.ts
  frontend/src/i18n/locales/de.ts
Due: eslint, prettier

fix(frontend): settle a handoff whose run ended before it was announced (S7-G review)
  frontend/src/features/project/MessageFlow.test.tsx
  frontend/src/features/project/MessageFlow.tsx
Due: eslint, prettier

fix(frontend): the roadmap sync forgets its token (S7-G review)
  frontend/src/features/project/RoadmapSyncForm.test.tsx
  frontend/src/features/project/RoadmapSyncForm.tsx
Due: eslint, prettier

fix(frontend): a *** keeps a value only under a key read as *** (S7-G review)
  frontend/src/features/mcp/MCPServersPage.test.tsx
  frontend/src/features/mcp/mcpSecrets.test.ts
  frontend/src/features/mcp/mcpSecrets.ts
Due: eslint, prettier

fix(http): mark every /api/v1 answer Cache-Control: no-store (S7-G review)
  internal/adapter/http/handlers_gdpr_cache_test.go
  internal/adapter/http/routes.go
  internal/middleware/nostore.go
  internal/middleware/nostore_test.go
Due: go-imports-repo, go-vet-repo-mod, golangci-lint-repo-mod

fix(frontend): send the account deletion once, never retried or queued (S7-G review)
  frontend/src/api/core.test.ts
  frontend/src/api/core.ts
  frontend/src/api/resources/privacy.ts
  frontend/src/api/resources/routes.test.ts
  frontend/src/features/routing/routing.test.ts
  frontend/src/features/settings/PrivacySection.test.tsx
  frontend/src/features/settings/PrivacySection.tsx
Due: eslint, prettier

docs: S7-G review fixes (MCP keep rule, route guard, privacy UI)
  AGENTS.md
  docs/SECURITY.md
  docs/features/04-agent-orchestration.md
  docs/todo.md
Due: none

test(benchmark): acceptance suite and grader for the mdlinkcheck goal
  testdata/autonomous-goal/mdlinkcheck/README.md
  testdata/autonomous-goal/mdlinkcheck/acceptance/acceptance_helpers.py
  testdata/autonomous-goal/mdlinkcheck/acceptance/conftest.py
  testdata/autonomous-goal/mdlinkcheck/acceptance/pytest.ini
  testdata/autonomous-goal/mdlinkcheck/acceptance/test_anchors.py
  testdata/autonomous-goal/mdlinkcheck/acceptance/test_autolinks.py
  testdata/autonomous-goal/mdlinkcheck/acceptance/test_classification.py
  testdata/autonomous-goal/mdlinkcheck/acceptance/test_code.py
  testdata/autonomous-goal/mdlinkcheck/acceptance/test_config.py
  testdata/autonomous-goal/mdlinkcheck/acceptance/test_discovery.py
  testdata/autonomous-goal/mdlinkcheck/acceptance/test_exit_codes.py
  testdata/autonomous-goal/mdlinkcheck/acceptance/test_external.py
  testdata/autonomous-goal/mdlinkcheck/acceptance/test_invocation.py
  testdata/autonomous-goal/mdlinkcheck/acceptance/test_json_output.py
  testdata/autonomous-goal/mdlinkcheck/acceptance/test_link_syntax.py
  testdata/autonomous-goal/mdlinkcheck/acceptance/test_local_paths.py
  testdata/autonomous-goal/mdlinkcheck/acceptance/test_references.py
  testdata/autonomous-goal/mdlinkcheck/acceptance/test_text_output.py
  testdata/autonomous-goal/mdlinkcheck/grade.py
  testdata/autonomous-goal/mdlinkcheck/judge_prompt.md
  testdata/autonomous-goal/mdlinkcheck/ruff.toml
Due: none

docs: benchmark grader rules, validation and SPEC details
  docs/tech-stack.md
  docs/testing/autonomous-goal-benchmark.md
  docs/todo.md
  testdata/autonomous-goal/mdlinkcheck/SPEC.md
Due: none

docs: owner decisions of 2026-10-04 and the S9 plan
  AGENTS.md
  docs/known-issues-fix-plan.md
  docs/todo.md
Due: none

docs(plans): text tool protocol for pure-completion models (S9-C)
  docs/known-issues-fix-plan.md
  docs/plans/text-tool-protocol-plan.md
  docs/todo.md
Due: none

chore(e2e): durable scripts for live end-to-end sessions
  scripts/live-e2e/README.md
  scripts/live-e2e/api.py
  scripts/live-e2e/env.example.sh
  scripts/live-e2e/lib.sh
  scripts/live-e2e/start-core.sh
  scripts/live-e2e/start-frontend.sh
  scripts/live-e2e/start-litellm.sh
  scripts/live-e2e/start-worker.sh
  scripts/live-e2e/stop.sh
Due: none

docs: live session 2 and benchmark run 1 findings (KI-147..KI-160)
  docs/dev-setup.md
  docs/known-issues-fix-plan.md
  docs/testing/autonomous-goal-benchmark.md
  docs/testing/live-e2e-findings.md
  docs/todo.md
Due: none

fix(http): answer validation and not-found errors with 400/404 (KI-149)
  internal/adapter/githubpm/provider.go
  internal/adapter/githubpm/provider_test.go
  internal/adapter/gitlab/provider.go
  internal/adapter/gitlab/provider_test.go
  internal/adapter/http/handlers_error_status_test.go
  internal/adapter/http/handlers_test.go
  internal/adapter/plane/provider.go
  internal/adapter/plane/provider_test.go
  internal/adapter/postgres/store_consent.go
  internal/adapter/postgres/store_consent_test.go
  internal/service/auth.go
  internal/service/consent.go
  internal/service/roadmap_import.go
  internal/service/sync.go
Due: go-imports-repo, go-vet-repo-mod, golangci-lint-repo-mod

fix(policy): allow propose_roadmap wherever propose_goal is allowed (KI-151)
  internal/domain/policy/presets.go
  internal/domain/policy/presets_test.go
Due: go-imports-repo, go-vet-repo-mod, golangci-lint-repo-mod

fix(chat): restore the running turn and its pending approvals on reload (KI-148)
  frontend/src/api/resources/conversations.ts
  frontend/src/api/resources/routes.test.ts
  frontend/src/api/types.ts
  frontend/src/api/websocket.ts
  frontend/src/features/project/ChatMessages.tsx
  frontend/src/features/project/ChatPanel.tsx
  frontend/src/features/project/PermissionRequestCard.test.tsx
  frontend/src/features/project/PermissionRequestCard.tsx
  frontend/src/features/project/chatRunRestore.test.ts
  frontend/src/features/project/chatRunRestore.ts
  frontend/src/features/project/useChatAGUI.ts
  internal/adapter/http/handlers_conversation.go
  internal/adapter/http/handlers_conversation_run_state_test.go
  internal/adapter/http/handlers_session.go
  internal/adapter/http/routes.go
  internal/domain/event/agui.go
  internal/service/run_state.go
  internal/service/runtime_approval.go
  internal/service/runtime_conversation_run_state_test.go
  internal/service/runtime_subscribers.go
Due: go-imports-repo, go-vet-repo-mod, golangci-lint-repo-mod, eslint, prettier

fix(conversation): keep conversation messages in insert order (KI-147)
  internal/adapter/postgres/migrations/124_conversation_message_seq.sql
  internal/adapter/postgres/store_conversation.go
  internal/adapter/postgres/store_conversation_test.go
Due: go-imports-repo, go-vet-repo-mod, golangci-lint-repo-mod

docs: S9-0 (KI-147, KI-148, KI-149, KI-151); new KI-161
  docs/features/04-agent-orchestration.md
  docs/features/07-chat-first-orchestrator.md
  docs/todo.md
Due: none

fix(chat): show each approval card once after a restore (KI-148)
  frontend/src/features/project/chatRunRestore.test.ts
  frontend/src/features/project/chatRunRestore.ts
  frontend/src/features/project/useChatAGUI.ts
Due: eslint, prettier

fix(pm): log the upstream 404 before reporting not found (KI-149)
  internal/adapter/gitlab/provider.go
  internal/adapter/gitlab/provider_test.go
  internal/adapter/plane/provider.go
  internal/adapter/plane/provider_test.go
Due: go-imports-repo, go-vet-repo-mod, golangci-lint-repo-mod

fix(chat): the approval countdown never denies and ignores the browser clock (KI-148)
  frontend/src/api/websocket.ts
  frontend/src/features/project/ChatMessages.tsx
  frontend/src/features/project/PermissionRequestCard.test.tsx
  frontend/src/features/project/PermissionRequestCard.tsx
  internal/service/runtime_approval.go
  internal/service/runtime_conversation_run_state_test.go
Due: go-imports-repo, go-vet-repo-mod, golangci-lint-repo-mod, eslint, prettier

fix(conversation): keep only the run's own tenant's streamed output (KI-148)
  internal/service/conversation.go
  internal/service/conversation_deps.go
  internal/service/conversation_run_cancel_test.go
  internal/service/conversation_run_turn_test.go
  internal/service/run_state.go
  internal/service/run_state_conversation_test.go
  internal/service/runtime.go
  internal/service/runtime_conversation_run_state_test.go
  internal/service/runtime_subscribers.go
Due: go-imports-repo, go-vet-repo-mod, golangci-lint-repo-mod

fix(conversation): backfill keeps each tool result after its call (KI-147)
  internal/adapter/postgres/migrations/124_conversation_message_seq.sql
  internal/adapter/postgres/store_conversation_test.go
Due: go-imports-repo, go-vet-repo-mod, golangci-lint-repo-mod

fix(chat): reset the restored state on a switch, skip stale answers (KI-148)
  frontend/src/features/project/useChatAGUI.test.ts
  frontend/src/features/project/useChatAGUI.ts
  internal/service/run_state.go
  internal/service/runtime_conversation_run_state_test.go
Due: go-imports-repo, go-vet-repo-mod, golangci-lint-repo-mod, eslint, prettier

docs: S9-0 review fixes (approval countdown, backfill, 404 logging)
  docs/features/04-agent-orchestration.md
  docs/todo.md
Due: none

fix(agent): no planning tools in implementation turns, nudge announced actions (KI-153)
  internal/domain/conversation/conversation.go
  internal/port/messagequeue/contract_test.go
  internal/port/messagequeue/schemas_conversation.go
  internal/port/messagequeue/testdata/contracts/conversation_run_start.json
  internal/service/autoagent.go
  internal/service/autoagent_wait_test.go
  internal/service/conversation_dispatch.go
  internal/service/conversation_tool_output_test.go
  workers/codeforge/agent_loop.py
  workers/codeforge/consumer/_conversation.py
  workers/codeforge/executor.py
  workers/codeforge/loop_config.py
  workers/codeforge/models.py
  workers/codeforge/tools/tool_router.py
  workers/tests/test_implementation_turn.py
Due: go-imports-repo, go-vet-repo-mod, golangci-lint-repo-mod, prettier

fix(roadmap): create the roadmap on the first approved milestone (KI-157)
  frontend/src/features/project/RoadmapProposalCard.test.tsx
  frontend/src/features/project/RoadmapProposalCard.tsx
  frontend/src/i18n/en.ts
  frontend/src/i18n/locales/de.ts
  internal/adapter/http/handlers_roadmap.go
  internal/adapter/http/handlers_roadmap_test.go
  internal/service/roadmap.go
Due: go-imports-repo, go-vet-repo-mod, golangci-lint-repo-mod, eslint, prettier
