Repository Strob0t/CodeForge: changes, and which pre-commit hooks are due for each by the changed paths.
All: go-imports-repo, go-vet-repo-mod, golangci-lint-repo-mod, eslint, prettier

go-imports-repo:
  name: go-imports-repo
  entry: bash -c 'export GOROOT=/go/pkg/mod/golang.org/toolchain@v0.0.1-go1.25.0.linux-amd64 && goimports -l -d $(find . -name "*.go" -not -path "./data/*" -not -path "./vendor/*")'
  language: system
  pass_filenames: false

go-vet-repo-mod:
  name: go-vet-repo-mod
  entry: bash -c 'export GOROOT=/go/pkg/mod/golang.org/toolchain@v0.0.1-go1.25.0.linux-amd64 && go vet ./...'
  language: system
  pass_filenames: false

golangci-lint-repo-mod:
  name: golangci-lint-repo-mod
  entry: bash -c 'export GOROOT=/go/pkg/mod/golang.org/toolchain@v0.0.1-go1.25.0.linux-amd64 && golangci-lint run ./...'
  language: system
  pass_filenames: false

eslint:
  name: eslint
  entry: frontend/node_modules/.bin/eslint --config frontend/eslint.config.js --fix
  language: system

prettier:
  name: prettier
  entry: frontend/node_modules/.bin/prettier --write --ignore-unknown
  language: system

fix: harden 5 insecure defaults (F-SEC-002, F-SEC-003, F-SEC-005, F-SEC-012, F-COM-007)
  cmd/codeforge/main.go
  codeforge.example.yaml
  internal/config/config.go
  internal/config/loader.go
  internal/config/loader_integration_test.go
  internal/config/loader_test.go
  internal/crypto/aes.go
  internal/crypto/aes_test.go
  internal/domain/vcsaccount/crypto.go
  internal/domain/vcsaccount/crypto_test.go
  internal/service/github_oauth_test.go
  internal/service/llmkey_test.go
Due: go-imports-repo, go-vet-repo-mod, golangci-lint-repo-mod

fix: close LIKE injection, setup race condition, and modular bias in crypto
  internal/adapter/http/handlers_auth.go
  internal/adapter/http/handlers_test.go
  internal/adapter/postgres/store_project.go
  internal/adapter/postgres/store_user.go
  internal/crypto/crypto.go
  internal/crypto/crypto_test.go
  internal/middleware/teststore_test.go
  internal/port/database/store.go
  internal/service/auth.go
  internal/service/project_test.go
  internal/service/runtime_test.go
Due: go-imports-repo, go-vet-repo-mod, golangci-lint-repo-mod

fix: close tenant isolation gaps in password reset, A2A push, tool messages, NATS payload
  internal/adapter/postgres/store_a2a.go
  internal/adapter/postgres/store_conversation.go
  internal/adapter/postgres/store_user.go
  internal/domain/user/user.go
  internal/port/messagequeue/contract_test.go
  internal/port/messagequeue/schemas.go
  internal/port/messagequeue/testdata/contracts/benchmark_run_request.json
  internal/port/messagequeue/testdata/contracts/benchmark_run_result.json
  internal/port/messagequeue/testdata/contracts/conversation_run_complete.json
  internal/port/messagequeue/testdata/contracts/conversation_run_start.json
  internal/port/messagequeue/testdata/contracts/graph_build_result.json
  internal/port/messagequeue/testdata/contracts/graph_search_request.json
  internal/port/messagequeue/testdata/contracts/graph_search_result.json
  internal/port/messagequeue/testdata/contracts/prompt_evolution_reflect_complete.json
  internal/port/messagequeue/testdata/contracts/repomap_generate_request.json
  internal/port/messagequeue/testdata/contracts/repomap_generate_result.json
  internal/port/messagequeue/testdata/contracts/retrieval_index_request.json
  internal/service/conversation_agent.go
  workers/codeforge/consumer/_conversation.py
  workers/codeforge/models.py
Due: go-imports-repo, go-vet-repo-mod, golangci-lint-repo-mod, prettier

feat: GDPR compliance improvements and AGPL source notice
  docs/api/openapi.yaml
  internal/adapter/http/handlers_test.go
  internal/adapter/http/routes.go
  internal/adapter/postgres/store_audit_log.go
  internal/adapter/postgres/store_retention.go
  internal/config/config.go
  internal/config/loader.go
  internal/middleware/teststore_test.go
  internal/port/database/store.go
  internal/service/gdpr.go
  internal/service/project_test.go
  internal/service/retention.go
  internal/service/runtime_test.go
Due: go-imports-repo, go-vet-repo-mod, golangci-lint-repo-mod

refactor: extract CLIBackendExecutor base class, DRY agent loop, clean up exports
  workers/codeforge/agent_loop.py
  workers/codeforge/backends/__init__.py
  workers/codeforge/backends/_cli_base.py
  workers/codeforge/backends/aider.py
  workers/codeforge/backends/goose.py
  workers/codeforge/backends/opencode.py
  workers/codeforge/backends/plandex.py
  workers/codeforge/backends/sweagent.py
  workers/codeforge/consumer/_conversation_skill_integration.py
  workers/codeforge/tools/__init__.py
  workers/tests/conftest.py
  workers/tests/test_agent_loop.py
  workers/tests/test_conversation_rollout.py
  workers/tests/test_routing_transparency.py
  workers/tests/test_tool_message_compat.py
Due: none

fix: apply 5 minor cleanups (F-INF-023, F-QUA-014, F-ARC-008, F-ARC-014, F-ARC-011)
  cmd/codeforge/main.go
  internal/domain/vcsaccount/crypto.go
  internal/domain/vcsaccount/crypto_test.go
  internal/logger/redact.go
  internal/port/messagequeue/schemas.go
  internal/port/messagequeue/schemas_benchmark.go
  internal/port/messagequeue/schemas_context.go
  internal/port/messagequeue/schemas_conversation.go
  internal/port/messagequeue/schemas_prompt.go
  internal/port/messagequeue/schemas_review.go
  internal/port/messagequeue/schemas_run.go
  internal/service/context_optimizer.go
  internal/service/github_oauth.go
  internal/service/github_oauth_test.go
  internal/service/vcsaccount.go
  workers/codeforge/consumer/_subjects.py
  workers/codeforge/evaluation/prompt_mutator.py
  workers/codeforge/evaluation/prompt_optimizer.py
  workers/codeforge/nats_subjects.py
  workers/codeforge/runtime.py
Due: go-imports-repo, go-vet-repo-mod, golangci-lint-repo-mod

refactor: eliminate Go DRY violations and improve type safety
  internal/adapter/http/handlers_auth_test.go
  internal/adapter/http/handlers_benchmark.go
  internal/adapter/http/handlers_prompt_evolution_test.go
  internal/adapter/http/handlers_shared_context_test.go
  internal/adapter/http/handlers_test.go
  internal/domain/event/broadcast_payloads.go
  internal/middleware/auth.go
  internal/middleware/rbac_test.go
  internal/service/a2a.go
  internal/service/autoagent.go
  internal/service/benchmark.go
  internal/service/benchmark_result.go
  internal/service/conversation_agent.go
  internal/service/conversation_prompt.go
  internal/service/pm_webhook.go
  internal/service/quarantine.go
  internal/service/runtime.go
  internal/service/runtime_execution.go
  internal/service/runtime_lifecycle.go
Due: go-imports-repo, go-vet-repo-mod, golangci-lint-repo-mod

refactor: split Store god interface into 33 role interfaces via embedding
  internal/port/database/store.go
  internal/port/database/store_a2a.go
  internal/port/database/store_agent.go
  internal/port/database/store_audit.go
  internal/port/database/store_auth_token.go
  internal/port/database/store_auto_agent.go
  internal/port/database/store_benchmark.go
  internal/port/database/store_boundary.go
  internal/port/database/store_branch_protection.go
  internal/port/database/store_channel.go
  internal/port/database/store_context.go
  internal/port/database/store_conversation.go
  internal/port/database/store_cost.go
  internal/port/database/store_dashboard.go
  internal/port/database/store_feedback.go
  internal/port/database/store_goal.go
  internal/port/database/store_llm_key.go
  internal/port/database/store_mcp.go
  internal/port/database/store_memory.go
  internal/port/database/store_microagent.go
  internal/port/database/store_plan.go
  internal/port/database/store_project.go
  internal/port/database/store_prompt.go
  internal/port/database/store_quarantine.go
  internal/port/database/store_review.go
  internal/port/database/store_roadmap.go
  internal/port/database/store_routing.go
  internal/port/database/store_run.go
  internal/port/database/store_settings.go
  internal/port/database/store_skill.go
  internal/port/database/store_task.go
  internal/port/database/store_tenant.go
  internal/port/database/store_user.go
  internal/port/database/store_vcs_account.go
  internal/port/database/types.go
Due: go-imports-repo, go-vet-repo-mod, golangci-lint-repo-mod

refactor: decompose StartSubscribers and MountRoutes god methods
  internal/adapter/http/routes.go
  internal/service/runtime.go
  internal/service/runtime_subscribers.go
Due: go-imports-repo, go-vet-repo-mod, golangci-lint-repo-mod

refactor: replace concrete service pointers with consumer-defined interfaces (F-ARC-004)
  internal/service/conversation.go
  internal/service/conversation_deps.go
  internal/service/runtime.go
  internal/service/runtime_deps.go
Due: go-imports-repo, go-vet-repo-mod, golangci-lint-repo-mod

refactor: domain fs.FS abstraction and handler-to-service extraction
  cmd/codeforge/main.go
  internal/adapter/http/handlers_project.go
  internal/domain/microagent/loader.go
  internal/domain/pipeline/loader.go
  internal/domain/policy/loader.go
  internal/domain/project/scan.go
  internal/service/project.go
Due: go-imports-repo, go-vet-repo-mod, golangci-lint-repo-mod

fix(security): add RBAC to all unprotected write endpoints
  internal/adapter/http/routes.go
Due: go-imports-repo, go-vet-repo-mod, golangci-lint-repo-mod

fix(security): path traversal, SSRF protection, webhook auth
  internal/adapter/http/handlers_channel.go
  internal/domain/channel/channel.go
  internal/service/a2a.go
  internal/service/project.go
  internal/service/vcsaccount.go
  workers/codeforge/tools/_base.py
  workers/codeforge/tools/glob_files.py
Due: go-imports-repo, go-vet-repo-mod, golangci-lint-repo-mod

fix(security): config hardening -- remove hardcoded secrets, add entropy validation
  codeforge.example.yaml
  internal/config/config.go
  internal/config/loader.go
  internal/config/loader_test.go
Due: go-imports-repo, go-vet-repo-mod, golangci-lint-repo-mod

fix(infra): pin CI tools, harden Docker and nginx
  .github/workflows/ci.yml
  .github/workflows/docker-build.yml
  .golangci.yml
  .pre-commit-config.yaml
  Dockerfile.worker
  frontend/nginx.conf
Due: none

fix(data): add query limits, cap parameters, fix silenced errors
  internal/adapter/http/handlers_agent_features.go
  internal/adapter/http/handlers_channel.go
  internal/adapter/http/handlers_cost.go
  internal/adapter/http/handlers_dashboard.go
  internal/adapter/http/handlers_goals.go
  internal/adapter/http/handlers_project.go
  internal/adapter/http/handlers_retrieval.go
  internal/adapter/http/handlers_review.go
  internal/adapter/http/handlers_routing.go
  internal/adapter/http/handlers_session.go
  internal/adapter/http/helpers.go
  internal/adapter/postgres/eventstore.go
  internal/adapter/postgres/store_a2a.go
  internal/adapter/postgres/store_benchmark.go
  internal/adapter/postgres/store_memory.go
  internal/adapter/postgres/store_routing.go
  internal/adapter/postgres/store_tenant.go
  internal/service/benchmark.go
Due: go-imports-repo, go-vet-repo-mod, golangci-lint-repo-mod

fix(frontend): accessibility, error extraction utility, focus-visible
  frontend/src/App.tsx
  frontend/src/features/canvas/DesignCanvas.tsx
  frontend/src/features/dashboard/CreateProjectModal.tsx
  frontend/src/features/dashboard/DashboardPage.tsx
  frontend/src/features/dashboard/EditProjectModal.tsx
  frontend/src/features/mcp/MCPServersPage.tsx
  frontend/src/features/microagents/useMicroagentsPage.ts
  frontend/src/features/modes/ModesPage.tsx
  frontend/src/features/project/AgentPanel.tsx
  frontend/src/features/project/ArchitectureGraph.tsx
  frontend/src/features/project/ChatPanel.tsx
  frontend/src/features/project/FilePanel.tsx
  frontend/src/features/project/FileTree.tsx
  frontend/src/features/project/LSPPanel.tsx
  frontend/src/features/project/PlanPanel.tsx
  frontend/src/features/project/RepoMapPanel.tsx
  frontend/src/features/project/RetrievalPanel.tsx
  frontend/src/features/project/RoadmapPanel.tsx
  frontend/src/features/project/RunPanel.tsx
  frontend/src/features/project/SearchSimulator.tsx
  frontend/src/features/project/TaskPanel.tsx
  frontend/src/features/project/featuremap/MilestoneColumn.tsx
  frontend/src/features/project/useFilePanel.ts
  frontend/src/features/project/usePolicyPanel.ts
  frontend/src/features/project/useProjectDetail.ts
  frontend/src/features/quarantine/QuarantinePage.tsx
  frontend/src/features/settings/DevToolsSection.tsx
  frontend/src/hooks/useAsyncAction.ts
  frontend/src/lib/errorUtils.ts
  frontend/src/ui/composites/ModelCombobox.tsx
  frontend/src/ui/primitives/Checkbox.tsx
  frontend/src/ui/primitives/Input.tsx
  frontend/src/ui/primitives/Select.tsx
  frontend/src/ui/primitives/Textarea.tsx
Due: eslint, prettier

fix(compliance): GDPR self-service endpoints, PII log removal
  internal/adapter/http/handlers_auth.go
  internal/adapter/http/handlers_gdpr.go
  internal/adapter/http/routes.go
  internal/service/auth.go
  internal/service/retention.go
Due: go-imports-repo, go-vet-repo-mod, golangci-lint-repo-mod

refactor(python): typed iteration outcomes, annotated agent loop
  workers/codeforge/agent_loop.py
Due: none

refactor(go): remove duplicate buildSystemPrompt, dead code, min64
  internal/adapter/http/helpers.go
  internal/service/complexity.go
  internal/service/conversation_agent.go
Due: go-imports-repo, go-vet-repo-mod, golangci-lint-repo-mod

docs: update CHANGELOG [Unreleased], add ADR-009 GDPR architecture
  CHANGELOG.md
  docs/architecture/adr/009-gdpr-compliance-architecture.md
Due: none

Add universal audit report and 22 atomic remediation work plans
  docs/audits/2026-03-27-universal-audit-report.md
  docs/plans/2026-03-27-audit-remediation-workplans.md
  docs/todo.md
Due: none

Harden config secret handling: json:"-" tags, JWT blocklist, sslmode rejection
  internal/config/config.go
  internal/config/loader.go
  internal/config/loader_test.go
Due: go-imports-repo, go-vet-repo-mod, golangci-lint-repo-mod

Fix duplicate NATS trajectory subscription causing double event processing
  internal/service/runtime.go
  internal/service/runtime_subscribers.go
Due: go-imports-repo, go-vet-repo-mod, golangci-lint-repo-mod

Implement GDPR audit log anonymization and add GDPR service tests
  internal/adapter/http/handlers_test.go
  internal/adapter/postgres/migrations/089_audit_log_anonymize.sql
  internal/adapter/postgres/store_audit_log.go
  internal/middleware/teststore_test.go
  internal/port/database/store_audit.go
  internal/service/gdpr.go
  internal/service/gdpr_test.go
  internal/service/project_test.go
  internal/service/runtime_test.go
Due: go-imports-repo, go-vet-repo-mod, golangci-lint-repo-mod

Fix swallowed DB errors in dashboard store and dead model resolution
  internal/adapter/postgres/store_dashboard.go
  internal/service/conversation_agent.go
Due: go-imports-repo, go-vet-repo-mod, golangci-lint-repo-mod

Extract AllowAlways business logic from HTTP handler to PolicyService
  internal/adapter/http/handlers_policy_crud.go
  internal/service/policy.go
Due: go-imports-repo, go-vet-repo-mod, golangci-lint-repo-mod

Add AGPL source code link and fix unlabeled checkbox accessibility
  frontend/src/App.tsx
  frontend/src/features/dashboard/ProjectCard.tsx
Due: eslint, prettier

Add auth token manager test coverage (9 tests)
  internal/service/auth_token_test.go
Due: go-imports-repo, go-vet-repo-mod, golangci-lint-repo-mod

Harden infrastructure: JetStream retention, Prometheus alerts, backup encryption
  configs/prometheus/alerts.yml
  internal/adapter/nats/nats.go
  scripts/backup-postgres.sh
  workers/codeforge/tools/bash.py
Due: go-imports-repo, go-vet-repo-mod, golangci-lint-repo-mod

Apply Traefik security middlewares and fix TLS routing in blue-green
  docker-compose.blue-green.yml
Due: none

Update golang.org/x/crypto v0.49.0 and pgx v5.9.1
  go.mod
  go.sum
Due: none

Add ADR-013: config sub-struct imports in services (accepted)
  docs/architecture/adr/013-config-import-in-services.md
Due: none

Add privacy policy page and login consent link (GDPR Art. 13)
  frontend/src/App.tsx
  frontend/src/features/auth/LoginPage.tsx
  frontend/src/features/legal/PrivacyPolicy.tsx
  frontend/src/index.tsx
Due: eslint, prettier

Add data breach notification procedure (GDPR Art. 33/34)
  docs/security/breach-notification-procedure.md
Due: none

Deduplicate Pydantic validators: extract clamp_top_k to shared module
  workers/codeforge/_validators.py
  workers/codeforge/models.py
Due: none

Extend audit middleware to project/file/LLM-key/settings/conversation endpoints
  internal/adapter/http/routes.go
Due: go-imports-repo, go-vet-repo-mod, golangci-lint-repo-mod

Validate incoming Origin header before reflecting CORS headers
  internal/adapter/http/middleware.go
Due: go-imports-repo, go-vet-repo-mod, golangci-lint-repo-mod

Replace object type hints with Protocol classes in conversation consumer
  workers/codeforge/consumer/_conversation.py
Due: none

Add WebSocket single-use ticket exchange (CWE-598 mitigation)
  internal/adapter/http/handlers.go
  internal/adapter/http/handlers_auth.go
  internal/adapter/http/routes.go
  internal/adapter/ws/ticket.go
Due: go-imports-repo, go-vet-repo-mod, golangci-lint-repo-mod

Path conditions:
  go-imports-repo: any of: \.go$
  go-vet-repo-mod: any of: \.go$
  golangci-lint-repo-mod: any of: \.go$
  eslint: any of: ^frontend/src/.*\.(ts|tsx|js|jsx)$
  prettier: any of: \.(ts|tsx|js|jsx|json|css|scss|html)$
