Repository Strob0t/CodeForge: changes, and which pre-commit hooks are due for each by the changed paths.
All: go-imports-repo, go-vet-repo-mod, golangci-lint-repo-mod, eslint, prettier

.pre-commit-config.yaml:

repos:
  # -- General ----------------------------------------------
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: end-of-file-fixer
      - id: trailing-whitespace
      - id: check-yaml
      - id: check-json
      - id: check-merge-conflict
      - id: detect-private-key

  # -- Python (Ruff) -----------------------------------------
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.15.1
    hooks:
      # 1) Sort imports
      - id: ruff-check
        name: ruff (sort imports)
        args: ["--select", "I", "--fix"]

      # 2) Lint/fix
      - id: ruff-check
        args: ["--fix", "--exit-non-zero-on-fix"]

      # 3) Format
      - id: ruff-format

  # -- Go -----------------------------------------------------
  - repo: https://github.com/TekWizely/pre-commit-golang
    rev: v1.0.0-rc.1
    hooks:
      # Format
      - id: go-fmt

  # Go hooks that need GOROOT set for Go 1.25 toolchain
  - repo: local
    hooks:
      - id: go-imports-repo
        name: go-imports-repo
        entry: bash -c 'export GOROOT=/go/pkg/mod/golang.org/toolchain@v0.0.1-go1.25.0.linux-amd64 && goimports -l -d $(find . -name "*.go" -not -path "./data/*" -not -path "./vendor/*")'
        language: system
        pass_filenames: false
        types: [go]

      - id: go-vet-repo-mod
        name: go-vet-repo-mod
        entry: bash -c 'export GOROOT=/go/pkg/mod/golang.org/toolchain@v0.0.1-go1.25.0.linux-amd64 && go vet ./...'
        language: system
        pass_filenames: false
        types: [go]

      - id: golangci-lint-repo-mod
        name: golangci-lint-repo-mod
        entry: bash -c 'export GOROOT=/go/pkg/mod/golang.org/toolchain@v0.0.1-go1.25.0.linux-amd64 && golangci-lint run ./...'
        language: system
        pass_filenames: false
        types: [go]

  # -- TypeScript / JavaScript (ESLint + Prettier) ------------
  - repo: local
    hooks:
      - id: eslint
        name: eslint
        entry: frontend/node_modules/.bin/eslint --config frontend/eslint.config.js --fix
        language: system
        files: ^frontend/src/.*\.(ts|tsx|js|jsx)$
        types: [file]

      - id: prettier
        name: prettier
        entry: frontend/node_modules/.bin/prettier --write --ignore-unknown
        language: system
        files: \.(ts|tsx|js|jsx|json|css|scss|html)$
        types: [file]

docs: S2 follow-ups (KI-63, KI-65 to KI-67, KI-76) and S6 hardening (KI-37, KI-38, KI-64, KI-80)
  CLAUDE.md
  docs/architecture/adr/016-nats-delivery-semantics.md
  docs/dev-setup.md
  docs/features/03-multi-llm-provider.md
  docs/features/04-agent-orchestration.md
  docs/known-issues-fix-plan.md
  docs/project-status.md
  docs/todo.md
Due: none

docs: rename CLAUDE.md to AGENTS.md, restructured after the AGENTS.md convention
  AGENTS.md
  CLAUDE.md
  CONTRIBUTING.md
  docs/README.md
  docs/architecture/project-reference.md
  docs/dev-setup.md
  docs/known-issues-fix-plan.md
  docs/project-status.md
  docs/testing/e2e-setup.md
  docs/todo.md
Due: none

fix(delivery): commit and branch delivery commit only the run's change (S3 follow-up 1a)
  internal/git/workspace.go
  internal/service/checkpoint_delivery_test.go
  internal/service/deliver.go
  internal/service/deliver_test.go
  internal/service/delivery_commit.go
  internal/service/delivery_scoped_test.go
Due: go-imports-repo, go-vet-repo-mod, golangci-lint-repo-mod

fix(watchdog): no check starts after the stop, stop waits for an end under way (merge check)
  internal/service/runtime_gate_liveness_test.go
  internal/service/stuck_work_watchdog.go
Due: go-imports-repo, go-vet-repo-mod, golangci-lint-repo-mod

fix(runtime): a failed checkpoint denies the call when the run needs its base (S3 follow-up 1b)
  internal/service/runtime.go
  internal/service/runtime_checkpoint_failure_test.go
  internal/service/runtime_execution.go
  internal/service/runtime_lifecycle.go
Due: go-imports-repo, go-vet-repo-mod, golangci-lint-repo-mod

fix(svn): harden svn in agent-writable working copies (S3 follow-up 1c)
  internal/adapter/svn/hardening_test.go
  internal/adapter/svn/provider.go
  internal/adapter/svn/provider_test.go
  internal/adapter/svn/register.go
Due: go-imports-repo, go-vet-repo-mod, golangci-lint-repo-mod

fix(config): check the default gate commands at load (S3 follow-up 1d)
  internal/config/gate_commands_test.go
  internal/config/loader.go
  internal/domain/project/gatecommands.go
Due: go-imports-repo, go-vet-repo-mod, golangci-lint-repo-mod

fix(autoagent): workspace tests run in the worker, never in the Go Core (KI-81)
  cmd/codeforge/main.go
  internal/port/messagequeue/contract_test.go
  internal/port/messagequeue/queue.go
  internal/port/messagequeue/schemas_conversation.go
  internal/port/messagequeue/testdata/contracts/conversation_test_request.json
  internal/port/messagequeue/testdata/contracts/conversation_test_result.json
  internal/port/messagequeue/validator.go
  internal/service/autoagent.go
  internal/service/autoagent_workspace_test_test.go
  workers/codeforge/consumer/__init__.py
  workers/codeforge/consumer/_workspace_test.py
  workers/codeforge/models.py
  workers/codeforge/nats_subjects.py
  workers/codeforge/qualitygate.py
  workers/tests/consumer/test_delivery_handlers.py
  workers/tests/test_nats_contracts.py
  workers/tests/test_workspace_test_handler.py
Due: go-imports-repo, go-vet-repo-mod, golangci-lint-repo-mod, prettier

fix(git): allow inert repository config, name the refused key (security review P2)
  internal/git/config_keys.go
  internal/git/config_keys_test.go
  internal/git/workspace.go
  internal/service/deliver.go
Due: go-imports-repo, go-vet-repo-mod, golangci-lint-repo-mod

fix(checkpoint): filtered files (git-lfs, git-crypt) keep their content (security review P3)
  internal/service/checkpoint.go
  internal/service/checkpoint_filter_test.go
  internal/service/checkpoint_hardening_test.go
  internal/service/delivery_commit.go
  internal/service/git_worktree.go
Due: go-imports-repo, go-vet-repo-mod, golangci-lint-repo-mod

fix(project): adopt and local clone only from the tenant's area or admin adopt roots (S3 follow-up 1f)
  cmd/codeforge/main.go
  internal/adapter/http/handlers_project.go
  internal/config/adopt_roots_test.go
  internal/config/config.go
  internal/config/loader.go
  internal/service/project.go
  internal/service/project_adopt_roots_test.go
  internal/service/project_test.go
  internal/service/project_workspace.go
Due: go-imports-repo, go-vet-repo-mod, golangci-lint-repo-mod

feat(auth): wire the GitHub OAuth web flow, bound to the starting user's tenant and browser (KI-55)
  cmd/codeforge/main.go
  frontend/src/api/resources/auth.ts
  frontend/src/features/settings/VCSSection.tsx
  frontend/src/i18n/en.ts
  frontend/src/i18n/locales/de.ts
  internal/adapter/http/handlers_github_oauth.go
  internal/adapter/http/handlers_github_oauth_test.go
  internal/adapter/http/handlers_test.go
  internal/adapter/http/routes.go
  internal/adapter/postgres/store_oauth_state.go
  internal/adapter/postgres/store_oauth_test.go
  internal/config/config.go
  internal/config/github_oauth.go
  internal/config/github_oauth_test.go
  internal/config/loader.go
  internal/config/secret_files_test.go
  internal/middleware/auth.go
  internal/middleware/auth_test.go
  internal/middleware/teststore_test.go
  internal/port/database/store_vcs_account.go
  internal/service/github_oauth.go
  internal/service/github_oauth_test.go
  internal/service/project_test.go
  internal/service/runtime_test.go
Due: go-imports-repo, go-vet-repo-mod, golangci-lint-repo-mod, eslint, prettier

fix(temp): private temp files under one directory per process, stale ones removed (S3 follow-up 1e)
  cmd/codeforge/main.go
  internal/adapter/svn/provider.go
  internal/proctemp/owner_other.go
  internal/proctemp/owner_unix.go
  internal/proctemp/proctemp.go
  internal/proctemp/proctemp_test.go
  internal/service/checkpoint.go
  internal/service/checkpoint_durable_test.go
  internal/service/delivery_commit.go
  internal/service/git_worktree.go
Due: go-imports-repo, go-vet-repo-mod, golangci-lint-repo-mod

fix(roadmap): webhook-triggered PM sync runs with the right provider and config (KI-56)
  cmd/codeforge/main.go
  internal/adapter/http/handlers_pm_webhook_test.go
  internal/adapter/http/handlers_settings.go
  internal/domain/event/broadcast_payloads.go
  internal/service/pm_webhook.go
  internal/service/pm_webhook_test.go
Due: go-imports-repo, go-vet-repo-mod, golangci-lint-repo-mod

fix(hitl): approval emails reach configured recipients and link to a web UI approval page (KI-57)
  cmd/codeforge/email_approvals.go
  cmd/codeforge/email_approvals_test.go
  cmd/codeforge/main.go
  frontend/src/App.tsx
  frontend/src/api/resources/misc.ts
  frontend/src/components/RouteGuard.tsx
  frontend/src/features/approvals/ApprovalPage.test.tsx
  frontend/src/features/approvals/ApprovalPage.tsx
  frontend/src/features/auth/LoginPage.tsx
  frontend/src/i18n/en.ts
  frontend/src/i18n/locales/de.ts
  frontend/src/index.tsx
  frontend/src/lib/safeNextPath.test.ts
  frontend/src/lib/safeNextPath.ts
  internal/adapter/email/feedback.go
  internal/adapter/email/feedback_test.go
  internal/adapter/email/notifier.go
  internal/adapter/http/handlers_agent_features.go
  internal/adapter/http/handlers_conversation.go
  internal/adapter/http/handlers_pending_approval_test.go
  internal/adapter/http/routes.go
  internal/config/config.go
  internal/config/email_approvals.go
  internal/config/email_approvals_test.go
  internal/config/loader.go
  internal/service/run_state.go
  internal/service/runtime_approval.go
  internal/service/runtime_pending_approval_test.go
Due: go-imports-repo, go-vet-repo-mod, golangci-lint-repo-mod, eslint, prettier

refactor(core): remove the tiered cache that was built and discarded (KI-60)
  cmd/codeforge/main.go
  go.mod
  go.sum
  internal/adapter/natskv/cache.go
  internal/adapter/natskv/cache_test.go
  internal/adapter/ristretto/cache.go
  internal/adapter/ristretto/cache_test.go
  internal/adapter/tiered/cache.go
  internal/adapter/tiered/cache_test.go
  internal/config/config.go
  internal/config/loader.go
  internal/port/cache/cache.go
  internal/port/cache/cache_test.go
Due: go-imports-repo, go-vet-repo-mod, golangci-lint-repo-mod

(S6-D review) fix(gdpr): account deletion erases like the GDPR endpoints
  internal/adapter/postgres/store_gdpr_erasure_test.go
  internal/service/auth.go
  internal/service/gdpr.go
  internal/service/gdpr_test.go
Due: go-imports-repo, go-vet-repo-mod, golangci-lint-repo-mod

(S6-D review) fix(conversation): message and activity in one write, sessions survive retention races
  internal/adapter/postgres/store_conversation.go
  internal/adapter/postgres/store_retention.go
  internal/adapter/postgres/store_retention_test.go
  internal/adapter/postgres/store_session_conversation_test.go
  internal/service/session.go
  internal/service/session_ensure_test.go
Due: go-imports-repo, go-vet-repo-mod, golangci-lint-repo-mod

(S6-D review) fix(retention): sweep on the lock connection, conversations in locked batches
  internal/adapter/http/handlers_test.go
  internal/adapter/postgres/store_audit_log.go
  internal/adapter/postgres/store_consent.go
  internal/adapter/postgres/store_retention.go
  internal/adapter/postgres/store_retention_test.go
  internal/middleware/teststore_test.go
  internal/port/database/store_retention.go
  internal/service/project_test.go
  internal/service/retention.go
  internal/service/retention_test.go
  internal/service/runtime_test.go
Due: go-imports-repo, go-vet-repo-mod, golangci-lint-repo-mod

fix(pipeline): pipeline steps start in their mode with a valid deliver mode (KI-17 part)
  internal/domain/pipeline/pipeline.go
  internal/domain/pipeline/pipeline_test.go
  internal/domain/pipeline/presets.go
  internal/domain/pipeline/presets_test.go
  internal/domain/run/validate.go
  internal/service/orchestrator.go
  internal/service/orchestrator_step_mode_test.go
  internal/service/pipeline_test.go
Due: go-imports-repo, go-vet-repo-mod, golangci-lint-repo-mod

feat(review): wire the review pipeline end to end, honest trigger answers (KI-17)
  cmd/codeforge/main.go
  internal/adapter/http/handlers.go
  internal/adapter/http/handlers_review.go
  internal/adapter/http/handlers_review_test.go
  internal/service/broadcast_tenant_test.go
  internal/service/project.go
  internal/service/project_autoindex_test.go
  internal/service/review_approval.go
  internal/service/review_approval_test.go
  internal/service/review_trigger.go
  internal/service/review_trigger_test.go
Due: go-imports-repo, go-vet-repo-mod, golangci-lint-repo-mod

(S6-D review) fix(retention): calendar-year cutoffs, exact defaults, shutdown is no error
  codeforge.example.yaml
  internal/config/config.go
  internal/config/retention_test.go
  internal/service/periodic.go
  internal/service/periodic_test.go
  internal/service/retention.go
  internal/service/retention_test.go
Due: go-imports-repo, go-vet-repo-mod, golangci-lint-repo-mod

feat(review): review pipeline service with threshold HITL and orchestrator step gate (KI-17)
  internal/domain/event/broadcast.go
  internal/domain/event/broadcast_payloads.go
  internal/domain/event/event_test.go
  internal/service/checkpoint_chain.go
  internal/service/diff_impact.go
  internal/service/orchestrator.go
  internal/service/orchestrator_step_gate_test.go
  internal/service/review_pipeline.go
  internal/service/review_pipeline_test.go
  internal/service/review_workspace.go
Due: go-imports-repo, go-vet-repo-mod, golangci-lint-repo-mod

(S6-D review) fix(migrations): retention indexes concurrently and HOT-safe, no sessions rewrite
  internal/adapter/postgres/migrations/094_sessions_last_activity.sql
  internal/adapter/postgres/migrations/096_retention_indexes.sql
  internal/adapter/postgres/store_retention_test.go
Due: go-imports-repo, go-vet-repo-mod, golangci-lint-repo-mod

feat(frontend): refactor approval on the Go review events via the API client (KI-17, WT-7)
  frontend/src/api/client.ts
  frontend/src/api/resources/misc.ts
  frontend/src/api/resources/projects.ts
  frontend/src/api/types.ts
  frontend/src/features/chat/commandStore.test.ts
  frontend/src/features/chat/commandStore.ts
  frontend/src/features/project/BoundariesPanel.test.tsx
  frontend/src/features/project/BoundariesPanel.tsx
  frontend/src/features/project/ProjectDetailPage.tsx
  frontend/src/features/project/RefactorApproval.test.tsx
  frontend/src/features/project/RefactorApproval.tsx
Due: eslint, prettier

fix(tools): stop offering spawn_subagent until it starts sub-agents (KI-25)
  internal/service/prompt_assembler_test.go
  internal/service/prompts/behavior/chat_first_orchestration.yaml
  internal/service/runtime_subscribers.go
  internal/service/testdata/golden/architect-semiauto-full-prod-agentic.txt
  internal/service/testdata/golden/coder-headless-full-prod-agentic.txt
  internal/service/testdata/golden/coder-supervised-full-dev-agentic.txt
  internal/service/testdata/golden/debugger-fullauto-pure-prod-agentic.txt
  internal/service/testdata/golden/documenter-supervised-pure-dev-passive.txt
  internal/service/testdata/golden/frontend-supervised-full-dev-passive.txt
  internal/service/testdata/golden/orchestrator-fullauto-full-prod-agentic.txt
  internal/service/testdata/golden/reviewer-autoedit-api-dev-agentic.txt
  internal/service/testdata/golden/security-headless-full-prod-agentic.txt
  internal/service/testdata/golden/tester-autoedit-api-dev-agentic.txt
  workers/codeforge/consumer/_conversation.py
  workers/codeforge/consumer/_conversation_skill_integration.py
  workers/codeforge/tools/capability.py
  workers/codeforge/tools/spawn_subagent.py
  workers/codeforge/tools/tool_router.py
  workers/tests/consumer/test_conversation_handler.py
  workers/tests/test_capability.py
  workers/tests/test_tool_config_drift.py
  workers/tests/test_tool_router.py
Due: go-imports-repo, go-vet-repo-mod, golangci-lint-repo-mod

feat(teams): teams end with their plans, stale teams by the watchdog (KI-33)
  cmd/codeforge/main.go
  internal/adapter/postgres/store_team.go
  internal/adapter/postgres/store_team_ended_test.go
  internal/port/database/store_agent.go
  internal/service/pool_manager.go
  internal/service/pool_manager_test.go
  internal/service/team_cleanup_test.go
Due: go-imports-repo, go-vet-repo-mod, golangci-lint-repo-mod

feat(orchestrator): re-plan stalled plan steps, bounded per step (KI-62)
  codeforge.example.yaml
  internal/config/config.go
  internal/config/loader.go
  internal/config/stall_replan_test.go
  internal/domain/run/stall.go
  internal/service/orchestrator.go
  internal/service/orchestrator_consensus.go
  internal/service/orchestrator_stall_replan_test.go
  internal/service/runtime_execution.go
Due: go-imports-repo, go-vet-repo-mod, golangci-lint-repo-mod

(S6-D review) test(retention): the IP address batch may use either audit index
  internal/adapter/postgres/store_retention_test.go
Due: go-imports-repo, go-vet-repo-mod, golangci-lint-repo-mod

docs: reopen KI-71, add follow-up Known Issues KI-83 to KI-87
  docs/known-issues-fix-plan.md
  docs/todo.md
Due: none

fix(worker): a run or conversation run stopped while its start waits in NATS is not executed
  workers/codeforge/consumer/__init__.py
  workers/codeforge/consumer/_base.py
  workers/codeforge/consumer/_cancel_registry.py
  workers/codeforge/consumer/_conversation.py
  workers/codeforge/consumer/_runs.py
  workers/codeforge/consumer/_tasks.py
  workers/tests/consumer/test_cancel_registry.py
  workers/tests/consumer/test_start_cancel.py
  workers/tests/consumer/test_task_cancel.py
Due: none

chore(config): remove the unused runtime.stale_work_threshold key
  internal/config/config.go
  internal/config/removed_keys_test.go
Due: go-imports-repo, go-vet-repo-mod, golangci-lint-repo-mod

fix(conversation): completion waiters only take the active run's completion
  internal/service/autoagent.go
  internal/service/conversation_agent.go
  internal/service/conversation_completion_waiter_test.go
Due: go-imports-repo, go-vet-repo-mod, golangci-lint-repo-mod

fix(agents): a task's result sets its agent idle again
  internal/adapter/http/handlers_test.go
  internal/adapter/postgres/store.go
  internal/adapter/postgres/store_task_queue_test.go
  internal/middleware/teststore_test.go
  internal/port/database/store_task.go
  internal/service/agent.go
  internal/service/agent_dispatch_once_test.go
  internal/service/agent_lost_worker.go
  internal/service/agent_result_reset_test.go
  internal/service/heartbeat_mock_store_test.go
  internal/service/project_test.go
Due: go-imports-repo, go-vet-repo-mod, golangci-lint-repo-mod

fix(agents): a task that is queued or running is not dispatched again (409)
  internal/adapter/http/handlers_test.go
  internal/adapter/postgres/store.go
  internal/adapter/postgres/store_task_queue_test.go
  internal/middleware/teststore_test.go
  internal/port/database/store_task.go
  internal/service/agent.go
  internal/service/agent_dispatch_once_test.go
  internal/service/heartbeat_mock_store_test.go
  internal/service/project_test.go
Due: go-imports-repo, go-vet-repo-mod, golangci-lint-repo-mod

refactor(service): (S2-F review) test-only heartbeat accessors, no WaitForCompletion
  internal/service/conversation_agent.go
  internal/service/conversation_agent_run_complete_test.go
  internal/service/export_test.go
  internal/service/runtime.go
Due: go-imports-repo, go-vet-repo-mod, golangci-lint-repo-mod

fix(orchestrator): (S2-F review) a decided step review is applied even when its plan cannot be read at once
  internal/service/export_test.go
  internal/service/orchestrator.go
  internal/service/orchestrator_consensus.go
  internal/service/orchestrator_review_decision_test.go
Due: go-imports-repo, go-vet-repo-mod, golangci-lint-repo-mod

fix(conversation): (S2-F review) a stop ends only the stopped run's stored turn
  internal/service/conversation_agent.go
  internal/service/conversation_deps.go
  internal/service/conversation_turn_end_test.go
  internal/service/heartbeat_mock_store_test.go
  internal/service/run_state.go
  internal/service/runtime.go
  internal/service/runtime_test.go
Due: go-imports-repo, go-vet-repo-mod, golangci-lint-repo-mod

fix(runtime): (S2-F review) a completion during a stop is kept in the step that sees the stop
  internal/service/run_state.go
  internal/service/runtime_completion.go
  internal/service/runtime_stopping_test.go
Due: go-imports-repo, go-vet-repo-mod, golangci-lint-repo-mod

fix(runtime): (S2-F review) tool calls of a conversation turn that ended are denied
  internal/adapter/postgres/store_conversation.go
  internal/adapter/postgres/store_heartbeat_test.go
  internal/domain/conversation/conversation.go
  internal/service/conversation_test.go
  internal/service/conversation_turn_end_test.go
  internal/service/runtime_execution.go
Due: go-imports-repo, go-vet-repo-mod, golangci-lint-repo-mod
