Repository Strob0t/CodeForge: changes, and which pre-commit hooks are due for each by the changed paths.
All: go-imports-repo, go-vet-repo-mod, golangci-lint-repo-mod, eslint, prettier

go-imports-repo:
  name: go-imports-repo
  entry: bash -c 'export GOROOT=/go/pkg/mod/golang.org/toolchain@v0.0.1-go1.25.0.linux-amd64 && goimports -l -d $(find . -name "*.go" -not -path "./data/*" -not -path "./vendor/*")'
  language: system
  pass_filenames: false

go-vet-repo-mod:
  name: go-vet-repo-mod
  entry: bash -c 'export GOROOT=/go/pkg/mod/golang.org/toolchain@v0.0.1-go1.25.0.linux-amd64 && go vet ./...'
  language: system
  pass_filenames: false

golangci-lint-repo-mod:
  name: golangci-lint-repo-mod
  entry: bash -c 'export GOROOT=/go/pkg/mod/golang.org/toolchain@v0.0.1-go1.25.0.linux-amd64 && golangci-lint run ./...'
  language: system
  pass_filenames: false

eslint:
  name: eslint
  entry: frontend/node_modules/.bin/eslint --config frontend/eslint.config.js --fix
  language: system

prettier:
  name: prettier
  entry: frontend/node_modules/.bin/prettier --write --ignore-unknown
  language: system

fix: disable NATS monitoring endpoint in production
  docker-compose.prod.yml
Due: none

fix: handle io.ReadAll errors in 14 adapter/service locations
  internal/adapter/auth/anthropic.go
  internal/adapter/auth/github.go
  internal/adapter/copilot/client.go
  internal/adapter/discord/notifier.go
  internal/adapter/litellm/client.go
  internal/adapter/plane/provider.go
  internal/adapter/slack/notifier.go
  internal/service/project.go
Due: go-imports-repo, go-vet-repo-mod, golangci-lint-repo-mod

fix: CORS wildcard only allowed with explicit APP_ENV=development (CWE-942)
  internal/adapter/http/middleware.go
  internal/adapter/http/middleware_test.go
Due: go-imports-repo, go-vet-repo-mod, golangci-lint-repo-mod

refactor: extract ProjectHandlers from monolithic Handlers struct
  internal/adapter/http/handlers.go
  internal/adapter/http/handlers_agent_crud.go
  internal/adapter/http/handlers_policy_crud.go
  internal/adapter/http/handlers_project.go
  internal/adapter/http/handlers_run.go
  internal/adapter/http/handlers_task_crud.go
  internal/adapter/http/handlers_test.go
  internal/adapter/http/handlers_utility.go
  internal/adapter/http/routes.go
Due: go-imports-repo, go-vet-repo-mod, golangci-lint-repo-mod

fix: replace as-unknown-as casts with typed guards and helpers
  frontend/src/features/benchmarks/BenchmarkPage.tsx
  frontend/src/features/canvas/canvasState.ts
  frontend/src/features/canvas/export/exportJson.ts
  frontend/src/features/project/CodeEditor.tsx
  frontend/src/features/project/MessageFlow.tsx
  frontend/src/features/project/ProjectDetailPage.tsx
  frontend/src/features/project/RefactorApproval.tsx
Due: eslint, prettier

fix: handle json.Marshal errors across adapter and service layers
  internal/adapter/gitea/provider.go
  internal/adapter/gitlab/provider.go
  internal/adapter/http/handlers_a2a.go
  internal/service/a2a.go
  internal/service/backend_health.go
  internal/service/conversation.go
  internal/service/orchestrator_consensus.go
  internal/service/prompt_evolution.go
  internal/service/session.go
Due: go-imports-repo, go-vet-repo-mod, golangci-lint-repo-mod

fix: add RequireRole middleware to unprotected write endpoints (OWASP A01)
  internal/adapter/http/routes.go
Due: go-imports-repo, go-vet-repo-mod, golangci-lint-repo-mod

docs: document WebSocket token-in-URL as accepted risk (CWE-598)
  internal/middleware/auth.go
Due: go-imports-repo, go-vet-repo-mod, golangci-lint-repo-mod

fix: replace panics with error returns in MCP NewServer
  cmd/codeforge/main.go
  internal/adapter/mcp/server.go
  internal/adapter/mcp/server_test.go
Due: go-imports-repo, go-vet-repo-mod, golangci-lint-repo-mod

fix: convert .then() chains to async/await for consistency
  frontend/src/api/resources/llm.ts
  frontend/src/features/benchmarks/BenchmarkPage.tsx
  frontend/src/features/canvas/CanvasExportPanel.tsx
  frontend/src/features/canvas/CanvasModal.tsx
  frontend/src/features/project/ChatHeader.tsx
  frontend/src/features/project/ChatPanel.tsx
  frontend/src/features/project/RunPanel.tsx
Due: eslint, prettier

fix: WCAG AA color contrast for --cf-text-tertiary (4.5:1 ratio)
  frontend/e2e/a11y.spec.ts
  frontend/src/index.css
Due: prettier

refactor: decompose BenchmarkService into 4 focused sub-services
  cmd/codeforge/main.go
  internal/adapter/http/handlers_prompt_evolution_test.go
  internal/adapter/http/handlers_test.go
  internal/service/benchmark.go
  internal/service/benchmark_result.go
  internal/service/benchmark_rlvr_test.go
  internal/service/benchmark_run.go
  internal/service/benchmark_suite.go
  internal/service/benchmark_test.go
  internal/service/benchmark_watchdog.go
Due: go-imports-repo, go-vet-repo-mod, golangci-lint-repo-mod

refactor: extract Agent, Task, Run, Policy, Utility handler groups
  cmd/codeforge/main.go
  internal/adapter/http/handlers.go
  internal/adapter/http/handlers_agent_crud.go
  internal/adapter/http/handlers_policy_crud.go
  internal/adapter/http/handlers_prompt_evolution_test.go
  internal/adapter/http/handlers_run.go
  internal/adapter/http/handlers_task_crud.go
  internal/adapter/http/handlers_test.go
  internal/adapter/http/handlers_utility.go
  internal/adapter/http/routes.go
Due: go-imports-repo, go-vet-repo-mod, golangci-lint-repo-mod

fix: keyboard-accessible modal backdrops with Escape key support (WCAG 2.1.1)
  frontend/src/features/channels/ThreadPanel.tsx
  frontend/src/features/notifications/NotificationCenter.tsx
  frontend/src/features/project/FilePanel.tsx
  frontend/src/ui/index.ts
  frontend/src/ui/layout/Sidebar.tsx
  frontend/src/ui/primitives/Backdrop.tsx
  frontend/src/ui/primitives/index.ts
Due: eslint, prettier

fix: remove dead store, replace interface{} with any
  internal/adapter/postgres/store_prompt_variant.go
  internal/adapter/ws/agui_events_test.go
Due: go-imports-repo, go-vet-repo-mod, golangci-lint-repo-mod

refactor: consolidate small handler files into parent groups
  internal/adapter/http/handlers_agent_features.go
  internal/adapter/http/handlers_benchmark.go
  internal/adapter/http/handlers_benchmark_analyze.go
  internal/adapter/http/handlers_commands.go
  internal/adapter/http/handlers_conversation.go
  internal/adapter/http/handlers_llm.go
  internal/adapter/http/handlers_llm_keys.go
  internal/adapter/http/handlers_skill_import.go
Due: go-imports-repo, go-vet-repo-mod, golangci-lint-repo-mod

fix: document silent .catch() handlers as intentional best-effort
  frontend/src/features/dashboard/CreateProjectModal.tsx
  frontend/src/features/onboarding/steps/CreateProjectStep.tsx
  frontend/src/features/project/ChatPanel.tsx
Due: eslint, prettier

fix: update benchmark test to reference merged file
  internal/adapter/http/handlers_benchmark_test.go
Due: go-imports-repo, go-vet-repo-mod, golangci-lint-repo-mod

refactor: decompose ConversationService with MessageService + PromptAssemblyService
  cmd/codeforge/main.go
  internal/service/conversation.go
  internal/service/conversation_agent.go
  internal/service/conversation_messages.go
  internal/service/conversation_prompt.go
Due: go-imports-repo, go-vet-repo-mod, golangci-lint-repo-mod

refactor: decompose AuthService into Auth + TokenManager + APIKeyManager
  internal/service/auth.go
  internal/service/auth_apikey.go
  internal/service/auth_token.go
Due: go-imports-repo, go-vet-repo-mod, golangci-lint-repo-mod

refactor: extract useProjectDetail and useFilePanel hooks from large components
  frontend/src/features/project/ProjectDetailPage.tsx
  frontend/src/features/project/useFilePanel.ts
  frontend/src/features/project/useProjectDetail.ts
Due: eslint, prettier

refactor: add BudgetCalculator strategy interface for context budget
  internal/service/context_budget.go
Due: go-imports-repo, go-vet-repo-mod, golangci-lint-repo-mod

test: add keyboard navigation E2E test (WCAG 2.1.1)
  frontend/e2e/keyboard-nav.spec.ts
Due: prettier

feat: add audit_log table (migration 087)
  internal/adapter/postgres/migrations/087_create_audit_log.sql
Due: none

feat: add GDPR user data export and deletion endpoints (Article 17/20)
  cmd/codeforge/main.go
  internal/adapter/http/handlers.go
  internal/adapter/http/handlers_gdpr.go
  internal/adapter/http/routes.go
  internal/service/gdpr.go
Due: go-imports-repo, go-vet-repo-mod, golangci-lint-repo-mod

feat: add cascade delete on user FKs for GDPR erasure (migration 088)
  internal/adapter/postgres/migrations/088_user_cascade_delete.sql
Due: none

docs: add data retention policy (GDPR Article 5)
  docs/data-retention.md
Due: none

docs: add SECURITY.md with vulnerability disclosure and GDPR info
  docs/SECURITY.md
Due: none

docs: add privacy policy with LLM data processing notice (GDPR Article 13)
  docs/privacy-policy.md
Due: none

feat: add filesystem port interface + OS adapter (hexagonal architecture)
  internal/adapter/osfs/provider.go
  internal/port/filesystem/provider.go
Due: go-imports-repo, go-vet-repo-mod, golangci-lint-repo-mod

feat: add shell commander port + exec adapter (hexagonal architecture)
  internal/adapter/execshell/commander.go
  internal/port/shell/commander.go
Due: go-imports-repo, go-vet-repo-mod, golangci-lint-repo-mod

docs: add OpenAPI 3.0 spec stub for core endpoints
  docs/api/openapi.yaml
Due: none

refactor: LSP service uses port interface instead of direct adapter import
  cmd/codeforge/main.go
  internal/port/lsp/provider.go
  internal/service/lsp.go
Due: go-imports-repo, go-vet-repo-mod, golangci-lint-repo-mod

refactor: FileService uses filesystem port instead of direct os calls
  cmd/codeforge/main.go
  internal/service/files.go
Due: go-imports-repo, go-vet-repo-mod, golangci-lint-repo-mod

feat: add audit log store methods and port interface
  internal/adapter/http/handlers_test.go
  internal/adapter/postgres/store_audit_log.go
  internal/middleware/teststore_test.go
  internal/port/database/store.go
  internal/service/project_test.go
  internal/service/runtime_test.go
Due: go-imports-repo, go-vet-repo-mod, golangci-lint-repo-mod

feat: add audit middleware for admin operations (SOC 2 CC6.1)
  internal/adapter/http/routes.go
  internal/middleware/audit.go
Due: go-imports-repo, go-vet-repo-mod, golangci-lint-repo-mod

feat: add GET /audit-logs endpoint (admin-only)
  internal/adapter/http/handlers_audit.go
  internal/adapter/http/routes.go
Due: go-imports-repo, go-vet-repo-mod, golangci-lint-repo-mod

feat: add PII/secret redaction handler to structured logging
  internal/logger/logger.go
  internal/logger/redact.go
Due: go-imports-repo, go-vet-repo-mod, golangci-lint-repo-mod

refactor: migrate context_optimizer and goal_discovery to filesystem port
  cmd/codeforge/main.go
  internal/adapter/http/handlers_prompt_evolution_test.go
  internal/adapter/http/handlers_test.go
  internal/service/context_optimizer.go
  internal/service/context_optimizer_test.go
  internal/service/conversation_test.go
  internal/service/files_source_test.go
  internal/service/goal_discovery.go
  internal/service/goal_discovery_test.go
  internal/service/lsp_source_test.go
  internal/service/runtime_coverage_test.go
Due: go-imports-repo, go-vet-repo-mod, golangci-lint-repo-mod

feat: export NATS consumer pending count as OTEL gauge
  internal/adapter/nats/nats.go
Due: go-imports-repo, go-vet-repo-mod, golangci-lint-repo-mod

Path conditions:
  go-imports-repo: any of: \.go$
  go-vet-repo-mod: any of: \.go$
  golangci-lint-repo-mod: any of: \.go$
  eslint: any of: ^frontend/src/.*\.(ts|tsx|js|jsx)$
  prettier: any of: \.(ts|tsx|js|jsx|json|css|scss|html)$
