Repository Strob0t/CodeForge: changes, and which pre-commit hooks are due for each by the changed paths.
All: go-imports-repo, go-vet-repo-mod, golangci-lint-repo-mod, eslint, prettier

.pre-commit-config.yaml:

repos:
  # -- General ----------------------------------------------
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: end-of-file-fixer
      - id: trailing-whitespace
      - id: check-yaml
      - id: check-json
      - id: check-merge-conflict
      - id: detect-private-key

  # -- Python (Ruff) -----------------------------------------
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.15.1
    hooks:
      # 1) Sort imports
      - id: ruff-check
        name: ruff (sort imports)
        args: ["--select", "I", "--fix"]

      # 2) Lint/fix
      - id: ruff-check
        args: ["--fix", "--exit-non-zero-on-fix"]

      # 3) Format
      - id: ruff-format

  # -- Go -----------------------------------------------------
  - repo: https://github.com/TekWizely/pre-commit-golang
    rev: v1.0.0-rc.1
    hooks:
      # Format
      - id: go-fmt

  # Go hooks that need GOROOT set for Go 1.25 toolchain
  - repo: local
    hooks:
      - id: go-imports-repo
        name: go-imports-repo
        entry: bash -c 'export GOROOT=/go/pkg/mod/golang.org/toolchain@v0.0.1-go1.25.0.linux-amd64 && goimports -l -d $(find . -name "*.go" -not -path "./data/*" -not -path "./vendor/*")'
        language: system
        pass_filenames: false
        types: [go]

      - id: go-vet-repo-mod
        name: go-vet-repo-mod
        entry: bash -c 'export GOROOT=/go/pkg/mod/golang.org/toolchain@v0.0.1-go1.25.0.linux-amd64 && go vet ./...'
        language: system
        pass_filenames: false
        types: [go]

      - id: golangci-lint-repo-mod
        name: golangci-lint-repo-mod
        entry: bash -c 'export GOROOT=/go/pkg/mod/golang.org/toolchain@v0.0.1-go1.25.0.linux-amd64 && golangci-lint run ./...'
        language: system
        pass_filenames: false
        types: [go]

  # -- TypeScript / JavaScript (ESLint + Prettier) ------------
  - repo: local
    hooks:
      - id: eslint
        name: eslint
        entry: frontend/node_modules/.bin/eslint --config frontend/eslint.config.js --fix
        language: system
        files: ^frontend/src/.*\.(ts|tsx|js|jsx)$
        types: [file]

      - id: prettier
        name: prettier
        entry: frontend/node_modules/.bin/prettier --write --ignore-unknown
        language: system
        files: \.(ts|tsx|js|jsx|json|css|scss|html)$
        types: [file]

refactor(workers): extract helpers from 3 monster functions, flatten tool-call nesting
  workers/codeforge/agent_loop.py
  workers/codeforge/consumer/_conversation.py
  workers/codeforge/llm.py
Due: none

refactor(service): decompose 5 god services into focused files
  internal/service/context_optimizer.go
  internal/service/context_rerank.go
  internal/service/context_scoring.go
  internal/service/context_sources.go
  internal/service/conversation_agent.go
  internal/service/conversation_agent_prompt.go
  internal/service/conversation_dispatch.go
  internal/service/project.go
  internal/service/project_git.go
  internal/service/project_workspace.go
  internal/service/roadmap.go
  internal/service/roadmap_import.go
  internal/service/roadmap_sync.go
  internal/service/runtime_completion.go
  internal/service/runtime_execution.go
Due: go-imports-repo, go-vet-repo-mod, golangci-lint-repo-mod

feat(gdpr): wire consent API endpoints, add disaster recovery runbook
  cmd/codeforge/main.go
  docs/disaster-recovery.md
  internal/adapter/http/handlers.go
  internal/adapter/http/handlers_consent.go
  internal/adapter/http/routes.go
  internal/service/consent.go
Due: go-imports-repo, go-vet-repo-mod, golangci-lint-repo-mod

test(frontend): add behavioral tests, HITL test, jsx-a11y plugin with a11y fixes
  frontend/eslint.config.js
  frontend/node_modules
  frontend/package-lock.json
  frontend/package.json
  frontend/src/api/websocket.test.ts
  frontend/src/components/CommandPalette.tsx
  frontend/src/features/chat/AutocompletePopover.tsx
  frontend/src/features/notifications/NotificationCenter.tsx
  frontend/src/features/notifications/notificationStore.test.ts
  frontend/src/features/project/RefactorApproval.tsx
  frontend/src/features/settings/ShortcutRecorder.tsx
  frontend/src/ui/composites/Modal.tsx
  frontend/src/ui/composites/ModelCombobox.tsx
  internal/service/runtime_execution_test.go
Due: go-imports-repo, go-vet-repo-mod, golangci-lint-repo-mod, eslint, prettier

chore: remove accidentally tracked node_modules symlink
  frontend/node_modules
Due: none

fix(api): return 400 instead of 500 for adopt path outside workspace root
  internal/service/project_test.go
  internal/service/project_workspace.go
Due: go-imports-repo, go-vet-repo-mod, golangci-lint-repo-mod

fix(startup): degrade gracefully when MCP server port is busy
  cmd/codeforge/main.go
Due: go-imports-repo, go-vet-repo-mod, golangci-lint-repo-mod

fix(worker): improve agent capability detection, logging, and tool reliability
  workers/codeforge/agent_loop.py
  workers/codeforge/model_resolver.py
  workers/codeforge/skills/selector.py
  workers/codeforge/tools/capability.py
  workers/codeforge/tools/edit_file.py
Due: none

fix(ci): golangci-lint v2.5.0 for Go 1.25, fix lint findings, run CI on PRs to staging
  .github/workflows/ci.yml
  internal/adapter/http/handlers_settings.go
  internal/adapter/http/handlers_shared_context_test.go
  internal/adapter/http/helpers.go
  internal/adapter/postgres/eventstore.go
  internal/adapter/postgres/eventstore_test.go
  internal/adapter/postgres/store_prompt_variant.go
  internal/service/context_optimizer_test.go
  internal/service/conversation_test.go
  internal/service/files.go
  internal/service/roadmap.go
  internal/service/runtime_coverage_test.go
  workers/tests/eval_metrics.py
Due: go-imports-repo, go-vet-repo-mod, golangci-lint-repo-mod

fix(deps): bump Go modules with reachable vulnerabilities
  go.mod
  go.sum
Due: none

fix(deps): upgrade @unovis to 1.7.1 and patch vulnerable frontend packages
  frontend/package-lock.json
  frontend/package.json
Due: prettier

fix(deps): relock Python dependencies, pin ruff, patch vulnerable packages
  poetry.lock
  pyproject.toml
Due: none

test(workers): fix two test modules that failed to collect, harden a timing test
  workers/tests/test_role_evaluation.py
  workers/tests/test_routing_complexity.py
  workers/tests/test_score_key_normalization.py
Due: none

test(workers): repair backend, quality gate and A2A tests after refactors
  workers/tests/test_a2a_mixin_executor.py
  workers/tests/test_backend_stubs.py
  workers/tests/test_claude_code_availability.py
  workers/tests/test_claude_code_executor.py
  workers/tests/test_qualitygate.py
  workers/tests/test_sweagent_backend.py
Due: none

test(workers): repair bench/routing/misc tests after settings caching and state leaks
  workers/codeforge/context_reranker.py
  workers/tests/conftest.py
  workers/tests/test_benchmark_external_providers.py
  workers/tests/test_benchmark_provider.py
  workers/tests/test_logger.py
  workers/tests/test_memory_system.py
  workers/tests/test_model_resolver.py
  workers/tests/test_routing_fallback_e2e.py
  workers/tests/test_routing_models.py
Due: none

test(workers): repair tools/agent-loop tests after tool, safety and logging changes
  workers/codeforge/history.py
  workers/codeforge/skills/safety.py
  workers/codeforge/tools/bash.py
  workers/codeforge/tools/tool_router.py
  workers/tests/test_agent_loop_edge_cases.py
  workers/tests/test_capability.py
  workers/tests/test_conversation_rollout.py
  workers/tests/test_multimodal.py
  workers/tests/test_plan_act.py
  workers/tests/test_skill_safety.py
  workers/tests/test_tool_registry.py
  workers/tests/test_tool_router.py
  workers/tests/test_tools.py
Due: none

fix(worker): keep rm -rf on top-level system directories blocked
  workers/codeforge/tools/bash.py
  workers/tests/test_tool_bash.py
Due: none

test(workers): remove the obsolete OpenHands missing-httpx test
  workers/tests/test_backend_stubs.py
Due: none

test(go): repair http, postgres and service tests after refactors and hardening
  internal/adapter/http/handlers_audit_test.go
  internal/adapter/http/handlers_prompt_evolution_test.go
  internal/adapter/http/handlers_test.go
  internal/adapter/http/middleware_test.go
  internal/adapter/postgres/store_api_key_test.go
  internal/adapter/postgres/store_oauth_test.go
  internal/adapter/postgres/store_test_helpers_test.go
  internal/port/messagequeue/contract_test.go
  internal/service/a2a.go
  internal/service/a2a_test.go
  internal/service/auth_token_test.go
  internal/service/runtime_execution_source_test.go
Due: go-imports-repo, go-vet-repo-mod, golangci-lint-repo-mod

fix(security): trusted-proxy client IP instead of chi RealIP (KI-11)
  cmd/codeforge/main.go
  codeforge.example.yaml
  internal/config/config.go
  internal/config/loader.go
  internal/config/loader_test.go
  internal/middleware/clientip.go
  internal/middleware/clientip_test.go
  internal/middleware/ratelimit.go
  internal/middleware/ratelimit_test.go
Due: go-imports-repo, go-vet-repo-mod, golangci-lint-repo-mod

test(workers): repair consumer tests after dedup cache and retriever refactors
  workers/codeforge/consumer/_base.py
  workers/tests/conftest.py
  workers/tests/test_consumer_a2a.py
  workers/tests/test_consumer_dispatch.py
  workers/tests/test_consumer_graph.py
  workers/tests/test_consumer_handoff.py
  workers/tests/test_consumer_memory.py
  workers/tests/test_consumer_repomap.py
  workers/tests/test_consumer_retrieval.py
  workers/tests/test_propose_goal_registration.py
  workers/tests/test_retrieval.py
  workers/tests/test_retrieval_subagent.py
Due: none

fix(frontend): repair typecheck errors and failing unit tests, gate CI on both
  .github/workflows/ci.yml
  frontend/e2e/keyboard-nav.spec.ts
  frontend/package.json
  frontend/src/api/resources/misc.ts
  frontend/src/api/types.ts
  frontend/src/api/websocket.ts
  frontend/src/features/canvas/ImageTool.test.ts
  frontend/src/features/canvas/export/exportJson.ts
  frontend/src/features/project/ChatPanel.tsx
  frontend/src/features/prompts/EvolutionTab.tsx
  frontend/src/features/quarantine/QuarantinePage.tsx
  frontend/src/features/routing/RoutingStatsPage.tsx
  frontend/src/global.d.ts
  frontend/src/i18n/formatters.test.ts
  frontend/src/i18n/locales/de.ts
Due: eslint, prettier

test(go): make the auto-agent conflict test deterministic
  internal/service/autoagent_test.go
Due: go-imports-repo, go-vet-repo-mod, golangci-lint-repo-mod

docs: reconcile docs with the staging code, add Known Issues and fix plan
  CLAUDE.md
  docs/README.md
  docs/SECURITY.md
  docs/architecture.md
  docs/architecture/adr/001-nats-jetstream-message-queue.md
  docs/architecture/adr/002-postgresql-database.md
  docs/architecture/adr/003-config-hierarchy.md
  docs/architecture/adr/004-async-logging.md
  docs/architecture/adr/005-docker-native-logging.md
  docs/architecture/adr/006-agent-execution-approach-c.md
  docs/architecture/adr/007-policy-layer.md
  docs/architecture/adr/008-benchmark-evaluation-framework.md
  docs/architecture/adr/009-gdpr-compliance-architecture.md
  docs/architecture/adr/010-a2a-protocol-adoption.md
  docs/architecture/adr/011-trust-quarantine-system.md
  docs/architecture/adr/012-hybrid-routing-cascade.md
  docs/architecture/adr/014-store-interface-segregation.md
  docs/dev-setup.md
  docs/features/01-project-dashboard.md
  docs/features/02-roadmap-feature-map.md
  docs/features/03-multi-llm-provider.md
  docs/features/04-agent-orchestration.md
  docs/features/05-chat-enhancements.md
  docs/features/06-visual-design-canvas.md
  docs/features/07-chat-first-orchestrator.md
  docs/known-issues-fix-plan.md
  docs/project-status.md
  docs/tech-stack.md
  docs/todo.md
Due: none

chore(pre-commit): keep prettier off the generated contract fixtures
  .pre-commit-config.yaml
Due: none

test(go): repair integration-tagged tests and run them in CI
  .github/workflows/ci.yml
  cmd/codeforge/main.go
  internal/adapter/http/handlers.go
  internal/adapter/http/handlers_test.go
  tests/integration/auth_test.go
  tests/integration/integration_test.go
  tests/integration/migration_test.go
  tests/integration/projects_test.go
Due: go-imports-repo, go-vet-repo-mod, golangci-lint-repo-mod

test(go): fix data race in the microagent fake store
  internal/service/microagent_test.go
Due: go-imports-repo, go-vet-repo-mod, golangci-lint-repo-mod

test(smoke): log in like the E2E setup and seed the admin in CI
  .github/workflows/ci.yml
  tests/integration/flows_test.go
  tests/integration/smoke_test.go
Due: go-imports-repo, go-vet-repo-mod, golangci-lint-repo-mod

fix(ci): pin golangci-lint v2.11.4 in CI and the devcontainer
  .devcontainer/setup.sh
  .github/workflows/ci.yml
  docs/dev-setup.md
  docs/known-issues-fix-plan.md
  docs/tech-stack.md
  docs/todo.md
Due: none

docs(adr): ADR-015 policy deny lists are blocklists, canonical tool names
  CLAUDE.md
  docs/architecture/adr/007-policy-layer.md
  docs/architecture/adr/015-policy-deny-lists-and-tool-names.md
  docs/known-issues-fix-plan.md
Due: none

chore(claude): SessionStart hook for Claude Code on the web
  .claude/hooks/session-start.sh
  .claude/settings.json
  .gitignore
  docs/dev-setup.md
  docs/todo.md
Due: prettier

fix(runtime): reject sandbox and hybrid exec modes until tools are isolated (KI-13)
  frontend/src/features/benchmarks/BenchmarkPage.tsx
  frontend/src/features/benchmarks/ExecModeSelect.test.tsx
  frontend/src/features/benchmarks/ExecModeSelect.tsx
  frontend/src/i18n/en.ts
  frontend/src/i18n/locales/de.ts
  internal/adapter/http/handlers_exec_mode_test.go
  internal/adapter/http/handlers_goals.go
  internal/domain/run/exec_mode.go
  internal/domain/run/exec_mode_test.go
  internal/service/benchmark_exec_mode_test.go
  internal/service/benchmark_run.go
  internal/service/conversation_dispatch.go
  internal/service/conversation_exec_mode_test.go
  internal/service/exec_mode.go
  internal/service/orchestrator_test.go
  internal/service/runtime.go
  internal/service/runtime_compliance_test.go
  internal/service/runtime_exec_mode_test.go
  internal/service/sandbox.go
  internal/service/sandbox_internal_test.go
  workers/codeforge/consumer/_handoff.py
  workers/codeforge/consumer/_runs.py
  workers/tests/test_consumer_handoff.py
  workers/tests/test_run_exec_mode.py
  workers/tests/test_tasks_cancel_wiring.py
Due: go-imports-repo, go-vet-repo-mod, golangci-lint-repo-mod, eslint, prettier

fix(compose): publish dev service ports on 127.0.0.1 only (KI-14)
  docker-compose.yml
Due: none

docs: KI-13 and KI-14 fixed (sandbox gate, loopback-only dev ports)
  CLAUDE.md
  docs/SECURITY.md
  docs/api/openapi.yaml
  docs/architecture.md
  docs/architecture/adr/006-agent-execution-approach-c.md
  docs/dev-setup.md
  docs/features/04-agent-orchestration.md
  docs/known-issues-fix-plan.md
  docs/todo.md
Due: none

fix(ws): tenant-scoped fan-out, per-client send queues, ticket auth (KI-12)
  cmd/codeforge/main.go
  frontend/e2e-mcp-full-test.py
  frontend/e2e/helpers/ws-helpers.ts
  frontend/src/api/core.ts
  frontend/src/api/resources/auth.ts
  frontend/src/api/types.ts
  frontend/src/api/websocket.test.ts
  frontend/src/api/websocket.ts
  internal/adapter/http/handlers_auth.go
  internal/adapter/http/handlers_ws_ticket_test.go
  internal/adapter/ws/events.go
  internal/adapter/ws/handler.go
  internal/adapter/ws/handshake_test.go
  internal/adapter/ws/hub_fanout_test.go
  internal/adapter/ws/hub_test.go
  internal/adapter/ws/ticket.go
  internal/adapter/ws/ticket_test.go
  internal/middleware/auth.go
  internal/middleware/auth_test.go
  internal/port/broadcast/broadcaster.go
  internal/port/wsticket/store.go
  internal/service/model_registry.go
  internal/service/model_registry_test.go
Due: go-imports-repo, go-vet-repo-mod, golangci-lint-repo-mod, eslint, prettier

fix(ws): scope every WebSocket event source to its tenant (KI-12)
  internal/adapter/postgres/store.go
  internal/adapter/postgres/store_active_work.go
  internal/adapter/postgres/store_active_work_test.go
  internal/port/messagequeue/schemas_benchmark.go
  internal/port/messagequeue/schemas_context.go
  internal/port/messagequeue/schemas_run.go
  internal/service/a2a.go
  internal/service/active_work.go
  internal/service/agent.go
  internal/service/autoagent.go
  internal/service/benchmark.go
  internal/service/broadcast_tenant_test.go
  internal/service/conversation.go
  internal/service/graph.go
  internal/service/lsp.go
  internal/service/pm_webhook.go
  internal/service/repomap.go
  internal/service/retrieval.go
  internal/service/review.go
  internal/service/review_approval.go
  internal/service/review_test.go
  internal/service/runtime.go
  internal/service/runtime_completion.go
  internal/service/runtime_execution.go
  internal/service/runtime_lifecycle.go
  internal/service/runtime_subscribers.go
  internal/service/runtime_tenant_scope_test.go
  internal/service/runtime_test.go
  internal/service/tenant_scope.go
  internal/tenantctx/tenantctx.go
  internal/tenantctx/tenantctx_test.go
  workers/codeforge/consumer/_base.py
  workers/codeforge/consumer/_benchmark.py
  workers/codeforge/consumer/_conversation.py
  workers/codeforge/consumer/_runs.py
  workers/codeforge/consumer/_tasks.py
  workers/codeforge/models.py
  workers/codeforge/runtime.py
  workers/tests/consumer/test_conversation_handler.py
  workers/tests/test_tenant_echo.py
Due: go-imports-repo, go-vet-repo-mod, golangci-lint-repo-mod

fix(ws): follow-ups from the KI-12 review; docs for KI-12
  CLAUDE.md
  docs/SECURITY.md
  docs/api/openapi.yaml
  docs/architecture.md
  docs/known-issues-fix-plan.md
  docs/todo.md
  frontend/e2e/helpers/ws-helpers.ts
  frontend/src/App.tsx
  frontend/src/api/websocket.test.ts
  frontend/src/api/websocket.ts
  frontend/src/components/WebSocketProvider.test.tsx
  frontend/src/components/WebSocketProvider.tsx
  internal/adapter/ws/handler.go
  internal/domain/orchestration/handoff.go
  internal/service/handoff.go
  internal/service/handoff_test.go
  workers/codeforge/consumer/_conversation.py
  workers/codeforge/consumer/_conversation_skill_integration.py
  workers/codeforge/consumer/_handoff.py
  workers/codeforge/tools/handoff.py
  workers/tests/test_consumer_handoff.py
  workers/tests/test_handoff_enrichment.py
Due: go-imports-repo, go-vet-repo-mod, golangci-lint-repo-mod, eslint, prettier

fix(policy): match real tool calls, make deny lists deny, parse shell commands (KI-4, KI-5, KI-6)
  internal/domain/policy/command.go
  internal/domain/policy/command_test.go
  internal/domain/policy/evaluation.go
  internal/domain/policy/evaluation_test.go
  internal/domain/policy/glob.go
  internal/domain/policy/glob_test.go
  internal/domain/policy/path.go
  internal/domain/policy/path_test.go
  internal/domain/policy/policy.go
  internal/domain/policy/policy_test.go
  internal/domain/policy/presets.go
  internal/domain/policy/toolnames.go
  internal/domain/policy/toolnames_test.go
  internal/domain/policy/validate.go
  internal/service/policy.go
  internal/service/policy_security_test.go
  internal/service/policy_test.go
  internal/service/runtime_deps.go
  workers/codeforge/claude_code_executor.py
  workers/codeforge/tool_executor.py
  workers/tests/test_claude_code_executor.py
  workers/tests/test_tool_executor_policy.py
Due: go-imports-repo, go-vet-repo-mod, golangci-lint-repo-mod

fix(policy): lock the profile map, protect presets, persist allow-always rules (KI-7, KI-8, KI-9)
  cmd/codeforge/main.go
  internal/adapter/http/handlers.go
  internal/adapter/http/handlers_policy_crud.go
  internal/adapter/http/handlers_policy_test.go
  internal/adapter/http/handlers_test.go
  internal/service/policy.go
  internal/service/policy_concurrency_test.go
Due: go-imports-repo, go-vet-repo-mod, golangci-lint-repo-mod

fix(policy): conversation calls fail closed and use the dispatched mode; enforce mode tools (KI-7, KI-10)
  internal/domain/mode/mode.go
  internal/domain/mode/presets.go
  internal/domain/mode/toolnames_test.go
  internal/port/messagequeue/schemas_run.go
  internal/port/messagequeue/schemas_test.go
  internal/service/conversation_deps.go
  internal/service/conversation_dispatch.go
  internal/service/conversation_policy_test.go
  internal/service/runtime_execution.go
  internal/service/runtime_policy_test.go
  workers/codeforge/consumer/_conversation.py
  workers/codeforge/consumer/_runs.py
  workers/codeforge/runtime.py
  workers/tests/consumer/test_conversation_handler.py
  workers/tests/test_runtime_client.py
Due: go-imports-repo, go-vet-repo-mod, golangci-lint-repo-mod
