Repository Strob0t/CodeForge: changes, and which pre-commit hooks are due for each by the changed paths.
All: go-imports-repo, go-vet-repo-mod, golangci-lint-repo-mod, eslint, prettier

.pre-commit-config.yaml:

repos:
  # -- General ----------------------------------------------
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: end-of-file-fixer
      - id: trailing-whitespace
      - id: check-yaml
      - id: check-json
      - id: check-merge-conflict
      - id: detect-private-key

  # -- Python (Ruff) -----------------------------------------
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.15.1
    hooks:
      # 1) Sort imports
      - id: ruff-check
        name: ruff (sort imports)
        args: ["--select", "I", "--fix"]

      # 2) Lint/fix
      - id: ruff-check
        args: ["--fix", "--exit-non-zero-on-fix"]

      # 3) Format
      - id: ruff-format

  # -- Go -----------------------------------------------------
  - repo: https://github.com/TekWizely/pre-commit-golang
    rev: v1.0.0-rc.1
    hooks:
      # Format
      - id: go-fmt

  # Go hooks that need GOROOT set for Go 1.25 toolchain
  - repo: local
    hooks:
      - id: go-imports-repo
        name: go-imports-repo
        entry: bash -c 'export GOROOT=/go/pkg/mod/golang.org/toolchain@v0.0.1-go1.25.0.linux-amd64 && goimports -l -d $(find . -name "*.go" -not -path "./data/*" -not -path "./vendor/*")'
        language: system
        pass_filenames: false
        types: [go]

      - id: go-vet-repo-mod
        name: go-vet-repo-mod
        entry: bash -c 'export GOROOT=/go/pkg/mod/golang.org/toolchain@v0.0.1-go1.25.0.linux-amd64 && go vet ./...'
        language: system
        pass_filenames: false
        types: [go]

      - id: golangci-lint-repo-mod
        name: golangci-lint-repo-mod
        entry: bash -c 'export GOROOT=/go/pkg/mod/golang.org/toolchain@v0.0.1-go1.25.0.linux-amd64 && golangci-lint run ./...'
        language: system
        pass_filenames: false
        types: [go]

  # -- TypeScript / JavaScript (ESLint + Prettier) ------------
  - repo: local
    hooks:
      - id: eslint
        name: eslint
        entry: frontend/node_modules/.bin/eslint --config frontend/eslint.config.js --fix
        language: system
        files: ^frontend/src/.*\.(ts|tsx|js|jsx)$
        types: [file]

      - id: prettier
        name: prettier
        entry: frontend/node_modules/.bin/prettier --write --ignore-unknown
        language: system
        files: \.(ts|tsx|js|jsx|json|css|scss|html)$
        types: [file]

fix(audit): the anonymous actor is its own reserved identity (KI-172)
  internal/domain/user/user.go
  internal/domain/user/user_test.go
  internal/middleware/audit.go
  internal/middleware/audit_actor_test.go
Due: go-imports-repo, go-vet-repo-mod, golangci-lint-repo-mod

fix(frontend): show whether a push config has a token from has_token (KI-176)
  frontend/src/api/types.ts
  frontend/src/features/a2a/A2APage.tsx
  frontend/src/i18n/en.ts
  frontend/src/i18n/locales/de.ts
Due: eslint, prettier

fix(http): the sub-agent search needs an editor and projects:write (KI-171)
  internal/adapter/http/routes.go
  internal/adapter/http/routes_roles_test.go
  internal/adapter/http/scopes.go
  internal/adapter/http/scopes_test.go
Due: go-imports-repo, go-vet-repo-mod, golangci-lint-repo-mod

fix(auth): an API key with an empty scope list keeps its user's rights (KI-175)
  internal/domain/user/apikey.go
  internal/domain/user/apikey_test.go
  internal/middleware/scope.go
  internal/middleware/scope_test.go
Due: go-imports-repo, go-vet-repo-mod, golangci-lint-repo-mod

docs: S10-A HTTP authorization and audit (KI-171..KI-176, KI-229)
  docs/SECURITY.md
  docs/project-status.md
  docs/todo.md
Due: none

docs(agents): commit size, regression tests, risk tiers, prompt rule; briefs and reviews in docs/agents
  .pre-commit-config.yaml
  AGENTS.md
  docs/agents/brief.md
  docs/agents/review.md
  docs/ci/ruleset-staging-main.json
  docs/dev-setup.md
  docs/todo.md
  scripts/check-agents-words.sh
Due: prettier

chore(scripts): repository process metrics and the file-size check
  docs/dev-setup.md
  docs/testing/repo-metrics.md
  scripts/check-file-sizes.sh
  scripts/repo-metrics.sh
Due: none

build: move the Go toolchain to 1.26.9
  .claude/hooks/session-start.sh
  .devcontainer/devcontainer.json
  .github/workflows/ci.yml
  AGENTS.md
  Dockerfile
  README.md
  docs/dev-setup.md
  docs/tech-stack.md
  go.mod
Due: prettier

build(deps): golang.org/x/net v0.60.0 and x/text v0.42.0 (GO-2026-6603, -6611, -6612, -6617, -6629)
  go.mod
  go.sum
Due: none
