Repository Strob0t/CodeForge: changes, and which pre-commit hooks are due for each by the changed paths.
All: go-imports-repo, go-vet-repo-mod, golangci-lint-repo-mod, eslint, prettier

.pre-commit-config.yaml:

repos:
  # -- General ----------------------------------------------
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: end-of-file-fixer
      - id: trailing-whitespace
      - id: check-yaml
      - id: check-json
      - id: check-merge-conflict
      - id: detect-private-key

  # -- Python (Ruff) -----------------------------------------
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.15.1
    hooks:
      # 1) Sort imports
      - id: ruff-check
        name: ruff (sort imports)
        args: ["--select", "I", "--fix"]

      # 2) Lint/fix
      - id: ruff-check
        args: ["--fix", "--exit-non-zero-on-fix"]

      # 3) Format
      - id: ruff-format

  # -- Go -----------------------------------------------------
  - repo: https://github.com/TekWizely/pre-commit-golang
    rev: v1.0.0-rc.1
    hooks:
      # Format
      - id: go-fmt

  # Go hooks that need GOROOT set for Go 1.25 toolchain
  - repo: local
    hooks:
      - id: go-imports-repo
        name: go-imports-repo
        entry: bash -c 'export GOROOT=/go/pkg/mod/golang.org/toolchain@v0.0.1-go1.25.0.linux-amd64 && goimports -l -d $(find . -name "*.go" -not -path "./data/*" -not -path "./vendor/*")'
        language: system
        pass_filenames: false
        types: [go]

      - id: go-vet-repo-mod
        name: go-vet-repo-mod
        entry: bash -c 'export GOROOT=/go/pkg/mod/golang.org/toolchain@v0.0.1-go1.25.0.linux-amd64 && go vet ./...'
        language: system
        pass_filenames: false
        types: [go]

      - id: golangci-lint-repo-mod
        name: golangci-lint-repo-mod
        entry: bash -c 'export GOROOT=/go/pkg/mod/golang.org/toolchain@v0.0.1-go1.25.0.linux-amd64 && golangci-lint run ./...'
        language: system
        pass_filenames: false
        types: [go]

  # -- TypeScript / JavaScript (ESLint + Prettier) ------------
  - repo: local
    hooks:
      - id: eslint
        name: eslint
        entry: frontend/node_modules/.bin/eslint --config frontend/eslint.config.js --fix
        language: system
        files: ^frontend/src/.*\.(ts|tsx|js|jsx)$
        types: [file]

      - id: prettier
        name: prettier
        entry: frontend/node_modules/.bin/prettier --write --ignore-unknown
        language: system
        files: \.(ts|tsx|js|jsx|json|css|scss|html)$
        types: [file]

fix(messagequeue): validate runs.*, context.* and repomap.* payloads (KI-20)
  internal/port/messagequeue/validator.go
  internal/port/messagequeue/validator_test.go
Due: go-imports-repo, go-vet-repo-mod, golangci-lint-repo-mod

fix(nats): durable consumers survive downtime without replay (KI-18)
  internal/adapter/nats/nats.go
  internal/adapter/nats/nats_test.go
Due: go-imports-repo, go-vet-repo-mod, golangci-lint-repo-mod

docs(adr): ADR-016 NATS delivery, acknowledgement and retry semantics
  docs/architecture/adr/016-nats-delivery-semantics.md
Due: none

fix(worker): durable consumers, ack-on-accept runs, bounded retries and DLQ (KI-18, KI-19)
  workers/codeforge/consumer/__init__.py
  workers/codeforge/consumer/_a2a.py
  workers/codeforge/consumer/_backend_health.py
  workers/codeforge/consumer/_base.py
  workers/codeforge/consumer/_benchmark.py
  workers/codeforge/consumer/_compact.py
  workers/codeforge/consumer/_context_events.py
  workers/codeforge/consumer/_conversation.py
  workers/codeforge/consumer/_delivery.py
  workers/codeforge/consumer/_handoff.py
  workers/codeforge/consumer/_prompt_evolution.py
  workers/codeforge/consumer/_runs.py
  workers/codeforge/consumer/_tasks.py
  workers/codeforge/nats_subjects.py
  workers/codeforge/runtime.py
  workers/tests/consumer/test_backend_health.py
  workers/tests/consumer/test_context_events.py
  workers/tests/consumer/test_conversation_handler.py
  workers/tests/consumer/test_delivery.py
  workers/tests/consumer/test_delivery_handlers.py
  workers/tests/consumer/test_prompt_evolution_events.py
  workers/tests/jetstream_fakes.py
  workers/tests/test_consumer.py
  workers/tests/test_consumer_a2a.py
  workers/tests/test_consumer_compact.py
  workers/tests/test_consumer_dispatch.py
  workers/tests/test_consumer_graph.py
  workers/tests/test_consumer_handoff.py
  workers/tests/test_consumer_repomap.py
  workers/tests/test_consumer_retrieval.py
  workers/tests/test_tasks_cancel_wiring.py
Due: none

fix(runtime): clear the conversation cancel mark when the next run starts (KI-24)
  cmd/codeforge/main.go
  internal/service/conversation.go
  internal/service/conversation_deps.go
  internal/service/conversation_dispatch.go
  internal/service/conversation_run_cancel_test.go
  internal/service/run_state.go
  internal/service/run_state_test.go
  internal/service/runtime.go
Due: go-imports-repo, go-vet-repo-mod, golangci-lint-repo-mod

docs: KI-18, KI-19, KI-20 fixed (ADR-016); new KI-65..KI-67
  CLAUDE.md
  docs/architecture.md
  docs/architecture/adr/001-nats-jetstream-message-queue.md
  docs/architecture/adr/016-nats-delivery-semantics.md
  docs/known-issues-fix-plan.md
  docs/todo.md
Due: none

fix(runtime): end every run through one completion path (KI-30)
  internal/service/orchestrator.go
  internal/service/orchestrator_run_stop_test.go
  internal/service/orchestrator_test.go
  internal/service/runtime.go
  internal/service/runtime_execution.go
  internal/service/runtime_lifecycle.go
  internal/service/runtime_lifecycle_test.go
  internal/service/runtime_stop_paths_test.go
Due: go-imports-repo, go-vet-repo-mod, golangci-lint-repo-mod

fix(store): status predicates on run, plan and team updates (KI-31)
  internal/adapter/postgres/helpers.go
  internal/adapter/postgres/store_plan.go
  internal/adapter/postgres/store_run.go
  internal/adapter/postgres/store_status_guard_test.go
  internal/adapter/postgres/store_team.go
  internal/domain/agent/team.go
  internal/domain/plan/plan.go
  internal/domain/plan/plan_test.go
  internal/domain/run/run.go
  internal/domain/run/run_test.go
  internal/service/orchestrator_consensus.go
  internal/service/orchestrator_consensus_test.go
  internal/service/orchestrator_plan_conflict_test.go
  internal/service/orchestrator_test.go
  internal/service/pool_manager.go
  internal/service/pool_manager_test.go
  internal/service/runtime.go
  internal/service/runtime_completion.go
  internal/service/runtime_execution.go
  internal/service/runtime_execution_test.go
  internal/service/runtime_hitl_race_test.go
  internal/service/runtime_lifecycle.go
  internal/service/runtime_run_conflict_test.go
  internal/service/runtime_test.go
Due: go-imports-repo, go-vet-repo-mod, golangci-lint-repo-mod

fix(events): persist result and plan events, never discard append errors (KI-32)
  internal/adapter/postgres/eventstore.go
  internal/adapter/postgres/eventstore_optional_ids_test.go
  internal/adapter/postgres/migrations/091_agent_events_optional_agent_task.sql
  internal/service/agent.go
  internal/service/event_persistence_test.go
  internal/service/orchestrator_consensus.go
  internal/service/review.go
Due: go-imports-repo, go-vet-repo-mod, golangci-lint-repo-mod

test(runtime): run stop paths keep their broadcasts tenant-scoped
  internal/service/runtime_stop_tenant_test.go
Due: go-imports-repo, go-vet-repo-mod, golangci-lint-repo-mod

test(autoagent): keep the loop busy in TestAutoAgentStart_Success
  internal/service/autoagent_test.go
Due: go-imports-repo, go-vet-repo-mod, golangci-lint-repo-mod

fix(docker): keep worker-healthcheck.py in the build context
  .dockerignore
Due: none

fix(deploy): make the production compose start (KI-43, KI-44, KI-45, KI-46)
  Dockerfile
  Dockerfile.worker
  docker-compose.prod.yml
  scripts/generate-secrets.sh
  scripts/validate-env.sh
Due: none

fix(compose): mount the PostgreSQL 18 volume at /var/lib/postgresql (KI-43)
  docker-compose.yml
Due: none

fix(blue-green): route Traefik to the frontend's port 8080 (KI-47)
  docker-compose.blue-green.yml
Due: none

fix(ci): scan the image that was just pushed, by digest (KI-48)
  .github/workflows/docker-build.yml
Due: none

feat(config): read secrets from <KEY>_FILE (KI-46)
  internal/config/loader.go
  internal/config/secret_files_test.go
  internal/secrets/env_loader.go
  internal/secrets/file_env_test.go
  internal/secrets/provider.go
Due: go-imports-repo, go-vet-repo-mod, golangci-lint-repo-mod

fix(scripts): restore terminates connections with a working psql call (KI-49)
  scripts/restore-postgres.sh
Due: none

fix(devcontainer): set LITELLM_BASE_URL instead of LITELLM_URL (KI-50)
  .devcontainer/devcontainer.json
Due: prettier

fix(config): replace non-ASCII characters in config files and scripts (KI-59)
  configs/benchmarks/agent-coding.yaml
  configs/benchmarks/basic-coding.yaml
  configs/benchmarks/tool-use-basic.yaml
  configs/model_pricing.yaml
  internal/service/prompts/system/tool_permissions.yaml
  internal/service/testdata/golden/architect-semiauto-full-prod-agentic.txt
  internal/service/testdata/golden/coder-headless-full-prod-agentic.txt
  internal/service/testdata/golden/coder-supervised-full-dev-agentic.txt
  internal/service/testdata/golden/debugger-fullauto-pure-prod-agentic.txt
  internal/service/testdata/golden/orchestrator-fullauto-full-prod-agentic.txt
  internal/service/testdata/golden/reviewer-autoedit-api-dev-agentic.txt
  internal/service/testdata/golden/security-headless-full-prod-agentic.txt
  internal/service/testdata/golden/tester-autoedit-api-dev-agentic.txt
  scripts/logs.sh
  scripts/resolve-docker-ips.sh
  scripts/test.sh
Due: none

fix(worker): settle runs, tasks and dead letters correctly; recover consumers (KI-18, KI-19 review)
  workers/codeforge/consumer/__init__.py
  workers/codeforge/consumer/_base.py
  workers/codeforge/consumer/_benchmark.py
  workers/codeforge/consumer/_context.py
  workers/codeforge/consumer/_conversation.py
  workers/codeforge/consumer/_delivery.py
  workers/codeforge/consumer/_graph.py
  workers/codeforge/consumer/_retrieval.py
  workers/codeforge/consumer/_runs.py
  workers/codeforge/consumer/_tasks.py
  workers/codeforge/graphrag.py
  workers/codeforge/nats_subjects.py
  workers/codeforge/repomap.py
  workers/codeforge/retrieval.py
  workers/codeforge/runtime.py
  workers/tests/consumer/test_context.py
  workers/tests/consumer/test_conversation_handler.py
  workers/tests/consumer/test_delivery.py
  workers/tests/consumer/test_delivery_handlers.py
  workers/tests/consumer/test_graph.py
  workers/tests/consumer/test_retrieval.py
  workers/tests/jetstream_fakes.py
  workers/tests/test_consumer.py
  workers/tests/test_consumer_graph.py
  workers/tests/test_consumer_retrieval.py
  workers/tests/test_retrieval_subagent.py
  workers/tests/test_run_exec_mode.py
  workers/tests/test_tenant_echo.py
Due: none

fix(nats): DLQ copies never deduped away; bounded, lazy in-progress acks (KI-18, KI-19 review)
  internal/adapter/nats/delivery_test.go
  internal/adapter/nats/nats.go
  internal/adapter/nats/nats_test.go
Due: go-imports-repo, go-vet-repo-mod, golangci-lint-repo-mod

docs(adr): ADR-016 after the delivery review fixes
  docs/architecture/adr/016-nats-delivery-semantics.md
Due: none

fix(policy): close shell parser bypasses found in review (KI-6 follow-up)
  internal/domain/policy/command.go
  internal/domain/policy/command_args.go
  internal/domain/policy/command_classify.go
  internal/domain/policy/command_fuzz_test.go
  internal/domain/policy/command_test.go
  internal/service/policy.go
  internal/service/policy_bypass_test.go
  internal/service/policy_concurrency_test.go
Due: go-imports-repo, go-vet-repo-mod, golangci-lint-repo-mod

fix(policy): allow-always works out of the box and reports failures
  codeforge.example.yaml
  frontend/src/features/project/PermissionRequestCard.test.tsx
  frontend/src/features/project/PermissionRequestCard.tsx
  frontend/src/i18n/en.ts
  frontend/src/i18n/locales/de.ts
  internal/config/config.go
  internal/config/loader_test.go
Due: go-imports-repo, go-vet-repo-mod, golangci-lint-repo-mod, eslint, prettier

test(policy): extend the shell bypass table with interpreter and git cases
  internal/service/policy_bypass_test.go
Due: go-imports-repo, go-vet-repo-mod, golangci-lint-repo-mod

feat(policy): show a display-only arguments preview to the approver
  frontend/src/api/websocket.ts
  frontend/src/features/project/ChatMessages.tsx
  frontend/src/features/project/PermissionRequestCard.test.tsx
  frontend/src/features/project/PermissionRequestCard.tsx
  internal/domain/event/agui.go
  internal/port/messagequeue/schemas_run.go
  internal/port/messagequeue/schemas_test.go
  internal/service/policy_allow_always_test.go
  internal/service/runtime_execution.go
  workers/codeforge/claude_code_executor.py
  workers/codeforge/runtime.py
  workers/codeforge/tool_executor.py
  workers/tests/test_agent_loop.py
  workers/tests/test_agent_loop_core.py
  workers/tests/test_agent_loop_edge_cases.py
  workers/tests/test_agent_loop_events.py
  workers/tests/test_claude_code_executor.py
  workers/tests/test_runtime_client.py
  workers/tests/test_tool_executor_policy.py
Due: go-imports-repo, go-vet-repo-mod, golangci-lint-repo-mod, eslint, prettier

fix(policy): legacy tool globs, trust minimum and checkpoints fail closed
  internal/domain/policy/evaluation.go
  internal/domain/policy/evaluation_test.go
  internal/domain/policy/policy_test.go
  internal/service/runtime_execution.go
  internal/service/runtime_internal_test.go
  internal/service/runtime_lifecycle.go
  internal/service/runtime_policy_test.go
  internal/service/runtime_trust_test.go
Due: go-imports-repo, go-vet-repo-mod, golangci-lint-repo-mod

fix(policy): allow-always extends the deciding profile, never re-pins
  frontend/src/api/resources/settings.ts
  frontend/src/api/websocket.ts
  frontend/src/features/project/ChatMessages.tsx
  frontend/src/features/project/PermissionRequestCard.test.tsx
  frontend/src/features/project/PermissionRequestCard.tsx
  internal/adapter/http/handlers_policy_crud.go
  internal/adapter/http/handlers_policy_test.go
  internal/domain/event/agui.go
  internal/service/conversation_dispatch.go
  internal/service/policy.go
  internal/service/policy_allow_always_test.go
  internal/service/policy_concurrency_test.go
  internal/service/runtime_approval.go
  internal/service/runtime_execution.go
  internal/service/runtime_hitl_test.go
  internal/service/runtime_internal_test.go
  internal/service/runtime_policy_test.go
Due: go-imports-repo, go-vet-repo-mod, golangci-lint-repo-mod, eslint, prettier

fix(policy): persist custom profiles to the file that defines them
  cmd/codeforge/main.go
  internal/adapter/http/handlers_policy_crud.go
  internal/adapter/http/handlers_policy_test.go
  internal/domain/policy/loader.go
  internal/domain/policy/loader_test.go
  internal/service/policy.go
  internal/service/policy_allow_always_test.go
  internal/service/policy_concurrency_test.go
  internal/service/policy_dir_test.go
Due: go-imports-repo, go-vet-repo-mod, golangci-lint-repo-mod

docs: KI-4 to KI-10 fixed (ADR-015 implemented); S1 done; new KI-68, KI-69
  CLAUDE.md
  docs/SECURITY.md
  docs/api/openapi.yaml
  docs/architecture.md
  docs/architecture/adr/007-policy-layer.md
  docs/architecture/adr/015-policy-deny-lists-and-tool-names.md
  docs/dev-setup.md
  docs/features/04-agent-orchestration.md
  docs/features/05-chat-enhancements.md
  docs/known-issues-fix-plan.md
  docs/project-status.md
  docs/todo.md
Due: none

fix(worker): agent-controlled subprocesses get a scrubbed environment
  workers/codeforge/agent_loop.py
  workers/codeforge/backends/_cli_base.py
  workers/codeforge/claude_code_executor.py
  workers/codeforge/evaluation/evaluators/functional_test.py
  workers/codeforge/evaluation/runners/agent.py
  workers/codeforge/qualitygate.py
  workers/codeforge/subprocess_env.py
  workers/codeforge/tools/bash.py
  workers/codeforge/tools/search_files.py
  workers/tests/test_subprocess_env.py
Due: none

fix(logging): never log URL userinfo; keep the host when redacting
  internal/adapter/nats/nats.go
  internal/config/config.go
  internal/config/reload_log_test.go
  internal/logger/redact.go
  internal/logger/redact_test.go
  internal/secrets/redact_url.go
  internal/secrets/redact_url_test.go
  workers/codeforge/consumer/__init__.py
  workers/codeforge/logger.py
  workers/tests/test_log_redaction.py
Due: go-imports-repo, go-vet-repo-mod, golangci-lint-repo-mod

fix(config): list settings split on commas and newlines
  internal/config/loader.go
  internal/config/secret_files_test.go
Due: go-imports-repo, go-vet-repo-mod, golangci-lint-repo-mod

feat(nats): configurable JetStream stream size (nats.stream_max_bytes)
  cmd/codeforge/main.go
  internal/adapter/nats/nats.go
  internal/adapter/nats/nats_test.go
  internal/adapter/nats/stream_config_test.go
  internal/config/config.go
  internal/config/loader.go
  internal/config/nats_stream_test.go
Due: go-imports-repo, go-vet-repo-mod, golangci-lint-repo-mod

fix(scripts): restore relies on dropdb --force alone
  scripts/restore-postgres.sh
Due: none

feat(config): CODEFORGE_AUTH_LLM_KEY_ENCRYPTION_SECRET (+ _FILE)
  cmd/codeforge/main.go
  internal/config/loader.go
  internal/config/secret_files_test.go
Due: go-imports-repo, go-vet-repo-mod, golangci-lint-repo-mod

fix(ignore): keep secrets out of build contexts; stop ignoring internal/secrets
  .dockerignore
  .gitignore
Due: none

fix(secrets): safe rotation, kept derived files, compose's own variables
  docker-compose.prod.yml
  scripts/generate-secrets.sh
  scripts/lib/compose-env.sh
Due: none

fix(compose): LiteLLM resolves host.docker.internal on Linux
  docker-compose.prod.yml
Due: none
