Repository Strob0t/CodeForge: changes, and which pre-commit hooks are due for each by the changed paths.
All: go-imports-repo, go-vet-repo-mod, golangci-lint-repo-mod, eslint, prettier

go-imports-repo:
  name: go-imports-repo
  entry: bash -c 'export GOROOT=/go/pkg/mod/golang.org/toolchain@v0.0.1-go1.25.0.linux-amd64 && goimports -l -d $(find . -name "*.go" -not -path "./data/*" -not -path "./vendor/*")'
  language: system
  pass_filenames: false

go-vet-repo-mod:
  name: go-vet-repo-mod
  entry: bash -c 'export GOROOT=/go/pkg/mod/golang.org/toolchain@v0.0.1-go1.25.0.linux-amd64 && go vet ./...'
  language: system
  pass_filenames: false

golangci-lint-repo-mod:
  name: golangci-lint-repo-mod
  entry: bash -c 'export GOROOT=/go/pkg/mod/golang.org/toolchain@v0.0.1-go1.25.0.linux-amd64 && golangci-lint run ./...'
  language: system
  pass_filenames: false

eslint:
  name: eslint
  entry: frontend/node_modules/.bin/eslint --config frontend/eslint.config.js --fix
  language: system

prettier:
  name: prettier
  entry: frontend/node_modules/.bin/prettier --write --ignore-unknown
  language: system

feat: optimized sampling parameters for local models (M6)
  workers/codeforge/agent_loop.py
  workers/codeforge/consumer/_conversation.py
  workers/codeforge/llm.py
Due: none

fix: Docker infrastructure hardening (I-002, I-006, I-007, I-008, I-009, I-010, I-014, I-015, I-017, I-019)
  .env.example
  .github/workflows/ci.yml
  Dockerfile.frontend
  docker-compose.prod.yml
  docker-compose.yml
  frontend/nginx.conf
  scripts/validate-env.sh
Due: none

chore: low-priority cleanup — deferred close, CI check, CSP (Q-009, A-011, S-011)
  .github/workflows/ci.yml
  internal/adapter/http/middleware.go
  internal/adapter/speckit/provider.go
Due: go-imports-repo, go-vet-repo-mod, golangci-lint-repo-mod

feat: compliance and documentation improvements (C-002, C-006, C-007, C-014, C-015, I-021, S-010)
  CHANGELOG.md
  cmd/codeforge/main.go
  docs/architecture.md
  frontend/src/features/project/FileTree.tsx
  internal/adapter/github/provider.go
  internal/config/config.go
Due: go-imports-repo, go-vet-repo-mod, golangci-lint-repo-mod, eslint, prettier

test: close test coverage gaps — new service tests, type-safe assertions, registry tests (Q-003, Q-006, Q-015, Q-017, Q-020)
  frontend/src/features/project/ChatPanel.tsx
  internal/adapter/ws/agui_events_test.go
  internal/port/pmprovider/registry_test.go
  internal/port/specprovider/registry_test.go
  internal/service/branchprotection_test.go
  internal/service/channel_test.go
Due: go-imports-repo, go-vet-repo-mod, golangci-lint-repo-mod, eslint, prettier

refactor: create port-layer interfaces for LLM, metrics, and auth (A-001, A-002, A-003, A-007, A-010)
  internal/adapter/auth/provider.go
  internal/adapter/litellm/client.go
  internal/adapter/otel/metrics.go
  internal/port/llm/provider.go
  internal/port/llm/ranking.go
  internal/port/llm/types.go
  internal/port/metrics/recorder.go
  internal/port/subscription/provider.go
  internal/service/meta_agent.go
  internal/service/model_registry.go
  internal/service/review_router.go
  internal/service/routing.go
  internal/service/subscription.go
Due: go-imports-repo, go-vet-repo-mod, golangci-lint-repo-mod

docs: audit report, remediation plans, and universal audit prompt
  docs/audits/2026-03-22-stub-finder-report.md
  docs/audits/2026-03-22-universal-audit-report.md
  docs/plans/2026-03-22-audit-remediation-plan.md
  docs/plans/2026-03-22-stub-finder-remediation-plan.md
  docs/plans/2026-03-23-worktree-F-go-security-hardening.md
  docs/plans/2026-03-23-worktree-G-hexagonal-ports.md
  docs/plans/2026-03-23-worktree-H-docker-hardening.md
  docs/plans/2026-03-23-worktree-I-python-error-handling.md
  docs/plans/2026-03-23-worktree-J-test-coverage.md
  docs/plans/2026-03-23-worktree-K-compliance.md
  docs/plans/2026-03-23-worktree-L-low-priority.md
  docs/plans/env-centralization-phase2-plan.md
  docs/prompts/universal-audit.md
Due: none

test: autonomous multi-language testplan Mode A report (25% score)
  docs/testing/2026-03-23-multi-language-autonomous-report.md
Due: none

docs: knowledge pipeline connection — design spec + plan
  docs/plans/2026-03-23-knowledge-pipeline.md
  docs/specs/2026-03-23-knowledge-pipeline-design.md
Due: none

feat: add EntryKnowledge kind + GetScopesForProject store method
  internal/adapter/http/handlers_test.go
  internal/adapter/postgres/store_scope.go
  internal/domain/context/pack.go
  internal/middleware/teststore_test.go
  internal/port/database/store.go
  internal/service/project_test.go
  internal/service/runtime_test.go
Due: go-imports-repo, go-vet-repo-mod, golangci-lint-repo-mod

feat: inject knowledge base entries into conversation context pipeline
  internal/service/context_optimizer.go
Due: go-imports-repo, go-vet-repo-mod, golangci-lint-repo-mod

feat: built-in framework skills for SolidJS and FastAPI
  workers/codeforge/skills/builtins/fastapi-patterns.yaml
  workers/codeforge/skills/builtins/solidjs-patterns.yaml
Due: none

feat: auto-inject framework skills based on stack detection
  workers/codeforge/consumer/_conversation.py
Due: none

revert: remove hardcoded framework skills and mapping
  workers/codeforge/consumer/_conversation.py
  workers/codeforge/skills/builtins/fastapi-patterns.yaml
  workers/codeforge/skills/builtins/solidjs-patterns.yaml
Due: none

feat(service): add logBestEffort helper for non-fatal error logging
  internal/service/log_best_effort.go
  internal/service/log_best_effort_test.go
Due: go-imports-repo, go-vet-repo-mod, golangci-lint-repo-mod

fix(service): replace 38 silenced store errors with logBestEffort warnings
  internal/service/a2a.go
  internal/service/agent.go
  internal/service/auth.go
  internal/service/benchmark.go
  internal/service/orchestrator.go
  internal/service/orchestrator_consensus.go
  internal/service/review.go
  internal/service/runtime.go
  internal/service/runtime_execution.go
  internal/service/runtime_lifecycle.go
  internal/service/session.go
Due: go-imports-repo, go-vet-repo-mod, golangci-lint-repo-mod

refactor(domain): move 44 broadcast event constants to domain/event
  internal/domain/event/broadcast.go
Due: go-imports-repo, go-vet-repo-mod, golangci-lint-repo-mod

refactor(domain): move 38 broadcast payload structs to domain/event
  internal/domain/event/broadcast_payloads.go
Due: go-imports-repo, go-vet-repo-mod, golangci-lint-repo-mod

refactor(domain): move 11 AG-UI event types + 11 structs to domain/event
  internal/domain/event/agui.go
Due: go-imports-repo, go-vet-repo-mod, golangci-lint-repo-mod

refactor(service): replace adapter/ws imports with domain/event
  internal/service/a2a.go
  internal/service/active_work.go
  internal/service/active_work_test.go
  internal/service/agent.go
  internal/service/agent_test.go
  internal/service/conversation.go
  internal/service/conversation_agent.go
  internal/service/conversation_agent_run_complete_test.go
  internal/service/graph.go
  internal/service/handoff.go
  internal/service/lsp.go
  internal/service/model_registry.go
  internal/service/model_registry_test.go
  internal/service/orchestrator_consensus.go
  internal/service/phase23d_test.go
  internal/service/pool_manager.go
  internal/service/quarantine.go
  internal/service/repomap.go
  internal/service/retrieval.go
  internal/service/review.go
  internal/service/roadmap.go
  internal/service/runtime.go
  internal/service/runtime_approval.go
  internal/service/runtime_coverage_test.go
  internal/service/runtime_execution.go
  internal/service/runtime_execution_extended_test.go
  internal/service/runtime_lifecycle.go
  internal/service/runtime_test.go
  internal/service/shared_context.go
  internal/service/vcs_webhook.go
Due: go-imports-repo, go-vet-repo-mod, golangci-lint-repo-mod

feat: add docs-mcp-server to docker-compose
  docker-compose.yml
Due: none

refactor(adapter/ws): remove moved event types, keep only Hub infrastructure
  internal/adapter/a2a/executor.go
  internal/adapter/ws/agui_events.go
  internal/adapter/ws/agui_events_test.go
  internal/adapter/ws/events.go
  internal/adapter/ws/hub_test.go
Due: go-imports-repo, go-vet-repo-mod, golangci-lint-repo-mod

refactor: move OTEL span helpers to internal/telemetry, use port/metrics.Recorder
  internal/adapter/otel/setup_test.go
  internal/service/conversation.go
  internal/service/conversation_agent.go
  internal/service/runtime.go
  internal/service/runtime_execution.go
  internal/service/runtime_lifecycle.go
  internal/telemetry/spans.go
Due: go-imports-repo, go-vet-repo-mod, golangci-lint-repo-mod

refactor: create codeintel port interface, decouple LSP service from adapters
  internal/adapter/lsp/noop.go
  internal/port/codeintel/provider.go
  internal/service/lsp.go
  internal/service/lsp_source_test.go
Due: go-imports-repo, go-vet-repo-mod, golangci-lint-repo-mod

refactor(handlers): replace concrete adapter types with port interfaces
  cmd/codeforge/main.go
  internal/adapter/http/handlers.go
  internal/adapter/http/handlers_agent_features.go
  internal/adapter/http/handlers_llm.go
  internal/adapter/http/handlers_test.go
  internal/port/tokenexchange/exchanger.go
Due: go-imports-repo, go-vet-repo-mod, golangci-lint-repo-mod

refactor: remove dead MemoryStore class and associated tests
  workers/codeforge/memory/__init__.py
  workers/codeforge/memory/embedding.py
  workers/codeforge/memory/storage.py
  workers/tests/conftest.py
  workers/tests/test_memory_tenant.py
Due: none

refactor: remove legacy BenchmarkRunner superseded by runners/ hierarchy
  workers/codeforge/evaluation/runner.py
  workers/tests/test_evaluation_runner.py
Due: none

refactor: relocate misplaced test files from tools/ to tests/
  workers/tests/test_tool_diff_output.py
  workers/tests/test_tool_lint.py
Due: none

feat(schemas): add ConversationCompactComplete and ReviewTriggerComplete payload structs
  internal/port/messagequeue/contract_test.go
  internal/port/messagequeue/schemas.go
  internal/port/messagequeue/validator.go
Due: go-imports-repo, go-vet-repo-mod, golangci-lint-repo-mod

feat: wire DiffSummaryModal and RewindTimeline into chat UI
  frontend/src/features/chat/commandStore.ts
  frontend/src/features/project/ChatHeader.tsx
  frontend/src/features/project/ChatMessages.tsx
  frontend/src/features/project/ChatPanel.tsx
  frontend/src/features/project/chatPanelTypes.ts
  frontend/src/features/project/useChatAGUI.ts
Due: eslint, prettier

feat(conversation): add HandleCompactComplete subscriber for conversation.compact.complete
  internal/service/conversation.go
  internal/service/conversation_compact_test.go
Due: go-imports-repo, go-vet-repo-mod, golangci-lint-repo-mod

feat: wire 14 orphaned project panels into ProjectDetailPage
  frontend/src/features/project/ProjectDetailPage.tsx
  frontend/src/i18n/en.ts
  frontend/src/i18n/locales/de.ts
Due: eslint, prettier

feat(prompt-evolution): add HandleReflectComplete and StartSubscribers
  internal/service/prompt_evolution.go
  internal/service/prompt_evolution_test.go
Due: go-imports-repo, go-vet-repo-mod, golangci-lint-repo-mod

test(service): add unit tests for runtime lifecycle functions
  internal/service/runtime_execution_test.go
  internal/service/runtime_lifecycle_test.go
  internal/service/runtime_test.go
  workers/tests/consumer/test_conversation_handler.py
Due: go-imports-repo, go-vet-repo-mod, golangci-lint-repo-mod

feat(review-trigger): add HandleReviewTriggerComplete subscriber
  internal/service/review_trigger.go
  internal/service/review_trigger_complete_test.go
Due: go-imports-repo, go-vet-repo-mod, golangci-lint-repo-mod

feat(main): wire compact, reflect, mutate, and review-trigger subscribers
  cmd/codeforge/main.go
Due: go-imports-repo, go-vet-repo-mod, golangci-lint-repo-mod

refactor: remove 4 dead NATS subject constants
  internal/port/messagequeue/contract_test.go
  internal/port/messagequeue/queue.go
  internal/port/messagequeue/queue_test.go
  internal/port/messagequeue/validator.go
  workers/codeforge/consumer/_subjects.py
Due: go-imports-repo, go-vet-repo-mod, golangci-lint-repo-mod

refactor: remove 11 unused frontend API methods
  frontend/src/api/client.test.ts
  frontend/src/api/resources/agents.ts
  frontend/src/api/resources/misc.ts
  frontend/src/api/resources/projects.ts
Due: eslint, prettier

chore: regenerate contract test fixtures and remove stale fixtures
  internal/port/messagequeue/testdata/contracts/conversation_compact_complete.json
  internal/port/messagequeue/testdata/contracts/review_approval_response.json
  internal/port/messagequeue/testdata/contracts/review_boundary_analyzed.json
  internal/port/messagequeue/testdata/contracts/review_trigger_complete.json
Due: prettier

docs: update architecture docs for audit remediation (F-002, F-008, F-010, F-033, F-034)
  CLAUDE.md
  docs/architecture.md
  docs/audits/2026-03-23-universal-audit-report.md
  docs/dev-setup.md
  docs/todo.md
Due: none

Path conditions:
  go-imports-repo: any of: \.go$
  go-vet-repo-mod: any of: \.go$
  golangci-lint-repo-mod: any of: \.go$
  eslint: any of: ^frontend/src/.*\.(ts|tsx|js|jsx)$
  prettier: any of: \.(ts|tsx|js|jsx|json|css|scss|html)$
