Repository Strob0t/CodeForge: changes, and which pre-commit hooks are due for each by the changed paths.
All: go-imports-repo, go-vet-repo-mod, golangci-lint-repo-mod, eslint, prettier

.pre-commit-config.yaml:

repos:
  # -- General ----------------------------------------------
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: end-of-file-fixer
      - id: trailing-whitespace
      - id: check-yaml
      - id: check-json
      - id: check-merge-conflict
      - id: detect-private-key

  # -- Python (Ruff) -----------------------------------------
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.15.1
    hooks:
      # 1) Sort imports
      - id: ruff-check
        name: ruff (sort imports)
        args: ["--select", "I", "--fix"]

      # 2) Lint/fix
      - id: ruff-check
        args: ["--fix", "--exit-non-zero-on-fix"]

      # 3) Format
      - id: ruff-format

  # -- Go -----------------------------------------------------
  - repo: https://github.com/TekWizely/pre-commit-golang
    rev: v1.0.0-rc.1
    hooks:
      # Format
      - id: go-fmt

  # Go hooks that need GOROOT set for Go 1.25 toolchain
  - repo: local
    hooks:
      - id: go-imports-repo
        name: go-imports-repo
        entry: bash -c 'export GOROOT=/go/pkg/mod/golang.org/toolchain@v0.0.1-go1.25.0.linux-amd64 && goimports -l -d $(find . -name "*.go" -not -path "./data/*" -not -path "./vendor/*")'
        language: system
        pass_filenames: false
        types: [go]

      - id: go-vet-repo-mod
        name: go-vet-repo-mod
        entry: bash -c 'export GOROOT=/go/pkg/mod/golang.org/toolchain@v0.0.1-go1.25.0.linux-amd64 && go vet ./...'
        language: system
        pass_filenames: false
        types: [go]

      - id: golangci-lint-repo-mod
        name: golangci-lint-repo-mod
        entry: bash -c 'export GOROOT=/go/pkg/mod/golang.org/toolchain@v0.0.1-go1.25.0.linux-amd64 && golangci-lint run ./...'
        language: system
        pass_filenames: false
        types: [go]

  # -- TypeScript / JavaScript (ESLint + Prettier) ------------
  - repo: local
    hooks:
      - id: eslint
        name: eslint
        entry: frontend/node_modules/.bin/eslint --config frontend/eslint.config.js --fix
        language: system
        files: ^frontend/src/.*\.(ts|tsx|js|jsx)$
        types: [file]

      - id: prettier
        name: prettier
        entry: frontend/node_modules/.bin/prettier --write --ignore-unknown
        language: system
        files: \.(ts|tsx|js|jsx|json|css|scss|html)$
        types: [file]

chore(release): version 0.9.0
  VERSION
  docker-compose.prod.yml
  frontend/package-lock.json
  frontend/package.json
  pyproject.toml
  scripts/sync-version.sh
Due: prettier

docs: S9-B review fixes (Claude Code build option, release tags, GHES, 0.9.0)
  README.md
  docs/dev-setup.md
  docs/todo.md
Due: none

chore(mcp): add gopls, Playwright and Context7 MCP servers
  .claude/hooks/session-start.sh
  .gitignore
  .mcp.json
  scripts/mcp-playwright.sh
Due: prettier

chore(mcp): add Serena as a read-only MCP trial
  .claude/hooks/session-start.sh
  .gitignore
  .mcp.json
  .serena/claude-code-context.yml
  .serena/project.yml
Due: prettier

docs: MCP servers for Claude Code sessions (gopls, Playwright, Context7, Serena)
  docs/dev-setup.md
  docs/tech-stack.md
  docs/todo.md
Due: none

fix(delivery): evaluate branch protection rules on delivery (KI-205)
  cmd/codeforge/main.go
  internal/service/deliver.go
  internal/service/deliver_protection.go
  internal/service/deliver_protection_test.go
Due: go-imports-repo, go-vet-repo-mod, golangci-lint-repo-mod

fix(trust): fail closed on an unknown trust minimum (KI-204)
  internal/config/config.go
  internal/config/loader.go
  internal/config/quarantine_test.go
  internal/domain/policy/policy_test.go
  internal/domain/policy/validate.go
  internal/domain/trust/trust.go
  internal/domain/trust/trust_test.go
Due: go-imports-repo, go-vet-repo-mod, golangci-lint-repo-mod

fix(roadmap): merge checkbox and roadmap status three ways (KI-203)
  internal/adapter/http/handlers_test.go
  internal/adapter/postgres/migrations/128_roadmap_spec_files.sql
  internal/adapter/postgres/store_roadmap.go
  internal/adapter/postgres/store_roadmap_spec_file_test.go
  internal/domain/roadmap/roadmap.go
  internal/middleware/teststore_test.go
  internal/port/database/store_roadmap.go
  internal/service/project_test.go
  internal/service/roadmap_import.go
  internal/service/roadmap_spec_files.go
  internal/service/roadmap_spec_sync_test.go
  internal/service/roadmap_sync.go
  internal/service/runtime_test.go
Due: go-imports-repo, go-vet-repo-mod, golangci-lint-repo-mod

chore(db): renumber the roadmap spec files migration to 128
  internal/adapter/postgres/migrations/128_roadmap_spec_files.sql
Due: none

fix(delivery): a branch protection rule protects only the branches it matches (KI-205)
  internal/domain/branchprotection/evaluate.go
  internal/domain/branchprotection/rules.go
  internal/domain/branchprotection/rules_test.go
  internal/service/deliver.go
  internal/service/deliver_protection.go
  internal/service/deliver_protection_test.go
Due: go-imports-repo, go-vet-repo-mod, golangci-lint-repo-mod

fix(roadmap): keep a renamed feature on its line of an unchanged spec file (KI-203)
  internal/adapter/markdownspec/patch_test.go
  internal/adapter/markdownspec/writer.go
  internal/port/specprovider/provider.go
  internal/service/roadmap_import.go
  internal/service/roadmap_spec_files.go
  internal/service/roadmap_spec_sync_test.go
  internal/service/roadmap_sync.go
Due: go-imports-repo, go-vet-repo-mod, golangci-lint-repo-mod

fix(roadmap): never re-render spec files on sync, import checkbox status (KI-203)
  internal/adapter/http/handlers_roadmap.go
  internal/adapter/http/handlers_roadmap_sync_test.go
  internal/adapter/http/handlers_test.go
  internal/adapter/markdownspec/parser.go
  internal/adapter/markdownspec/parser_fence_test.go
  internal/adapter/markdownspec/patch_test.go
  internal/adapter/markdownspec/provider.go
  internal/adapter/markdownspec/writer.go
  internal/adapter/markdownspec/writer_test.go
  internal/adapter/postgres/migrations/130_roadmap_spec_files.sql
  internal/adapter/postgres/store_roadmap.go
  internal/adapter/postgres/store_roadmap_spec_file_test.go
  internal/middleware/teststore_test.go
  internal/port/database/store_roadmap.go
  internal/port/specprovider/provider.go
  internal/port/specprovider/symlink_test.go
  internal/service/project_test.go
  internal/service/roadmap_import.go
  internal/service/roadmap_spec_files.go
  internal/service/roadmap_spec_sync_test.go
  internal/service/roadmap_sync.go
  internal/service/runtime_test.go
  internal/service/workspace_symlink_test.go
Due: go-imports-repo, go-vet-repo-mod, golangci-lint-repo-mod

fix(roadmap): create one feature per external ID in a PM import batch (KI-203)
  internal/service/roadmap_import.go
  internal/service/roadmap_spec_sync_test.go
Due: go-imports-repo, go-vet-repo-mod, golangci-lint-repo-mod

fix(roadmap): patch spec file markers in place (KI-203)
  internal/service/roadmap_sync.go
  internal/workspacefs/workspacefs.go
  internal/workspacefs/workspacefs_test.go
Due: go-imports-repo, go-vet-repo-mod, golangci-lint-repo-mod

docs: S10-G roadmap spec sync, trust minimum, branch protection rules
  docs/dev-setup.md
  docs/features/02-roadmap-feature-map.md
  docs/todo.md
Due: none

fix(ci): allowlist the synthetic test fixtures gitleaks reports
  .gitleaks.toml
  docs/todo.md
Due: none

fix(prompt): fire reminders only under their runtime condition (KI-190)
  internal/domain/prompt/library.go
  internal/domain/prompt/library_test.go
  internal/service/conversation_agent_prompt.go
  internal/service/conversation_dispatch.go
  internal/service/conversation_prompt.go
  internal/service/conversation_reminders_test.go
  internal/service/prompt_assembler.go
  internal/service/prompt_assembler_test.go
  internal/service/prompt_library_test.go
  internal/service/prompts/reminders/budget_warning.yaml
  internal/service/prompts/reminders/context_compaction.yaml
  internal/service/prompts/reminders/file_modified.yaml
  internal/service/prompts/reminders/plan_mode.yaml
  internal/service/prompts/reminders/scope_drift.yaml
  internal/service/prompts/reminders/stall_detection.yaml
  internal/service/prompts/reminders/verify_checkpoint.yaml
  internal/service/testdata/golden/architect-semiauto-full-prod-agentic.txt
  internal/service/testdata/golden/coder-headless-full-prod-agentic.txt
  internal/service/testdata/golden/coder-supervised-full-dev-agentic.txt
  internal/service/testdata/golden/debugger-fullauto-pure-prod-agentic.txt
  internal/service/testdata/golden/documenter-supervised-pure-dev-passive.txt
  internal/service/testdata/golden/frontend-supervised-full-dev-passive.txt
  internal/service/testdata/golden/orchestrator-fullauto-full-prod-agentic.txt
  internal/service/testdata/golden/reviewer-autoedit-api-dev-agentic.txt
  internal/service/testdata/golden/security-headless-full-prod-agentic.txt
  internal/service/testdata/golden/tester-autoedit-api-dev-agentic.txt
Due: go-imports-repo, go-vet-repo-mod, golangci-lint-repo-mod

fix(worker): count only consecutive identical calls as a stall (KI-191)
  workers/codeforge/stall_detection.py
  workers/tests/test_stall_detection.py
Due: none

fix(conversation): refuse agentic turns without a workspace (KI-193)
  internal/service/conversation_agent.go
  internal/service/conversation_dispatch.go
  internal/service/conversation_workspace_test.go
  workers/codeforge/consumer/_conversation.py
  workers/tests/consumer/test_conversation_handler.py
  workers/tests/consumer/test_conversation_workspace.py
  workers/tests/consumer/test_delivery_handlers.py
  workers/tests/consumer/test_start_cancel.py
  workers/tests/consumer/test_tool_identity_handlers.py
  workers/tests/test_conversation_model_resolution.py
  workers/tests/test_mode_tool_lists.py
Due: go-imports-repo, go-vet-repo-mod, golangci-lint-repo-mod

fix(worker): offer MCP, skill and search tools in every turn (KI-192)
  workers/codeforge/consumer/_conversation.py
  workers/codeforge/executor.py
  workers/codeforge/loop_config.py
  workers/codeforge/tools/tool_router.py
  workers/tests/test_agent_loop_text_protocol.py
  workers/tests/test_handoff_always_offered.py
  workers/tests/test_implementation_turn.py
  workers/tests/test_mode_tools_capability.py
  workers/tests/test_tool_config_drift.py
  workers/tests/test_tool_output_max_chars_loop.py
  workers/tests/test_tool_router.py
Due: none

fix(worker): keep user work and the best rollout in multi-rollout turns (KI-195)
  workers/codeforge/agent_loop.py
  workers/tests/test_conversation_rollout.py
  workers/tests/test_rollout_workspace.py
Due: none

fix(worker): bound rollout git calls and stop their process group (KI-195)
  workers/codeforge/agent_loop.py
  workers/tests/test_rollout_workspace.py
Due: none

fix(worker): no side LLM calls to models the user did not choose (KI-192)
  workers/codeforge/consumer/_conversation.py
  workers/codeforge/consumer/_conversation_prompt_builder.py
  workers/codeforge/consumer/_conversation_routing.py
  workers/codeforge/skills/selector.py
  workers/tests/consumer/test_conversation_handler.py
  workers/tests/consumer/test_last_user_message.py
  workers/tests/test_side_llm_calls.py
Due: none

fix(worker): prefetch docs through the tool-call policy (KI-192)
  workers/codeforge/consumer/_conversation.py
  workers/tests/test_docs_prefetch.py
Due: none

fix(worker): route, select skills and prefetch docs by the turn's message (KI-192)
  workers/codeforge/consumer/_conversation.py
  workers/codeforge/consumer/_conversation_prompt_builder.py
  workers/tests/consumer/test_last_user_message.py
Due: none

fix(worker): stop rollouts when the workspace changes outside them (KI-195)
  workers/codeforge/agent_loop.py
  workers/tests/test_conversation_rollout.py
  workers/tests/test_rollout_workspace.py
Due: none

fix(worker): reset rollouts on the start branch, never a branch a rollout checked out (KI-195)
  workers/codeforge/agent_loop.py
  workers/tests/test_rollout_workspace.py
Due: none

fix(worker): one docs prefetch call per turn (KI-192)
  workers/codeforge/consumer/_conversation.py
  workers/tests/test_docs_prefetch.py
Due: none

fix(worker): detect a repeated pair of identical calls as a stall (KI-191)
  workers/codeforge/stall_detection.py
  workers/tests/test_stall_detection.py
Due: none

fix(worker): filter fallbacks by the user's key before cutting them (KI-192)
  workers/codeforge/consumer/_conversation.py
  workers/codeforge/consumer/_conversation_routing.py
  workers/tests/test_side_llm_calls.py
Due: none

fix(worker): cap the MCP tools a turn is offered (KI-192)
  workers/codeforge/constants.py
  workers/codeforge/tools/tool_router.py
  workers/tests/test_tool_router.py
Due: none

refactor(worker): remove the unused LLM skill selection (KI-192)
  workers/codeforge/skills/__init__.py
  workers/codeforge/skills/selector.py
  workers/tests/test_skill_selector.py
Due: none

fix(conversation): run one rollout while other work is active on the project (KI-195)
  internal/adapter/http/handlers_test.go
  internal/adapter/postgres/store_heartbeat.go
  internal/adapter/postgres/store_project_active_work_test.go
  internal/middleware/teststore_test.go
  internal/port/database/store_conversation.go
  internal/service/conversation_dispatch.go
  internal/service/conversation_rollout_test.go
  internal/service/heartbeat_mock_store_test.go
  internal/service/project_test.go
  internal/service/runtime_test.go
Due: go-imports-repo, go-vet-repo-mod, golangci-lint-repo-mod

fix(worker): refuse a run whose workspace is not a directory (KI-193)
  workers/codeforge/consumer/_runs.py
  workers/tests/consumer/test_delivery_handlers.py
  workers/tests/consumer/test_run_workspace.py
  workers/tests/consumer/test_start_cancel.py
  workers/tests/consumer/test_tool_identity_handlers.py
  workers/tests/test_consumer.py
  workers/tests/test_run_exec_mode.py
  workers/tests/test_tasks_cancel_wiring.py
  workers/tests/test_tenant_echo.py
Due: none

docs: S10-E1 agent loop fixes (reminders, stall detection, tool selection, workspace, rollouts)
  docs/features/04-agent-orchestration.md
  docs/todo.md
Due: none

fix(scripts): restore never drops the database for an unreadable backup (KI-212)
  scripts/backup-postgres.sh
  scripts/restore-postgres.sh
  workers/tests/test_operations.py
Due: none

fix(routing): write model capabilities only when they change (KI-210)
  internal/service/routing.go
  internal/service/routing_test.go
Due: go-imports-repo, go-vet-repo-mod, golangci-lint-repo-mod

fix(deploy): trust the proxy addresses of the public network (KI-211)
  docker-compose.prod.yml
  workers/tests/test_deployment_isolation.py
Due: none

fix(config): fail fast on a missing config file, bad env values and auth off in production (KI-213)
  internal/config/adopt_roots_test.go
  internal/config/agent_tools_test.go
  internal/config/drift_test.go
  internal/config/failfast_test.go
  internal/config/keyed_providers_test.go
  internal/config/loader.go
  internal/config/loader_integration_test.go
  internal/config/loader_test.go
  internal/config/mcp_allowed_hosts_test.go
  internal/config/nats_stream_test.go
  internal/config/pm_allowed_hosts_test.go
  internal/config/retention_test.go
  internal/config/secret_files_test.go
  internal/config/stall_replan_test.go
  internal/config/tool_acls_test.go
Due: go-imports-repo, go-vet-repo-mod, golangci-lint-repo-mod

fix(core): listen address, Secure cookie key and exit on HTTP failure (KI-213)
  .vscode/launch.json
  cmd/codeforge/main.go
  cmd/codeforge/serve.go
  cmd/codeforge/serve_test.go
  codeforge.example.yaml
  docker-compose.prod.yml
  internal/config/config.go
  internal/config/loader.go
  internal/config/server_test.go
  scripts/live-e2e/env.example.sh
  scripts/test.sh
  workers/tests/test_deployment_isolation.py
Due: go-imports-repo, go-vet-repo-mod, golangci-lint-repo-mod, prettier
