Repository Strob0t/CodeForge: changes, and which pre-commit hooks are due for each by the changed paths.
All: go-imports-repo, go-vet-repo-mod, golangci-lint-repo-mod, eslint, prettier

go-imports-repo:
  name: go-imports-repo
  entry: bash -c 'export GOROOT=/go/pkg/mod/golang.org/toolchain@v0.0.1-go1.25.0.linux-amd64 && goimports -l -d $(find . -name "*.go" -not -path "./data/*" -not -path "./vendor/*")'
  language: system
  pass_filenames: false

go-vet-repo-mod:
  name: go-vet-repo-mod
  entry: bash -c 'export GOROOT=/go/pkg/mod/golang.org/toolchain@v0.0.1-go1.25.0.linux-amd64 && go vet ./...'
  language: system
  pass_filenames: false

golangci-lint-repo-mod:
  name: golangci-lint-repo-mod
  entry: bash -c 'export GOROOT=/go/pkg/mod/golang.org/toolchain@v0.0.1-go1.25.0.linux-amd64 && golangci-lint run ./...'
  language: system
  pass_filenames: false

eslint:
  name: eslint
  entry: frontend/node_modules/.bin/eslint --config frontend/eslint.config.js --fix
  language: system

prettier:
  name: prettier
  entry: frontend/node_modules/.bin/prettier --write --ignore-unknown
  language: system

feat(routing): add env var support for Claude Code executor config
  docs/dev-setup.md
  docs/todo.md
  workers/codeforge/claude_code_executor.py
  workers/codeforge/consumer/_conversation.py
  workers/tests/test_claude_code_executor.py
Due: none

fix(ui): apply improved empty state icons and page transition from worktree agents
  frontend/src/features/benchmarks/BenchmarkPage.tsx
  frontend/src/features/knowledgebases/KnowledgeBasesPage.tsx
  frontend/src/features/mcp/MCPServersPage.tsx
  frontend/src/features/project/ProjectDetailPage.tsx
  frontend/src/features/prompts/PromptEditorPage.tsx
  frontend/src/ui/icons/EmptyStateIcons.tsx
  frontend/src/ui/layout/PageTransition.tsx
Due: eslint, prettier

docs: update project docs for UX/UI audit implementation
  CLAUDE.md
  docs/architecture.md
  docs/dev-setup.md
  docs/features/01-project-dashboard.md
  docs/project-status.md
  docs/tech-stack.md
  docs/todo.md
Due: none

docs: add interactive QA test report (42 phases, playwright-mcp)
  docs/testing/2026-03-18-interactive-qa-report.md
Due: none

fix(benchmark): resolve 6 bugs preventing benchmark runs from completing
  docs/testing/benchmark-testmatrix.md
  frontend/e2e/benchmark-validation/full-validation.spec.ts
  frontend/e2e/benchmark-validation/matrix.ts
  frontend/e2e/benchmark-validation/types.ts
  internal/service/benchmark.go
  workers/codeforge/consumer/_benchmark.py
  workers/codeforge/evaluation/litellm_judge.py
Due: go-imports-repo, go-vet-repo-mod, golangci-lint-repo-mod, prettier

fix(benchmark): resolve default dataset for suite-based runs
  workers/codeforge/consumer/_benchmark.py
Due: none

feat(ui): replace IBM Plex Sans with SUSE Mono body font
  CLAUDE.md
  docs/architecture.md
  docs/dev-setup.md
  docs/tech-stack.md
  frontend/public/fonts/IBMPlexSans-Bold.woff2
  frontend/public/fonts/IBMPlexSans-Medium.woff2
  frontend/public/fonts/IBMPlexSans-Regular.woff2
  frontend/public/fonts/SUSEMono-Latin.woff2
  frontend/public/fonts/SUSEMono-LatinExt.woff2
  frontend/src/features/dev/DesignSystemPage.tsx
  frontend/src/index.css
  frontend/src/ui/DESIGN-SYSTEM.md
Due: eslint, prettier

fix(ui): add missing SkeletonCard/SkeletonTable + update QA report
  docs/testing/2026-03-18-interactive-qa-report.md
  frontend/src/ui/composites/SkeletonCard.tsx
  frontend/src/ui/composites/SkeletonTable.tsx
Due: eslint, prettier

fix(ui): add missing SkeletonCard/SkeletonTable + update QA report
  CLAUDE.md
  docs/architecture.md
  docs/dev-setup.md
  docs/tech-stack.md
  frontend/public/fonts/SUSEMono-Latin.woff2
  frontend/public/fonts/SUSEMono-LatinExt.woff2
  frontend/public/fonts/SourceSans3-Latin.woff2
  frontend/public/fonts/SourceSans3-LatinExt.woff2
  frontend/src/App.tsx
  frontend/src/api/types.ts
  frontend/src/features/dev/DesignSystemPage.tsx
  frontend/src/index.css
  frontend/src/ui/DESIGN-SYSTEM.md
  internal/adapter/postgres/store_channel.go
  internal/service/conversation_agent.go
Due: go-imports-repo, go-vet-repo-mod, golangci-lint-repo-mod, eslint, prettier

docs(plan): add TaskForge evaluation bugfix implementation plan
  docs/superpowers/plans/2026-03-19-taskforge-evaluation-bugfixes.md
Due: none

fix(goals): auto-persist agent-proposed goals to DB on trajectory event
  cmd/codeforge/main.go
  internal/service/runtime.go
  internal/service/runtime_coverage_test.go
Due: go-imports-repo, go-vet-repo-mod, golangci-lint-repo-mod

fix(policy): read config.policy_preset as fallback for conversation tool calls
  internal/service/runtime_coverage_test.go
  internal/service/runtime_execution.go
Due: go-imports-repo, go-vet-repo-mod, golangci-lint-repo-mod

fix(policy): auto-allow DecisionAsk for full-auto profiles, skip HITL wait
  internal/service/runtime_coverage_test.go
  internal/service/runtime_execution.go
Due: go-imports-repo, go-vet-repo-mod, golangci-lint-repo-mod

fix(onboarding): persist detected_languages to project config after stack scan
  internal/service/project.go
  internal/service/project_test.go
Due: go-imports-repo, go-vet-repo-mod, golangci-lint-repo-mod

fix(ui): show context-appropriate text in FilePanel based on workspace state
  frontend/src/features/project/FilePanel.tsx
  frontend/src/features/project/ProjectDetailPage.tsx
  frontend/src/i18n/en.ts
  frontend/src/i18n/locales/de.ts
Due: eslint, prettier

fix(ui): resolve 5 pre-existing TypeScript compilation errors
  frontend/e2e/benchmark-validation/full-validation.spec.ts
  frontend/src/features/canvas/export/exportJson.ts
  frontend/src/features/project/RefactorApproval.tsx
  frontend/src/i18n/en.ts
  frontend/src/i18n/locales/de.ts
Due: eslint, prettier

docs(testing): add autonomous goal-to-program test plan with 4 difficulty levels
  docs/testing/2026-03-19-autonomous-goal-to-program-testplan.md
Due: none

docs(testing): add auto-startup of all services to Phase 0
  docs/testing/2026-03-19-autonomous-goal-to-program-testplan.md
Due: none

fix(testing): resolve WSL2 Docker networking in testplan Phase 0
  docs/testing/2026-03-19-autonomous-goal-to-program-testplan.md
Due: none

docs(todo): add 5 bugs found during autonomous testplan execution
  docs/todo.md
Due: none

fix: resolve 5 bugs blocking autonomous agent execution
  docs/todo.md
  internal/adapter/http/handlers_conversation.go
  internal/domain/mode/presets.go
  internal/service/runtime.go
  internal/service/runtime_execution.go
  scripts/resolve-docker-ips.sh
  workers/codeforge/consumer/_benchmark.py
  workers/codeforge/consumer/_conversation.py
  workers/codeforge/model_resolver.py
  workers/codeforge/routing/key_filter.py
Due: go-imports-repo, go-vet-repo-mod, golangci-lint-repo-mod

docs(spec): add design spec for 4 frontend UI fixes
  docs/superpowers/specs/2026-03-19-frontend-ui-fixes-design.md
Due: none

docs(plan): add implementation plan for 4 frontend UI fixes
  docs/superpowers/plans/2026-03-19-frontend-ui-fixes-plan.md
Due: none

fix(ui): enable root right-click context menu in file browser
  frontend/src/features/project/FileTree.tsx
Due: eslint, prettier

fix(ui): widen agent messages containing tool calls
  frontend/src/features/project/ChatPanel.tsx
Due: eslint, prettier

fix(ui): disable notification sound by default
  frontend/src/features/notifications/notificationSettings.ts
Due: eslint, prettier

fix: NATS config, bypass-all HITL, disable auto-onboarding
  frontend/src/App.tsx
  frontend/src/features/notifications/NotificationCenter.tsx
  frontend/src/features/notifications/NotificationItem.tsx
  internal/adapter/http/handlers_conversation.go
  internal/adapter/http/routes.go
  internal/adapter/nats/nats.go
  internal/service/runtime.go
  internal/service/runtime_execution.go
Due: go-imports-repo, go-vet-repo-mod, golangci-lint-repo-mod, eslint, prettier

docs(todo): audit corrections — 1 false-open fixed, 1 naming discrepancy
  docs/todo.md
Due: none

docs(testing): add NATS purge step, routing/model/autonomy lessons to testplan
  docs/testing/2026-03-19-autonomous-goal-to-program-testplan.md
Due: none

fix(nats): parallel message processing via goroutine dispatch
  internal/adapter/nats/nats.go
Due: go-imports-repo, go-vet-repo-mod, golangci-lint-repo-mod

style: ESLint import reorder in NotificationItem
  frontend/src/features/notifications/NotificationItem.tsx
Due: eslint, prettier

docs(testing): add Phase 7b code quality checks (lint, import sort, build)
  docs/testing/2026-03-19-autonomous-goal-to-program-testplan.md
Due: none

docs(testing): add S1 autonomous test report — 3 runs, PARTIAL result
  docs/testing/2026-03-19-autonomous-goal-to-program-report.md
Due: none

docs(plans): add tool call complexity plan for S2/S3/S4 scenarios
  docs/plans/tool-call-complexity-plan.md
Due: none

docs(testing): integrate tool call complexity plan into testplan
  docs/testing/2026-03-19-autonomous-goal-to-program-testplan.md
Due: none

docs(testing): update report with Run 4 results + infrastructure fix impact
  .github/workflows/ci.yml
  Dockerfile.worker
  VERSION
  cmd/codeforge/main.go
  docs/testing/2026-03-19-autonomous-goal-to-program-report.md
  frontend/lighthouserc.yaml
  frontend/package-lock.json
  frontend/package.json
  frontend/src/global.d.ts
  frontend/src/i18n/en.ts
  frontend/src/i18n/locales/de.ts
  frontend/vite.config.ts
  internal/adapter/http/handlers_test.go
  internal/adapter/http/routes.go
  internal/adapter/mcp/server_test.go
  internal/adapter/nats/nats.go
  internal/service/a2a_test.go
  internal/version/version.go
  poetry.lock
  pyproject.toml
  scripts/sync-version.sh
  workers/codeforge/__init__.py
Due: go-imports-repo, go-vet-repo-mod, golangci-lint-repo-mod, eslint, prettier

docs(testing): increase timeouts for local models, add data collection rationale
  Dockerfile.frontend
  docs/testing/2026-03-19-autonomous-goal-to-program-testplan.md
  frontend/vite.config.ts
  internal/version/version.go
Due: go-imports-repo, go-vet-repo-mod, golangci-lint-repo-mod, prettier

fix(docker): split poetry install into deps + package stages
  Dockerfile.worker
Due: none

docs(testing): add benchmark e2e report
  docs/testing/2026-03-19-benchmark-e2e-report.md
Due: none

docs: add autonomous testplan startup guide to CLAUDE.md
  .github/workflows/docker-build.yml
  CLAUDE.md
  Dockerfile
  Dockerfile.frontend
  Dockerfile.worker
  docs/testing/2026-03-19-benchmark-e2e-report.md
  internal/adapter/http/routes.go
  internal/version/version.go
Due: go-imports-repo, go-vet-repo-mod, golangci-lint-repo-mod

Path conditions:
  go-imports-repo: any of: \.go$
  go-vet-repo-mod: any of: \.go$
  golangci-lint-repo-mod: any of: \.go$
  eslint: any of: ^frontend/src/.*\.(ts|tsx|js|jsx)$
  prettier: any of: \.(ts|tsx|js|jsx|json|css|scss|html)$
