Repository Strob0t/CodeForge: changes, and which pre-commit hooks are due for each by the changed paths.
All: go-imports-repo, go-vet-repo-mod, golangci-lint-repo-mod, eslint, prettier

.pre-commit-config.yaml:

repos:
  # -- General ----------------------------------------------
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: end-of-file-fixer
      - id: trailing-whitespace
      - id: check-yaml
      - id: check-json
      - id: check-merge-conflict
      - id: detect-private-key

  # -- Python (Ruff) -----------------------------------------
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.15.1
    hooks:
      # 1) Sort imports
      - id: ruff-check
        name: ruff (sort imports)
        args: ["--select", "I", "--fix"]

      # 2) Lint/fix
      - id: ruff-check
        args: ["--fix", "--exit-non-zero-on-fix"]

      # 3) Format
      - id: ruff-format

  # -- Go -----------------------------------------------------
  - repo: https://github.com/TekWizely/pre-commit-golang
    rev: v1.0.0-rc.1
    hooks:
      # Format
      - id: go-fmt

  # Go hooks that need GOROOT set for Go 1.25 toolchain
  - repo: local
    hooks:
      - id: go-imports-repo
        name: go-imports-repo
        entry: bash -c 'export GOROOT=/go/pkg/mod/golang.org/toolchain@v0.0.1-go1.25.0.linux-amd64 && goimports -l -d $(find . -name "*.go" -not -path "./data/*" -not -path "./vendor/*")'
        language: system
        pass_filenames: false
        types: [go]

      - id: go-vet-repo-mod
        name: go-vet-repo-mod
        entry: bash -c 'export GOROOT=/go/pkg/mod/golang.org/toolchain@v0.0.1-go1.25.0.linux-amd64 && go vet ./...'
        language: system
        pass_filenames: false
        types: [go]

      - id: golangci-lint-repo-mod
        name: golangci-lint-repo-mod
        entry: bash -c 'export GOROOT=/go/pkg/mod/golang.org/toolchain@v0.0.1-go1.25.0.linux-amd64 && golangci-lint run ./...'
        language: system
        pass_filenames: false
        types: [go]

  # -- TypeScript / JavaScript (ESLint + Prettier) ------------
  - repo: local
    hooks:
      - id: eslint
        name: eslint
        entry: frontend/node_modules/.bin/eslint --config frontend/eslint.config.js --fix
        language: system
        files: ^frontend/src/.*\.(ts|tsx|js|jsx)$
        types: [file]

      - id: prettier
        name: prettier
        entry: frontend/node_modules/.bin/prettier --write --ignore-unknown
        language: system
        files: \.(ts|tsx|js|jsx|json|css|scss|html)$
        types: [file]

feat: canvas-to-chat integration with vision-aware prompt building (Phase 32K)
  docs/todo.md
  frontend/src/features/canvas/__tests__/buildCanvasPrompt.test.ts
  frontend/src/features/canvas/buildCanvasPrompt.ts
  frontend/src/features/project/ChatPanel.tsx
  internal/adapter/litellm/client.go
Due: go-imports-repo, go-vet-repo-mod, golangci-lint-repo-mod, eslint, prettier

feat(benchmark): add agentEventToLiveFeedEvent mapper and statsFromSummary
  frontend/src/features/benchmarks/liveFeedState.test.ts
Due: eslint, prettier

feat(benchmark): add resultToFeatureEntry mapper with tests
  frontend/src/features/benchmarks/liveFeedState.test.ts
Due: eslint, prettier

feat(benchmark): lift live feed state to BenchmarkPage with WS subscription and API hydration
  frontend/src/features/benchmarks/BenchmarkPage.tsx
Due: eslint, prettier

refactor(benchmark): convert BenchmarkLiveFeed to presentational component
  frontend/src/features/benchmarks/BenchmarkLiveFeed.tsx
Due: eslint, prettier

fix(benchmark): remove unnecessary BenchmarkResult type casts in tests
  frontend/src/features/benchmarks/liveFeedState.test.ts
Due: eslint, prettier

docs: add Phase 32 Visual Design Canvas to project-status.md
  docs/project-status.md
Due: none

fix(benchmark): show indeterminate progress bar when total_tasks unknown
  frontend/src/features/benchmarks/BenchmarkLiveFeed.tsx
  frontend/src/features/benchmarks/BenchmarkPage.tsx
Due: eslint, prettier

docs: update todo.md and project-status.md with live feed improvements
  docs/project-status.md
  docs/todo.md
Due: none

fix(canvas): pass svgRef as getter to CanvasExportPanel for reactivity
  frontend/src/features/canvas/CanvasExportPanel.tsx
  frontend/src/features/canvas/CanvasModal.tsx
Due: eslint, prettier

feat(canvas): add batch undo API (batchStart/updateElementSilent/batchCommit)
  frontend/src/features/canvas/__tests__/canvasState.test.ts
  frontend/src/features/canvas/canvasState.ts
Due: eslint, prettier

feat(canvas): use batch undo in all drag-based tools
  frontend/src/features/canvas/tools/AnnotateTool.ts
  frontend/src/features/canvas/tools/EllipseTool.ts
  frontend/src/features/canvas/tools/FreehandTool.ts
  frontend/src/features/canvas/tools/RectTool.ts
  frontend/src/features/canvas/tools/SelectTool.ts
Due: eslint, prettier

fix(conversation): follow-up messages silently dropped by triple dedup collision
  internal/service/conversation.go
  internal/service/conversation_agent.go
  internal/service/conversation_agent_run_complete_test.go
  workers/codeforge/consumer/_conversation.py
  workers/codeforge/llm.py
Due: go-imports-repo, go-vet-repo-mod, golangci-lint-repo-mod

fix: strip <think> tokens, skip exhausted providers, fail-fast on unreachable LiteLLM
  workers/codeforge/consumer/_benchmark.py
  workers/codeforge/llm.py
  workers/codeforge/model_resolver.py
  workers/codeforge/routing/router.py
  workers/tests/test_llm_stream_edge_cases.py
  workers/tests/test_model_resolver.py
  workers/tests/test_model_validation.py
  workers/tests/test_routing_router.py
Due: none

docs: add planning specs for benchmark live feed and canvas e2e bugfixes
  docs/superpowers/plans/2026-03-16-benchmark-live-feed-improvements.md
  docs/superpowers/plans/2026-03-16-canvas-e2e-bugfixes.md
  docs/superpowers/specs/2026-03-16-benchmark-live-feed-density-design.md
Due: none

fix(benchmark): inject tenant context and handle stale NATS results gracefully
  internal/service/benchmark.go
  workers/codeforge/consumer/_benchmark.py
Due: go-imports-repo, go-vet-repo-mod, golangci-lint-repo-mod

fix(chat): filter out system, tool, and tool-call-only messages from chat view
  frontend/src/api/types.ts
  frontend/src/features/project/ChatPanel.tsx
Due: eslint, prettier

fix(frontend): prevent main container from being a scroll container
  frontend/src/App.tsx
  frontend/src/features/project/ActiveWorkPanel.tsx
  frontend/src/features/project/ChatPanel.tsx
  frontend/src/features/project/ProjectDetailPage.tsx
  frontend/src/ui/layout/PageLayout.tsx
Due: eslint, prettier

fix(frontend): sidebar mobile labels, edit project modal, provider name fix
  frontend/src/App.tsx
  frontend/src/features/dashboard/DashboardPage.tsx
  frontend/src/features/dashboard/EditProjectModal.tsx
  frontend/src/i18n/en.ts
  frontend/src/i18n/locales/de.ts
  frontend/src/ui/layout/NavLink.tsx
  internal/adapter/http/handlers_roadmap.go
Due: go-imports-repo, go-vet-repo-mod, golangci-lint-repo-mod, eslint, prettier

fix(frontend): prevent JSON.parse crash on health check and WebSocket
  frontend/src/api/client.ts
  frontend/src/api/types.ts
  frontend/src/api/websocket.ts
Due: eslint, prettier

fix(frontend): move notification bell to header, make logout a button
  frontend/src/App.tsx
Due: eslint, prettier

fix(chat): prevent HTML scrollbar flicker during LLM streaming
  frontend/src/features/project/ChatPanel.tsx
  frontend/src/features/project/Markdown.tsx
Due: eslint, prettier

feat(canvas): add resize handles, polygon/node tools, inline editing, and export panel improvements
  frontend/src/features/canvas/CanvasExportPanel.tsx
  frontend/src/features/canvas/CanvasModal.tsx
  frontend/src/features/canvas/CanvasToolbar.tsx
  frontend/src/features/canvas/DesignCanvas.tsx
  frontend/src/features/canvas/__tests__/ImageTool.test.ts
  frontend/src/features/canvas/canvasState.ts
  frontend/src/features/canvas/canvasTypes.ts
  frontend/src/features/canvas/export/exportAscii.ts
  frontend/src/features/canvas/tools/ImageTool.ts
  frontend/src/features/canvas/tools/NodeTool.ts
  frontend/src/features/canvas/tools/PolygonTool.ts
  frontend/src/features/canvas/tools/SelectTool.ts
Due: eslint, prettier

docs: update canvas feature spec and todo for Phase 32L tool improvements
  docs/features/06-visual-design-canvas.md
  docs/todo.md
Due: none

feat(prompt): add modular prompt domain types and YAML loader
  internal/domain/prompt/library.go
  internal/domain/prompt/library_test.go
  internal/domain/prompt/loader.go
  internal/domain/prompt/loader_test.go
Due: go-imports-repo, go-vet-repo-mod, golangci-lint-repo-mod

feat(prompt): add PromptLibraryService, PromptAssembler, and wire into buildSystemPrompt
  internal/service/conversation.go
  internal/service/conversation_agent.go
  internal/service/prompt_assembler.go
  internal/service/prompt_assembler_test.go
  internal/service/prompt_library.go
  internal/service/prompt_library_test.go
Due: go-imports-repo, go-vet-repo-mod, golangci-lint-repo-mod

feat(prompt): migrate 24 mode PromptPrefix strings to YAML library files
  internal/domain/mode/presets.go
  internal/service/mode_prompt.go
  internal/service/mode_prompt_test.go
  internal/service/prompts/modes/api_tester.yaml
  internal/service/prompts/modes/architect.yaml
  internal/service/prompts/modes/backend_architect.yaml
  internal/service/prompts/modes/benchmarker.yaml
  internal/service/prompts/modes/boundary_analyzer.yaml
  internal/service/prompts/modes/coder.yaml
  internal/service/prompts/modes/contract_reviewer.yaml
  internal/service/prompts/modes/debugger.yaml
  internal/service/prompts/modes/devops.yaml
  internal/service/prompts/modes/documenter.yaml
  internal/service/prompts/modes/evaluator.yaml
  internal/service/prompts/modes/frontend.yaml
  internal/service/prompts/modes/goal_researcher.yaml
  internal/service/prompts/modes/infra_maintainer.yaml
  internal/service/prompts/modes/lsp_engineer.yaml
  internal/service/prompts/modes/moderator.yaml
  internal/service/prompts/modes/orchestrator.yaml
  internal/service/prompts/modes/proponent.yaml
  internal/service/prompts/modes/prototyper.yaml
  internal/service/prompts/modes/refactorer.yaml
  internal/service/prompts/modes/reviewer.yaml
  internal/service/prompts/modes/security.yaml
  internal/service/prompts/modes/tester.yaml
  internal/service/prompts/modes/workflow_optimizer.yaml
Due: go-imports-repo, go-vet-repo-mod, golangci-lint-repo-mod

feat(prompts): add system reminders to NATS payload and prompt pipeline (Phase E)
  internal/port/messagequeue/schemas.go
  internal/service/conversation_agent.go
  internal/service/prompt_assembler_test.go
  workers/codeforge/consumer/_conversation.py
  workers/codeforge/models.py
Due: go-imports-repo, go-vet-repo-mod, golangci-lint-repo-mod

feat(prompts): wire modular prompt assembler at app startup (Phase F)
  cmd/codeforge/main.go
  docs/todo.md
  internal/service/prompt_assembler_test.go
  internal/service/prompt_embed.go
Due: go-imports-repo, go-vet-repo-mod, golangci-lint-repo-mod

docs: add interactive QA test plan for chat features (playwright-mcp)
  docs/plans/2026-03-17-interactive-qa-testplan.md
Due: none

fix(frontend): slash commands, tool call persistence, export panel, autocomplete, new chat button
  frontend/src/features/canvas/CanvasExportPanel.tsx
  frontend/src/features/chat/ChatInput.tsx
  frontend/src/features/project/ChatPanel.tsx
Due: eslint, prettier

fix(routing): prefer Go Core health-checked models over raw LiteLLM list
  workers/codeforge/consumer/_conversation.py
Due: none

fix(chat): prevent autocomplete Enter from triggering message send
  frontend/src/features/chat/AutocompletePopover.tsx
  frontend/src/features/chat/ChatInput.tsx
Due: eslint, prettier

docs: add interactive QA test report for chat features
  docs/plans/2026-03-17-interactive-qa-report.md
Due: none

docs: add stub tracker with 23 findings from full codebase scan
  docs/prompts/stub-finder.md
  docs/stub-tracker.md
  docs/todo.md
Due: none

fix(stubs): resolve 3 quick-win stubs (STUB-002, STUB-005, STUB-011)
  docs/stub-tracker.md
  docs/todo.md
  internal/adapter/postgres/migrations/076_add_conversation_mode_model.sql
  internal/adapter/postgres/store_conversation.go
  internal/domain/conversation/conversation.go
  internal/service/conversation_test.go
  internal/service/goal_discovery.go
  internal/service/goal_discovery_test.go
  workers/codeforge/backends/_base.py
  workers/tests/test_stub_backend_abc.py
Due: go-imports-repo, go-vet-repo-mod, golangci-lint-repo-mod

feat(prompts): add self-improving prompt evolution system (GEPA-inspired)
  cmd/codeforge/main.go
  internal/adapter/http/handlers.go
  internal/adapter/http/handlers_prompt_evolution.go
  internal/adapter/http/routes.go
  internal/adapter/nats/nats.go
  internal/adapter/postgres/migrations/076_prompt_evolution.sql
  internal/domain/prompt/evolution.go
  internal/domain/prompt/evolution_test.go
  internal/port/messagequeue/queue.go
  internal/port/messagequeue/schemas.go
  internal/port/messagequeue/testdata/contracts/benchmark_run_request.json
  internal/port/messagequeue/testdata/contracts/benchmark_run_result.json
  internal/port/messagequeue/testdata/contracts/conversation_run_start.json
  internal/port/messagequeue/testdata/contracts/graph_build_result.json
  internal/port/messagequeue/testdata/contracts/graph_search_request.json
  internal/port/messagequeue/testdata/contracts/graph_search_result.json
  internal/port/messagequeue/testdata/contracts/repomap_generate_request.json
  internal/port/messagequeue/testdata/contracts/repomap_generate_result.json
  internal/port/messagequeue/testdata/contracts/retrieval_index_request.json
  internal/service/prompt_assembler.go
  internal/service/prompt_assembler_test.go
  internal/service/prompt_evolution.go
  internal/service/prompt_evolution_test.go
  internal/service/prompt_library.go
  internal/service/prompt_score.go
  internal/service/prompt_score_test.go
  internal/service/prompt_selector.go
  internal/service/prompt_selector_test.go
  workers/codeforge/consumer/__init__.py
  workers/codeforge/consumer/_prompt_evolution.py
  workers/codeforge/consumer/_subjects.py
  workers/codeforge/evaluation/prompt_mutator.py
  workers/codeforge/evaluation/prompt_optimizer.py
  workers/codeforge/models.py
  workers/tests/evaluation/test_prompt_optimizer.py
  workers/tests/test_prompt_mutator.py
Due: go-imports-repo, go-vet-repo-mod, golangci-lint-repo-mod, prettier

test(prompts): add 5-layer automated test suite for modular prompt system
  internal/service/prompt_system_test.go
  internal/service/testdata/golden/architect-semiauto-full-prod-agentic.txt
  internal/service/testdata/golden/coder-headless-full-prod-agentic.txt
  internal/service/testdata/golden/coder-supervised-full-dev-agentic.txt
  internal/service/testdata/golden/debugger-fullauto-pure-prod-agentic.txt
  internal/service/testdata/golden/documenter-supervised-pure-dev-passive.txt
  internal/service/testdata/golden/frontend-supervised-full-dev-passive.txt
  internal/service/testdata/golden/orchestrator-fullauto-full-prod-agentic.txt
  internal/service/testdata/golden/reviewer-autoedit-api-dev-agentic.txt
  internal/service/testdata/golden/security-headless-full-prod-agentic.txt
  internal/service/testdata/golden/tester-autoedit-api-dev-agentic.txt
  workers/tests/test_reminders_contract.py
Due: go-imports-repo, go-vet-repo-mod, golangci-lint-repo-mod
