Repository Strob0t/CodeForge: changes, and which pre-commit hooks are due for each by the changed paths.
All: go-imports-repo, go-vet-repo-mod, golangci-lint-repo-mod, eslint, prettier

.pre-commit-config.yaml:

repos:
  # -- General ----------------------------------------------
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: end-of-file-fixer
      - id: trailing-whitespace
      - id: check-yaml
      - id: check-json
      - id: check-merge-conflict
      - id: detect-private-key

  # -- Python (Ruff) -----------------------------------------
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.15.1
    hooks:
      # 1) Sort imports
      - id: ruff-check
        name: ruff (sort imports)
        args: ["--select", "I", "--fix"]

      # 2) Lint/fix
      - id: ruff-check
        args: ["--fix", "--exit-non-zero-on-fix"]

      # 3) Format
      - id: ruff-format

  # -- Go -----------------------------------------------------
  - repo: https://github.com/TekWizely/pre-commit-golang
    rev: v1.0.0-rc.1
    hooks:
      # Format
      - id: go-fmt

  # Go hooks that need GOROOT set for Go 1.25 toolchain
  - repo: local
    hooks:
      - id: go-imports-repo
        name: go-imports-repo
        entry: bash -c 'export GOROOT=/go/pkg/mod/golang.org/toolchain@v0.0.1-go1.25.0.linux-amd64 && goimports -l -d $(find . -name "*.go" -not -path "./data/*" -not -path "./vendor/*")'
        language: system
        pass_filenames: false
        types: [go]

      - id: go-vet-repo-mod
        name: go-vet-repo-mod
        entry: bash -c 'export GOROOT=/go/pkg/mod/golang.org/toolchain@v0.0.1-go1.25.0.linux-amd64 && go vet ./...'
        language: system
        pass_filenames: false
        types: [go]

      - id: golangci-lint-repo-mod
        name: golangci-lint-repo-mod
        entry: bash -c 'export GOROOT=/go/pkg/mod/golang.org/toolchain@v0.0.1-go1.25.0.linux-amd64 && golangci-lint run ./...'
        language: system
        pass_filenames: false
        types: [go]

  # -- TypeScript / JavaScript (ESLint + Prettier) ------------
  - repo: local
    hooks:
      - id: eslint
        name: eslint
        entry: frontend/node_modules/.bin/eslint --config frontend/eslint.config.js --fix
        language: system
        files: ^frontend/src/.*\.(ts|tsx|js|jsx)$
        types: [file]

      - id: prettier
        name: prettier
        entry: frontend/node_modules/.bin/prettier --write --ignore-unknown
        language: system
        files: \.(ts|tsx|js|jsx|json|css|scss|html)$
        types: [file]

chore: remove 7 dead config fields from WorkerSettings
  workers/codeforge/config.py
Due: none

fix(config): tune connection pool defaults for multi-tenant production
  internal/config/config.go
  internal/config/loader_integration_test.go
  internal/config/loader_test.go
Due: go-imports-repo, go-vet-repo-mod, golangci-lint-repo-mod

feat: complete all open TODO items (32G, 32H-J, C1, A4)
  docs/todo.md
  frontend/e2e/canvas.spec.ts
  frontend/src/features/project/ProjectDetailPage.tsx
  internal/port/messagequeue/contract_test.go
  internal/port/messagequeue/testdata/contracts/conversation_run_start.json
  workers/codeforge/agent_loop.py
  workers/codeforge/consumer/_conversation.py
  workers/codeforge/llm.py
  workers/codeforge/models.py
  workers/tests/test_conversation_rollout.py
  workers/tests/test_routing_transparency.py
Due: go-imports-repo, go-vet-repo-mod, golangci-lint-repo-mod, eslint, prettier

fix(ui): debounce WebSocket reconnect banner by 2s (Q4)
  frontend/src/components/OfflineBanner.tsx
Due: eslint, prettier

chore: remove 8 dead Python functions/classes (PromptPatch, analyze_failures, analyze_failures_async, nats_handler, start_consumer_span, serve, CascadeConfig, _RetrieverConfig)
  workers/codeforge/evaluation/prompt_optimizer.py
  workers/codeforge/health.py
  workers/codeforge/nats_utils.py
  workers/codeforge/retrieval.py
  workers/codeforge/routing/models.py
  workers/codeforge/tracing/propagation.py
Due: none

chore: remove 2 unused npm deps (@monaco-editor/loader, @solid-primitives/websocket)
  frontend/package-lock.json
  frontend/package.json
Due: prettier

feat(ui): add hover effects and click-to-navigate on project cards (Q6)
  frontend/src/features/dashboard/ProjectCard.tsx
  frontend/src/ui/composites/Card.tsx
Due: eslint, prettier

docs: update todo, project-status, dev-setup for DB audit remediation
  docs/audit/schema-audit-2026-03-18.md
  docs/dev-setup.md
  docs/project-status.md
  docs/superpowers/plans/2026-03-18-db-audit-remediation.md
  frontend/src/config/statusVariants.ts
Due: eslint, prettier

fix(ui): add abbreviated KPI labels for mobile viewport (Q5)
  frontend/src/features/dashboard/KpiStrip.tsx
Due: eslint, prettier

feat(ui): add per-page document titles and fix Prompts Preview button (Q2, Q3)
  frontend/src/features/NotFoundPage.tsx
  frontend/src/features/activity/ActivityPage.tsx
  frontend/src/features/auth/ChangePasswordPage.tsx
  frontend/src/features/auth/ForgotPasswordPage.tsx
  frontend/src/features/auth/LoginPage.tsx
  frontend/src/features/auth/ResetPasswordPage.tsx
  frontend/src/features/auth/SetupPage.tsx
  frontend/src/features/benchmarks/BenchmarkPage.tsx
  frontend/src/features/channels/ChannelView.tsx
  frontend/src/features/costs/CostDashboardPage.tsx
  frontend/src/features/dashboard/DashboardPage.tsx
  frontend/src/features/knowledge/KnowledgePage.tsx
  frontend/src/features/llm/AIConfigPage.tsx
  frontend/src/features/mcp/MCPServersPage.tsx
  frontend/src/features/project/ProjectDetailPage.tsx
  frontend/src/features/prompts/PromptEditorPage.tsx
  frontend/src/features/settings/SettingsPage.tsx
Due: eslint, prettier

docs: add Claude Code integration design spec (routing target + execution branch)
  docs/superpowers/specs/2026-03-18-claude-code-integration-design.md
Due: none

chore: remove 12 unused TS exports (5 composites, 2 primitives, 2 factory fns, 1 util, 3 CSS animations)
  frontend/src/api/factory.ts
  frontend/src/index.css
  frontend/src/ui/composites/ResourceGuard.tsx
  frontend/src/ui/composites/SkeletonCard.tsx
  frontend/src/ui/composites/SkeletonChat.tsx
  frontend/src/ui/composites/SkeletonTable.tsx
  frontend/src/ui/composites/SkeletonText.tsx
  frontend/src/ui/composites/index.ts
  frontend/src/ui/index.ts
  frontend/src/ui/primitives/PacmanSpinner.tsx
  frontend/src/ui/primitives/ProgressBar.tsx
  frontend/src/ui/primitives/index.ts
  frontend/src/utils/tabBadge.ts
Due: eslint, prettier

docs: add Claude Code integration implementation plan
  docs/superpowers/plans/2026-03-18-claude-code-integration.md
Due: none

chore: remove 4 dead NATS subjects + 7 dead payload structs + update validator
  internal/adapter/nats/nats_test.go
  internal/port/messagequeue/queue.go
  internal/port/messagequeue/schemas.go
  internal/port/messagequeue/validator.go
  internal/port/messagequeue/validator_test.go
Due: go-imports-repo, go-vet-repo-mod, golangci-lint-repo-mod

feat(routing): add Claude Code CLI availability detection with caching
  workers/codeforge/claude_code_availability.py
  workers/tests/test_claude_code_availability.py
Due: none

feat(ui): add SVG empty state illustrations and page transition animation (M1, M2)
  frontend/src/features/activity/ActivityPage.tsx
  frontend/src/features/benchmarks/BenchmarkPage.tsx
  frontend/src/features/costs/CostDashboardPage.tsx
  frontend/src/features/knowledgebases/KnowledgeBasesPage.tsx
  frontend/src/features/mcp/MCPServersPage.tsx
  frontend/src/features/prompts/PromptEditorPage.tsx
  frontend/src/i18n/en.ts
  frontend/src/i18n/locales/de.ts
  frontend/src/ui/composites/EmptyState.tsx
  frontend/src/ui/icons/EmptyStateIcons.tsx
  frontend/src/ui/layout/PageLayout.tsx
  frontend/src/ui/layout/PageTransition.tsx
Due: eslint, prettier

fix(ui): graceful degradation on Project Detail page (M5)
  frontend/src/features/project/ProjectDetailPage.tsx
Due: eslint, prettier

feat(ui): add anvil brand mark to sidebar header (M6)
  frontend/src/App.tsx
  frontend/src/ui/icons/CodeForgeLogo.tsx
  frontend/src/ui/layout/Sidebar.tsx
Due: eslint, prettier

feat(ui): replace loading text with skeleton components (M3)
  frontend/src/features/costs/CostDashboardPage.tsx
  frontend/src/features/llm/ModelsPage.tsx
  frontend/src/features/settings/SettingsPage.tsx
Due: eslint, prettier

feat(ui): add sticky section navigation to Settings page (M4)
  frontend/src/features/settings/SettingsPage.tsx
  frontend/src/ui/layout/Section.tsx
Due: eslint, prettier

feat(routing): add ClaudeCodeExecutor with SDK/CLI, policy callback, cost tracking
  workers/codeforge/claude_code_executor.py
  workers/tests/test_claude_code_executor.py
Due: none

test(routing): add policy callback tests for ClaudeCodeExecutor
  workers/tests/test_claude_code_executor.py
Due: none

docs: add full-service interactive QA test plan (42 phases, playwright-mcp)
  docs/plans/2026-03-18-full-service-interactive-qa-testplan.md
Due: none

feat(routing): add claudecode/default to COMPLEX and REASONING tiers
  workers/codeforge/routing/router.py
  workers/tests/test_claude_code_routing.py
Due: none

feat(ui): add Outfit + IBM Plex Sans typography system (S1)
  frontend/public/fonts/IBMPlexSans-Bold.woff2
  frontend/public/fonts/IBMPlexSans-Medium.woff2
  frontend/public/fonts/IBMPlexSans-Regular.woff2
  frontend/public/fonts/Outfit-Bold.woff2
  frontend/public/fonts/Outfit-Medium.woff2
  frontend/public/fonts/Outfit-Regular.woff2
  frontend/src/index.css
Due: prettier

feat(ui): collapsible model cards on AI Config page (M7)
  frontend/src/components/Toast.tsx
  frontend/src/features/dashboard/KpiStrip.tsx
  frontend/src/features/llm/ModelsPage.tsx
  frontend/src/i18n/en.ts
  frontend/src/i18n/locales/de.ts
  frontend/src/ui/composites/Card.tsx
  frontend/src/ui/composites/Modal.tsx
  frontend/src/ui/composites/Tabs.tsx
  frontend/src/ui/primitives/Button.tsx
Due: eslint, prettier

feat(routing): add Claude Code execution branch and model availability
  workers/codeforge/consumer/_conversation.py
Due: none

build: add claude-code-sdk optional dep, update todo
  docs/todo.md
  pyproject.toml
Due: none

docs: move 15 design specs to docs/specs/
  docs/plans/2026-03-18-docs-reorganization-plan.md
  docs/specs/2026-03-08-dashboard-polish-design.md
  docs/specs/2026-03-08-integration-testing-design.md
  docs/specs/2026-03-08-mobile-responsive-design.md
  docs/specs/2026-03-09-auto-agent-skills-design.md
  docs/specs/2026-03-09-benchmark-external-providers-design.md
  docs/specs/2026-03-09-chat-enhancements-design.md
  docs/specs/2026-03-09-goal-system-redesign-design.md
  docs/specs/2026-03-09-project-workflow-redesign-design.md
  docs/specs/2026-03-10-benchmark-live-feed-design.md
  docs/specs/2026-03-11-benchmark-validation-design.md
  docs/specs/2026-03-15-contract-first-review-refactor-design.md
  docs/specs/2026-03-16-benchmark-live-feed-density-design.md
  docs/specs/2026-03-18-claude-code-integration-design.md
  docs/specs/2026-03-18-quality-performance-improvements-design.md
  docs/specs/2026-03-18-ux-ui-audit-fixes-design.md
  docs/superpowers/plans/2026-03-18-dead-code-cleanup.md
  docs/superpowers/plans/2026-03-18-ux-ui-audit-fixes.md
  docs/ux-ui-audit.md
Due: none

style(ui): apply prettier formatting to S2 micro-interaction files
  frontend/src/App.tsx
  frontend/src/features/onboarding/OnboardingWizard.tsx
  frontend/src/features/onboarding/steps/ConfigureAIStep.tsx
  frontend/src/features/onboarding/steps/ConnectCodeStep.tsx
  frontend/src/features/onboarding/steps/CreateProjectStep.tsx
Due: eslint, prettier

docs: consolidate implementation plans in docs/plans/ with -plan suffix
  docs/plans/2026-03-07-unified-llm-path-plan.md
  docs/plans/2026-03-09-adaptive-context-injection-plan.md
  docs/plans/2026-03-09-agent-eval-improvements-plan.md
  docs/plans/2026-03-09-e2e-findings-fix-plan.md
  docs/plans/2026-03-09-feature-activation-sweep-plan.md
  docs/plans/2026-03-09-feature-roadmap-todos-plan.md
  docs/plans/2026-03-09-goal-system-redesign-plan.md
  docs/plans/2026-03-09-project-workflow-plan.md
  docs/plans/2026-03-11-benchmark-findings-fixes-plan.md
  docs/plans/2026-03-15-contract-first-review-refactor-plan.md
  docs/plans/2026-03-16-benchmark-live-feed-improvements-plan.md
  docs/plans/2026-03-16-canvas-e2e-bugfixes-plan.md
  docs/plans/2026-03-18-claude-code-integration-plan.md
  docs/plans/2026-03-18-db-audit-remediation-plan.md
  docs/plans/2026-03-18-dead-code-cleanup-plan.md
  docs/plans/2026-03-18-ux-ui-audit-fixes-plan.md
Due: none

docs: move test plans and reports to docs/testing/
  docs/testing/2026-03-09-e2e-playwright-report.md
  docs/testing/2026-03-09-playwright-mcp-smoke-testplan.md
  docs/testing/2026-03-17-interactive-qa-report.md
  docs/testing/2026-03-17-interactive-qa-testplan.md
  docs/testing/2026-03-18-full-service-interactive-qa-testplan.md
  docs/testing/benchmark-e2e-testplan.md
Due: none

style(ui): apply prettier formatting to S2 micro-interaction files
  frontend/src/features/dashboard/KpiStrip.tsx
  frontend/src/ui/composites/Card.tsx
  frontend/src/ui/composites/Modal.tsx
Due: eslint, prettier

docs: move audits to docs/audits/
  docs/audits/2026-03-18-schema-audit.md
  docs/audits/stub-tracker.md
  docs/audits/ux-ui-audit.md
Due: none

docs: update all cross-references to match new file locations
  docs/features/05-chat-enhancements.md
  docs/plans/2026-03-08-dashboard-polish-plan.md
  docs/plans/2026-03-08-mobile-responsive-plan.md
  docs/plans/2026-03-09-auto-agent-skills-plan.md
  docs/plans/2026-03-09-benchmark-external-providers-plan.md
  docs/plans/2026-03-09-chat-enhancements-plan.md
  docs/plans/2026-03-09-goal-system-redesign-plan.md
  docs/plans/2026-03-09-project-workflow-plan.md
  docs/plans/2026-03-15-contract-first-review-refactor-plan.md
  docs/plans/2026-03-16-benchmark-live-feed-improvements-plan.md
  docs/plans/2026-03-18-claude-code-integration-plan.md
  docs/plans/2026-03-18-db-audit-remediation-plan.md
  docs/plans/2026-03-18-ux-ui-audit-fixes-plan.md
  docs/project-status.md
  docs/specs/2026-03-18-ux-ui-audit-fixes-design.md
  docs/testing/2026-03-17-interactive-qa-testplan.md
  docs/todo.md
Due: none

docs: fix stale design path in auto-agent-skills plan code comment
  docs/plans/2026-03-09-auto-agent-skills-plan.md
Due: none

docs: rewrite README.md index for new directory structure
  docs/README.md
Due: none

docs: update CLAUDE.md documentation structure for new layout
  CLAUDE.md
Due: none

feat(ui): add living design system page and documentation (S3)
  frontend/src/features/dev/DesignSystemPage.tsx
  frontend/src/index.tsx
  frontend/src/ui/DESIGN-SYSTEM.md
Due: eslint, prettier
