Repository Strob0t/CodeForge: changes, and which pre-commit hooks are due for each by the changed paths.
All: go-imports-repo, go-vet-repo-mod, golangci-lint-repo-mod, eslint, prettier

.pre-commit-config.yaml:

repos:
  # -- General ----------------------------------------------
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: end-of-file-fixer
      - id: trailing-whitespace
      - id: check-yaml
      - id: check-json
      - id: check-merge-conflict
      - id: detect-private-key

  # -- Python (Ruff) -----------------------------------------
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.15.1
    hooks:
      # 1) Sort imports
      - id: ruff-check
        name: ruff (sort imports)
        args: ["--select", "I", "--fix"]

      # 2) Lint/fix
      - id: ruff-check
        args: ["--fix", "--exit-non-zero-on-fix"]

      # 3) Format
      - id: ruff-format

  # -- Go -----------------------------------------------------
  - repo: https://github.com/TekWizely/pre-commit-golang
    rev: v1.0.0-rc.1
    hooks:
      # Format
      - id: go-fmt

  # Go hooks that need GOROOT set for Go 1.25 toolchain
  - repo: local
    hooks:
      - id: go-imports-repo
        name: go-imports-repo
        entry: bash -c 'export GOROOT=/go/pkg/mod/golang.org/toolchain@v0.0.1-go1.25.0.linux-amd64 && goimports -l -d $(find . -name "*.go" -not -path "./data/*" -not -path "./vendor/*")'
        language: system
        pass_filenames: false
        types: [go]

      - id: go-vet-repo-mod
        name: go-vet-repo-mod
        entry: bash -c 'export GOROOT=/go/pkg/mod/golang.org/toolchain@v0.0.1-go1.25.0.linux-amd64 && go vet ./...'
        language: system
        pass_filenames: false
        types: [go]

      - id: golangci-lint-repo-mod
        name: golangci-lint-repo-mod
        entry: bash -c 'export GOROOT=/go/pkg/mod/golang.org/toolchain@v0.0.1-go1.25.0.linux-amd64 && golangci-lint run ./...'
        language: system
        pass_filenames: false
        types: [go]

  # -- TypeScript / JavaScript (ESLint + Prettier) ------------
  - repo: local
    hooks:
      - id: eslint
        name: eslint
        entry: frontend/node_modules/.bin/eslint --config frontend/eslint.config.js --fix
        language: system
        files: ^frontend/src/.*\.(ts|tsx|js|jsx)$
        types: [file]

      - id: prettier
        name: prettier
        entry: frontend/node_modules/.bin/prettier --write --ignore-unknown
        language: system
        files: \.(ts|tsx|js|jsx|json|css|scss|html)$
        types: [file]

feat(store): add prompt variant and score store methods for evolution loop
  internal/adapter/postgres/store_prompt_score.go
  internal/adapter/postgres/store_prompt_variant.go
  internal/adapter/postgres/store_prompt_variant_test.go
Due: go-imports-repo, go-vet-repo-mod, golangci-lint-repo-mod

docs: knowledge integration — spec + plan (docs-mcp-server + MCP UI)
  docs/plans/2026-03-23-knowledge-integration.md
  docs/specs/2026-03-23-knowledge-integration-design.md
Due: none

fix: docs-mcp-server Ollama embeddings + Web Dashboard port
  docker-compose.yml
Due: none

feat(http): add POST /prompt-evolution/reflect endpoint to trigger reflection
  internal/adapter/http/handlers_prompt_evolution.go
  internal/adapter/http/handlers_prompt_evolution_test.go
  internal/adapter/http/routes.go
Due: go-imports-repo, go-vet-repo-mod, golangci-lint-repo-mod

feat(main): wire real store into prompt evolution and score collector
  cmd/codeforge/main.go
Due: go-imports-repo, go-vet-repo-mod, golangci-lint-repo-mod

feat: MCP server project assignment UI in settings popover
  frontend/src/features/project/CompactSettingsPopover.tsx
Due: eslint, prettier

docs: add docs-mcp-server setup guide
  docs/dev-setup.md
Due: none

test: add integration tests for full prompt evolution loop
  internal/service/prompt_evolution_test.go
Due: go-imports-repo, go-vet-repo-mod, golangci-lint-repo-mod

docs: add unwired feature discovery prompt, report, and 6 remediation plans
  docs/plans/2026-03-23-dead-code-cleanup.md
  docs/plans/2026-03-23-frontend-api-cleanup.md
  docs/plans/2026-03-23-frontend-chat-panels.md
  docs/plans/2026-03-23-frontend-project-panels.md
  docs/plans/2026-03-23-nats-subscriber-wiring.md
  docs/plans/2026-03-23-prompt-evolution-loop.md
  docs/prompts/claude-code-feature-discovery.md
  docs/prompts/codeforge-unwired-features-report.md
Due: none

docs: full session summary 2026-03-23
  docs/testing/2026-03-23-session-summary.md
Due: none

docs: add Claude Code feature discovery report and audit remediation specs
  docker-compose.yml
  docs/plans/2026-03-23-audit-remediation-plan.md
  docs/prompts/claude-code-feature-discovery-report.md
  docs/specs/2026-03-23-audit-remediation-design.md
Due: none

docs: post-remediation unwired features report
  docs/prompts/codeforge-unwired-features-report.md
Due: none

docs: add post-remediation re-audit report
  docs/audits/2026-03-23-universal-re-audit-report.md
Due: none

docs: add 8 atomic remediation plans for remaining unwired features
  docs/plans/2026-03-23-frontend-a2a.md
  docs/plans/2026-03-23-frontend-microagents-skills.md
  docs/plans/2026-03-23-frontend-prompt-evolution.md
  docs/plans/2026-03-23-frontend-quarantine.md
  docs/plans/2026-03-23-frontend-routing.md
  docs/plans/2026-03-23-minor-cleanup.md
  docs/plans/2026-03-23-nats-remaining-wiring.md
  docs/plans/2026-03-23-prompt-score-wiring.md
Due: none

docs(testing): Run 4b report — groq/llama-3.1-8b, 35% score
  docs/testing/2026-03-23-run4b-multi-language-report.md
  litellm/config.yaml
Due: none

feat(types): add Microagent and Skill TypeScript types
  frontend/src/api/types.ts
Due: eslint, prettier

feat(a2a): add A2A Federation TypeScript types
  frontend/src/api/types.ts
Due: eslint, prettier

feat(quarantine): add TypeScript types for quarantine domain
  frontend/src/api/types.ts
Due: eslint, prettier

feat: add routing API resource with TypeScript types
  frontend/src/api/client.ts
  frontend/src/api/resources/index.ts
  frontend/src/api/resources/routing.ts
  frontend/src/api/types.ts
Due: eslint, prettier

fix(infra): remove LiteLLM port exposure from production compose
  docker-compose.prod.yml
Due: none

fix(safety): change skill safety check from fail-open to fail-closed
  workers/codeforge/skills/safety.py
Due: none

fix(infra): enable PostgreSQL SSL and sslmode=require in production
  docker-compose.prod.yml
Due: none

fix(infra): add WAL archiving with separate archive volume in production
  docker-compose.prod.yml
Due: none

fix(types): replace Any with httpx.AsyncClient in openhands backend
  workers/codeforge/backends/openhands.py
Due: none

fix(infra): run frontend nginx as non-root using nginx-unprivileged
  Dockerfile.frontend
  docker-compose.prod.yml
  frontend/nginx.conf
Due: none

fix(types): replace Any with typed Callable in handoff tool
  workers/codeforge/tools/handoff.py
Due: none

fix(ci): add restrictive top-level permissions to CI workflow
  .github/workflows/ci.yml
Due: none

fix(security): add SSRF protection with private IP blocking in fetchURL
  internal/adapter/http/handlers_skill_import.go
  internal/netutil/ssrf.go
  internal/service/a2a.go
Due: go-imports-repo, go-vet-repo-mod, golangci-lint-repo-mod

fix(types): use ParamSpec for type-safe decorator in experience pool
  workers/codeforge/memory/experience.py
Due: none

feat(quarantine): create API resource for quarantine endpoints
  frontend/src/api/resources/quarantine.ts
Due: eslint, prettier

fix(infra): add network segmentation (public/internal) to production compose
  docker-compose.prod.yml
Due: none

fix(types): add TypeVar to NATS handler framework for type safety
  workers/codeforge/consumer/_base.py
Due: none

feat(a2a): create A2A API resource with 12 endpoints
  frontend/src/api/resources/a2a.ts
Due: eslint, prettier

feat: build RoutingStatsPage with stats table, outcomes, and record form
  frontend/src/features/routing/RoutingStatsPage.tsx
Due: eslint, prettier

fix(security): add MaxBytesReader to webhook and import handlers
  internal/adapter/http/handlers_settings.go
  internal/adapter/http/handlers_skill_import.go
  internal/adapter/http/helpers.go
  internal/middleware/webhook.go
Due: go-imports-repo, go-vet-repo-mod, golangci-lint-repo-mod

feat(a2a): register A2A resource in API client
  frontend/src/api/client.ts
  frontend/src/api/resources/index.ts
Due: eslint, prettier

feat(api): add microagents and skills API resource functions
  frontend/src/api/resources/microagents.ts
Due: eslint, prettier

fix(types): bind exception variable in all except Exception handlers
  workers/codeforge/consumer/_benchmark.py
  workers/codeforge/consumer/_context.py
  workers/codeforge/consumer/_graph.py
  workers/codeforge/consumer/_retrieval.py
  workers/codeforge/context_reranker.py
  workers/codeforge/history.py
  workers/codeforge/model_resolver.py
  workers/codeforge/skills/safety.py
  workers/codeforge/skills/selector.py
Due: none

feat(quarantine): register quarantine resource in API client
  frontend/src/api/client.ts
  frontend/src/api/resources/index.ts
Due: eslint, prettier

feat: wire PromptScoreCollector into HandleConversationRunComplete
  cmd/codeforge/main.go
  internal/service/conversation.go
  internal/service/conversation_agent.go
  internal/service/conversation_agent_score_test.go
  internal/service/prompt_assembler.go
  internal/service/prompt_assembler_testhelper.go
Due: go-imports-repo, go-vet-repo-mod, golangci-lint-repo-mod
