Repository Strob0t/CodeForge: changes, and which pre-commit hooks are due for each by the changed paths.
All: go-imports-repo, go-vet-repo-mod, golangci-lint-repo-mod, eslint, prettier

go-imports-repo:
  name: go-imports-repo
  entry: bash -c 'export GOROOT=/go/pkg/mod/golang.org/toolchain@v0.0.1-go1.25.0.linux-amd64 && goimports -l -d $(find . -name "*.go" -not -path "./data/*" -not -path "./vendor/*")'
  language: system
  pass_filenames: false

go-vet-repo-mod:
  name: go-vet-repo-mod
  entry: bash -c 'export GOROOT=/go/pkg/mod/golang.org/toolchain@v0.0.1-go1.25.0.linux-amd64 && go vet ./...'
  language: system
  pass_filenames: false

golangci-lint-repo-mod:
  name: golangci-lint-repo-mod
  entry: bash -c 'export GOROOT=/go/pkg/mod/golang.org/toolchain@v0.0.1-go1.25.0.linux-amd64 && golangci-lint run ./...'
  language: system
  pass_filenames: false

eslint:
  name: eslint
  entry: frontend/node_modules/.bin/eslint --config frontend/eslint.config.js --fix
  language: system

prettier:
  name: prettier
  entry: frontend/node_modules/.bin/prettier --write --ignore-unknown
  language: system

feat(benchmark): provider-based task loading in consumer with legacy fallback
  workers/codeforge/consumer/_benchmark.py
  workers/codeforge/models.py
Due: none

feat(benchmark): suite-based StartRun with provider_name resolution and routing field extraction
  internal/service/benchmark.go
Due: go-imports-repo, go-vet-repo-mod, golangci-lint-repo-mod

feat(benchmark): seed 11 default benchmark suites on startup
  cmd/codeforge/main.go
  internal/service/benchmark.go
Due: go-imports-repo, go-vet-repo-mod, golangci-lint-repo-mod

feat(benchmark): add ProviderConfig, routing fields, and RoutingReport types
  frontend/src/api/types.ts
Due: eslint, prettier

feat(benchmark): add i18n keys for suite picker, task settings, routing report, prompt optimization (EN+DE)
  frontend/src/i18n/en.ts
  frontend/src/i18n/locales/de.ts
Due: eslint, prettier

feat(benchmark): TaskSettings component with universal + provider-specific settings
  frontend/src/features/benchmarks/TaskSettings.tsx
Due: eslint, prettier

feat(benchmark): replace dataset dropdown with suite dropdown, add TaskSettings and auto-model option
  frontend/src/features/benchmarks/BenchmarkPage.tsx
Due: eslint, prettier

docs: add feature activation sweep implementation plan
  docs/plans/2026-03-09-feature-activation-sweep.md
  internal/service/autoagent.go
  internal/service/autoagent_test.go
  internal/service/context_budget.go
  internal/service/context_budget_test.go
  workers/codeforge/llm.py
  workers/codeforge/routing/rate_tracker.py
  workers/codeforge/routing/router.py
  workers/tests/test_llm.py
  workers/tests/test_routing_error_classification.py
  workers/tests/test_routing_router.py
Due: go-imports-repo, go-vet-repo-mod, golangci-lint-repo-mod

feat(agent-eval): implement 8 improvements from benchmark analysis
  internal/service/autoagent.go
Due: go-imports-repo, go-vet-repo-mod, golangci-lint-repo-mod

feat(benchmark): RoutingReport component, run detail integration, and SuiteManagement provider dropdown
  frontend/src/features/benchmarks/BenchmarkPage.tsx
  frontend/src/features/benchmarks/RoutingReport.tsx
  frontend/src/features/benchmarks/SuiteManagement.tsx
  frontend/src/i18n/en.ts
  frontend/src/i18n/locales/de.ts
Due: eslint, prettier

feat: add 16 missing env-var bindings for config features
  docs/dev-setup.md
  internal/config/loader.go
  internal/config/loader_test.go
  internal/service/conversation_agent.go
  internal/service/conversation_test.go
Due: go-imports-repo, go-vet-repo-mod, golangci-lint-repo-mod

feat(benchmark): auto-routing wrapper, ModelFamily util, and per-mode model adaptation
  internal/domain/benchmark/model_family.go
  internal/domain/benchmark/model_family_test.go
  internal/domain/mode/mode.go
  internal/port/messagequeue/schemas.go
  internal/service/conversation_agent.go
  workers/codeforge/consumer/_benchmark.py
  workers/codeforge/models.py
Due: go-imports-repo, go-vet-repo-mod, golangci-lint-repo-mod

feat(benchmark): prompt optimizer with analyze phase (SICA+SCOPE+MIPROv2 hybrid)
  workers/codeforge/evaluation/prompt_optimizer.py
  workers/tests/evaluation/test_prompt_optimizer.py
Due: none

feat: enable context injection by default (ContextEnabled=true)
  docs/plans/2026-03-09-adaptive-context-injection.md
  internal/config/config.go
  internal/port/messagequeue/schemas.go
  internal/service/conversation_agent.go
  workers/codeforge/memory/experience.py
  workers/codeforge/models.py
Due: go-imports-repo, go-vet-repo-mod, golangci-lint-repo-mod

feat(benchmark): add POST /runs/{id}/analyze endpoint for prompt optimization
  internal/adapter/http/handlers_benchmark_analyze.go
  internal/adapter/http/routes.go
Due: go-imports-repo, go-vet-repo-mod, golangci-lint-repo-mod

feat(benchmark): add analyzeRun API client method
  frontend/src/api/client.ts
Due: eslint, prettier

fix: experience pool agent loop integration + routing default
  workers/codeforge/agent_loop.py
  workers/codeforge/config.py
  workers/codeforge/consumer/_conversation.py
Due: none

feat(benchmark): PromptOptimizationPanel with analyze, tactical fixes, and accept/reject UI
  frontend/src/features/benchmarks/PromptOptimizationPanel.tsx
Due: eslint, prettier

docs: update for feature activation sweep (OTEL, experience pool, env vars)
  docs/dev-setup.md
  docs/features/04-agent-orchestration.md
  docs/todo.md
Due: none

feat: auto-trigger all indexes (RepoMap, Retrieval, GraphRAG) after clone/adopt/setup
  internal/adapter/http/handlers.go
Due: go-imports-repo, go-vet-repo-mod, golangci-lint-repo-mod

fix(tests): update memory tests for eviction logic (2 execute calls)
  workers/tests/test_memory_system.py
Due: none

docs: update documentation for adaptive context injection
  CLAUDE.md
  docs/features/04-agent-orchestration.md
  docs/todo.md
Due: none

docs: update project-status and todo for benchmark external providers
  docs/project-status.md
  docs/todo.md
Due: none

docs: add implementation plan for remaining TODOs
  docs/plans/2026-03-09-remaining-todos-plan.md
Due: none

fix(F3.4): wire rate_tracker.record_error into agent loop fallback
  workers/codeforge/agent_loop.py
  workers/tests/test_agent_loop.py
Due: none

feat(F3.5): enable routing by default
  internal/config/config.go
  internal/config/loader_test.go
Due: go-imports-repo, go-vet-repo-mod, golangci-lint-repo-mod

feat(C3): warn-only for non-critical feature regressions in CI
  scripts/verify-features.sh
Due: none

docs: mark F3.4, F3.5, F1.3, C3 as completed in todo.md
  docs/todo.md
Due: none

chore: rename codeforge.yaml.example to codeforge.example.yaml
  codeforge.example.yaml
Due: none

fix: resolve 3 frontend/backend bugs
  frontend/src/ui/composites/ModelCombobox.tsx
  internal/adapter/postgres/store_benchmark.go
  internal/adapter/postgres/store_dashboard.go
Due: go-imports-repo, go-vet-repo-mod, golangci-lint-repo-mod, eslint, prettier

feat(goals): add propose_goal tool with AG-UI trajectory event
  workers/codeforge/tools/propose_goal.py
  workers/tests/tools/__init__.py
  workers/tests/tools/test_propose_goal.py
Due: none

docs: add project workflow redesign design document
  docs/plans/2026-03-09-project-workflow-redesign.md
Due: none

feat(goals): wire propose_goal into agent loop, remove manage_goals
  internal/domain/mode/presets.go
  internal/domain/policy/presets.go
  workers/codeforge/consumer/_conversation.py
  workers/codeforge/tools/manage_goals.py
  workers/tests/test_propose_goal_registration.py
Due: go-imports-repo, go-vet-repo-mod, golangci-lint-repo-mod

feat(goals): add agui.goal_proposal event type and trajectory handler
  internal/adapter/ws/agui_events.go
  internal/adapter/ws/agui_events_test.go
  internal/service/runtime.go
Due: go-imports-repo, go-vet-repo-mod, golangci-lint-repo-mod

feat(goals): add agui.goal_proposal TypeScript types
  docs/plans/2026-03-09-project-workflow-impl-plan.md
  frontend/src/api/websocket.ts
Due: eslint, prettier

feat(ui): reorder project tabs to match natural workflow
  frontend/src/features/project/GoalProposalCard.tsx
  frontend/src/features/project/ProjectDetailPage.tsx
Due: eslint, prettier

feat(i18n): add onboarding, empty state, and chat suggestion keys
  frontend/src/i18n/en.ts
  frontend/src/i18n/locales/de.ts
Due: eslint, prettier

feat(goals): wire GoalProposalCard into ChatPanel AG-UI stream
  frontend/src/features/project/ChatPanel.tsx
Due: eslint, prettier

feat(goals): rewrite goal-researcher mode with GSD questioning methodology
  internal/domain/mode/presets.go
Due: go-imports-repo, go-vet-repo-mod, golangci-lint-repo-mod

Path conditions:
  go-imports-repo: any of: \.go$
  go-vet-repo-mod: any of: \.go$
  golangci-lint-repo-mod: any of: \.go$
  eslint: any of: ^frontend/src/.*\.(ts|tsx|js|jsx)$
  prettier: any of: \.(ts|tsx|js|jsx|json|css|scss|html)$
