Repository Strob0t/CodeForge: changes, and which pre-commit hooks are due for each by the changed paths.
All: go-imports-repo, go-vet-repo-mod, golangci-lint-repo-mod, eslint, prettier

go-imports-repo:
  name: go-imports-repo
  entry: bash -c 'export GOROOT=/go/pkg/mod/golang.org/toolchain@v0.0.1-go1.25.0.linux-amd64 && goimports -l -d $(find . -name "*.go" -not -path "./data/*" -not -path "./vendor/*")'
  language: system
  pass_filenames: false

go-vet-repo-mod:
  name: go-vet-repo-mod
  entry: bash -c 'export GOROOT=/go/pkg/mod/golang.org/toolchain@v0.0.1-go1.25.0.linux-amd64 && go vet ./...'
  language: system
  pass_filenames: false

golangci-lint-repo-mod:
  name: golangci-lint-repo-mod
  entry: bash -c 'export GOROOT=/go/pkg/mod/golang.org/toolchain@v0.0.1-go1.25.0.linux-amd64 && golangci-lint run ./...'
  language: system
  pass_filenames: false

eslint:
  name: eslint
  entry: frontend/node_modules/.bin/eslint --config frontend/eslint.config.js --fix
  language: system

prettier:
  name: prettier
  entry: frontend/node_modules/.bin/prettier --write --ignore-unknown
  language: system

fix: [NATS]-HIGH-018 -- expand validator to cover 30+ subjects
  internal/port/messagequeue/validator.go
Due: go-imports-repo, go-vet-repo-mod, golangci-lint-repo-mod

fix: [SCHEMA]-HIGH-019 -- standardize token count fields to int64
  internal/adapter/http/handlers_benchmark.go
  internal/adapter/ws/agui_events.go
  internal/domain/benchmark/benchmark.go
  internal/domain/conversation/conversation.go
  internal/domain/routing/routing.go
  internal/domain/task/task.go
  internal/port/messagequeue/schemas.go
  internal/service/agent.go
  internal/service/benchmark.go
  internal/service/runtime_lifecycle.go
Due: go-imports-repo, go-vet-repo-mod, golangci-lint-repo-mod

fix: [NATS]-HIGH-020 -- add tenant_id to RunStartPayload
  internal/port/messagequeue/schemas.go
  internal/service/runtime.go
Due: go-imports-repo, go-vet-repo-mod, golangci-lint-repo-mod

fix: [STORE]-HIGH-026 -- add tenant isolation to API key store
  internal/adapter/postgres/store_api_key.go
Due: go-imports-repo, go-vet-repo-mod, golangci-lint-repo-mod

fix: [NATS]-HIGH-027 -- verify NATS payload tenant_id against run's actual tenant
  internal/service/benchmark.go
Due: go-imports-repo, go-vet-repo-mod, golangci-lint-repo-mod

fix: [HTTP]-HIGH-028 -- return JSON errors instead of plain text in LLM key handlers
  internal/adapter/http/handlers_llm_keys.go
Due: go-imports-repo, go-vet-repo-mod, golangci-lint-repo-mod

fix: [HTTP]-HIGH-029 -- return 204 No Content for DeleteBranchProtectionRule
  internal/adapter/http/handlers_session.go
Due: go-imports-repo, go-vet-repo-mod, golangci-lint-repo-mod

fix: [MEMORY]-HIGH-021 -- add tenant_id filter to MemoryStore.recall()
  workers/codeforge/memory/storage.py
Due: none

fix: [TOOLS]-HIGH-022 -- add path traversal protection to glob_files tool
  workers/codeforge/tools/glob_files.py
Due: none

fix: [SAFETY]-HIGH-023 -- add command allowlist to quality gate executor
  workers/codeforge/qualitygate.py
Due: none

fix: [TYPES]-HIGH-024 -- replace object type annotations with proper types in agent_loop
  workers/codeforge/agent_loop.py
Due: none

fix: [CONSUMER]-HIGH-025 -- replace unbounded set with FIFO OrderedDict for dedup
  workers/codeforge/consumer/_base.py
Due: none

fix(api): add default LIMIT 100 to critical list endpoints (FIX-030)
  internal/adapter/http/handlers.go
  internal/adapter/http/handlers_conversation.go
  internal/adapter/http/helpers.go
  internal/adapter/postgres/store.go
  internal/adapter/postgres/store_conversation.go
Due: go-imports-repo, go-vet-repo-mod, golangci-lint-repo-mod

fix(mcp): surface listen errors from Start() via error channel (FIX-036)
  internal/adapter/mcp/server.go
Due: go-imports-repo, go-vet-repo-mod, golangci-lint-repo-mod

fix(a2a): replace untyped map with cancelResult struct (FIX-037)
  internal/adapter/a2a/executor.go
Due: go-imports-repo, go-vet-repo-mod, golangci-lint-repo-mod

fix(routing): correct cascade docs, enable by default, load 9 missing config fields (FIX-038/039/040)
  CLAUDE.md
  workers/codeforge/llm.py
  workers/codeforge/routing/models.py
  workers/codeforge/routing/router.py
Due: none

fix(docker): add resource limits to all prod services (FIX-041)
  docker-compose.prod.yml
Due: none

fix(config): replace hardcoded private IP with LM_STUDIO_API_BASE env var (FIX-042)
  docker-compose.prod.yml
  docker-compose.yml
  litellm/config.yaml
Due: none

fix(docker): add healthcheck for Python worker service (FIX-043)
  docker-compose.prod.yml
Due: none

fix: MEDIUM-044,045,046,047 — TODOs for god structs, interface{} to any, duplicate comment
  internal/adapter/http/handlers.go
  internal/adapter/http/handlers_batch_test.go
  internal/adapter/http/handlers_benchmark_analyze.go
  internal/adapter/http/handlers_search_test.go
  internal/adapter/plane/provider_test.go
  internal/adapter/postgres/store_agent_identity.go
  internal/middleware/tenant.go
  internal/service/backend_health_test.go
  internal/service/benchmark.go
  internal/service/conversation_test.go
  internal/service/meta_agent_test.go
  internal/service/phase23d_test.go
  internal/service/project.go
  internal/service/quarantine.go
Due: go-imports-repo, go-vet-repo-mod, golangci-lint-repo-mod

fix: MEDIUM-049,050,051,052 — DLQ monitoring, retry count via JetStream metadata, compact subject, empty JSON reject
  internal/adapter/nats/nats.go
  internal/port/messagequeue/queue.go
  internal/port/messagequeue/validator.go
Due: go-imports-repo, go-vet-repo-mod, golangci-lint-repo-mod

fix: MEDIUM-057,058,059 — document WS token risk, auth enabled by default, service key logging
  internal/config/config.go
  internal/middleware/auth.go
Due: go-imports-repo, go-vet-repo-mod, golangci-lint-repo-mod

fix: MEDIUM-060,061,062,063,064,065 — CORS production guard, URL TODOs, dedup queryInt, writeValidationError, error leakage
  internal/adapter/http/handlers_orchestration.go
  internal/adapter/http/handlers_quarantine.go
  internal/adapter/http/helpers.go
  internal/adapter/http/middleware.go
  internal/adapter/http/routes.go
Due: go-imports-repo, go-vet-repo-mod, golangci-lint-repo-mod

fix: MEDIUM-075,076,077,078 — LSP TODO, A2A filter params, marshal error handling, MCP resources TODO
  internal/adapter/a2a/executor.go
  internal/adapter/a2a/taskstore.go
  internal/adapter/lsp/client.go
  internal/adapter/mcp/resources.go
Due: go-imports-repo, go-vet-repo-mod, golangci-lint-repo-mod

fix: MEDIUM-079,080 — blocklist TOCTOU safety comment, effective_models cache
  workers/codeforge/routing/blocklist.py
  workers/codeforge/routing/router.py
Due: none

fix: MEDIUM-081,082,083 — bind NATS monitoring to localhost, restart policies, blue-green TODO
  docker-compose.blue-green.yml
  docker-compose.yml
Due: none

fix: MEDIUM-058 followup — provide development JWT secret in defaults
  internal/config/config.go
Due: go-imports-repo, go-vet-repo-mod, golangci-lint-repo-mod

fix: MEDIUM-052 followup — update validator test for empty JSON rejection
  internal/port/messagequeue/validator_test.go
Due: go-imports-repo, go-vet-repo-mod, golangci-lint-repo-mod

fix: MEDIUM audit findings (FIX-053,055,056,066-074)
  cmd/codeforge/main.go
  frontend/src/api/client.ts
  frontend/src/api/types.ts
  frontend/src/api/websocket.ts
  frontend/src/features/canvas/__tests__/CanvasModal.test.ts
  frontend/src/features/notifications/notificationStore.ts
  frontend/src/features/project/ChatPanel.tsx
  internal/adapter/http/handlers.go
  internal/adapter/http/handlers_conversation.go
  internal/adapter/http/routes.go
  workers/codeforge/agent_loop.py
  workers/codeforge/consumer/_conversation.py
  workers/codeforge/memory/__init__.py
  workers/codeforge/memory/embedding.py
  workers/codeforge/memory/experience.py
  workers/codeforge/memory/storage.py
  workers/tests/conftest.py
Due: go-imports-repo, go-vet-repo-mod, golangci-lint-repo-mod, eslint, prettier

fix: LOW audit findings (FIX-084 to FIX-114) — rate limiting, security, consistency, Docker
  .dockerignore
  .github/workflows/ci.yml
  Dockerfile
  Dockerfile.frontend
  Dockerfile.worker
  cmd/codeforge/main.go
  frontend/e2e/llm/llm-helpers.ts
  frontend/src/features/benchmarks/BenchmarkPage.tsx
  frontend/src/features/project/ChatPanel.tsx
  internal/adapter/a2a/agentcard.go
  internal/adapter/http/handlers_auth.go
  internal/adapter/http/handlers_quarantine.go
  internal/adapter/http/routes.go
  internal/adapter/lsp/client.go
  internal/adapter/nats/nats.go
  internal/adapter/postgres/store_user.go
  internal/config/config.go
  internal/config/loader.go
  internal/domain/a2a/task.go
  internal/middleware/ratelimit.go
  internal/port/messagequeue/contract_test.go
  workers/codeforge/agent_loop.py
  workers/codeforge/consumer/__init__.py
  workers/codeforge/consumer/_benchmark.py
  workers/codeforge/plan_act.py
  workers/codeforge/routing/key_filter.py
  workers/codeforge/tools/_error_handler.py
  workers/tests/fake_llm.py
  workers/tests/test_plan_act.py
Due: go-imports-repo, go-vet-repo-mod, golangci-lint-repo-mod, eslint, prettier

audit: update all reports with fix status, recalculate scores
  docs/audits/2026-03-20-api-contract-audit.md
  docs/audits/2026-03-20-audit-overview.md
  docs/audits/2026-03-20-docker-infra-audit.md
  docs/audits/2026-03-20-frontend-architecture-audit.md
  docs/audits/2026-03-20-go-core-service-audit.md
  docs/audits/2026-03-20-hybrid-routing-audit.md
  docs/audits/2026-03-20-nats-integration-audit.md
  docs/audits/2026-03-20-protocol-compliance-audit.md
  docs/audits/2026-03-20-python-workers-audit.md
  docs/audits/2026-03-20-security-code-level-audit.md
  docs/audits/2026-03-20-test-coverage-audit.md
Due: none

chore: README rewrite, dev config fixes, add audit/benchmark plans
  .vscode/launch.json
  README.md
  docker-compose.yml
  docs/plans/2026-03-20-benchmark-e2e-fixes-plan.md
  docs/plans/2026-03-21-remaining-audit-findings-plan.md
  frontend/vite.config.ts
Due: prettier

docs: remaining audit findings implementation plan (25 tasks, 31 findings)
  docs/plans/2026-03-21-remaining-audit-findings-plan.md
Due: none

test: tenant isolation source-scan tests for 10 store files (FIX-010,011,031)
  internal/adapter/postgres/store_api_key_test.go
  internal/adapter/postgres/store_benchmark_test.go
  internal/adapter/postgres/store_conversation_test.go
  internal/adapter/postgres/store_mcp_test.go
  internal/adapter/postgres/store_microagent_test.go
  internal/adapter/postgres/store_project_goal_test.go
  internal/adapter/postgres/store_routing_test.go
  internal/adapter/postgres/store_settings_test.go
  internal/adapter/postgres/store_skill_test.go
  internal/adapter/postgres/store_test_helpers_test.go
Due: go-imports-repo, go-vet-repo-mod, golangci-lint-repo-mod

test: service layer source quality tests for 5 untested files (FIX-032)
  internal/service/files_source_test.go
  internal/service/lsp_source_test.go
  internal/service/orchestrator_consensus_test.go
  internal/service/runtime_execution_source_test.go
  internal/service/runtime_lifecycle_source_test.go
Due: go-imports-repo, go-vet-repo-mod, golangci-lint-repo-mod

test: comprehensive command injection edge cases for bash tool (FIX-012)
  workers/tests/test_tool_bash.py
Due: none

test: NATS reconnect/resilience configuration tests (FIX-013)
  internal/adapter/nats/nats_reconnect_test.go
Due: go-imports-repo, go-vet-repo-mod, golangci-lint-repo-mod

test: consumer mixin tests for graph, context, subject, backend_health, prompt_evolution, retrieval (FIX-033)
  workers/tests/consumer/test_backend_health.py
  workers/tests/consumer/test_context.py
  workers/tests/consumer/test_graph.py
  workers/tests/consumer/test_prompt_evolution.py
  workers/tests/consumer/test_retrieval.py
  workers/tests/consumer/test_subject.py
Due: none

test: memory tenant isolation regression test (FIX-035)
  workers/tests/test_memory_tenant.py
Due: none

test: GraphRAG module tests (FIX-070)
  workers/tests/test_graphrag.py
Due: none

Path conditions:
  go-imports-repo: any of: \.go$
  go-vet-repo-mod: any of: \.go$
  golangci-lint-repo-mod: any of: \.go$
  eslint: any of: ^frontend/src/.*\.(ts|tsx|js|jsx)$
  prettier: any of: \.(ts|tsx|js|jsx|json|css|scss|html)$
