Repository Strob0t/CodeForge: changes, and which pre-commit hooks are due for each by the changed paths.
All: go-imports-repo, go-vet-repo-mod, golangci-lint-repo-mod, eslint, prettier

.pre-commit-config.yaml:

repos:
  # -- General ----------------------------------------------
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: end-of-file-fixer
      - id: trailing-whitespace
      - id: check-yaml
      - id: check-json
      - id: check-merge-conflict
      - id: detect-private-key

  # -- Python (Ruff) -----------------------------------------
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.15.1
    hooks:
      # 1) Sort imports
      - id: ruff-check
        name: ruff (sort imports)
        args: ["--select", "I", "--fix"]

      # 2) Lint/fix
      - id: ruff-check
        args: ["--fix", "--exit-non-zero-on-fix"]

      # 3) Format
      - id: ruff-format

  # -- Go -----------------------------------------------------
  - repo: https://github.com/TekWizely/pre-commit-golang
    rev: v1.0.0-rc.1
    hooks:
      # Format
      - id: go-fmt

  # Go hooks that need GOROOT set for Go 1.25 toolchain
  - repo: local
    hooks:
      - id: go-imports-repo
        name: go-imports-repo
        entry: bash -c 'export GOROOT=/go/pkg/mod/golang.org/toolchain@v0.0.1-go1.25.0.linux-amd64 && goimports -l -d $(find . -name "*.go" -not -path "./data/*" -not -path "./vendor/*")'
        language: system
        pass_filenames: false
        types: [go]

      - id: go-vet-repo-mod
        name: go-vet-repo-mod
        entry: bash -c 'export GOROOT=/go/pkg/mod/golang.org/toolchain@v0.0.1-go1.25.0.linux-amd64 && go vet ./...'
        language: system
        pass_filenames: false
        types: [go]

      - id: golangci-lint-repo-mod
        name: golangci-lint-repo-mod
        entry: bash -c 'export GOROOT=/go/pkg/mod/golang.org/toolchain@v0.0.1-go1.25.0.linux-amd64 && golangci-lint run ./...'
        language: system
        pass_filenames: false
        types: [go]

  # -- TypeScript / JavaScript (ESLint + Prettier) ------------
  - repo: local
    hooks:
      - id: eslint
        name: eslint
        entry: frontend/node_modules/.bin/eslint --config frontend/eslint.config.js --fix
        language: system
        files: ^frontend/src/.*\.(ts|tsx|js|jsx)$
        types: [file]

      - id: prettier
        name: prettier
        entry: frontend/node_modules/.bin/prettier --write --ignore-unknown
        language: system
        files: \.(ts|tsx|js|jsx|json|css|scss|html)$
        types: [file]

fix(orchestrator): drop step preparation outcomes with the plan (S6-F review 12)
  internal/service/export_test.go
  internal/service/orchestrator.go
  internal/service/orchestrator_consensus.go
  internal/service/orchestrator_prepare_test.go
Due: go-imports-repo, go-vet-repo-mod, golangci-lint-repo-mod

feat(channels): hashed webhook key, read state, mounted thread panel (KI-73)
  frontend/src/api/resources/misc.ts
  frontend/src/api/types.ts
  frontend/src/features/channels/ChannelList.tsx
  frontend/src/features/channels/ChannelLive.test.tsx
  frontend/src/features/channels/ChannelMessage.tsx
  frontend/src/features/channels/ChannelView.tsx
  frontend/src/features/channels/channelEvents.test.ts
  frontend/src/features/channels/channelEvents.ts
  internal/adapter/http/handlers_channel.go
  internal/adapter/http/handlers_channel_webhook_test.go
  internal/adapter/http/handlers_test.go
  internal/adapter/http/routes.go
  internal/adapter/postgres/migrations/108_channel_webhook_key_read_state.sql
  internal/adapter/postgres/store_channel.go
  internal/adapter/postgres/store_channel_state_test.go
  internal/domain/channel/channel.go
  internal/domain/event/broadcast.go
  internal/domain/event/broadcast_payloads.go
  internal/middleware/teststore_test.go
  internal/port/database/store_channel.go
  internal/service/channel.go
  internal/service/channel_test.go
  internal/service/channel_webhook_read_test.go
  internal/service/project_test.go
  internal/service/runtime_test.go
Due: go-imports-repo, go-vet-repo-mod, golangci-lint-repo-mod, eslint, prettier

fix(frontend): live updates follow task and agent status; early run events kept (KI-74)
  frontend/src/features/dashboard/CreateProjectModal.test.tsx
  frontend/src/features/dashboard/CreateProjectModal.tsx
  frontend/src/features/project/AgentLane.test.tsx
  frontend/src/features/project/AgentLane.tsx
  frontend/src/features/project/AgentPanel.test.tsx
  frontend/src/features/project/AgentPanel.tsx
  frontend/src/features/project/PlanPanel.test.tsx
  frontend/src/features/project/PlanPanel.tsx
  frontend/src/features/project/ProjectDetailPage.tsx
  frontend/src/features/project/RunPanel.test.tsx
  frontend/src/features/project/RunPanel.tsx
  frontend/src/features/project/WarRoom.tsx
  frontend/src/features/project/liveEvents.test.ts
  frontend/src/features/project/liveEvents.ts
  frontend/src/features/project/useProjectDetail.test.tsx
  frontend/src/features/project/useProjectDetail.ts
  frontend/src/i18n/en.ts
  frontend/src/i18n/locales/de.ts
  internal/service/runtime.go
  internal/service/runtime_lifecycle.go
  internal/service/runtime_task_agent_status_event_test.go
Due: go-imports-repo, go-vet-repo-mod, golangci-lint-repo-mod, eslint, prettier

fix(runtime): artifact validation is announced only by the path that wins the run's end (KI-78)
  internal/service/runtime_artifact_announce_test.go
  internal/service/runtime_completion.go
  internal/service/runtime_gate.go
Due: go-imports-repo, go-vet-repo-mod, golangci-lint-repo-mod

fix(gdpr): quarantine reviews record the logged-in reviewer; privacy retention wording (KI-79)
  frontend/src/api/types.ts
  frontend/src/features/legal/PrivacyPolicy.test.tsx
  frontend/src/features/legal/PrivacyPolicy.tsx
  frontend/src/features/quarantine/QuarantinePage.test.tsx
  frontend/src/features/quarantine/QuarantinePage.tsx
  frontend/src/i18n/en.ts
  frontend/src/i18n/locales/de.ts
  internal/adapter/http/handlers_quarantine.go
  internal/adapter/http/handlers_quarantine_review_test.go
  internal/adapter/http/handlers_test.go
  internal/adapter/postgres/migrations/109_quarantine_reviewer.sql
  internal/adapter/postgres/store_quarantine.go
  internal/adapter/postgres/store_quarantine_resolve_test.go
  internal/adapter/postgres/store_quarantine_review_test.go
  internal/domain/quarantine/quarantine.go
  internal/middleware/teststore_test.go
  internal/port/database/store_quarantine.go
  internal/service/deliver_test.go
  internal/service/gdpr.go
  internal/service/gdpr_test.go
  internal/service/handoff_flow_test.go
  internal/service/knowledgebase_test.go
  internal/service/orchestrator_test.go
  internal/service/project_test.go
  internal/service/quarantine.go
  internal/service/quarantine_a2a_test.go
  internal/service/quarantine_test.go
  internal/service/runtime_test.go
Due: go-imports-repo, go-vet-repo-mod, golangci-lint-repo-mod, eslint, prettier

fix(a2a): the inbound executor requires the request's tenant (follow-up of KI-64)
  internal/adapter/a2a/caller_isolation_test.go
  internal/adapter/a2a/executor.go
  internal/adapter/a2a/executor_screen_test.go
  internal/adapter/a2a/executor_test.go
Due: go-imports-repo, go-vet-repo-mod, golangci-lint-repo-mod

fix(policy): redirection targets are checked against the workspace's real path too (S6-E follow-up)
  internal/domain/policy/command_redirect_test.go
  internal/domain/policy/evaluation.go
  internal/service/runtime.go
  internal/service/runtime_execution.go
  internal/service/runtime_symlink_workspace_test.go
Due: go-imports-repo, go-vet-repo-mod, golangci-lint-repo-mod

fix(deploy): make the blue-green overlay work (KI-70)
  .pre-commit-config.yaml
  Dockerfile.frontend
  docker-compose.blue-green.yml
  frontend/nginx.conf
  scripts/deploy-blue-green.sh
  traefik/traefik.yaml
Due: none

fix(agent): a registered handoff_to is always offered (S6-G review 2)
  workers/codeforge/agent_loop.py
  workers/codeforge/tools/capability.py
  workers/tests/test_capability.py
  workers/tests/test_handoff_always_offered.py
Due: none

fix(claudecode): Bash starts every call in the workspace (S6-G review 1)
  workers/codeforge/claude_code_executor.py
  workers/tests/test_claude_code_cli_integration.py
  workers/tests/test_claude_code_executor.py
Due: none

fix(benchmark): evaluator errors travel apart from the scores end to end (S6-G review 3, S6-H follow-up a)
  frontend/src/api/types.ts
  frontend/src/features/benchmarks/BenchmarkRunDetail.test.tsx
  frontend/src/features/benchmarks/BenchmarkRunDetail.tsx
  frontend/src/i18n/en.ts
  frontend/src/i18n/locales/de.ts
  internal/adapter/postgres/migrations/110_benchmark_evaluation_errors.sql
  internal/adapter/postgres/store_benchmark.go
  internal/adapter/postgres/store_benchmark_errors_test.go
  internal/domain/benchmark/benchmark.go
  internal/port/messagequeue/contract_test.go
  internal/port/messagequeue/schemas_benchmark.go
  internal/port/messagequeue/testdata/contracts/benchmark_run_result.json
  internal/service/benchmark.go
  internal/service/benchmark_evaluation_errors_test.go
  workers/codeforge/consumer/_benchmark_gemmas.py
  workers/codeforge/models.py
  workers/tests/test_benchmark_evaluation_errors.py
Due: go-imports-repo, go-vet-repo-mod, golangci-lint-repo-mod, eslint, prettier

fix(evaluation): a rollout with a failed rank evaluator never outranks a verified one (S6-G review 4)
  workers/codeforge/evaluation/hybrid_pipeline.py
  workers/codeforge/evaluation/runners/multi_rollout.py
  workers/tests/test_rollout_ranking_errors.py
Due: none

fix(policy): the policy tester evaluates in a synthetic /workspace (S6-G review 5)
  internal/adapter/http/handlers_policy_crud.go
  internal/adapter/http/handlers_policy_test.go
Due: go-imports-repo, go-vet-repo-mod, golangci-lint-repo-mod

fix(benchmark): the LLM verifiers get a concrete model (S6-G review 6)
  workers/codeforge/consumer/_benchmark.py
  workers/tests/consumer/test_benchmark_verifier_model.py
Due: none

fix(evaluation): an unusable logprob verifier answer is an evaluation error (S6-G review 7)
  workers/codeforge/evaluation/evaluators/logprob_verifier.py
  workers/tests/test_logprob_verifier.py
Due: none

fix(llm): exact credential matching, value redaction and list walking in the model list (S6-G review 8, 14)
  internal/adapter/http/handlers_llm.go
  internal/adapter/http/handlers_llm_redact_internal_test.go
  internal/secrets/credential_name.go
  internal/secrets/credential_name_test.go
  internal/secrets/redact_url.go
Due: go-imports-repo, go-vet-repo-mod, golangci-lint-repo-mod

fix(conversation): the compaction request names the conversation's tenant (S6-G review 9)
  internal/service/conversation_compact_tenant_test.go
  internal/service/conversation_messages.go
Due: go-imports-repo, go-vet-repo-mod, golangci-lint-repo-mod

fix(evaluation): missing or unknown trajectory verdicts are errors per dimension (S6-G review 10)
  workers/codeforge/evaluation/evaluators/trajectory_verifier.py
  workers/tests/test_trajectory_verifier.py
Due: none

fix(evaluation): a verifier creates at most one proxy client and closes it (S6-G review 11)
  workers/codeforge/consumer/_benchmark.py
  workers/codeforge/evaluation/evaluators/logprob_verifier.py
  workers/codeforge/evaluation/evaluators/trajectory_verifier.py
  workers/codeforge/evaluation/pipeline.py
  workers/tests/test_verifier_client_lifecycle.py
Due: none

fix(agent): tool_output_max_chars applies in the running loop and on runs.start (S6-G review 12)
  cmd/codeforge/main.go
  internal/port/messagequeue/contract_test.go
  internal/port/messagequeue/schemas_run.go
  internal/port/messagequeue/testdata/contracts/runs_start.json
  internal/service/runtime.go
  internal/service/runtime_tool_output_test.go
  workers/codeforge/agent_loop.py
  workers/codeforge/consumer/_conversation.py
  workers/codeforge/consumer/_runs.py
  workers/codeforge/executor.py
  workers/codeforge/loop_config.py
  workers/codeforge/models.py
  workers/codeforge/tool_executor.py
  workers/tests/test_tool_output_max_chars_loop.py
Due: go-imports-repo, go-vet-repo-mod, golangci-lint-repo-mod, prettier

test(evaluation): the benchmark verifiers share the worker client through VerifierClient (S6-G review 11)
  workers/tests/test_verifiers_litellm_client.py
Due: none

refactor(evaluation): drop the _average wrapper and the unused logprob logger (S6-G review 15)
  workers/codeforge/evaluation/evaluators/logprob_verifier.py
  workers/codeforge/evaluation/hybrid_pipeline.py
Due: none

fix(secrets): credential names match any *_key and camelCase spellings
  internal/secrets/credential_name.go
  internal/secrets/credential_name_test.go
Due: go-imports-repo, go-vet-repo-mod, golangci-lint-repo-mod

fix(channels,quarantine): reviewers and readers without an account row (S6-H review 1)
  frontend/src/api/resources/misc.ts
  internal/adapter/http/handlers_channel.go
  internal/adapter/http/handlers_channel_webhook_test.go
  internal/adapter/postgres/store_channel.go
  internal/adapter/postgres/store_channel_state_test.go
  internal/adapter/postgres/store_quarantine.go
  internal/adapter/postgres/store_quarantine_review_test.go
  internal/domain/channel/channel.go
Due: go-imports-repo, go-vet-repo-mod, golangci-lint-repo-mod, eslint, prettier

fix(evaluation): errors in either stage and on the early-stop path lower the rank (S6-G re-review 2)
  workers/codeforge/evaluation/hybrid_pipeline.py
  workers/codeforge/evaluation/providers/base.py
  workers/codeforge/evaluation/runners/early_stopping.py
  workers/codeforge/evaluation/runners/multi_rollout.py
  workers/tests/test_rollout_ranking_errors.py
Due: none

fix(benchmark): training exports leave evaluator errors out of rewards (S6-G re-review 3)
  internal/service/benchmark.go
  internal/service/benchmark_export_errors_test.go
  internal/service/benchmark_result.go
  internal/service/benchmark_rlvr_test.go
Due: go-imports-repo, go-vet-repo-mod, golangci-lint-repo-mod

fix(evaluation): read a leading yes/no and spaced trajectory labels (S6-G re-review 4)
  workers/codeforge/evaluation/evaluators/logprob_verifier.py
  workers/codeforge/evaluation/evaluators/trajectory_verifier.py
  workers/tests/test_logprob_verifier.py
  workers/tests/test_trajectory_verifier.py
Due: none

fix(channels): the public webhook refuses channel IDs that are not UUIDs (S6-H review 5)
  internal/adapter/http/handlers_channel_webhook_test.go
  internal/service/channel.go
  internal/service/channel_webhook_read_test.go
Due: go-imports-repo, go-vet-repo-mod, golangci-lint-repo-mod

perf(frontend): no new objects per WebSocket message in the channel list and war room (S6-H review 6)
  frontend/src/features/channels/ChannelList.tsx
  frontend/src/features/channels/channelEvents.test.ts
  frontend/src/features/channels/channelEvents.ts
  frontend/src/features/project/WarRoom.tsx
  frontend/src/features/project/liveEvents.test.ts
  frontend/src/features/project/liveEvents.ts
Due: eslint, prettier

fix(channels): unread counts follow the server after reads and while scrolled up (S6-H review 7)
  frontend/src/features/channels/ChannelList.tsx
  frontend/src/features/channels/ChannelLive.test.tsx
  frontend/src/features/channels/ChannelView.tsx
  frontend/src/features/channels/channelEvents.test.ts
  frontend/src/features/channels/channelEvents.ts
  frontend/src/features/channels/channelReading.ts
Due: eslint, prettier

fix(channels): show refused posts and replies, no inputs for viewers (S6-H review 8)
  frontend/src/features/channels/ChannelLive.test.tsx
  frontend/src/features/channels/ChannelView.tsx
  frontend/src/features/channels/ThreadPanel.tsx
Due: eslint, prettier

fix(runtime): the workspace real path follows a retargeted symlink (S6-H review 9)
  internal/service/runtime.go
  internal/service/runtime_execution.go
  internal/service/runtime_symlink_workspace_test.go
Due: go-imports-repo, go-vet-repo-mod, golangci-lint-repo-mod

fix(deploy): blue-green switch never recreates the shared services (S6-H review 10)
  scripts/deploy-blue-green.sh
Due: none

docs: close the S3-F to S6-H Known Issues and add KI-88 to KI-94
  docs/known-issues-fix-plan.md
  docs/project-status.md
  docs/todo.md
Due: none

docs: configuration, blue-green deployment and adopt flow in dev-setup and e2e docs
  docs/dev-setup.md
  docs/disaster-recovery.md
  docs/testing/e2e-setup.md
Due: none

docs(api): document the S3-F to S6-H endpoint changes in openapi.yaml
  docs/api/openapi.yaml
Due: none

docs(architecture): record the S3-F to S6-H architecture changes
  docs/architecture.md
  docs/architecture/adr/001-nats-jetstream-message-queue.md
  docs/architecture/adr/002-postgresql-database.md
  docs/architecture/adr/009-gdpr-compliance-architecture.md
  docs/architecture/adr/010-a2a-protocol-adoption.md
  docs/architecture/adr/011-trust-quarantine-system.md
  docs/architecture/adr/015-policy-deny-lists-and-tool-names.md
  docs/architecture/adr/016-nats-delivery-semantics.md
  docs/architecture/project-reference.md
  docs/tech-stack.md
Due: none

docs(features): GitHub OAuth, approval emails, review pipeline, A2A trust and GDPR wording
  docs/README.md
  docs/data-retention.md
  docs/features/01-project-dashboard.md
  docs/features/02-roadmap-feature-map.md
  docs/features/04-agent-orchestration.md
  docs/features/05-chat-enhancements.md
  docs/features/07-chat-first-orchestrator.md
  docs/privacy-policy.md
Due: none

docs: benchmark evaluation errors never score 0.0
  docs/architecture.md
  docs/architecture/adr/008-benchmark-evaluation-framework.md
  docs/features/04-agent-orchestration.md
  docs/project-status.md
  docs/tech-stack.md
  docs/todo.md
Due: none

docs(agents): update workspace, tool and delivery rules for S3-F to S6-H
  AGENTS.md
Due: none
