Repository Strob0t/CodeForge: changes, and which pre-commit hooks are due for each by the changed paths.
All: eslint, prettier

.pre-commit-config.yaml:

repos:
  # ── Allgemein ──────────────────────────────────────────────
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: end-of-file-fixer
      - id: trailing-whitespace
      - id: check-yaml
      - id: check-json
      - id: check-merge-conflict
      - id: detect-private-key

  # ── Python (Ruff) ─────────────────────────────────────────
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.11.12
    hooks:
      # 1) Imports sortieren
      - id: ruff-check
        name: ruff (sort imports)
        args: ["--select", "I", "--fix"]

      # 2) Lint/fix
      - id: ruff-check
        args: ["--fix", "--exit-non-zero-on-fix"]

      # 3) Format
      - id: ruff-format

  # ── Go ─────────────────────────────────────────────────────
  - repo: https://github.com/TekWizely/pre-commit-golang
    rev: v1.0.0-rc.1
    hooks:
      # Format
      - id: go-fmt
      # Imports sortieren
      - id: go-imports-repo
      # Vet (statische Analyse)
      - id: go-vet-repo-mod
      # golangci-lint (muss installiert sein)
      - id: golangci-lint-repo-mod

  # ── TypeScript / JavaScript (ESLint + Prettier) ────────────
  - repo: local
    hooks:
      - id: eslint
        name: eslint
        entry: npx eslint --fix
        language: system
        files: \.(ts|tsx|js|jsx)$
        types: [file]

      - id: prettier
        name: prettier
        entry: npx prettier --write --ignore-unknown
        language: system
        files: \.(ts|tsx|js|jsx|json|css|scss|html|svelte|vue)$
        types: [file]

feat: add MCP pre-save connection validation (Phase 19H)
  docs/todo.md
  frontend/src/api/client.ts
  frontend/src/api/types.ts
  frontend/src/features/mcp/MCPServersPage.tsx
  frontend/src/i18n/en.ts
  frontend/src/i18n/locales/de.ts
  internal/adapter/http/handlers_mcp.go
  internal/adapter/http/routes.go
  internal/service/mcp_test_connection.go
Due: eslint, prettier

feat: add benchmark mode with Go API, Postgres store, and frontend dashboard (Phase 20D+20E)
  cmd/codeforge/main.go
  configs/benchmarks/basic-coding.yaml
  frontend/src/App.tsx
  frontend/src/api/client.ts
  frontend/src/api/types.ts
  frontend/src/features/benchmarks/BenchmarkPage.tsx
  frontend/src/i18n/en.ts
  frontend/src/i18n/locales/de.ts
  frontend/src/index.tsx
  internal/adapter/http/handlers.go
  internal/adapter/http/handlers_benchmark.go
  internal/adapter/http/handlers_test.go
  internal/adapter/http/routes.go
  internal/adapter/postgres/migrations/041_create_benchmark_runs.sql
  internal/adapter/postgres/store_benchmark.go
  internal/config/config.go
  internal/domain/benchmark/benchmark.go
  internal/middleware/devmode.go
  internal/port/database/store.go
  internal/service/benchmark.go
  internal/service/project_test.go
  internal/service/runtime_test.go
Due: eslint, prettier

feat: add Python evaluation harness with DeepEval, AgentNeo tracing, and GEMMAS metrics (Phase 20A-C)
  docs/todo.md
  pyproject.toml
  workers/codeforge/consumer.py
  workers/codeforge/evaluation/__init__.py
  workers/codeforge/evaluation/collaboration.py
  workers/codeforge/evaluation/dag_builder.py
  workers/codeforge/evaluation/datasets.py
  workers/codeforge/evaluation/litellm_judge.py
  workers/codeforge/evaluation/metrics.py
  workers/codeforge/evaluation/runner.py
  workers/codeforge/models.py
  workers/codeforge/tracing/__init__.py
  workers/codeforge/tracing/dashboard.py
  workers/codeforge/tracing/metrics.py
  workers/codeforge/tracing/setup.py
  workers/tests/test_collaboration.py
  workers/tests/test_evaluation_datasets.py
  workers/tests/test_tracing_setup.py
Due: none

docs: add ADR-008 and update docs for benchmark evaluation framework (Phase 20F)
  CLAUDE.md
  docs/architecture/adr/008-benchmark-evaluation-framework.md
  docs/dev-setup.md
  docs/features/04-agent-orchestration.md
  docs/tech-stack.md
  docs/todo.md
Due: none

docs: final cleanup — mark Phases 18G, 19, 20 complete in project-status and todo
  docs/project-status.md
  docs/todo.md
Due: none

fix: resolve remaining TODOs — Go test fixes, Python tests, tracing, frontend refactor, docs
  codeforge.yaml.example
  configs/benchmarks/README.md
  docs/dev-setup.md
  docs/todo.md
  frontend/src/features/benchmarks/BenchmarkCompare.tsx
  frontend/src/features/benchmarks/BenchmarkPage.tsx
  frontend/src/features/benchmarks/BenchmarkRunDetail.tsx
  internal/adapter/http/handlers_test.go
  internal/domain/context/shared_test.go
  internal/service/runtime.go
  internal/service/shared_context_test.go
  workers/codeforge/agent_loop.py
  workers/codeforge/executor.py
  workers/codeforge/mcp_workbench.py
  workers/tests/test_evaluation_metrics.py
  workers/tests/test_evaluation_runner.py
  workers/tests/test_litellm_judge.py
  workers/tests/test_tracing_instrumentation.py
Due: eslint, prettier

fix: repair chat — error feedback, heartbeat type, stop endpoint, model config
  frontend/src/api/client.ts
  frontend/src/features/project/ChatPanel.tsx
  internal/adapter/http/handlers.go
  internal/adapter/http/routes.go
  internal/adapter/ws/agui_events.go
  internal/port/messagequeue/queue.go
  internal/service/conversation.go
  workers/codeforge/consumer.py
  workers/codeforge/runtime.py
Due: eslint, prettier

fix: default LITELLM_MASTER_KEY to dev value in Python worker config
  workers/codeforge/config.py
Due: none

fix: skip LiteLLM tag routing when explicit model is configured
  litellm/config.yaml
  workers/codeforge/agent_loop.py
Due: none

refactor: remove redundant "default" tag from LiteLLM scenario routing
  docs/architecture.md
  docs/features/03-multi-llm-provider.md
  litellm/config.yaml
  workers/codeforge/agent_loop.py
  workers/codeforge/llm.py
  workers/tests/test_llm.py
Due: none

fix: prompt editor Select/toast API, LLM error logging, docs & deps update
  .devcontainer/setup.sh
  docs/architecture.md
  docs/architecture/adr/008-benchmark-evaluation-framework.md
  docs/backend-qa-testplan.md
  docs/e2e-test-plan.md
  docs/features/04-agent-orchestration.md
  docs/research/market-analysis.md
  docs/todo.md
  frontend/src/features/prompts/PromptEditorPage.tsx
  poetry.lock
  workers/codeforge/llm.py
Due: eslint, prettier

fix: resolve 5 dependency conflicts, upgrade Go 1.24→1.25, deepeval 3.x
  .devcontainer/devcontainer.json
  .github/workflows/ci.yml
  CLAUDE.md
  Dockerfile
  docs/tech-stack.md
  docs/todo.md
  frontend/package-lock.json
  frontend/package.json
  go.mod
  go.sum
  poetry.lock
  pyproject.toml
  workers/codeforge/evaluation/litellm_judge.py
  workers/codeforge/evaluation/metrics.py
  workers/tests/test_evaluation_metrics.py
  workers/tests/test_evaluation_runner.py
Due: prettier

fix: stub audit remediation — 7 work packages fixing critical stubs
  cmd/codeforge/main.go
  configs/model_pricing.yaml
  docs/project-status.md
  docs/todo.md
  frontend/src/api/client.ts
  frontend/src/api/types.ts
  frontend/src/api/websocket.ts
  frontend/src/features/benchmarks/BenchmarkCompare.tsx
  frontend/src/features/project/RoadmapPanel.tsx
  frontend/src/features/settings/SettingsPage.tsx
  frontend/src/i18n/en.ts
  frontend/src/i18n/locales/de.ts
  internal/adapter/nats/nats.go
  internal/port/a2a/agentcard.go
  internal/port/a2a/handler.go
  internal/port/messagequeue/queue.go
  internal/port/messagequeue/schemas.go
  internal/port/messagequeue/validator.go
  internal/service/evaluation.go
  internal/service/evaluation_test.go
  internal/service/mode_prompt.go
  internal/service/mode_prompt_integration_test.go
  internal/service/orchestrator.go
  internal/service/pm_webhook.go
  internal/service/roadmap.go
  internal/service/runtime_hitl_test.go
  internal/service/sync.go
  workers/codeforge/consumer.py
  workers/codeforge/evaluation/collaboration.py
  workers/codeforge/evaluation/executor.py
  workers/codeforge/evaluation/runner.py
  workers/codeforge/models.py
  workers/codeforge/tracing/__init__.py
  workers/codeforge/tracing/metrics.py
  workers/codeforge/tracing/setup.py
  workers/tests/test_collaboration.py
  workers/tests/test_evaluation_executor.py
Due: eslint, prettier

chore: upgrade PostgreSQL 17→18 (Docker images, CI, docs)
  .github/workflows/ci.yml
  CLAUDE.md
  README.md
  docker-compose.prod.yml
  docker-compose.yml
  docs/architecture/adr/002-postgresql-database.md
  docs/backend-qa-testplan.md
  docs/project-status.md
  docs/tech-stack.md
  docs/todo.md
Due: none

fix: stabilize E2E tests — 471 pass, 0 fail across 60 files
  frontend/e2e/a11y.spec.ts
  frontend/e2e/activity.spec.ts
  frontend/e2e/api/conversations-api.spec.ts
  frontend/e2e/auth.spec.ts
  frontend/e2e/benchmarks.spec.ts
  frontend/e2e/costs.spec.ts
  frontend/e2e/cross-page-flows.spec.ts
  frontend/e2e/health.spec.ts
  frontend/e2e/knowledge-bases.spec.ts
  frontend/e2e/mcp.spec.ts
  frontend/e2e/models.spec.ts
  frontend/e2e/modes.spec.ts
  frontend/e2e/not-found.spec.ts
  frontend/e2e/prompts.spec.ts
  frontend/e2e/scopes.spec.ts
  frontend/e2e/security.spec.ts
  frontend/e2e/settings.spec.ts
  frontend/e2e/teams.spec.ts
  frontend/e2e/websocket-ui.spec.ts
Due: eslint, prettier

fix: log LiteLLM error body before raising on HTTP failures
  workers/codeforge/llm.py
Due: none

fix: replace hardcoded ollama/llama3.2 fallback with configurable default
  workers/codeforge/llm.py
Due: none

docs: clarify unimplemented patterns in CLAUDE.md with planned markers
  CLAUDE.md
  docs/audit-docs-vs-code.md
Due: none

feat: wire OTEL spans/metrics + implement agent backend routing
  cmd/codeforge/main.go
  internal/service/conversation.go
  internal/service/runtime.go
  workers/codeforge/backends/__init__.py
  workers/codeforge/backends/_base.py
  workers/codeforge/backends/aider.py
  workers/codeforge/backends/goose.py
  workers/codeforge/backends/opencode.py
  workers/codeforge/backends/openhands.py
  workers/codeforge/backends/plandex.py
  workers/codeforge/backends/router.py
  workers/codeforge/config.py
  workers/codeforge/consumer.py
  workers/tests/test_backend_aider.py
  workers/tests/test_backend_router.py
  workers/tests/test_backend_stubs.py
  workers/tests/test_consumer.py
Due: none

docs: update docs and todo for Priority 4 (OTEL + backend routing)
  docs/audit-docs-vs-code.md
  docs/dev-setup.md
  docs/features/04-agent-orchestration.md
  docs/project-status.md
  docs/todo.md
Due: none

fix: resolve lint issues and wire Phase 22 integration (feedback, skills, handoff)
  .vscode/settings.json
  CLAUDE.md
  cmd/codeforge/main.go
  docs/project-status.md
  docs/todo.md
  internal/adapter/copilot/client.go
  internal/adapter/copilot/client_test.go
  internal/adapter/email/feedback.go
  internal/adapter/email/notifier.go
  internal/adapter/http/handlers.go
  internal/adapter/slack/feedback.go
  internal/domain/microagent/loader.go
  internal/service/conversation.go
  internal/service/experience_pool.go
  internal/service/handoff.go
  internal/service/memory.go
  internal/service/microagent.go
  internal/service/model_registry.go
  internal/service/orchestrator.go
  internal/service/orchestrator_test.go
  internal/service/review_router_test.go
  internal/service/runtime.go
  internal/service/skill.go
Due: prettier

fix: resolve all pre-commit lint failures across Go, Python, and frontend
  .pre-commit-config.yaml
Due: none

fix: auth flow, WebSocket reconnect, cookie security, and git provider defaults
  frontend/src/App.tsx
  frontend/src/api/websocket.ts
  frontend/src/components/AuthProvider.tsx
  frontend/src/components/RouteGuard.tsx
  internal/adapter/http/handlers_auth.go
  internal/service/project.go
Due: eslint, prettier

fix: add missing context and microagent_prompts fields to RunStartMessage models
  workers/codeforge/models.py
Due: none

fix: command palette keyboard nav, teams expand crash, modes delete, and auth improvements
  .gitignore
  frontend/src/App.tsx
  frontend/src/api/client.ts
  frontend/src/api/types.ts
  frontend/src/components/AuthProvider.tsx
  frontend/src/components/CommandPalette.tsx
  frontend/src/components/RouteGuard.tsx
  frontend/src/features/auth/ChangePasswordPage.tsx
  frontend/src/features/auth/LoginPage.tsx
  frontend/src/features/modes/ModesPage.tsx
  frontend/src/features/teams/TeamsPage.tsx
  frontend/src/i18n/en.ts
  frontend/src/i18n/locales/de.ts
  frontend/src/index.tsx
  internal/adapter/http/handlers.go
  internal/adapter/http/routes.go
  internal/adapter/postgres/store_user.go
  internal/middleware/auth.go
  internal/service/mode.go
Due: eslint, prettier

feat: auth overhaul — setup wizard, CLI admin tool, password reset, security hardening
  cmd/codeforge/admin.go
  cmd/codeforge/main.go
  frontend/src/App.tsx
  frontend/src/api/client.ts
  frontend/src/api/types.ts
  frontend/src/components/AuthProvider.tsx
  frontend/src/features/auth/ForgotPasswordPage.tsx
  frontend/src/features/auth/LoginPage.tsx
  frontend/src/features/auth/ResetPasswordPage.tsx
  frontend/src/features/auth/SetupPage.tsx
  frontend/src/i18n/en.ts
  frontend/src/i18n/locales/de.ts
  frontend/src/index.tsx
  go.mod
  go.sum
  internal/adapter/http/handlers_auth.go
  internal/adapter/http/handlers_test.go
  internal/adapter/http/routes.go
  internal/adapter/postgres/migrations/047_password_reset_tokens.sql
  internal/adapter/postgres/store_user.go
  internal/config/config.go
  internal/config/loader.go
  internal/domain/user/user.go
  internal/middleware/auth.go
  internal/port/database/store.go
  internal/service/auth.go
  internal/service/project_test.go
  internal/service/runtime_test.go
Due: eslint, prettier

fix: add auth admin password to VS Code launch configs for F5 debugging
  .vscode/launch.json
Due: prettier

fix: sync admin password from env var on startup when user already exists
  internal/service/auth.go
Due: none

refactor(frontend): integrate hooks into feature pages, replace encodeURIComponent with url template
  .vscode/launch.json
  frontend/src/api/client.ts
  frontend/src/features/auth/ChangePasswordPage.tsx
  frontend/src/features/auth/ForgotPasswordPage.tsx
  frontend/src/features/auth/LoginPage.tsx
  frontend/src/features/auth/ResetPasswordPage.tsx
  frontend/src/features/auth/SetupPage.tsx
  frontend/src/features/knowledgebases/KnowledgeBasesPage.tsx
  frontend/src/features/llm/ModelsPage.tsx
  frontend/src/features/mcp/MCPServersPage.tsx
  frontend/src/features/modes/ModesPage.tsx
  frontend/src/features/teams/TeamsPage.tsx
Due: eslint, prettier

test: comprehensive auth service tests — refresh tokens, lockout, password reset, admin flows
  internal/middleware/auth_test.go
  internal/middleware/teststore_test.go
  internal/service/auth_test.go
  internal/service/project_test.go
Due: none

fix: resolve SolidJS reactivity warnings in CodeEditor, FileTree, and ChatPanel
  frontend/src/features/project/ChatPanel.tsx
  frontend/src/features/project/CodeEditor.tsx
  frontend/src/features/project/FileTree.tsx
Due: eslint, prettier

docs: mark 11 stale stub audit items as completed in todo.md
  docs/todo.md
Due: none

docs: add comprehensive QA audit work plan with ~90 new test cases
  docs/todo.md
Due: none

test: P0 auth + orchestration handler tests — 41 new test functions
  docs/todo.md
  internal/adapter/http/handlers_auth_test.go
  internal/adapter/http/handlers_orchestration_test.go
  internal/adapter/http/handlers_test.go
Due: none

test: P1 handler tests — auto-agent, file browser, roadmap, agent features (40 new tests)
  CLAUDE.md
  docs/todo.md
  internal/adapter/http/handlers_agent_features_test.go
  internal/adapter/http/handlers_autoagent_test.go
  internal/adapter/http/handlers_files_test.go
  internal/adapter/http/handlers_roadmap_test.go
  internal/adapter/http/handlers_test.go
  internal/domain/orchestration/handoff.go
  internal/domain/policy/evaluation.go
  internal/domain/policy/policy.go
  internal/domain/policy/policy_test.go
  internal/domain/trust/trust.go
  internal/domain/trust/trust_test.go
  internal/port/a2a/handler.go
  internal/port/a2a/types.go
  internal/port/messagequeue/schemas.go
  internal/service/handoff.go
  internal/service/runtime.go
Due: none

test: P2 conversation handler tests — 14 new tests for CRUD, messages, stop, approval
  docs/todo.md
  internal/adapter/http/handlers_conversation_test.go
  internal/adapter/http/handlers_test.go
Due: none
