Repository Strob0t/CodeForge: changes, and which pre-commit hooks are due for each by the changed paths.
All: go-imports-repo, go-vet-repo-mod, golangci-lint-repo-mod, eslint, prettier

.pre-commit-config.yaml:

repos:
  # -- General ----------------------------------------------
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: end-of-file-fixer
      - id: trailing-whitespace
      - id: check-yaml
      - id: check-json
      - id: check-merge-conflict
      - id: detect-private-key

  # -- Python (Ruff) -----------------------------------------
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.15.1
    hooks:
      # 1) Sort imports
      - id: ruff-check
        name: ruff (sort imports)
        args: ["--select", "I", "--fix"]

      # 2) Lint/fix
      - id: ruff-check
        args: ["--fix", "--exit-non-zero-on-fix"]

      # 3) Format
      - id: ruff-format

  # -- Go -----------------------------------------------------
  - repo: https://github.com/TekWizely/pre-commit-golang
    rev: v1.0.0-rc.1
    hooks:
      # Format
      - id: go-fmt

  # Go hooks that need GOROOT set for Go 1.25 toolchain
  - repo: local
    hooks:
      - id: go-imports-repo
        name: go-imports-repo
        entry: bash -c 'export GOROOT=/go/pkg/mod/golang.org/toolchain@v0.0.1-go1.25.0.linux-amd64 && goimports -l -d $(find . -name "*.go" -not -path "./data/*" -not -path "./vendor/*")'
        language: system
        pass_filenames: false
        types: [go]

      - id: go-vet-repo-mod
        name: go-vet-repo-mod
        entry: bash -c 'export GOROOT=/go/pkg/mod/golang.org/toolchain@v0.0.1-go1.25.0.linux-amd64 && go vet ./...'
        language: system
        pass_filenames: false
        types: [go]

      - id: golangci-lint-repo-mod
        name: golangci-lint-repo-mod
        entry: bash -c 'export GOROOT=/go/pkg/mod/golang.org/toolchain@v0.0.1-go1.25.0.linux-amd64 && golangci-lint run ./...'
        language: system
        pass_filenames: false
        types: [go]

  # -- TypeScript / JavaScript (ESLint + Prettier) ------------
  - repo: local
    hooks:
      - id: eslint
        name: eslint
        entry: frontend/node_modules/.bin/eslint --config frontend/eslint.config.js --fix
        language: system
        files: ^frontend/src/.*\.(ts|tsx|js|jsx)$
        types: [file]

      - id: prettier
        name: prettier
        entry: frontend/node_modules/.bin/prettier --write --ignore-unknown
        language: system
        files: \.(ts|tsx|js|jsx|json|css|scss|html)$
        types: [file]

test: implement FIX-032 test cases in runtime_execution_source_test.go
  internal/service/runtime_execution_source_test.go
Due: go-imports-repo, go-vet-repo-mod, golangci-lint-repo-mod

test: implement FIX-032 test cases in runtime_lifecycle_source_test.go
  internal/service/runtime_lifecycle_source_test.go
Due: go-imports-repo, go-vet-repo-mod, golangci-lint-repo-mod

fix(ui): add z-20 to GoalsPanel form to prevent Chat Send button overlap
  frontend/src/features/project/GoalsPanel.tsx
Due: eslint, prettier

revert: remove z-index experiment on left/chat panels (Playwright limitation)
  frontend/src/features/project/ProjectDetailPage.tsx
Due: eslint, prettier

docs(testing): interactive QA report — 20/42 phases, 18 PASS, 1 bug fixed
  docs/testing/2026-03-22-interactive-qa-report.md
Due: none

docs(testing): complete interactive QA report — 27/42 phases, 25 PASS
  docs/testing/2026-03-22-interactive-qa-report.md
Due: none

docs(testing): final QA report — 38/42 phases, 35 PASS, 0 FAIL
  docs/testing/2026-03-22-interactive-qa-report.md
Due: none

docs(testing): clean up — delete redundant S2, rename all files
  docs/testing/2026-03-17-interactive-qa-report.md
  docs/testing/2026-03-17-interactive-qa-testplan.md
  docs/testing/2026-03-18-interactive-qa-report.md
  docs/testing/2026-03-20-autonomous-s2-task-manager-report.md
  docs/testing/autonomous-goal-to-program-report.md
  docs/testing/autonomous-goal-to-program-testplan.md
  docs/testing/benchmark-e2e-report.md
  docs/testing/full-service-interactive-qa-report.md
  docs/testing/full-service-interactive-qa-testplan.md
  docs/testing/smoke-frontend-components-report.md
  docs/testing/smoke-frontend-components-testplan.md
Due: none

docs(testing): QA Run 2 — 27 PASS, 5 PARTIAL, 0 FAIL across 42 phases
  CLAUDE.md
  docs/architecture.md
  docs/architecture/adr/001-nats-jetstream-message-queue.md
  docs/architecture/adr/002-postgresql-database.md
  docs/architecture/adr/003-config-hierarchy.md
  docs/architecture/adr/004-async-logging.md
  docs/architecture/adr/005-docker-native-logging.md
  docs/architecture/adr/006-agent-execution-approach-c.md
  docs/dev-setup.md
  docs/features/01-project-dashboard.md
  docs/features/02-roadmap-feature-map.md
  docs/features/03-multi-llm-provider.md
  docs/features/04-agent-orchestration.md
  docs/features/06-visual-design-canvas.md
  docs/project-status.md
  docs/prompts/doc-audit.md
  docs/tech-stack.md
  docs/testing/full-service-interactive-qa-report.md
Due: none

fix: 4 QA bugs — goals toast, file tree refresh, git pull error, z-index
  docs/superpowers/plans/2026-03-22-qa-bugfixes.md
  frontend/src/features/project/FilePanel.tsx
  frontend/src/features/project/GoalsPanel.tsx
  internal/service/project.go
Due: go-imports-repo, go-vet-repo-mod, golangci-lint-repo-mod, eslint, prettier

docs: fix 45 documentation mismatches against codebase (audit round 2)
  docs/architecture.md
  docs/architecture/adr/001-nats-jetstream-message-queue.md
  docs/architecture/adr/002-postgresql-database.md
  docs/architecture/adr/004-async-logging.md
  docs/architecture/adr/005-docker-native-logging.md
  docs/architecture/adr/008-benchmark-evaluation-framework.md
  docs/dev-setup.md
  docs/features/02-roadmap-feature-map.md
  docs/features/03-multi-llm-provider.md
  docs/features/04-agent-orchestration.md
  docs/features/06-visual-design-canvas.md
  docs/project-status.md
  docs/tech-stack.md
Due: none

docs(spec): autonomous multi-language project testplan design
  docs/superpowers/specs/2026-03-22-autonomous-multi-language-testplan-design.md
Due: none

refactor: move specs/plans out of docs/superpowers/ to docs/specs/ and docs/plans/
  docs/plans/2026-03-22-qa-bugfixes.md
  docs/specs/2026-03-22-autonomous-multi-language-testplan-design.md
Due: none

docs(plans): implementation plan for multi-language autonomous testplan
  docs/plans/2026-03-22-autonomous-multi-language-testplan.md
Due: none

fix(files): file tree auto-refreshes after New File creation
  frontend/src/features/project/FileTree.tsx
Due: eslint, prettier

docs(testing): mark all 4 QA bugs as FIXED in report
  docs/testing/full-service-interactive-qa-report.md
Due: none

docs(testing): autonomous multi-language testplan runbook
  docs/testing/autonomous-multi-language-testplan.md
Due: none

docs: add multi-language autonomous testplan to todo tracker
  docs/todo.md
Due: none

docs(testing): multi-language autonomous testplan — Run 1 report
  docs/testing/2026-03-22-multi-language-autonomous-report.md
  litellm/config.yaml
Due: none

refactor: unify env var naming, centralize config reads, document all vars
  .env.example
  cmd/codeforge/main.go
  docker-compose.prod.yml
  docs/dev-setup.md
  frontend/e2e/benchmark-validation/helpers.ts
  internal/adapter/auth/github.go
  internal/adapter/auth/provider.go
  internal/adapter/http/handlers.go
  internal/adapter/http/handlers_agent_features.go
  internal/adapter/http/handlers_benchmark_rlvr_test.go
  internal/adapter/http/handlers_llm.go
  internal/adapter/http/handlers_test.go
  internal/adapter/http/middleware.go
  internal/adapter/http/routes.go
  internal/adapter/plane/provider.go
  internal/adapter/plane/provider_test.go
  internal/config/config.go
  internal/config/loader.go
  internal/middleware/auth.go
  internal/middleware/devmode.go
  internal/service/conversation.go
  internal/service/conversation_agent.go
  internal/service/model_registry.go
  internal/service/model_registry_test.go
  workers/codeforge/consumer/_benchmark.py
  workers/tests/test_benchmark_parallel.py
Due: go-imports-repo, go-vet-repo-mod, golangci-lint-repo-mod, prettier

docs(audit): update config-env-audit with fix status for all findings
  docs/audits/config-env-audit.md
Due: none

fix: plan/act controller accepts mode-specific extra plan tools (Bug #2)
  workers/codeforge/plan_act.py
  workers/tests/test_plan_act.py
Due: none

fix: pass mode tools to PlanActController as extra plan tools
  workers/codeforge/agent_loop.py
  workers/codeforge/consumer/_conversation.py
Due: none

fix: include detected frameworks in agent stack context (Bug #4+6)
  internal/service/conversation_agent.go
  internal/service/conversation_agent_test.go
Due: go-imports-repo, go-vet-repo-mod, golangci-lint-repo-mod

refactor: centralize all Python worker env reads via get_settings()
  cmd/codeforge/main.go
  internal/config/config.go
  internal/config/loader.go
  workers/codeforge/agent_loop.py
  workers/codeforge/claude_code_availability.py
  workers/codeforge/claude_code_executor.py
  workers/codeforge/config.py
  workers/codeforge/consumer/__init__.py
  workers/codeforge/consumer/_benchmark.py
  workers/codeforge/consumer/_compact.py
  workers/codeforge/consumer/_conversation.py
  workers/codeforge/evaluation/cache.py
  workers/codeforge/evaluation/litellm_judge.py
  workers/codeforge/evaluation/runners/early_stopping.py
  workers/codeforge/llm.py
  workers/codeforge/model_resolver.py
  workers/codeforge/plan_act.py
  workers/codeforge/routing/blocklist.py
  workers/codeforge/routing/router.py
  workers/codeforge/tools/search_conversations.py
  workers/codeforge/tracing/setup.py
Due: go-imports-repo, go-vet-repo-mod, golangci-lint-repo-mod

feat: post-write syntax check module for agent file operations
  pyproject.toml
  workers/codeforge/tools/_lint.py
  workers/codeforge/tools/test_lint.py
Due: none

feat: integrate post-write syntax check into write_file and edit_file tools
  workers/codeforge/tools/edit_file.py
  workers/codeforge/tools/write_file.py
Due: none

fix: add testing/git/framework checklist to coder mode prompt (Bug #7, #8)
  internal/service/prompts/modes/coder.yaml
Due: none

test: regenerate golden files after coder prompt update
  internal/service/testdata/golden/coder-headless-full-prod-agentic.txt
  internal/service/testdata/golden/coder-supervised-full-dev-agentic.txt
Due: none

docs(plans): implementation plan for testplan bug fixes
  docs/plans/2026-03-22-testplan-bugfixes.md
Due: none

docs(testing): add conversational strategy and run learnings to testplan
  docs/testing/autonomous-multi-language-testplan.md
Due: none

docs(testing): update report with Run 2+3 results, cross-run summary
  docs/testing/2026-03-22-multi-language-autonomous-report.md
Due: none

docs: weak model adaptation — design spec + implementation plan
  docs/plans/2026-03-22-weak-model-adaptation.md
  docs/specs/2026-03-22-weak-model-adaptation-design.md
Due: none

feat: filter tools by capability level -- weak models see fewer tools (M1)
  workers/codeforge/agent_loop.py
  workers/codeforge/consumer/_conversation.py
  workers/codeforge/tools/capability.py
  workers/tests/test_capability.py
Due: none

feat: step-by-step workflow prompt for weak models (M2)
  internal/service/prompts/model_adaptive/step_by_step.yaml
  workers/codeforge/consumer/_conversation.py
Due: none

feat: capability-based context limits -- 16K for weak models (M3)
  workers/codeforge/consumer/_conversation.py
Due: none

feat: complete tool guidance for create_skill and propose_goal (M4)
  workers/codeforge/tools/create_skill.py
  workers/codeforge/tools/propose_goal.py
Due: none

feat: per-tool error counter with NON-RETRYABLE blocking (M5)
  workers/codeforge/agent_loop.py
  workers/tests/test_agent_loop.py
Due: none

fix: add exc_info logging to Python exception handlers (Q-004, Q-019)
  workers/codeforge/context_reranker.py
  workers/codeforge/history.py
  workers/codeforge/model_resolver.py
Due: none

fix: Go security hardening — HSTS, rate limits, error wrapping (S-009, C-001, I-016, I-020, Q-007, S-005)
  cmd/codeforge/main.go
  internal/adapter/http/handlers_auth.go
  internal/adapter/http/helpers.go
  internal/adapter/http/middleware.go
  internal/adapter/tiered/cache.go
  internal/domain/user/user.go
  internal/domain/user/user_test.go
  internal/git/pool.go
  internal/resilience/breaker.go
  internal/service/vcsaccount.go
Due: go-imports-repo, go-vet-repo-mod, golangci-lint-repo-mod
