Repository Strob0t/CodeForge: changes, and which pre-commit hooks are due for each by the changed paths.
All: go-imports-repo, go-vet-repo-mod, golangci-lint-repo-mod, eslint, prettier

.pre-commit-config.yaml:

repos:
  # -- General ----------------------------------------------
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: end-of-file-fixer
      - id: trailing-whitespace
      - id: check-yaml
      - id: check-json
      - id: check-merge-conflict
      - id: detect-private-key

  # -- Python (Ruff) -----------------------------------------
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.15.1
    hooks:
      # 1) Sort imports
      - id: ruff-check
        name: ruff (sort imports)
        args: ["--select", "I", "--fix"]

      # 2) Lint/fix
      - id: ruff-check
        args: ["--fix", "--exit-non-zero-on-fix"]

      # 3) Format
      - id: ruff-format

  # -- Go -----------------------------------------------------
  - repo: https://github.com/TekWizely/pre-commit-golang
    rev: v1.0.0-rc.1
    hooks:
      # Format
      - id: go-fmt

  # Go hooks that need GOROOT set for Go 1.25 toolchain
  - repo: local
    hooks:
      - id: go-imports-repo
        name: go-imports-repo
        entry: bash -c 'export GOROOT=/go/pkg/mod/golang.org/toolchain@v0.0.1-go1.25.0.linux-amd64 && goimports -l -d $(find . -name "*.go" -not -path "./data/*" -not -path "./vendor/*")'
        language: system
        pass_filenames: false
        types: [go]

      - id: go-vet-repo-mod
        name: go-vet-repo-mod
        entry: bash -c 'export GOROOT=/go/pkg/mod/golang.org/toolchain@v0.0.1-go1.25.0.linux-amd64 && go vet ./...'
        language: system
        pass_filenames: false
        types: [go]

      - id: golangci-lint-repo-mod
        name: golangci-lint-repo-mod
        entry: bash -c 'export GOROOT=/go/pkg/mod/golang.org/toolchain@v0.0.1-go1.25.0.linux-amd64 && golangci-lint run ./...'
        language: system
        pass_filenames: false
        types: [go]

  # -- TypeScript / JavaScript (ESLint + Prettier) ------------
  - repo: local
    hooks:
      - id: eslint
        name: eslint
        entry: frontend/node_modules/.bin/eslint --config frontend/eslint.config.js --fix
        language: system
        files: ^frontend/src/.*\.(ts|tsx|js|jsx)$
        types: [file]

      - id: prettier
        name: prettier
        entry: frontend/node_modules/.bin/prettier --write --ignore-unknown
        language: system
        files: \.(ts|tsx|js|jsx|json|css|scss|html)$
        types: [file]

refactor(http): extract queryParamInt helper, deduplicate query param parsing
  internal/adapter/http/handlers_cost.go
  internal/adapter/http/handlers_roadmap.go
  internal/adapter/http/handlers_routing.go
  internal/adapter/http/handlers_session.go
  internal/adapter/http/helpers.go
  workers/codeforge/consumer/_base.py
  workers/codeforge/consumer/_retrieval.py
Due: go-imports-repo, go-vet-repo-mod, golangci-lint-repo-mod

refactor(frontend): add ResourceView component, consolidate loading/empty patterns
  frontend/src/features/benchmarks/SuiteManagement.tsx
  frontend/src/ui/composites/ResourceView.tsx
  frontend/src/ui/composites/index.ts
  frontend/src/ui/index.ts
Due: eslint, prettier

refactor(tools): extract catch_os_error decorator, deduplicate 6 handlers
  workers/codeforge/tools/_error_handler.py
  workers/codeforge/tools/edit_file.py
  workers/codeforge/tools/read_file.py
  workers/codeforge/tools/write_file.py
  workers/tests/test_tool_error_handler.py
Due: none

refactor(http): extract writeJSONList, eliminate nil-to-empty conversions
  frontend/src/utils/getErrorMessage.test.ts
  frontend/src/utils/getErrorMessage.ts
Due: eslint, prettier

refactor(llm): extract _extract_cost helper, deduplicate 3 cost-parsing blocks
  workers/codeforge/llm.py
Due: none

refactor(http): extract writeJSONList, eliminate nil-to-empty conversions
  internal/adapter/http/handlers_a2a.go
  internal/adapter/http/handlers_agent_features.go
  internal/adapter/http/handlers_auth.go
  internal/adapter/http/handlers_benchmark.go
  internal/adapter/http/handlers_conversation.go
  internal/adapter/http/handlers_cost.go
  internal/adapter/http/handlers_files.go
  internal/adapter/http/handlers_goals.go
  internal/adapter/http/handlers_knowledgebase.go
  internal/adapter/http/handlers_llm.go
  internal/adapter/http/handlers_llm_keys.go
  internal/adapter/http/handlers_mcp.go
  internal/adapter/http/handlers_orchestration.go
  internal/adapter/http/handlers_prompt_section.go
  internal/adapter/http/handlers_quarantine.go
  internal/adapter/http/handlers_scope.go
  internal/adapter/http/handlers_session.go
  internal/adapter/http/handlers_settings.go
Due: go-imports-repo, go-vet-repo-mod, golangci-lint-repo-mod

refactor(runners): extract BaseBenchmarkRunner, deduplicate run_tasks across 3 runners
  workers/codeforge/evaluation/runners/__init__.py
  workers/codeforge/evaluation/runners/_base.py
  workers/codeforge/evaluation/runners/agent.py
  workers/codeforge/evaluation/runners/multi_rollout.py
  workers/codeforge/evaluation/runners/simple.py
  workers/codeforge/evaluation/runners/tool_use.py
  workers/tests/test_base_benchmark_runner.py
Due: none

refactor(store): extract generic scanRows helper, consolidate SQL iteration
  internal/adapter/postgres/helpers.go
  internal/adapter/postgres/store_experience.go
  internal/adapter/postgres/store_microagent.go
  internal/adapter/postgres/store_prompt_section.go
  internal/adapter/postgres/store_skill.go
Due: go-imports-repo, go-vet-repo-mod, golangci-lint-repo-mod

refactor(routing): externalize complexity weights/thresholds/boosts to RoutingConfig
  workers/codeforge/routing/complexity.py
  workers/codeforge/routing/models.py
Due: none

refactor(config): externalize HTTP server timeouts to config
  cmd/codeforge/main.go
  internal/config/config.go
  workers/codeforge/backends/openhands.py
Due: go-imports-repo, go-vet-repo-mod, golangci-lint-repo-mod

refactor(consumer): externalize error backoff config to env vars
  workers/codeforge/consumer/__init__.py
Due: none

refactor(config): externalize stale work recovery thresholds
  cmd/codeforge/main.go
  internal/config/config.go
Due: go-imports-repo, go-vet-repo-mod, golangci-lint-repo-mod

refactor(frontend): add getErrorMessage utility, standardize error extraction
  frontend/src/features/knowledgebases/KnowledgeBasesPage.tsx
  frontend/src/features/llm/ModelsPage.tsx
  frontend/src/features/project/CompactSettingsPopover.tsx
  frontend/src/features/scopes/ScopesPage.tsx
Due: eslint, prettier

refactor(frontend): extract useFocusTrap hook from Modal focus-trap logic
  frontend/src/hooks/index.ts
  frontend/src/hooks/useFocusTrap.ts
  frontend/src/ui/composites/Modal.tsx
Due: eslint, prettier

refactor(frontend): extract CHART_COLORS + RADAR_DEFAULTS to design-constants
  frontend/src/config/design-constants.ts
  frontend/src/features/benchmarks/MultiCompareView.tsx
Due: eslint, prettier

refactor(frontend): adopt useAsyncAction across 6 pages, remove manual try/catch/setSaving
  frontend/src/features/benchmarks/MultiCompareView.tsx
  frontend/src/features/project/AutoAgentButton.tsx
  frontend/src/features/project/CompactSettingsPopover.tsx
  frontend/src/features/project/featuremap/FeatureCardForm.tsx
  frontend/src/features/project/featuremap/MilestoneForm.tsx
  frontend/src/features/settings/SettingsPage.tsx
Due: eslint, prettier

refactor(frontend): adopt useFormState in PromptEditorPage, replace 6 form signals
  frontend/src/features/prompts/PromptEditorPage.tsx
Due: eslint, prettier

refactor(frontend): create GridLayout component, migrate 5 card-grid pages
  frontend/src/features/dashboard/DashboardPage.tsx
  frontend/src/features/knowledgebases/KnowledgeBasesPage.tsx
  frontend/src/features/llm/ModelsPage.tsx
  frontend/src/features/modes/ModesPage.tsx
  frontend/src/features/scopes/ScopesPage.tsx
  frontend/src/ui/index.ts
  frontend/src/ui/layout/GridLayout.tsx
  frontend/src/ui/layout/index.ts
Due: eslint, prettier

refactor(frontend): adopt useAsyncAction in 4 remaining pages
  frontend/src/features/audit/AuditTable.tsx
  frontend/src/features/dashboard/DashboardPage.tsx
  frontend/src/features/project/FilePanel.tsx
  frontend/src/features/project/PolicyPanel.tsx
Due: eslint, prettier

refactor(consumer): migrate 10 handlers to _handle_request base helper
  workers/codeforge/consumer/_benchmark.py
  workers/codeforge/consumer/_graph.py
  workers/codeforge/consumer/_memory.py
  workers/codeforge/consumer/_quality_gate.py
  workers/codeforge/consumer/_repomap.py
  workers/codeforge/consumer/_retrieval.py
  workers/codeforge/consumer/_runs.py
Due: none

refactor(frontend): adopt useFormState in BenchmarkPage and DashboardPage
  frontend/src/features/benchmarks/BenchmarkPage.tsx
  frontend/src/features/dashboard/DashboardPage.tsx
Due: eslint, prettier

refactor(go): migrate 27 store files to scanRows[T] generic helper + docs
  docs/project-status.md
  docs/todo.md
  internal/adapter/postgres/eventstore.go
  internal/adapter/postgres/store.go
  internal/adapter/postgres/store_a2a.go
  internal/adapter/postgres/store_active_work.go
  internal/adapter/postgres/store_agent_identity.go
  internal/adapter/postgres/store_api_key.go
  internal/adapter/postgres/store_benchmark.go
  internal/adapter/postgres/store_benchmark_suite.go
  internal/adapter/postgres/store_conversation.go
  internal/adapter/postgres/store_feedback.go
  internal/adapter/postgres/store_knowledgebase.go
  internal/adapter/postgres/store_llm_key.go
  internal/adapter/postgres/store_mcp.go
  internal/adapter/postgres/store_memory.go
  internal/adapter/postgres/store_project_goal.go
  internal/adapter/postgres/store_quarantine.go
  internal/adapter/postgres/store_review.go
  internal/adapter/postgres/store_routing.go
  internal/adapter/postgres/store_scope.go
  internal/adapter/postgres/store_settings.go
  internal/adapter/postgres/store_tenant.go
  internal/adapter/postgres/store_user.go
  internal/adapter/postgres/store_vcsaccount.go
Due: go-imports-repo, go-vet-repo-mod, golangci-lint-repo-mod

fix(plan): correct 7 issues in dashboard polish implementation plan
  docs/plans/2026-03-08-dashboard-polish-plan.md
Due: none

deps: add @unovis/ts and @unovis/solid for dashboard charts
  frontend/package-lock.json
  frontend/package.json
Due: prettier

feat(dashboard): add domain types and health score formula
  internal/domain/dashboard/dashboard.go
  internal/domain/dashboard/dashboard_test.go
Due: go-imports-repo, go-vet-repo-mod, golangci-lint-repo-mod

feat(dashboard): add store interface + SQL queries for dashboard aggregation
  internal/adapter/http/handlers_test.go
  internal/adapter/postgres/migrations/065_benchmark_result_rollout_fields.sql
  internal/adapter/postgres/store_dashboard.go
  internal/middleware/teststore_test.go
  internal/port/database/store.go
  internal/port/messagequeue/testdata/contracts/a2a_task_complete.json
  internal/port/messagequeue/testdata/contracts/a2a_task_created.json
  internal/port/messagequeue/testdata/contracts/benchmark_run_request.json
  internal/port/messagequeue/testdata/contracts/benchmark_run_result.json
  internal/port/messagequeue/testdata/contracts/conversation_run_complete.json
  internal/port/messagequeue/testdata/contracts/conversation_run_start.json
  internal/port/messagequeue/testdata/contracts/evaluation_gemmas_request.json
  internal/port/messagequeue/testdata/contracts/evaluation_gemmas_result.json
  internal/port/messagequeue/testdata/contracts/graph_build_request.json
  internal/port/messagequeue/testdata/contracts/graph_build_result.json
  internal/port/messagequeue/testdata/contracts/graph_search_request.json
  internal/port/messagequeue/testdata/contracts/graph_search_result.json
  internal/port/messagequeue/testdata/contracts/repomap_generate_request.json
  internal/port/messagequeue/testdata/contracts/repomap_generate_result.json
  internal/port/messagequeue/testdata/contracts/retrieval_index_request.json
  internal/port/messagequeue/testdata/contracts/retrieval_index_result.json
  internal/port/messagequeue/testdata/contracts/retrieval_search_request.json
  internal/port/messagequeue/testdata/contracts/retrieval_search_result.json
  internal/port/messagequeue/testdata/contracts/retrieval_subagent_request.json
  internal/port/messagequeue/testdata/contracts/retrieval_subagent_result.json
  internal/service/project_test.go
  internal/service/runtime_test.go
  workers/codeforge/models.py
Due: go-imports-repo, go-vet-repo-mod, golangci-lint-repo-mod, prettier

test: add integration testing infrastructure (Tracks 1-5)
  docs/feature-verification-matrix.md
  docs/plans/2026-03-08-integration-testing-design.md
  docs/plans/2026-03-08-integration-testing-plan.md
  internal/adapter/a2a/agentcard_test.go
  internal/adapter/lsp/client_test.go
  internal/adapter/natskv/cache_test.go
  internal/adapter/otel/setup_test.go
  internal/adapter/ristretto/cache_test.go
  internal/domain/conversation/conversation_test.go
  internal/domain/memory/memory_test.go
  internal/domain/microagent/microagent_test.go
  internal/domain/orchestration/orchestration_test.go
  internal/domain/skill/skill_test.go
  internal/port/messagequeue/contract_test.go
  workers/tests/test_consumer_dispatch.py
  workers/tests/test_memory_system.py
  workers/tests/test_nats_contracts.py
  workers/tests/test_tool_bash.py
  workers/tests/test_tool_edit_file.py
  workers/tests/test_tool_read_file.py
  workers/tests/test_tool_registry.py
  workers/tests/test_tool_search_glob_listdir.py
  workers/tests/test_tool_write_file.py
Due: go-imports-repo, go-vet-repo-mod, golangci-lint-repo-mod

test: add smoke tests, CI jobs, and verification reporter (Tracks 6-7)
  .github/workflows/ci.yml
  cmd/codeforge/main.go
  docs/feature-verification-matrix.md
  internal/adapter/http/handlers.go
  internal/adapter/http/handlers_dashboard.go
  internal/adapter/http/routes.go
  internal/service/dashboard.go
  internal/service/dashboard_test.go
  internal/service/project_test.go
  scripts/verify-features.sh
  tests/integration/flows_test.go
  tests/integration/smoke_test.go
Due: go-imports-repo, go-vet-repo-mod, golangci-lint-repo-mod

docs: mark integration testing tasks complete in todo.md
  docs/todo.md
Due: none

feat(dashboard): add TypeScript types and API client for dashboard endpoints
  frontend/src/api/client.ts
  frontend/src/api/types.ts
Due: eslint, prettier

fix(test): skip tracing test for removed RuntimeClient._publish
  workers/tests/test_runtime_tracing.py
Due: none

feat(dashboard): add smart-prioritized ActivityTimeline component
  frontend/src/features/dashboard/ActivityTimeline.tsx
Due: eslint, prettier

refactor(dashboard): extract project creation form into modal component
  frontend/src/features/dashboard/CreateProjectModal.tsx
Due: eslint, prettier

feat(dashboard): add KpiStrip component with 7 stat cards
  frontend/src/features/dashboard/KpiStrip.tsx
Due: eslint, prettier

style+i18n: add Unovis CSS theme variables and dashboard translations
  frontend/src/features/dashboard/HealthDot.tsx
  frontend/src/features/dashboard/charts/AgentPerformanceBars.tsx
  frontend/src/features/dashboard/charts/CostByProjectBars.tsx
  frontend/src/features/dashboard/charts/CostTrendChart.tsx
  frontend/src/features/dashboard/charts/ModelUsagePie.tsx
  frontend/src/features/dashboard/charts/RunOutcomesDonut.tsx
  frontend/src/i18n/en.ts
  frontend/src/i18n/locales/de.ts
  frontend/src/index.css
Due: eslint, prettier

feat(dashboard): integrate KPI strip, health dots, charts panel, and activity timeline
  frontend/src/features/dashboard/ChartsPanel.tsx
  frontend/src/features/dashboard/DashboardPage.tsx
  frontend/src/features/dashboard/ProjectCard.tsx
Due: eslint, prettier

docs: update todo, project-status, and feature spec for dashboard polish
  docs/features/01-project-dashboard.md
  docs/project-status.md
  docs/todo.md
Due: none

feat(session): session-aware trajectory UI + full Python worker integration
  frontend/src/features/dashboard/ActivityTimeline.tsx
  frontend/src/features/dashboard/CreateProjectModal.tsx
  frontend/src/features/project/ChatPanel.tsx
  frontend/src/features/project/ProjectDetailPage.tsx
  frontend/src/features/project/SessionPanel.tsx
  frontend/src/features/project/TrajectoryPanel.tsx
  frontend/src/i18n/en.ts
  frontend/src/i18n/locales/de.ts
  internal/port/messagequeue/schemas.go
  internal/service/conversation_agent.go
  internal/service/session_meta_test.go
  workers/codeforge/consumer/_conversation.py
  workers/codeforge/models.py
  workers/tests/test_session_meta.py
Due: go-imports-repo, go-vet-repo-mod, golangci-lint-repo-mod, eslint, prettier

chore: remove stale files, duplicates, and one-off docs
  .gitignore
  .mcp.json
  codeforge.example.yaml
  docs/audit/schema-audit-2026-03-07.md
  docs/backend-qa-testplan.md
  docs/code-review-2026-03-05.md
  docs/e2e-test-plan.md
  docs/feature-verification-matrix.md
  frontend/e2e-browser-test.py
  frontend/e2e-full-test.py
  frontend/e2e-mcp-test.py
  frontend/e2e-results-llm/.last-run.json
  frontend/e2e-test-driver.py
  package-lock.json
Due: prettier
