Repository Strob0t/CodeForge: changes, and which pre-commit hooks are due for each by the changed paths.
All: go-imports-repo, go-vet-repo-mod, golangci-lint-repo-mod, eslint, prettier

.pre-commit-config.yaml:

repos:
  # -- General ----------------------------------------------
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: end-of-file-fixer
      - id: trailing-whitespace
      - id: check-yaml
      - id: check-json
      - id: check-merge-conflict
      - id: detect-private-key

  # -- Python (Ruff) -----------------------------------------
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.15.1
    hooks:
      # 1) Sort imports
      - id: ruff-check
        name: ruff (sort imports)
        args: ["--select", "I", "--fix"]

      # 2) Lint/fix
      - id: ruff-check
        args: ["--fix", "--exit-non-zero-on-fix"]

      # 3) Format
      - id: ruff-format

  # -- Go -----------------------------------------------------
  - repo: https://github.com/TekWizely/pre-commit-golang
    rev: v1.0.0-rc.1
    hooks:
      # Format
      - id: go-fmt

  # Go hooks that need GOROOT set for Go 1.25 toolchain
  - repo: local
    hooks:
      - id: go-imports-repo
        name: go-imports-repo
        entry: bash -c 'export GOROOT=/go/pkg/mod/golang.org/toolchain@v0.0.1-go1.25.0.linux-amd64 && goimports -l -d $(find . -name "*.go" -not -path "./data/*" -not -path "./vendor/*")'
        language: system
        pass_filenames: false
        types: [go]

      - id: go-vet-repo-mod
        name: go-vet-repo-mod
        entry: bash -c 'export GOROOT=/go/pkg/mod/golang.org/toolchain@v0.0.1-go1.25.0.linux-amd64 && go vet ./...'
        language: system
        pass_filenames: false
        types: [go]

      - id: golangci-lint-repo-mod
        name: golangci-lint-repo-mod
        entry: bash -c 'export GOROOT=/go/pkg/mod/golang.org/toolchain@v0.0.1-go1.25.0.linux-amd64 && golangci-lint run ./...'
        language: system
        pass_filenames: false
        types: [go]

  # -- TypeScript / JavaScript (ESLint + Prettier) ------------
  - repo: local
    hooks:
      - id: eslint
        name: eslint
        entry: frontend/node_modules/.bin/eslint --config frontend/eslint.config.js --fix
        language: system
        files: ^frontend/src/.*\.(ts|tsx|js|jsx)$
        types: [file]

      - id: prettier
        name: prettier
        entry: frontend/node_modules/.bin/prettier --write --ignore-unknown
        language: system
        files: \.(ts|tsx|js|jsx|json|css|scss|html)$
        types: [file]

fix(autoagent): verify every feature before marking it done (KI-152)
  cmd/codeforge/main.go
  frontend/src/api/types.ts
  frontend/src/features/project/featuremap/FeatureCard.test.tsx
  frontend/src/features/project/featuremap/FeatureCard.tsx
  internal/adapter/postgres/migrations/125_feature_result.sql
  internal/adapter/postgres/store_roadmap.go
  internal/adapter/postgres/store_test.go
  internal/config/agent_tools_test.go
  internal/config/config.go
  internal/config/loader.go
  internal/domain/roadmap/roadmap.go
  internal/port/messagequeue/contract_test.go
  internal/port/messagequeue/schemas_conversation.go
  internal/port/messagequeue/testdata/contracts/conversation_test_request.json
  internal/port/messagequeue/testdata/contracts/conversation_test_result.json
  internal/service/autoagent.go
  internal/service/autoagent_test.go
  internal/service/autoagent_verify.go
  internal/service/autoagent_verify_test.go
  workers/codeforge/consumer/_workspace_test.py
  workers/codeforge/models.py
  workers/tests/test_workspace_test_handler.py
Due: go-imports-repo, go-vet-repo-mod, golangci-lint-repo-mod, eslint, prettier

fix(retrieval): BM25-only index without an embedding key, index state on /search (KI-150)
  frontend/src/api/resources/misc.ts
  frontend/src/api/types.ts
  frontend/src/features/search/SearchPage.test.tsx
  frontend/src/features/search/SearchPage.tsx
  frontend/src/i18n/en.ts
  frontend/src/i18n/locales/de.ts
  internal/adapter/http/handlers_search.go
  internal/service/retrieval.go
  internal/service/retrieval_test.go
  workers/codeforge/consumer/__init__.py
  workers/codeforge/retrieval.py
  workers/tests/test_retrieval_bm25_fallback.py
Due: go-imports-repo, go-vet-repo-mod, golangci-lint-repo-mod, eslint, prettier

docs: S9-V (KI-150, KI-152, KI-153, KI-157)
  docs/dev-setup.md
  docs/features/02-roadmap-feature-map.md
  docs/features/04-agent-orchestration.md
  docs/todo.md
Due: none

fix(autoagent): verification commands follow the conversation's policy profile (KI-152 review)
  internal/service/autoagent.go
  internal/service/autoagent_verify.go
  internal/service/autoagent_verify_test.go
  internal/service/conversation_command_policy.go
  internal/service/conversation_deps.go
Due: go-imports-repo, go-vet-repo-mod, golangci-lint-repo-mod

docs: S9-V review fixes (verification rules, embedding fallback)
  docs/dev-setup.md
  docs/features/04-agent-orchestration.md
  docs/todo.md
Due: none

fix(workspacefs): bounded walk reads directories in batches (KI-152 review)
  internal/service/autoagent_verify.go
  internal/workspacefs/walk_test.go
  internal/workspacefs/workspacefs.go
Due: go-imports-repo, go-vet-repo-mod, golangci-lint-repo-mod

fix(autoagent): change check from git status, build output skipped (KI-152 review)
  internal/service/autoagent.go
  internal/service/autoagent_verify.go
  internal/service/autoagent_verify_test.go
Due: go-imports-repo, go-vet-repo-mod, golangci-lint-repo-mod

fix(autoagent): detected test command only with its runner set up, pytest exit 5 is no verdict (KI-152 review)
  internal/domain/project/gatecommands.go
  internal/domain/project/gatecommands_test.go
  internal/service/autoagent_verify.go
  internal/service/autoagent_verify_test.go
  internal/service/runtime_gate.go
  workers/codeforge/consumer/_workspace_test.py
  workers/codeforge/qualitygate.py
  workers/tests/test_workspace_test_handler.py
Due: go-imports-repo, go-vet-repo-mod, golangci-lint-repo-mod

fix(retrieval): call the embedding model whatever its name says about keys (KI-150 review)
  workers/codeforge/consumer/__init__.py
  workers/codeforge/retrieval.py
  workers/tests/test_retrieval_bm25_fallback.py
Due: none

fix(autoagent): a test file that gave no verdict does not fail the feature (KI-152 review)
  internal/service/autoagent.go
  internal/service/autoagent_verify.go
  internal/service/autoagent_verify_test.go
Due: go-imports-repo, go-vet-repo-mod, golangci-lint-repo-mod

fix(auth): first-admin setup requires a one-time setup token (KI-119)
  cmd/codeforge/main.go
  docker-compose.prod.yml
  frontend/src/api/types.ts
  frontend/src/features/auth/SetupPage.test.tsx
  frontend/src/features/auth/SetupPage.tsx
  frontend/src/i18n/en.ts
  frontend/src/i18n/locales/de.ts
  internal/adapter/http/handlers_auth.go
  internal/adapter/http/handlers_auth_test.go
  internal/adapter/http/handlers_test.go
  internal/config/config.go
  internal/config/loader.go
  internal/domain/user/user.go
  internal/service/auth.go
  internal/service/auth_setup.go
  internal/service/auth_setup_test.go
  tests/integration/auth_test.go
  tests/integration/integration_test.go
Due: go-imports-repo, go-vet-repo-mod, golangci-lint-repo-mod, eslint, prettier

fix(litellm): every route carries the scenario tags (KI-131)
  litellm/config.yaml
  workers/tests/test_litellm_config.py
Due: none

fix(auth): per-user token epoch invalidates access tokens (KI-143)
  cmd/codeforge/main.go
  internal/adapter/http/handlers_test.go
  internal/adapter/postgres/migrations/126_user_token_epoch.sql
  internal/adapter/postgres/store_user.go
  internal/adapter/postgres/store_user_token_epoch_test.go
  internal/domain/user/user.go
  internal/middleware/teststore_test.go
  internal/port/database/store_user.go
  internal/service/auth.go
  internal/service/auth_token.go
  internal/service/auth_token_epoch.go
  internal/service/auth_token_epoch_test.go
  internal/service/auth_token_test.go
  internal/service/gdpr.go
  internal/service/project_test.go
  internal/service/runtime_test.go
Due: go-imports-repo, go-vet-repo-mod, golangci-lint-repo-mod

fix(devcontainer): start a working stack as documented (KI-124)
  .devcontainer/dev-env.sh
  .devcontainer/devcontainer.json
  .devcontainer/setup.sh
  workers/tests/test_devcontainer.py
Due: prettier

docs: S9-A (KI-119 setup token, KI-143 token epoch, KI-131, KI-124)
  README.md
  docs/SECURITY.md
  docs/api/openapi.yaml
  docs/dev-setup.md
  docs/todo.md
Due: none

fix(auth): save a role change or disable and the epoch raise in one statement (KI-143 review)
  internal/adapter/http/handlers_test.go
  internal/adapter/postgres/store_user.go
  internal/adapter/postgres/store_user_token_epoch_test.go
  internal/middleware/teststore_test.go
  internal/port/database/store_user.go
  internal/service/auth.go
  internal/service/auth_token_epoch.go
  internal/service/auth_token_epoch_test.go
  internal/service/project_test.go
  internal/service/runtime_test.go
Due: go-imports-repo, go-vet-repo-mod, golangci-lint-repo-mod

fix(auth): ending a user's sessions closes their WebSocket connections (KI-143 review)
  cmd/codeforge/main.go
  internal/adapter/ws/handler.go
  internal/adapter/ws/hub_drop_user_test.go
  internal/service/auth.go
  internal/service/auth_token.go
  internal/service/auth_token_epoch.go
  internal/service/auth_token_epoch_test.go
  internal/service/gdpr.go
Due: go-imports-repo, go-vet-repo-mod, golangci-lint-repo-mod

fix(auth): disabling a user deletes their refresh tokens (KI-143 review)
  internal/service/auth.go
  internal/service/auth_token_epoch_test.go
Due: go-imports-repo, go-vet-repo-mod, golangci-lint-repo-mod

fix(auth): a token epoch read before a raise is not cached after it (KI-143 review)
  internal/service/auth_token_epoch.go
  internal/service/auth_token_epoch_test.go
  internal/service/project_test.go
Due: go-imports-repo, go-vet-repo-mod, golangci-lint-repo-mod

fix(auth): a disabled user's API keys are refused (KI-143 review)
  internal/service/auth_apikey.go
  internal/service/auth_test.go
Due: go-imports-repo, go-vet-repo-mod, golangci-lint-repo-mod

fix(auth): password changes and resets end the user's sessions (KI-143 review)
  internal/service/auth.go
  internal/service/auth_token_epoch_test.go
  internal/service/project_test.go
Due: go-imports-repo, go-vet-repo-mod, golangci-lint-repo-mod

test(auth): flatten the mock store's UpdateUser loop (gocritic nestingReduce)
  internal/service/project_test.go
Due: go-imports-repo, go-vet-repo-mod, golangci-lint-repo-mod

docs: S9-A review fixes (API keys, epoch in one statement, sessions)
  docs/SECURITY.md
  docs/todo.md
Due: none

feat(worker): the agent backend CLIs in the standard worker image (KI-118)
  Dockerfile.worker
  docker-compose.egress.yml
  workers/aider-requirements.txt
  workers/codeforge/backends/opencode.py
  workers/codeforge/claude_code_executor.py
  workers/tests/docker_isolation_checks.py
  workers/tests/test_backend_clis.py
  workers/tests/test_claude_code_executor.py
  workers/tests/test_tenant_isolation_docker.py
Due: none

fix(release): a v* tag publishes the version and latest; compose pins VERSION (KI-116)
  .github/workflows/docker-build.yml
  docker-compose.prod.yml
  scripts/check-host.sh
  scripts/check-tool-isolation.sh
  scripts/sync-version.sh
  workers/tests/test_release_images.py
Due: none

fix(github): issues and pull requests through the REST API; svn in the Core image (KI-117)
  Dockerfile
  cmd/codeforge/main.go
  cmd/codeforge/pm_outbound.go
  internal/adapter/github/provider.go
  internal/adapter/github/provider_test.go
  internal/adapter/githubapi/client.go
  internal/adapter/githubapi/client_test.go
  internal/adapter/githubpm/provider.go
  internal/adapter/githubpm/provider_test.go
  internal/adapter/githubpm/register.go
  internal/adapter/svn/only_adapter_test.go
  internal/config/config.go
  internal/config/loader.go
  internal/config/secret_files_test.go
  internal/git/workspace.go
  internal/port/gitprovider/provider.go
  internal/service/deliver.go
  internal/service/deliver_pr_test.go
  internal/service/export_test.go
  internal/service/pm_operator_credentials_test.go
  internal/service/pm_webhook.go
  internal/service/runtime_lifecycle.go
  internal/service/sync.go
  workers/tests/test_deployment_isolation.py
Due: go-imports-repo, go-vet-repo-mod, golangci-lint-repo-mod

docs: S9-B (KI-116 release tags, KI-117 GitHub REST + svn, KI-118 CLIs)
  README.md
  docs/SECURITY.md
  docs/dev-setup.md
  docs/tech-stack.md
  docs/todo.md
Due: none

feat(worker): pass response_format through chat_completion_stream
  workers/codeforge/llm.py
  workers/tests/fake_llm.py
  workers/tests/test_llm_stream_recorded.py
  workers/tests/test_llm_tools.py
Due: none

feat(worker): render the text tool catalogue and turn schema
  workers/codeforge/tools/text_protocol.py
  workers/tests/test_text_protocol_render.py
Due: none

feat(worker): parse text tool turns with local repair
  workers/codeforge/tools/text_protocol.py
  workers/tests/test_text_protocol_parse.py
Due: none

feat(worker): stream only thought and final text of protocol replies
  workers/codeforge/tools/text_protocol.py
  workers/codeforge/tools/text_protocol_stream.py
  workers/tests/test_text_protocol_stream.py
Due: none

feat(worker): render loop history for the text tool protocol
  workers/codeforge/tools/text_protocol.py
  workers/tests/test_text_protocol_render.py
Due: none

feat(worker): pure-completion models call tools through the text protocol
  workers/codeforge/agent_loop.py
  workers/codeforge/consumer/_conversation.py
  workers/codeforge/tools/text_protocol.py
  workers/codeforge/tools/tool_guide.py
  workers/tests/test_agent_loop_text_protocol.py
  workers/tests/test_model_capability.py
  workers/tests/test_run_agent_loop.py
Due: none

feat(worker): use the text protocol when a server refuses native tools
  workers/codeforge/agent_loop.py
  workers/codeforge/tools/text_protocol.py
  workers/tests/test_agent_loop_text_protocol.py
Due: none

feat(worker): litellm.text_tool_grammar switch
  codeforge.example.yaml
  workers/codeforge/config.py
  workers/codeforge/loop_config.py
  workers/tests/test_agent_loop_text_protocol.py
  workers/tests/test_run_agent_loop.py
Due: none

fix(worker): hide a call array in the protocol stream
  workers/codeforge/tools/text_protocol_stream.py
  workers/tests/test_text_protocol_stream.py
Due: none

fix(worker): ask again for single-quoted and ReAct-style calls
  workers/codeforge/tools/text_protocol.py
  workers/tests/test_text_protocol_parse.py
Due: none

docs: S9-C text tool protocol (ADR-021)
  AGENTS.md
  docs/architecture.md
  docs/architecture/adr/021-text-tool-protocol.md
  docs/dev-setup.md
  docs/features/04-agent-orchestration.md
  docs/todo.md
Due: none

fix(deps): bump multidict to 6.9.1 (GHSA-54p9-h82j-f925, KI-167)
  docs/todo.md
  poetry.lock
Due: none

fix(deps): override seroval to 1.6.8 (GHSA-p6vx-979v-rg4c, KI-168)
  docs/todo.md
  frontend/package-lock.json
  frontend/package.json
Due: prettier
