Repository Strob0t/CodeForge: changes, and which pre-commit hooks are due for each by the changed paths.
All: go-imports-repo, go-vet-repo-mod, golangci-lint-repo-mod, eslint, prettier

go-imports-repo:
  name: go-imports-repo
  entry: bash -c 'export GOROOT=/go/pkg/mod/golang.org/toolchain@v0.0.1-go1.25.0.linux-amd64 && goimports -l -d $(find . -name "*.go" -not -path "./data/*" -not -path "./vendor/*")'
  language: system
  pass_filenames: false

go-vet-repo-mod:
  name: go-vet-repo-mod
  entry: bash -c 'export GOROOT=/go/pkg/mod/golang.org/toolchain@v0.0.1-go1.25.0.linux-amd64 && go vet ./...'
  language: system
  pass_filenames: false

golangci-lint-repo-mod:
  name: golangci-lint-repo-mod
  entry: bash -c 'export GOROOT=/go/pkg/mod/golang.org/toolchain@v0.0.1-go1.25.0.linux-amd64 && golangci-lint run ./...'
  language: system
  pass_filenames: false

eslint:
  name: eslint
  entry: frontend/node_modules/.bin/eslint --config frontend/eslint.config.js --fix
  language: system

prettier:
  name: prettier
  entry: frontend/node_modules/.bin/prettier --write --ignore-unknown
  language: system

feat(service): add BoundaryService with CRUD and validation
  internal/service/boundary.go
  internal/service/boundary_test.go
Due: go-imports-repo, go-vet-repo-mod, golangci-lint-repo-mod

feat(service): add ReviewTriggerService with cascade dedup logic
  internal/service/review_trigger.go
  internal/service/review_trigger_test.go
Due: go-imports-repo, go-vet-repo-mod, golangci-lint-repo-mod

feat(orchestrator): handle waiting_approval status with approve/reject
  internal/service/orchestrator.go
  internal/service/orchestrator_test.go
Due: go-imports-repo, go-vet-repo-mod, golangci-lint-repo-mod

feat(policy): implement Allow Always with persistent policy rules
  frontend/src/api/client.ts
  frontend/src/features/project/ChatPanel.tsx
  frontend/src/features/project/PermissionRequestCard.tsx
  internal/adapter/http/handlers.go
  internal/adapter/http/handlers_policy_test.go
  internal/adapter/http/routes.go
  internal/domain/policy/policy.go
  internal/domain/policy/policy_test.go
  internal/service/policy.go
  internal/service/policy_test.go
  internal/service/project.go
  internal/service/project_test.go
Due: go-imports-repo, go-vet-repo-mod, golangci-lint-repo-mod, eslint, prettier

feat(http): add boundary CRUD + review trigger + approval endpoints
  internal/adapter/http/handlers.go
  internal/adapter/http/handlers_review.go
  internal/adapter/http/routes.go
Due: go-imports-repo, go-vet-repo-mod, golangci-lint-repo-mod

docs: update todo, project status, and feature spec for Allow Always
  CLAUDE.md
  docs/features/05-chat-enhancements.md
  docs/project-status.md
  docs/todo.md
Due: none

feat(worker): add review trigger NATS consumer handler
  workers/codeforge/consumer/__init__.py
  workers/codeforge/consumer/_review.py
  workers/tests/test_review_consumer.py
Due: none

feat(frontend): add RefactorApproval HITL UI and BoundariesPanel
  frontend/src/features/project/BoundariesPanel.tsx
  frontend/src/features/project/ProjectDetailPage.tsx
  frontend/src/features/project/RefactorApproval.tsx
Due: eslint, prettier

feat(integration): wire BoundaryService and ReviewTriggerService
  cmd/codeforge/main.go
  internal/adapter/http/handlers.go
  internal/adapter/http/handlers_test.go
  internal/service/mode_test.go
Due: go-imports-repo, go-vet-repo-mod, golangci-lint-repo-mod

docs: add Phase 31 Contract-First Review/Refactor documentation
  CLAUDE.md
  docs/features/04-agent-orchestration.md
  docs/project-status.md
  docs/todo.md
Due: none

fix(benchmark): resolve 5 more backend bugs and 3 external suite HF API failures
  cmd/codeforge/main.go
  docs/benchmark-e2e-test-plan.md
  docs/dev-setup.md
  docs/project-status.md
  docs/todo.md
  frontend/e2e/benchmark-validation/FINDINGS.md
  workers/codeforge/consumer/_benchmark.py
  workers/codeforge/evaluation/cache.py
  workers/codeforge/evaluation/providers/bigcodebench.py
  workers/codeforge/evaluation/providers/cruxeval.py
  workers/codeforge/evaluation/providers/livecodebench.py
  workers/codeforge/evaluation/runners/multi_rollout.py
Due: go-imports-repo, go-vet-repo-mod, golangci-lint-repo-mod

chore: prettier-format contract testdata JSON + update todo with known bugs
  docs/todo.md
  frontend/e2e/benchmark-validation/FINDINGS.md
Due: none

fix(benchmark): return HTTP 400 for validation errors, reject unknown metrics (Issues B+C Go-side)
  docs/todo.md
  internal/adapter/http/handlers_test.go
  internal/domain/benchmark/benchmark.go
  internal/domain/benchmark/benchmark_test.go
  internal/service/benchmark.go
Due: go-imports-repo, go-vet-repo-mod, golangci-lint-repo-mod

fix(benchmark): validate model via /model/info fallback, reject unknown evaluators (Issues A+C Python-side)
  docs/todo.md
  workers/codeforge/consumer/_benchmark.py
  workers/tests/test_build_evaluators.py
  workers/tests/test_model_validation.py
  workers/tests/test_score_key_normalization.py
Due: none

fix(benchmark): add datasets library for reliable LiveCodeBench download (Issue E)
  docs/todo.md
  pyproject.toml
  workers/codeforge/evaluation/cache.py
  workers/codeforge/evaluation/providers/livecodebench.py
  workers/tests/test_cache_parquet.py
Due: none

docs: mark all benchmark E2E validation bugs as fixed (Issues A-E)
  frontend/e2e/benchmark-validation/FINDINGS.md
Due: none

refactor: eliminate duplication across Go, Python, and Frontend layers
  frontend/src/api/client.ts
  frontend/src/api/types.ts
  frontend/src/features/benchmarks/SuiteManagement.tsx
  frontend/src/features/mcp/MCPServersPage.tsx
  frontend/src/features/modes/ModesPage.tsx
  frontend/src/features/project/BoundariesPanel.tsx
  frontend/src/features/prompts/PromptEditorPage.tsx
  frontend/src/hooks/index.ts
  frontend/src/hooks/useCRUDForm.ts
  internal/adapter/http/handlers.go
  internal/adapter/http/handlers_channel.go
  internal/adapter/http/handlers_dashboard.go
  internal/adapter/http/handlers_files.go
  internal/adapter/http/handlers_review.go
  internal/adapter/http/handlers_routing.go
  internal/adapter/postgres/helpers.go
  internal/adapter/postgres/store.go
  internal/adapter/postgres/store_a2a.go
  internal/adapter/postgres/store_boundary.go
  internal/adapter/postgres/store_mcp.go
  internal/adapter/postgres/store_memory.go
  internal/adapter/postgres/store_tenant.go
  internal/crypto/crypto.go
  internal/crypto/crypto_test.go
  internal/middleware/requestid.go
  internal/service/auth.go
  internal/service/mcp.go
  internal/service/review.go
  workers/codeforge/consumer/_base.py
  workers/codeforge/consumer/_benchmark.py
  workers/codeforge/consumer/_graph.py
  workers/codeforge/consumer/_retrieval.py
  workers/codeforge/consumer/_review.py
  workers/codeforge/llm.py
  workers/codeforge/models.py
Due: go-imports-repo, go-vet-repo-mod, golangci-lint-repo-mod, eslint, prettier

feat(evaluation): add logprob verifier, categorical scoring, and selection strategies
  workers/codeforge/consumer/_benchmark.py
  workers/codeforge/evaluation/evaluators/logprob_verifier.py
  workers/codeforge/evaluation/evaluators/trajectory_verifier.py
  workers/codeforge/evaluation/runners/multi_rollout.py
  workers/tests/test_logprob_verifier.py
  workers/tests/test_multi_rollout_runner.py
  workers/tests/test_trajectory_verifier.py
Due: none

feat(canvas): add foundational types and state management (Phase 32A)
  frontend/src/features/canvas/__tests__/canvasState.test.ts
  frontend/src/features/canvas/canvasState.ts
  frontend/src/features/canvas/canvasTypes.ts
Due: eslint, prettier

docs: update todo.md with evaluation improvements completion
  docs/todo.md
Due: none

fix(frontend): three UI bugs — sidebar channels, task limit validation, missing bg-secondary token
  .gitignore
  frontend/src/features/benchmarks/TaskSettings.tsx
  frontend/src/features/channels/ChannelList.tsx
  frontend/src/index.css
  frontend/src/ui/tokens/themes.ts
Due: eslint, prettier

feat(canvas): add SVG viewport, coordinate transform, and select tool (Phase 32B)
  frontend/src/features/canvas/DesignCanvas.tsx
  frontend/src/features/canvas/__tests__/viewport.test.ts
  frontend/src/features/canvas/tools/SelectTool.ts
Due: eslint, prettier

fix(canvas): compute zoom-toward-pointer pan analytically instead of double CTM read
  frontend/src/features/canvas/DesignCanvas.tsx
Due: eslint, prettier

feat(frontend): restructure sidebar — section grouping, page merges, top bar
  frontend/src/App.tsx
  frontend/src/features/activity/ActivityPage.tsx
  frontend/src/features/audit/AuditTrailPage.tsx
  frontend/src/features/channels/ChannelList.tsx
  frontend/src/features/knowledge/KnowledgePage.tsx
  frontend/src/features/knowledgebases/KnowledgeBasesPage.tsx
  frontend/src/features/llm/AIConfigPage.tsx
  frontend/src/features/llm/ModelsPage.tsx
  frontend/src/features/modes/ModesPage.tsx
  frontend/src/features/scopes/ScopesPage.tsx
  frontend/src/i18n/en.ts
  frontend/src/i18n/locales/de.ts
  frontend/src/index.tsx
  frontend/src/ui/index.ts
  frontend/src/ui/layout/NavIcons.tsx
  frontend/src/ui/layout/NavSection.tsx
  frontend/src/ui/layout/Sidebar.tsx
  frontend/src/ui/layout/index.ts
Due: eslint, prettier

feat(canvas): add shape and drawing tools (rect, ellipse, freehand, text) with Catmull-Rom smoothing
  frontend/src/features/canvas/__tests__/freehandSmoothing.test.ts
  frontend/src/features/canvas/tools/EllipseTool.ts
  frontend/src/features/canvas/tools/FreehandTool.ts
  frontend/src/features/canvas/tools/RectTool.ts
  frontend/src/features/canvas/tools/SelectTool.ts
  frontend/src/features/canvas/tools/TextTool.ts
  frontend/src/features/canvas/tools/coords.ts
  frontend/src/features/canvas/tools/smoothing.ts
Due: eslint, prettier

feat(frontend): add loading animation system with Pacman spinner
  frontend/src/features/project/ChatPanel.tsx
  frontend/src/index.css
  frontend/src/ui/composites/ResourceGuard.tsx
  frontend/src/ui/composites/SkeletonCard.tsx
  frontend/src/ui/composites/SkeletonChat.tsx
  frontend/src/ui/composites/SkeletonTable.tsx
  frontend/src/ui/composites/SkeletonText.tsx
  frontend/src/ui/composites/index.ts
  frontend/src/ui/index.ts
  frontend/src/ui/primitives/PacmanSpinner.tsx
  frontend/src/ui/primitives/ProgressBar.tsx
  frontend/src/ui/primitives/Skeleton.tsx
  frontend/src/ui/primitives/StreamingCursor.tsx
  frontend/src/ui/primitives/TypingIndicator.tsx
  frontend/src/ui/primitives/index.ts
Due: eslint, prettier

fix(benchmarks): add missing metrics to Go allowlist, fix detail row expansion
  docs/project-status.md
  docs/todo.md
  frontend/src/features/benchmarks/BenchmarkPage.tsx
  frontend/src/features/benchmarks/BenchmarkRunDetail.tsx
  internal/domain/benchmark/benchmark.go
Due: go-imports-repo, go-vet-repo-mod, golangci-lint-repo-mod, eslint, prettier

feat(canvas): add image upload and annotation tools (Phase 32D)
  CLAUDE.md
  docs/features/06-visual-design-canvas.md
  docs/todo.md
  frontend/src/features/canvas/__tests__/AnnotateTool.test.ts
  frontend/src/features/canvas/__tests__/ImageTool.test.ts
  frontend/src/features/canvas/tools/AnnotateTool.ts
  frontend/src/features/canvas/tools/ImageTool.ts
Due: eslint, prettier

docs: add loading animation system to todo.md
  docs/todo.md
Due: none

docs: update todo.md and project-status.md with benchmark metric fix
  docs/project-status.md
Due: none

feat(canvas): add toolbar and fullscreen modal (Phase 32E)
  frontend/src/features/canvas/CanvasModal.tsx
  frontend/src/features/canvas/CanvasToolbar.tsx
  frontend/src/features/canvas/__tests__/CanvasModal.test.ts
  frontend/src/features/canvas/__tests__/CanvasToolbar.test.ts
Due: eslint, prettier

feat(canvas): add export pipeline — PNG, ASCII art, and structured JSON (Phase 32F)
  frontend/src/features/canvas/CanvasExportPanel.tsx
  frontend/src/features/canvas/CanvasModal.tsx
  frontend/src/features/canvas/DesignCanvas.tsx
  frontend/src/features/canvas/__tests__/exportAscii.test.ts
  frontend/src/features/canvas/__tests__/exportJson.test.ts
  frontend/src/features/canvas/export/exportAscii.ts
  frontend/src/features/canvas/export/exportJson.ts
  frontend/src/features/canvas/export/exportPng.ts
Due: eslint, prettier

feat(backend): add multimodal image support to Go conversation pipeline (Phase 32H)
  internal/adapter/postgres/migrations/075_add_message_images.sql
  internal/adapter/postgres/store_conversation.go
  internal/domain/conversation/conversation.go
  internal/domain/conversation/conversation_test.go
  internal/port/messagequeue/schemas.go
  internal/port/messagequeue/schemas_test.go
  internal/service/conversation_agent.go
  internal/service/conversation_agent_helpers_test.go
Due: go-imports-repo, go-vet-repo-mod, golangci-lint-repo-mod

feat(workers): add multimodal image support to Python worker pipeline (Phase 32I)
  workers/codeforge/history.py
  workers/codeforge/models.py
  workers/tests/test_multimodal.py
Due: none

feat(frontend): add multimodal types and chat image rendering (Phase 32J)
  frontend/src/api/types.ts
  frontend/src/features/project/ChatPanel.tsx
Due: eslint, prettier

feat(frontend): add Design Canvas entry point to ChatPanel (Phase 32G)
  frontend/src/features/project/ChatPanel.tsx
Due: eslint, prettier

feat(types): extend AgentEvent with tool tracking fields, widen total_tasks
  frontend/src/api/types.ts
Due: eslint, prettier

feat(benchmark): add liveFeedState types and formatTokens helper
  frontend/src/api/types.ts
  frontend/src/features/benchmarks/liveFeedState.test.ts
  frontend/src/features/benchmarks/liveFeedState.ts
Due: eslint, prettier

feat(benchmark): add computeEta helper with tests
  frontend/src/features/benchmarks/liveFeedState.test.ts
Due: eslint, prettier

fix(routing): provider-level rate-limit awareness in model fallback
  workers/codeforge/agent_loop.py
  workers/codeforge/consumer/_conversation.py
  workers/codeforge/routing/router.py
  workers/tests/test_agent_loop.py
  workers/tests/test_agent_loop_edge_cases.py
Due: none

Path conditions:
  go-imports-repo: any of: \.go$
  go-vet-repo-mod: any of: \.go$
  golangci-lint-repo-mod: any of: \.go$
  eslint: any of: ^frontend/src/.*\.(ts|tsx|js|jsx)$
  prettier: any of: \.(ts|tsx|js|jsx|json|css|scss|html)$
