Repository Strob0t/CodeForge: changes, and which pre-commit hooks are due for each by the changed paths.
All: go-imports-repo, go-vet-repo-mod, golangci-lint-repo-mod, eslint, prettier

.pre-commit-config.yaml:

repos:
  # -- General ----------------------------------------------
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: end-of-file-fixer
      - id: trailing-whitespace
      - id: check-yaml
      - id: check-json
      - id: check-merge-conflict
      - id: detect-private-key

  # -- Python (Ruff) -----------------------------------------
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.15.1
    hooks:
      # 1) Sort imports
      - id: ruff-check
        name: ruff (sort imports)
        args: ["--select", "I", "--fix"]

      # 2) Lint/fix
      - id: ruff-check
        args: ["--fix", "--exit-non-zero-on-fix"]

      # 3) Format
      - id: ruff-format

  # -- Go -----------------------------------------------------
  - repo: https://github.com/TekWizely/pre-commit-golang
    rev: v1.0.0-rc.1
    hooks:
      # Format
      - id: go-fmt

  # Go hooks that need GOROOT set for Go 1.25 toolchain
  - repo: local
    hooks:
      - id: go-imports-repo
        name: go-imports-repo
        entry: bash -c 'export GOROOT=/go/pkg/mod/golang.org/toolchain@v0.0.1-go1.25.0.linux-amd64 && goimports -l -d $(find . -name "*.go" -not -path "./data/*" -not -path "./vendor/*")'
        language: system
        pass_filenames: false
        types: [go]

      - id: go-vet-repo-mod
        name: go-vet-repo-mod
        entry: bash -c 'export GOROOT=/go/pkg/mod/golang.org/toolchain@v0.0.1-go1.25.0.linux-amd64 && go vet ./...'
        language: system
        pass_filenames: false
        types: [go]

      - id: golangci-lint-repo-mod
        name: golangci-lint-repo-mod
        entry: bash -c 'export GOROOT=/go/pkg/mod/golang.org/toolchain@v0.0.1-go1.25.0.linux-amd64 && golangci-lint run ./...'
        language: system
        pass_filenames: false
        types: [go]

  # -- TypeScript / JavaScript (ESLint + Prettier) ------------
  - repo: local
    hooks:
      - id: eslint
        name: eslint
        entry: frontend/node_modules/.bin/eslint --config frontend/eslint.config.js --fix
        language: system
        files: ^frontend/src/.*\.(ts|tsx|js|jsx)$
        types: [file]

      - id: prettier
        name: prettier
        entry: frontend/node_modules/.bin/prettier --write --ignore-unknown
        language: system
        files: \.(ts|tsx|js|jsx|json|css|scss|html)$
        types: [file]

fix: add missing LiteLLM auth headers to direct httpx calls
  workers/codeforge/consumer/_conversation.py
  workers/codeforge/model_resolver.py
Due: none

fix: filter wildcard models from LiteLLM /v1/models, use tier defaults as fallbacks
  workers/codeforge/consumer/_conversation.py
  workers/codeforge/model_resolver.py
  workers/codeforge/routing/router.py
Due: none

fix: expand LiteLLM wildcard models into concrete COMPLEXITY_DEFAULTS names
  workers/codeforge/consumer/_conversation.py
  workers/codeforge/model_resolver.py
  workers/codeforge/routing/router.py
Due: none

feat: add global ConfirmProvider with confirmation dialogs on all destructive actions
  frontend/src/App.tsx
  frontend/src/components/ConfirmProvider.tsx
  frontend/src/features/benchmarks/SuiteManagement.tsx
  frontend/src/features/dashboard/DashboardPage.tsx
  frontend/src/features/knowledgebases/KnowledgeBasesPage.tsx
  frontend/src/features/llm/ModelsPage.tsx
  frontend/src/features/modes/ModesPage.tsx
  frontend/src/features/project/AgentPanel.tsx
  frontend/src/features/project/PolicyPanel.tsx
  frontend/src/features/prompts/PromptEditorPage.tsx
  frontend/src/features/scopes/ScopesPage.tsx
  frontend/src/features/settings/SettingsPage.tsx
  frontend/src/i18n/en.ts
  frontend/src/i18n/locales/de.ts
Due: eslint, prettier

feat: add YAML config hierarchy to Python worker, extract wildcard model expansion
  .vscode/launch.json
  workers/codeforge/config.py
  workers/codeforge/consumer/_conversation.py
  workers/codeforge/llm.py
  workers/codeforge/model_resolver.py
Due: prettier

fix: routing fallback chain — 404 eligibility, auth headers, model names
  .vscode/launch.json
  workers/codeforge/agent_loop.py
  workers/codeforge/config.py
  workers/codeforge/consumer/_conversation.py
  workers/codeforge/llm.py
  workers/codeforge/routing/router.py
Due: prettier

fix: eliminate duplicate meta-router LLM call in fallback chain
  workers/codeforge/consumer/_conversation.py
  workers/codeforge/routing/router.py
Due: none

chore: update dev config and postgres volume setup
  .vscode/launch.json
  docker-compose.yml
  frontend/package-lock.json
Due: prettier

fix: correct postgres volume mount path and add missing env var
  .vscode/launch.json
  docker-compose.yml
Due: prettier

feat: support CODEFORGE_CONFIG_FILE env var in Go config loader
  internal/config/loader.go
  internal/config/loader_test.go
Due: go-imports-repo, go-vet-repo-mod, golangci-lint-repo-mod

fix: add psycopg-binary dependency for dev environments
  poetry.lock
  pyproject.toml
Due: none

fix: handle agentneo transitive import errors gracefully
  workers/codeforge/tracing/setup.py
  workers/tests/test_tracing_setup.py
Due: none

feat: replace agentneo with OpenTelemetry tracing in Python workers
  docs/todo.md
  poetry.lock
  pyproject.toml
  workers/codeforge/tracing/__init__.py
  workers/codeforge/tracing/dashboard.py
  workers/codeforge/tracing/metrics.py
  workers/codeforge/tracing/setup.py
  workers/tests/test_tracing_instrumentation.py
  workers/tests/test_tracing_setup.py
Due: none

fix: resolve docker-compose volume mounts failing in devcontainer
  docker-compose.yml
Due: none

feat: activate OTEL observability infrastructure with Jaeger, distributed tracing, LLM spans, and metrics
  docker-compose.yml
  internal/adapter/nats/nats.go
  internal/adapter/otel/setup.go
  workers/codeforge/agent_loop.py
  workers/codeforge/consumer/__init__.py
  workers/codeforge/consumer/_conversation.py
  workers/codeforge/tracing/metrics.py
  workers/codeforge/tracing/propagation.py
  workers/tests/test_tracing_metrics.py
  workers/tests/test_tracing_propagation.py
Due: go-imports-repo, go-vet-repo-mod, golangci-lint-repo-mod

fix: resolve HOST_PROJECT_PATH dynamically and await project setup
  .devcontainer/devcontainer.json
  .devcontainer/setup.sh
  frontend/src/features/dashboard/DashboardPage.tsx
Due: eslint, prettier

fix: resolve LLM model selection review findings across all layers
  cmd/codeforge/main.go
  frontend/src/api/client.ts
  frontend/src/features/llm/ModelsPage.tsx
  frontend/src/i18n/en.ts
  frontend/src/i18n/locales/de.ts
  frontend/src/ui/composites/ModelCombobox.tsx
  internal/adapter/litellm/client.go
  internal/domain/conversation/conversation.go
  internal/service/conversation_agent.go
  internal/service/model_registry.go
  workers/codeforge/agent_loop.py
  workers/codeforge/routing/mab.py
Due: go-imports-repo, go-vet-repo-mod, golangci-lint-repo-mod, eslint, prettier

feat: add reactive model blocklist for auth/billing error self-healing
  workers/codeforge/consumer/_conversation.py
  workers/codeforge/model_resolver.py
  workers/codeforge/routing/blocklist.py
  workers/codeforge/routing/router.py
  workers/tests/test_routing_blocklist.py
Due: none

docs: add comprehensive code review audit with 41 fix tasks
  docs/todo.md
Due: none

fix: security hardening (FIX-CR18 through CR25)
  internal/adapter/http/middleware.go
  internal/adapter/http/routes.go
  internal/middleware/auth.go
  internal/middleware/idempotency.go
  internal/service/quarantine.go
  workers/codeforge/config.py
Due: go-imports-repo, go-vet-repo-mod, golangci-lint-repo-mod

fix: resolve NATS contract mismatches (FIX-CR01, CR02, CR03)
  internal/port/messagequeue/queue.go
  workers/codeforge/consumer/_handoff.py
  workers/codeforge/consumer/_memory.py
  workers/codeforge/consumer/_subjects.py
Due: go-imports-repo, go-vet-repo-mod, golangci-lint-repo-mod

fix: plug runtime state leaks on run completion/cancel (FIX-CR10, CR16)
  internal/service/conversation_agent.go
  internal/service/runtime_lifecycle.go
Due: go-imports-repo, go-vet-repo-mod, golangci-lint-repo-mod

fix: resolve memory multi-tenancy and dedup issues (FIX-CR32, CR33)
  internal/domain/memory/memory.go
  workers/codeforge/consumer/_memory.py
  workers/codeforge/memory/models.py
Due: go-imports-repo, go-vet-repo-mod, golangci-lint-repo-mod

docs: mark completed FIX-CR items in todo.md
  docs/todo.md
Due: none

fix: resolve agent loop edge cases (FIX-CR11 through CR15)
  docs/todo.md
  workers/codeforge/agent_loop.py
  workers/codeforge/consumer/_conversation.py
  workers/codeforge/consumer/_runs.py
  workers/codeforge/executor.py
  workers/codeforge/history.py
Due: none

fix: resolve benchmark evaluation issues (FIX-CR27 through CR31)
  docs/todo.md
  workers/codeforge/consumer/_benchmark.py
  workers/codeforge/evaluation/runners/agent.py
  workers/codeforge/evaluation/runners/multi_rollout.py
  workers/tests/test_multi_rollout_runner.py
Due: none

fix: resolve NATS A2A and GEMMAS contract issues (FIX-CR04 through CR08)
  docs/todo.md
  internal/adapter/a2a/executor.go
  workers/codeforge/consumer/__init__.py
  workers/codeforge/consumer/_a2a.py
  workers/codeforge/consumer/_benchmark.py
  workers/codeforge/consumer/_subjects.py
  workers/codeforge/models.py
Due: go-imports-repo, go-vet-repo-mod, golangci-lint-repo-mod

fix: resolve PM sync pipeline issues (FIX-CR36 through CR38)
  docs/todo.md
  internal/adapter/githubpm/provider.go
  internal/adapter/githubpm/provider_test.go
  internal/adapter/http/handlers_settings.go
  internal/domain/roadmap/sync.go
  internal/service/pm_webhook.go
  internal/service/sync.go
Due: go-imports-repo, go-vet-repo-mod, golangci-lint-repo-mod

fix: resolve orchestration concurrency issues (FIX-CR39, CR40)
  docs/todo.md
  internal/service/autoagent.go
  internal/service/orchestrator.go
  internal/service/orchestrator_consensus.go
Due: go-imports-repo, go-vet-repo-mod, golangci-lint-repo-mod

fix: add RBAC guards and fix MCP project resolution (FIX-CR22, CR35)
  docs/todo.md
  internal/adapter/http/handlers_test.go
  internal/adapter/http/routes.go
  internal/service/mcp.go
Due: go-imports-repo, go-vet-repo-mod, golangci-lint-repo-mod

perf: optimize pre-commit hooks to lint only changed files
  .pre-commit-config.yaml
Due: none

feat: implement all 4 agent backend executors (FIX-CR09)
  docs/todo.md
  workers/codeforge/backends/goose.py
  workers/codeforge/backends/opencode.py
  workers/codeforge/backends/openhands.py
  workers/codeforge/backends/plandex.py
  workers/tests/test_backend_stubs.py
Due: none

test: add runtime and autoagent test coverage (FIX-CR17, FIX-CR41)
  docs/todo.md
  internal/service/autoagent_test.go
  internal/service/runtime_coverage_test.go
  internal/service/runtime_internal_test.go
Due: go-imports-repo, go-vet-repo-mod, golangci-lint-repo-mod

fix: complete memory recall pipeline with Go NATS subscriber (FIX-CR03)
  cmd/codeforge/main.go
  docs/todo.md
  internal/adapter/http/handlers_agent_features.go
  internal/domain/memory/memory.go
  internal/port/messagequeue/queue.go
  internal/service/memory.go
  workers/codeforge/consumer/_memory.py
  workers/codeforge/memory/models.py
Due: go-imports-repo, go-vet-repo-mod, golangci-lint-repo-mod

docs: reconcile documentation with codebase, convert diagrams to Mermaid
  CLAUDE.md
  docs/architecture.md
  docs/architecture/adr/008-benchmark-evaluation-framework.md
  docs/dev-setup.md
  docs/features/02-roadmap-feature-map.md
  docs/features/03-multi-llm-provider.md
  docs/features/04-agent-orchestration.md
  docs/project-status.md
  docs/tech-stack.md
  docs/todo.md
Due: none

fix: wire experience pool into executor and complete verification (FIX-CR34)
  docs/todo.md
  internal/adapter/http/handlers_agent_features.go
  internal/adapter/http/routes.go
  internal/adapter/svn/provider.go
  internal/adapter/svn/provider_test.go
  internal/adapter/svn/register.go
  internal/adapter/ws/handler.go
  internal/middleware/a2a_auth.go
  internal/service/conversation_agent.go
  internal/service/orchestrator.go
  internal/service/runtime.go
  internal/service/runtime_approval.go
  workers/codeforge/consumer/__init__.py
  workers/codeforge/consumer/_a2a.py
  workers/codeforge/consumer/_memory.py
  workers/codeforge/executor.py
  workers/codeforge/memory/experience.py
  workers/codeforge/models.py
  workers/tests/test_routing_integration.py
Due: go-imports-repo, go-vet-repo-mod, golangci-lint-repo-mod

docs: add complete code review report for staging branch
  docs/code-review-2026-03-05.md
Due: none

docs: centralize TODOs, mark implemented features done, clean stale markers
  docs/audit-docs-vs-code.md
  docs/features/01-project-dashboard.md
  docs/features/02-roadmap-feature-map.md
  docs/features/03-multi-llm-provider.md
  docs/features/04-agent-orchestration.md
  docs/project-status.md
  docs/tech-stack.md
  docs/todo.md
Due: none

fix: enforce tenant isolation on all A2A and conversation SQL queries
  CLAUDE.md
  cmd/codeforge/main.go
  docs/todo.md
  internal/adapter/a2a/executor.go
  internal/adapter/postgres/migrations/058_agent_events_tenant_composite_indexes.sql
  internal/adapter/postgres/store_a2a.go
  internal/adapter/postgres/store_a2a_test.go
  internal/adapter/postgres/store_conversation.go
  internal/adapter/postgres/store_conversation_test.go
  internal/config/config.go
  internal/middleware/tenant.go
  internal/port/messagequeue/schemas.go
  internal/service/a2a.go
  internal/service/benchmark.go
  internal/service/context_optimizer.go
  internal/service/context_optimizer_test.go
  internal/service/conversation.go
  internal/service/conversation_agent.go
  internal/service/conversation_test.go
  internal/tenantctx/tenantctx.go
  workers/codeforge/consumer/_a2a.py
  workers/codeforge/models.py
Due: go-imports-repo, go-vet-repo-mod, golangci-lint-repo-mod

feat: unify LLM path through Python worker + global run tracking
  frontend/src/App.tsx
  frontend/src/api/client.ts
  frontend/src/components/ConversationRunProvider.tsx
  frontend/src/features/project/ChatPanel.tsx
  internal/adapter/http/handlers_conversation.go
  internal/port/messagequeue/schemas.go
  internal/service/conversation.go
  workers/codeforge/consumer/_conversation.py
  workers/codeforge/models.py
Due: go-imports-repo, go-vet-repo-mod, golangci-lint-repo-mod, eslint, prettier
