Repository Strob0t/CodeForge: changes, and which pre-commit hooks are due for each by the changed paths.
All: go-imports-repo, go-vet-repo-mod, golangci-lint-repo-mod, eslint, prettier

.pre-commit-config.yaml:

repos:
  # -- General ----------------------------------------------
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: end-of-file-fixer
      - id: trailing-whitespace
      - id: check-yaml
      - id: check-json
      - id: check-merge-conflict
      - id: detect-private-key

  # -- Python (Ruff) -----------------------------------------
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.15.1
    hooks:
      # 1) Sort imports
      - id: ruff-check
        name: ruff (sort imports)
        args: ["--select", "I", "--fix"]

      # 2) Lint/fix
      - id: ruff-check
        args: ["--fix", "--exit-non-zero-on-fix"]

      # 3) Format
      - id: ruff-format

  # -- Go -----------------------------------------------------
  - repo: https://github.com/TekWizely/pre-commit-golang
    rev: v1.0.0-rc.1
    hooks:
      # Format
      - id: go-fmt

  # Go hooks that need GOROOT set for Go 1.25 toolchain
  - repo: local
    hooks:
      - id: go-imports-repo
        name: go-imports-repo
        entry: bash -c 'export GOROOT=/go/pkg/mod/golang.org/toolchain@v0.0.1-go1.25.0.linux-amd64 && goimports -l -d $(find . -name "*.go" -not -path "./data/*" -not -path "./vendor/*")'
        language: system
        pass_filenames: false
        types: [go]

      - id: go-vet-repo-mod
        name: go-vet-repo-mod
        entry: bash -c 'export GOROOT=/go/pkg/mod/golang.org/toolchain@v0.0.1-go1.25.0.linux-amd64 && go vet ./...'
        language: system
        pass_filenames: false
        types: [go]

      - id: golangci-lint-repo-mod
        name: golangci-lint-repo-mod
        entry: bash -c 'export GOROOT=/go/pkg/mod/golang.org/toolchain@v0.0.1-go1.25.0.linux-amd64 && golangci-lint run ./...'
        language: system
        pass_filenames: false
        types: [go]

  # -- TypeScript / JavaScript (ESLint + Prettier) ------------
  - repo: local
    hooks:
      - id: eslint
        name: eslint
        entry: frontend/node_modules/.bin/eslint --config frontend/eslint.config.js --fix
        language: system
        files: ^frontend/src/.*\.(ts|tsx|js|jsx)$
        types: [file]

      - id: prettier
        name: prettier
        entry: frontend/node_modules/.bin/prettier --write --ignore-unknown
        language: system
        files: \.(ts|tsx|js|jsx|json|css|scss|html)$
        types: [file]

docs: add the S3-F to S6-H changes to the changelog
  CHANGELOG.md
Due: none

docs(api): quarantine endpoints do not depend on quarantine.enabled
  docs/api/openapi.yaml
Due: none

docs(plan): KI-65 and KI-76 review rounds are done
  docs/known-issues-fix-plan.md
Due: none

fix(core): workspace files stay writable for the workspace group (KI-71)
  Dockerfile
  cmd/codeforge/main.go
  cmd/codeforge/umask_other.go
  cmd/codeforge/umask_unix.go
  cmd/codeforge/umask_unix_test.go
  internal/adapter/markdownspec/provider.go
  internal/domain/project/workspace_perm.go
  internal/service/checkpoint.go
  internal/service/files.go
  internal/service/files_perm_unix_test.go
  internal/service/project_workspace.go
  internal/service/roadmap_sync.go
Due: go-imports-repo, go-vet-repo-mod, golangci-lint-repo-mod

feat(worker): agent tools run as an unprivileged tool user; NATS users per service (KI-71)
  .github/workflows/ci.yml
  Dockerfile.worker
  configs/nats/nats-server.conf
  docker-compose.prod.yml
  internal/adapter/nats/auth_test.go
  scripts/check-tool-isolation.sh
  scripts/generate-secrets.sh
  scripts/validate-env.sh
  scripts/worker-entrypoint.sh
  workers/codeforge/agent_loop.py
  workers/codeforge/backends/_cli_base.py
  workers/codeforge/claude_code_executor.py
  workers/codeforge/config.py
  workers/codeforge/consumer/__init__.py
  workers/codeforge/evaluation/evaluators/functional_test.py
  workers/codeforge/evaluation/providers/codeforge_synthetic.py
  workers/codeforge/evaluation/runners/agent.py
  workers/codeforge/qualitygate.py
  workers/codeforge/secrets.py
  workers/codeforge/subprocess_env.py
  workers/codeforge/subprocess_utils.py
  workers/codeforge/tool_process.py
  workers/codeforge/tools/bash.py
  workers/codeforge/tools/search_files.py
  workers/tests/conftest.py
  workers/tests/test_config_secret_files.py
  workers/tests/test_deployment_isolation.py
  workers/tests/test_nats_permissions.py
  workers/tests/test_tool_isolation_integration.py
  workers/tests/test_tool_process.py
  workers/tests/tool_isolation_check.py
Due: go-imports-repo, go-vet-repo-mod, golangci-lint-repo-mod

fix(worker): MCP stdio servers run as the tool user; setpriv gets a fixed environment (KI-71)
  workers/codeforge/mcp_workbench.py
  workers/codeforge/subprocess_env.py
  workers/codeforge/tool_process.py
  workers/tests/test_tool_isolation_integration.py
  workers/tests/test_tool_process.py
Due: none

fix(mcp): only admins change MCP servers, only platform admins define them (KI-71 review)
  internal/adapter/http/handlers_mcp_roles_test.go
  internal/adapter/http/routes.go
Due: go-imports-repo, go-vet-repo-mod, golangci-lint-repo-mod

fix(mcp): the Go Core never starts stdio MCP servers (KI-71 review)
  internal/adapter/http/handlers_mcp_roles_test.go
  internal/service/mcp_test_connection.go
Due: go-imports-repo, go-vet-repo-mod, golangci-lint-repo-mod

fix(nats): per-service inboxes; the worker may use only its own consumers (KI-71 review)
  configs/nats/nats-server.conf
  internal/adapter/nats/auth_test.go
  internal/adapter/nats/nats.go
  workers/codeforge/consumer/__init__.py
  workers/codeforge/nats_subjects.py
  workers/tests/consumer/test_shutdown.py
  workers/tests/test_log_redaction.py
  workers/tests/test_nats_permissions.py
Due: go-imports-repo, go-vet-repo-mod, golangci-lint-repo-mod

fix(deps): OpenTelemetry Go v1.45.0 for GO-2026-6505
  docs/tech-stack.md
  docs/todo.md
  go.mod
  go.sum
Due: none

fix(checkpoint): private index copies keep the source index's time
  docs/todo.md
  internal/service/git_worktree.go
Due: go-imports-repo, go-vet-repo-mod, golangci-lint-repo-mod

fix(mcp): MCP project assignments stay in the caller's tenant (KI-71 review)
  internal/adapter/http/handlers_mcp_assign_test.go
  internal/adapter/postgres/migrations/112_project_mcp_servers_tenant.sql
  internal/adapter/postgres/store_mcp.go
  internal/adapter/postgres/store_mcp_assign_test.go
  internal/adapter/postgres/store_mcp_test.go
  internal/service/mcp_db.go
Due: go-imports-repo, go-vet-repo-mod, golangci-lint-repo-mod

fix(mcp): redact MCP server env and header values in every response (KI-71 review)
  internal/adapter/http/handlers_mcp.go
  internal/adapter/http/handlers_mcp_redact_test.go
  internal/domain/mcp/redact.go
  internal/domain/mcp/redact_test.go
  internal/service/mcp_db.go
  internal/service/mcp_test_connection.go
Due: go-imports-repo, go-vet-repo-mod, golangci-lint-repo-mod

fix(mcp): resolve a run's MCP servers in the run's tenant (KI-71 review)
  internal/service/conversation_deps.go
  internal/service/conversation_dispatch.go
  internal/service/mcp.go
  internal/service/mcp_resolve_tenant_test.go
  internal/service/mcp_test.go
  internal/service/runtime.go
  internal/service/runtime_deps.go
Due: go-imports-repo, go-vet-repo-mod, golangci-lint-repo-mod

fix(mcp): stored MCP secrets are kept only for the same command arguments
  internal/adapter/http/handlers_mcp_redact_test.go
  internal/service/mcp_db.go
Due: go-imports-repo, go-vet-repo-mod, golangci-lint-repo-mod

fix(worker): notifications are never lost, never deleted and wait for the stream (KI-71 review)
  configs/nats/nats-server.conf
  internal/adapter/nats/nats.go
  internal/adapter/nats/stream_config_test.go
  workers/codeforge/consumer/__init__.py
  workers/codeforge/notifications.py
  workers/tests/consumer/test_delivery.py
  workers/tests/jetstream_fakes.py
  workers/tests/test_health.py
  workers/tests/test_nats_permissions.py
  workers/tests/test_notifications.py
Due: go-imports-repo, go-vet-repo-mod, golangci-lint-repo-mod

fix(mcp): a failed MCP connection closes its server process and log handle (KI-71 review)
  workers/codeforge/mcp_workbench.py
  workers/tests/test_mcp_workbench.py
Due: none

fix(mcp): tenant admins manage their MCP servers; assignment audits name the server (KI-71 review)
  internal/adapter/http/handlers_audit_test.go
  internal/adapter/http/handlers_mcp_roles_test.go
  internal/adapter/http/routes.go
  internal/adapter/postgres/store_mcp_tenancy_http_test.go
  internal/middleware/audit.go
  internal/middleware/audit_resource_test.go
Due: go-imports-repo, go-vet-repo-mod, golangci-lint-repo-mod

fix(frontend): MCP connection tests fit the redacted, worker-only servers (KI-71 review)
  frontend/src/api/resources/misc.ts
  frontend/src/api/types.ts
  frontend/src/features/mcp/MCPServersPage.test.tsx
  frontend/src/features/mcp/MCPServersPage.tsx
  frontend/src/i18n/en.ts
  frontend/src/i18n/locales/de.ts
Due: eslint, prettier

fix(worker): files of agent tools stay shared with the workspace group; the upgrade walk runs once (KI-71 review)
  workers/codeforge/consumer/__init__.py
  workers/codeforge/consumer/_conversation.py
  workers/codeforge/consumer/_runs.py
  workers/codeforge/consumer/_tasks.py
  workers/codeforge/evaluation/runners/agent.py
  workers/codeforge/health.py
  workers/codeforge/tool_process.py
  workers/tests/test_health.py
  workers/tests/test_tool_isolation_integration.py
  workers/tests/test_tool_process.py
Due: none

fix(audit): MCP assignment audits name what the handler assigns, written before the change (KI-71 review)
  internal/adapter/http/handlers_audit_test.go
  internal/adapter/http/handlers_mcp.go
  internal/adapter/http/routes.go
  internal/middleware/audit.go
  internal/middleware/audit_resource_test.go
Due: go-imports-repo, go-vet-repo-mod, golangci-lint-repo-mod

fix(worker): a planted workspace sharing stamp never stops the worker (KI-71 review)
  workers/codeforge/tool_process.py
  workers/tests/test_tool_process.py
Due: none

fix(worker): the workspace walk changes entries only through no-follow descriptors (KI-71 review)
  workers/codeforge/tool_process.py
  workers/tests/test_tool_process.py
Due: none

docs: KI-71 tool isolation, NATS authentication and ADR-017
  AGENTS.md
  docs/SECURITY.md
  docs/api/openapi.yaml
  docs/architecture.md
  docs/architecture/adr/001-nats-jetstream-message-queue.md
  docs/architecture/adr/016-nats-delivery-semantics.md
  docs/architecture/adr/017-tool-isolation-and-nats-authentication.md
  docs/dev-setup.md
  docs/disaster-recovery.md
  docs/features/04-agent-orchestration.md
  docs/known-issues-fix-plan.md
  docs/project-status.md
  docs/tech-stack.md
  docs/todo.md
Due: none

docs(plan): schedule the review follow-ups KI-83 to KI-103 as milestone S7
  docs/known-issues-fix-plan.md
  docs/todo.md
Due: none

fix(store): scope MCP tool upserts to the caller's tenant (KI-101)
  internal/adapter/postgres/store_mcp.go
  internal/adapter/postgres/store_mcp_assign_test.go
  internal/adapter/postgres/store_mcp_test.go
  internal/service/mcp_db.go
Due: go-imports-repo, go-vet-repo-mod, golangci-lint-repo-mod

fix(mcp): refuse internal addresses in the MCP connection test (KI-100)
  codeforge.example.yaml
  internal/adapter/http/handlers_mcp_redact_test.go
  internal/adapter/http/handlers_mcp_ssrf_test.go
  internal/adapter/http/handlers_mcp_test.go
  internal/config/config.go
  internal/config/loader.go
  internal/config/mcp_allowed_hosts_test.go
  internal/domain/mcp/mcp.go
  internal/domain/mcp/mcp_test.go
  internal/netutil/outbound.go
  internal/netutil/outbound_test.go
  internal/service/mcp.go
  internal/service/mcp_db.go
  internal/service/mcp_outbound.go
  internal/service/mcp_outbound_test.go
  internal/service/mcp_test_connection.go
Due: go-imports-repo, go-vet-repo-mod, golangci-lint-repo-mod

fix(worker): apply the MCP outbound rules to the worker's connections (KI-100)
  internal/port/messagequeue/contract_test.go
  internal/port/messagequeue/schemas_conversation.go
  internal/port/messagequeue/testdata/contracts/conversation_run_start.json
  internal/port/messagequeue/testdata/contracts/runs_start.json
  internal/service/conversation_deps.go
  internal/service/conversation_dispatch.go
  internal/service/mcp.go
  internal/service/mcp_outbound_test.go
  internal/service/runtime.go
  internal/service/runtime_deps.go
  workers/codeforge/mcp_models.py
  workers/codeforge/mcp_outbound.py
  workers/codeforge/mcp_workbench.py
  workers/tests/test_mcp_outbound.py
Due: go-imports-repo, go-vet-repo-mod, golangci-lint-repo-mod, prettier

fix(mcp): redact the url password and credential arguments (KI-97)
  frontend/src/features/mcp/MCPServersPage.test.tsx
  frontend/src/features/mcp/MCPServersPage.tsx
  frontend/src/i18n/en.ts
  frontend/src/i18n/locales/de.ts
  internal/adapter/http/handlers_mcp.go
  internal/adapter/http/handlers_mcp_redact_test.go
  internal/domain/mcp/redact.go
  internal/domain/mcp/redact_test.go
  internal/service/mcp_db.go
Due: go-imports-repo, go-vet-repo-mod, golangci-lint-repo-mod, eslint, prettier

fix(netutil): dial the unmapped form of a checked address (KI-100)
  internal/netutil/outbound.go
Due: go-imports-repo, go-vet-repo-mod, golangci-lint-repo-mod

fix(mcp): keep redacted url and arguments only as read, as a whole (KI-97 review)
  internal/adapter/http/handlers_mcp_redact_test.go
  internal/domain/mcp/redact.go
  internal/domain/mcp/redact_test.go
Due: go-imports-repo, go-vet-repo-mod, golangci-lint-repo-mod

fix(mcp): redact credential query parameters of MCP urls (KI-97 review)
  frontend/src/features/mcp/MCPServersPage.test.tsx
  internal/adapter/http/handlers_mcp_redact_test.go
  internal/domain/mcp/redact.go
  internal/domain/mcp/redact_test.go
  internal/secrets/redact_url.go
  internal/secrets/redact_url_test.go
Due: go-imports-repo, go-vet-repo-mod, golangci-lint-repo-mod, eslint, prettier

fix(mcp): skip invalid MCP server files instead of stopping (KI-100 review)
  internal/service/mcp.go
  internal/service/mcp_test.go
Due: go-imports-repo, go-vet-repo-mod, golangci-lint-repo-mod

fix(mcp): check the url of an update only when it changes (KI-100 review)
  internal/adapter/http/handlers_mcp_ssrf_test.go
  internal/service/mcp_db.go
  internal/service/mcp_outbound_test.go
Due: go-imports-repo, go-vet-repo-mod, golangci-lint-repo-mod

fix(mcp): follow redirects in the connection test as the worker's SDK does (KI-100 review)
  internal/service/mcp_outbound.go
  internal/service/mcp_outbound_test.go
  internal/service/mcp_redirect_internal_test.go
Due: go-imports-repo, go-vet-repo-mod, golangci-lint-repo-mod

fix(mcp): close the connection test's idle connections (KI-100 review)
  internal/service/mcp_outbound_test.go
  internal/service/mcp_test_connection.go
Due: go-imports-repo, go-vet-repo-mod, golangci-lint-repo-mod

test(mcp): give the MCP unit tests their own DNS (KI-100 review)
  internal/adapter/http/handlers_audit_test.go
  internal/adapter/http/handlers_mcp_redact_test.go
  internal/adapter/http/handlers_mcp_ssrf_test.go
  internal/adapter/http/handlers_mcp_test.go
  internal/adapter/http/handlers_prompt_evolution_test.go
  internal/adapter/http/handlers_test.go
  internal/adapter/postgres/store_mcp_tenancy_http_test.go
  internal/service/mcp_outbound_test.go
Due: go-imports-repo, go-vet-repo-mod, golangci-lint-repo-mod

fix(worker): read IPv4-mapped allowlist entries as IPv4, like Go (KI-100 review)
  internal/netutil/outbound_test.go
  internal/netutil/testdata/outbound_cases.json
  workers/codeforge/mcp_outbound.py
  workers/tests/test_mcp_outbound.py
Due: go-imports-repo, go-vet-repo-mod, golangci-lint-repo-mod, prettier

fix(mcp): treat the NAT64 local-use prefix as private (KI-100 review)
  internal/netutil/outbound.go
  internal/netutil/testdata/outbound_cases.json
  workers/codeforge/mcp_outbound.py
Due: go-imports-repo, go-vet-repo-mod, golangci-lint-repo-mod, prettier
