Repository Strob0t/CodeForge: changes, and which pre-commit hooks are due for each by the changed paths.
All: go-imports-repo, go-vet-repo-mod, golangci-lint-repo-mod, eslint, prettier

.pre-commit-config.yaml:

repos:
  # -- General ----------------------------------------------
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: end-of-file-fixer
      - id: trailing-whitespace
      - id: check-yaml
      - id: check-json
      - id: check-merge-conflict
      - id: detect-private-key

  # -- Python (Ruff) -----------------------------------------
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.15.1
    hooks:
      # 1) Sort imports
      - id: ruff-check
        name: ruff (sort imports)
        args: ["--select", "I", "--fix"]

      # 2) Lint/fix
      - id: ruff-check
        args: ["--fix", "--exit-non-zero-on-fix"]

      # 3) Format
      - id: ruff-format

  # -- Go -----------------------------------------------------
  - repo: https://github.com/TekWizely/pre-commit-golang
    rev: v1.0.0-rc.1
    hooks:
      # Format
      - id: go-fmt

  # Go hooks that need GOROOT set for Go 1.25 toolchain
  - repo: local
    hooks:
      - id: go-imports-repo
        name: go-imports-repo
        entry: bash -c 'export GOROOT=/go/pkg/mod/golang.org/toolchain@v0.0.1-go1.25.0.linux-amd64 && goimports -l -d $(find . -name "*.go" -not -path "./data/*" -not -path "./vendor/*")'
        language: system
        pass_filenames: false
        types: [go]

      - id: go-vet-repo-mod
        name: go-vet-repo-mod
        entry: bash -c 'export GOROOT=/go/pkg/mod/golang.org/toolchain@v0.0.1-go1.25.0.linux-amd64 && go vet ./...'
        language: system
        pass_filenames: false
        types: [go]

      - id: golangci-lint-repo-mod
        name: golangci-lint-repo-mod
        entry: bash -c 'export GOROOT=/go/pkg/mod/golang.org/toolchain@v0.0.1-go1.25.0.linux-amd64 && golangci-lint run ./...'
        language: system
        pass_filenames: false
        types: [go]

  # -- TypeScript / JavaScript (ESLint + Prettier) ------------
  - repo: local
    hooks:
      - id: eslint
        name: eslint
        entry: frontend/node_modules/.bin/eslint --config frontend/eslint.config.js --fix
        language: system
        files: ^frontend/src/.*\.(ts|tsx|js|jsx)$
        types: [file]

      - id: prettier
        name: prettier
        entry: frontend/node_modules/.bin/prettier --write --ignore-unknown
        language: system
        files: \.(ts|tsx|js|jsx|json|css|scss|html)$
        types: [file]

docs: mark Phase 17C Unified LLM Path tasks complete in todo.md
  docs/todo.md
Due: none

fix: security hardening, routing improvements, and code review follow-ups
  .gitignore
  docs/code-review-2026-03-05.md
  docs/features/04-agent-orchestration.md
  internal/adapter/http/handlers.go
  internal/service/project.go
  internal/service/project_test.go
  internal/service/task.go
  internal/service/task_test.go
  pyproject.toml
  workers/codeforge/consumer/_conversation.py
  workers/codeforge/models.py
  workers/codeforge/routing/complexity.py
  workers/codeforge/routing/mab.py
  workers/codeforge/routing/models.py
  workers/codeforge/routing/reward.py
  workers/codeforge/routing/router.py
  workers/codeforge/tools/search_files.py
  workers/tests/test_routing_mab.py
  workers/tests/test_routing_reward.py
  workers/tests/test_tools.py
Due: go-imports-repo, go-vet-repo-mod, golangci-lint-repo-mod

feat: add automated database schema audit tool (db-audit)
  pyproject.toml
  tools/db_schema_audit.py
  tools/db_schema_audit_test.py
Due: none

fix: restore print output in db-audit CLI (removed by ruff T201 autofix)
  tools/db_schema_audit.py
Due: none

feat: wire context optimizer into conversation agent loop
  docs/features/04-agent-orchestration.md
  docs/todo.md
  internal/port/messagequeue/schemas.go
  internal/service/conversation.go
Due: go-imports-repo, go-vet-repo-mod, golangci-lint-repo-mod

fix: complete security audit — F7 NATS validator logging + F3 URL validation tests
  internal/adapter/http/handlers_test.go
  internal/port/messagequeue/validator.go
Due: go-imports-repo, go-vet-repo-mod, golangci-lint-repo-mod

fix: add multi-tenant isolation to 4 store files and 16 database tables
  internal/adapter/postgres/migrations/059_add_tenant_id_missing_tables.sql
  internal/adapter/postgres/migrations/060_add_missing_fk_indexes.sql
  internal/adapter/postgres/migrations/061_varchar_to_text_mcp.sql
  internal/adapter/postgres/migrations/062_check_constraints_security.sql
  internal/adapter/postgres/store_autoagent.go
  internal/adapter/postgres/store_benchmark.go
  internal/adapter/postgres/store_benchmark_suite.go
  internal/adapter/postgres/store_quarantine.go
  internal/domain/autoagent/autoagent.go
  internal/domain/benchmark/benchmark.go
  internal/domain/quarantine/quarantine.go
Due: go-imports-repo, go-vet-repo-mod, golangci-lint-repo-mod

feat: unify LLM path — all chat dispatched via NATS to Python Worker
  cmd/codeforge/main.go
  internal/adapter/http/handlers_test.go
  internal/port/messagequeue/schemas.go
  internal/service/autoagent_test.go
  internal/service/conversation.go
  internal/service/conversation_test.go
Due: go-imports-repo, go-vet-repo-mod, golangci-lint-repo-mod

fix: auto-agent 503 console errors + sidebar mobile auto-collapse
  frontend/src/components/SidebarProvider.tsx
  internal/adapter/http/handlers_autoagent.go
  internal/adapter/postgres/migrations/059_add_tenant_id_missing_tables.sql
  internal/adapter/postgres/migrations/060_add_missing_fk_indexes.sql
  internal/adapter/postgres/migrations/061_varchar_to_text_mcp.sql
  internal/adapter/postgres/migrations/062_check_constraints_security.sql
Due: go-imports-repo, go-vet-repo-mod, golangci-lint-repo-mod, eslint, prettier

docs: add schema audit report and unified LLM path plan
  docs/audit/schema-audit-2026-03-07.md
  docs/plans/2026-03-07-unified-llm-path.md
Due: none

feat: add Python trust module — risk scoring, stamping, validation
  docs/todo.md
  workers/codeforge/config.py
  workers/codeforge/consumer/_a2a.py
  workers/codeforge/consumer/_base.py
  workers/codeforge/consumer/_conversation.py
  workers/codeforge/trust/__init__.py
  workers/codeforge/trust/levels.py
  workers/codeforge/trust/middleware.py
  workers/codeforge/trust/scorer.py
  workers/tests/test_trust.py
Due: none

feat: complete C2/C3/C4 — A2A protocol expansion + handoff enrichment
  docs/todo.md
  workers/codeforge/a2a_protocol.py
  workers/codeforge/consumer/_a2a.py
  workers/codeforge/consumer/_handoff.py
  workers/codeforge/tools/handoff.py
  workers/tests/test_a2a_protocol.py
  workers/tests/test_handoff_enrichment.py
Due: none

fix: add missing MCP server resolution and microagent matching to SendMessageAgenticWithMode
  docs/todo.md
  internal/service/conversation_agent.go
  internal/service/conversation_test.go
Due: go-imports-repo, go-vet-repo-mod, golangci-lint-repo-mod

fix: set Agentic flag in NATS payload + wire auto-agent service
  cmd/codeforge/main.go
  internal/service/autoagent.go
  internal/service/conversation_agent.go
Due: go-imports-repo, go-vet-repo-mod, golangci-lint-repo-mod

fix: enhance LLM retry with provider-specific rate limit hint extraction
  workers/codeforge/llm.py
Due: none

fix: show user message immediately + stream agentic LLM chunks in real-time
  frontend/src/features/project/ChatPanel.tsx
  workers/codeforge/agent_loop.py
Due: eslint, prettier

feat: complete OTEL pipeline — MeterProvider, trace propagation, docs
  codeforge.example.yaml
  docs/dev-setup.md
  workers/tests/test_runtime_tracing.py
Due: none

fix: auth failures (401/403) block models for 24h instead of 5min
  .env.example
  cmd/codeforge/main.go
  workers/codeforge/agent_loop.py
  workers/codeforge/routing/blocklist.py
  workers/tests/test_routing_blocklist.py
Due: go-imports-repo, go-vet-repo-mod, golangci-lint-repo-mod

feat: add PM platform auto-detection engine (Phase 4 of AutoDetect)
  internal/domain/roadmap/roadmap.go
  internal/service/detection.go
  internal/service/detection_test.go
  internal/service/roadmap.go
Due: go-imports-repo, go-vet-repo-mod, golangci-lint-repo-mod

docs: mark completed tasks in todo.md (LLM keys, Plane, AutoDetect, OTEL)
  docs/todo.md
Due: none

fix: sort llmkey import alphabetically in store.go
  internal/port/database/store.go
Due: go-imports-repo, go-vet-repo-mod, golangci-lint-repo-mod

fix: pre-validate LLM API keys + normalize Groq tool calls
  workers/codeforge/model_resolver.py
  workers/tests/test_llm_tools.py
Due: none

feat: integrate Feature Map visual editor tab into ProjectDetailPage
  docs/todo.md
  frontend/src/features/project/ProjectDetailPage.tsx
  frontend/src/i18n/en.ts
  frontend/src/i18n/locales/de.ts
Due: eslint, prettier

docs: mark Pillar 2 (Roadmap/Feature-Map) as complete
  docs/features/02-roadmap-feature-map.md
  docs/project-status.md
  docs/todo.md
Due: none

fix: wire multi-rollout runner into benchmark consumer + fix expected_tools mapping
  workers/codeforge/consumer/_benchmark.py
Due: none

docs: mark 7 benchmark cross-layer bug fixes as complete in todo + project-status
  docs/project-status.md
  docs/todo.md
Due: none

docs: add mobile-responsive frontend design document
  docs/plans/2026-03-08-mobile-responsive-design.md
Due: none

docs: audit, condense & unify all project documentation
  CLAUDE.md
  docs/README.md
  docs/dev-setup.md
  docs/features/01-project-dashboard.md
  docs/features/02-roadmap-feature-map.md
  docs/plans/2026-03-08-dashboard-polish-design.md
  docs/project-status.md
  docs/tech-stack.md
  docs/todo.md
Due: none

docs: add mobile-responsive implementation plan (20 tasks)
  docs/plans/2026-03-08-mobile-responsive-plan.md
Due: none

docs: add dashboard polish implementation plan (19 tasks)
  docs/plans/2026-03-08-dashboard-polish-plan.md
  frontend/index.html
  frontend/src/features/benchmarks/CostAnalysisView.tsx
  frontend/src/features/benchmarks/MultiCompareView.tsx
  frontend/src/features/costs/CostDashboardPage.tsx
  frontend/src/features/project/CompactSettingsPopover.tsx
  frontend/src/features/project/WarRoom.tsx
  frontend/src/features/prompts/PromptEditorPage.tsx
  frontend/src/hooks/useBreakpoint.ts
  frontend/src/index.css
  frontend/src/ui/composites/Card.tsx
  frontend/src/ui/composites/Modal.tsx
  frontend/src/ui/composites/Table.tsx
  frontend/src/ui/layout/NavLink.tsx
  frontend/src/ui/layout/PageLayout.tsx
  frontend/src/ui/primitives/Button.tsx
Due: eslint, prettier

feat(frontend): 3-state responsive sidebar + mobile hamburger menu + fix i18n errors
  frontend/src/App.tsx
  frontend/src/components/SidebarProvider.tsx
  frontend/src/i18n/en.ts
  frontend/src/i18n/locales/de.ts
  frontend/src/ui/layout/Sidebar.tsx
Due: eslint, prettier

feat(frontend): mobile-responsive ProjectDetailPage, ChatPanel, FilePanel
  frontend/src/features/project/ChatPanel.tsx
  frontend/src/features/project/FilePanel.tsx
  frontend/src/features/project/ProjectDetailPage.tsx
Due: eslint, prettier

docs: mark mobile-responsive frontend as complete in todo + project-status
  docs/project-status.md
  docs/todo.md
Due: none

fix(security): remove duplicate AES crypto file
  internal/crypto/crypto/aes.go
  internal/crypto/crypto/aes_test.go
Due: go-imports-repo, go-vet-repo-mod, golangci-lint-repo-mod

refactor(store): remove duplicate nilIfEmpty, use nullIfEmpty from helpers
  frontend/src/ui/composites/Card.tsx
  frontend/src/ui/composites/Modal.tsx
  frontend/src/ui/composites/Table.tsx
  frontend/src/ui/layout/NavLink.tsx
  frontend/src/ui/primitives/Button.tsx
  frontend/src/utils/cx.test.ts
  frontend/src/utils/cx.ts
  internal/adapter/postgres/store_benchmark.go
Due: go-imports-repo, go-vet-repo-mod, golangci-lint-repo-mod, eslint, prettier

refactor(frontend): add cx() utility, replace manual class concatenations
  frontend/src/ui/composites/Card.tsx
  frontend/src/ui/composites/Modal.tsx
  frontend/src/ui/composites/Table.tsx
  frontend/src/ui/layout/NavLink.tsx
  frontend/src/ui/primitives/Button.tsx
  frontend/src/utils/cx.test.ts
Due: eslint, prettier

refactor(python): extract shared Pydantic nil-coercion validators
  workers/codeforge/_validators.py
  workers/codeforge/models.py
  workers/tests/test_validators.py
Due: none

refactor(frontend): extract StatCard component, consolidate stat card implementations
  frontend/src/features/benchmarks/CostAnalysisView.tsx
  frontend/src/features/costs/CostDashboardPage.tsx
  frontend/src/ui/composites/StatCard.tsx
  frontend/src/ui/composites/index.ts
  frontend/src/ui/index.ts
Due: eslint, prettier
