Repository Strob0t/CodeForge: changes, and which pre-commit hooks are due for each by the changed paths.
All: go-imports-repo, go-vet-repo-mod, golangci-lint-repo-mod, eslint, prettier

go-imports-repo:
  name: go-imports-repo
  entry: bash -c 'export GOROOT=/go/pkg/mod/golang.org/toolchain@v0.0.1-go1.25.0.linux-amd64 && goimports -l -d $(find . -name "*.go" -not -path "./data/*" -not -path "./vendor/*")'
  language: system
  pass_filenames: false

go-vet-repo-mod:
  name: go-vet-repo-mod
  entry: bash -c 'export GOROOT=/go/pkg/mod/golang.org/toolchain@v0.0.1-go1.25.0.linux-amd64 && go vet ./...'
  language: system
  pass_filenames: false

golangci-lint-repo-mod:
  name: golangci-lint-repo-mod
  entry: bash -c 'export GOROOT=/go/pkg/mod/golang.org/toolchain@v0.0.1-go1.25.0.linux-amd64 && golangci-lint run ./...'
  language: system
  pass_filenames: false

eslint:
  name: eslint
  entry: frontend/node_modules/.bin/eslint --config frontend/eslint.config.js --fix
  language: system

prettier:
  name: prettier
  entry: frontend/node_modules/.bin/prettier --write --ignore-unknown
  language: system

feat(a2a): create A2APage with agents, tasks, and push configs tabs
  frontend/src/features/a2a/A2APage.tsx
Due: eslint, prettier

fix(security): prevent internal error details from leaking to API responses
  internal/adapter/http/handlers.go
  internal/adapter/http/handlers_backend_health.go
  internal/adapter/http/handlers_batch.go
  internal/adapter/http/handlers_conversation.go
  internal/adapter/http/handlers_github_oauth.go
  internal/adapter/http/handlers_skill_import.go
  internal/adapter/http/handlers_subscription.go
Due: go-imports-repo, go-vet-repo-mod, golangci-lint-repo-mod

fix(types): replace Any return types with object in evaluators
  workers/codeforge/evaluation/evaluators/logprob_verifier.py
  workers/codeforge/evaluation/evaluators/trajectory_verifier.py
Due: none

fix: wire tasks.cancel Python subscriber via RuntimeClient extra_subjects
  workers/codeforge/consumer/_runs.py
  workers/codeforge/consumer/_subjects.py
  workers/codeforge/runtime.py
  workers/tests/test_tasks_cancel_wiring.py
Due: none

feat(a2a): add i18n keys for A2A Federation page (en + de)
  frontend/src/i18n/en.ts
  frontend/src/i18n/locales/de.ts
Due: eslint, prettier

feat: register /routing route, nav link, and RoutingIcon
  frontend/src/App.tsx
  frontend/src/index.tsx
  frontend/src/ui/layout/NavIcons.tsx
Due: eslint, prettier

feat(a2a): register /a2a route and add sidebar nav link
  frontend/src/App.tsx
  frontend/src/index.tsx
  frontend/src/ui/layout/NavIcons.tsx
Due: eslint, prettier

feat: add SharedContext HTTP endpoints (POST/GET teams/{teamId}/shared-context)
  internal/adapter/http/handlers_prompt_evolution_test.go
  internal/adapter/http/handlers_shared_context.go
  internal/adapter/http/handlers_shared_context_test.go
  internal/adapter/http/routes.go
Due: go-imports-repo, go-vet-repo-mod, golangci-lint-repo-mod

feat: add routing i18n keys for English and German
  frontend/src/i18n/en.ts
  frontend/src/i18n/locales/de.ts
Due: eslint, prettier

feat(api): register microagents and skills resources in API client
  frontend/src/api/client.ts
  frontend/src/api/resources/index.ts
Due: eslint, prettier

fix: wire context.shared.updated Python subscriber
  workers/codeforge/consumer/__init__.py
  workers/codeforge/consumer/_context_events.py
  workers/codeforge/consumer/_subjects.py
  workers/tests/consumer/test_context_events.py
Due: none

feat(quarantine): add QuarantinePage component with stats, table, and review UI
  frontend/src/features/quarantine/QuarantinePage.tsx
Due: eslint, prettier

fix: wire prompt.evolution.promoted and prompt.evolution.reverted Python subscribers
  workers/codeforge/consumer/__init__.py
  workers/codeforge/consumer/_prompt_evolution.py
  workers/codeforge/consumer/_subjects.py
  workers/tests/consumer/test_prompt_evolution_events.py
Due: none

feat(quarantine): add i18n keys for quarantine dashboard (en + de)
  frontend/src/i18n/en.ts
  frontend/src/i18n/locales/de.ts
Due: eslint, prettier

test: add routing resource and page unit tests
  frontend/src/api/client.test.ts
  frontend/src/features/routing/routing.test.ts
Due: eslint, prettier

feat: add Microagents & Skills page component with CRUD and import
  frontend/src/features/microagents/MicroagentsPage.tsx
Due: eslint, prettier

fix: pass Enabled field in MCP server NATS payload
  internal/service/conversation_agent.go
Due: go-imports-repo, go-vet-repo-mod, golangci-lint-repo-mod

feat(quarantine): register route, nav link, and sidebar icon
  frontend/src/App.tsx
  frontend/src/index.tsx
  frontend/src/ui/layout/NavIcons.tsx
Due: eslint, prettier

feat(i18n): add microagents and skills translation keys (en + de)
  frontend/src/i18n/en.ts
  frontend/src/i18n/locales/de.ts
Due: eslint, prettier

fix: wire evaluation.gemmas.result Go subscriber with score persistence
  cmd/codeforge/main.go
  internal/adapter/http/handlers_prompt_evolution_test.go
  internal/service/evaluation.go
  internal/service/evaluation_test.go
Due: go-imports-repo, go-vet-repo-mod, golangci-lint-repo-mod

feat: register /microagents route, KNOWN_ROUTES, NavLink and icon
  frontend/src/App.tsx
  frontend/src/index.tsx
  frontend/src/ui/layout/NavIcons.tsx
Due: eslint, prettier

feat: add GET /prompt-evolution/variants endpoint and ListVariants store method
  internal/adapter/http/handlers_prompt_evolution.go
  internal/adapter/http/routes.go
  internal/adapter/postgres/store_prompt_variant.go
  internal/service/prompt_evolution.go
  internal/service/prompt_selector_test.go
Due: go-imports-repo, go-vet-repo-mod, golangci-lint-repo-mod

docs: update session summary with Run 4b/4c/4d + docs-mcp integration
  docs/testing/2026-03-23-session-summary.md
Due: none

fix: wire agents.output Python publisher in RuntimeClient
  workers/codeforge/consumer/_subjects.py
  workers/codeforge/runtime.py
  workers/tests/test_runtime.py
Due: none

feat: add Evolution tab to PromptEditorPage
  frontend/src/api/client.ts
  frontend/src/api/resources/index.ts
  frontend/src/api/resources/promptEvolution.ts
  frontend/src/api/types.ts
  frontend/src/features/prompts/EvolutionTab.tsx
  frontend/src/features/prompts/PromptEditorPage.tsx
  frontend/src/i18n/en.ts
  frontend/src/i18n/locales/de.ts
Due: eslint, prettier

fix: wire review.approval.required Go publisher and WS broadcast
  cmd/codeforge/main.go
  internal/domain/event/broadcast.go
  internal/service/review_approval.go
  internal/service/review_approval_test.go
Due: go-imports-repo, go-vet-repo-mod, golangci-lint-repo-mod

docs: Run 4d results — MCP tools merged but model can't use them
  docker-compose.yml
  docs/testing/2026-03-23-session-summary.md
Due: none

chore: minor cleanup — wire evaluator, remove dead code, fix test location
  frontend/src/api/client.test.ts
  frontend/src/api/client.ts
  frontend/src/api/resources/benchmarks.ts
  frontend/src/api/resources/conversations.ts
  frontend/src/api/resources/index.ts
  frontend/src/api/resources/llm.ts
  frontend/src/api/resources/misc.ts
  frontend/src/api/resources/projects.ts
  frontend/src/api/resources/roadmap.ts
  frontend/src/api/resources/settings.ts
  frontend/src/api/types.ts
  workers/codeforge/backends/_streaming.py
  workers/codeforge/consumer/_benchmark.py
  workers/tests/test_backend_config_passthrough.py
  workers/tests/test_backends_streaming.py
  workers/tests/test_graphrag_phase6d.py
Due: eslint, prettier

fix: 3 critical infrastructure fixes for weak model performance
  workers/codeforge/agent_loop.py
Due: none

docs: tool router + proactive context injection plan
  docs/plans/2026-03-23-tool-router.md
Due: none

feat: ToolRouter — keyword-based tool pre-selection (no LLM)
  workers/codeforge/tools/tool_router.py
  workers/tests/test_tool_router.py
Due: none

feat: proactive docs-mcp context injection before agent loop
  workers/codeforge/consumer/_conversation.py
  workers/tests/test_docs_prefetch.py
Due: none

feat: wire ToolRouter into conversation handler pre-loop
  workers/codeforge/agent_loop.py
  workers/codeforge/consumer/_conversation.py
  workers/tests/test_capability.py
Due: none

docs: fix 85 documentation mismatches found by full audit
  README.md
  SECURITY.md
  docs/architecture.md
  docs/architecture/adr/001-nats-jetstream-message-queue.md
  docs/architecture/adr/002-postgresql-database.md
  docs/architecture/adr/004-async-logging.md
  docs/architecture/adr/005-docker-native-logging.md
  docs/architecture/adr/007-policy-layer.md
  docs/architecture/adr/008-benchmark-evaluation-framework.md
  docs/dev-setup.md
  docs/features/02-roadmap-feature-map.md
  docs/features/03-multi-llm-provider.md
  docs/features/04-agent-orchestration.md
  docs/features/05-chat-enhancements.md
  docs/features/06-visual-design-canvas.md
  docs/project-status.md
  docs/prompts/strategic-advisor.md
  docs/research/aider-deep-analysis.md
  docs/research/market-analysis.md
  docs/research/protocol-analysis.md
  docs/tech-stack.md
  docs/todo.md
Due: none

fix: add resource limits to dev docker-compose services
  docker-compose.yml
Due: none

fix: add IPv6 private ranges to SSRF protection (CWE-918)
  internal/netutil/ssrf.go
  internal/netutil/ssrf_test.go
Due: go-imports-repo, go-vet-repo-mod, golangci-lint-repo-mod

fix: harden Playwright MCP -- remove --no-sandbox, add user/security_opt
  docker-compose.yml
Due: none

fix: add security baseline (cap_drop, no-new-privileges) to dev compose
  docker-compose.yml
Due: none

feat: add WAL archive retention cleanup script
  scripts/cleanup-wal-archives.sh
Due: none

feat: configure Traefik TLS (ACME), rate limiting, and access logs
  traefik/dynamic/middleware.yaml
  traefik/traefik.yaml
Due: none

Path conditions:
  go-imports-repo: any of: \.go$
  go-vet-repo-mod: any of: \.go$
  golangci-lint-repo-mod: any of: \.go$
  eslint: any of: ^frontend/src/.*\.(ts|tsx|js|jsx)$
  prettier: any of: \.(ts|tsx|js|jsx|json|css|scss|html)$
